
<template>
    <div class="purchaseContainer">
        <SubLayoutFullWidthContainer class="tempNav"/>
        <b-button class="btnCheckOut" @click="next()" :disabled="totalQuantity === 0 || totalQuantity === '0'" v-if="buyBtn === 1" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">Next</b-button>
        <b-button class="btnCheckOut" :disabled="reviewBtn" @click="review()" v-else-if="buyBtn === 2" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">Review</b-button>
        <b-button class="btnCheckOut" @click="checkout()" v-else-if="buyBtn === 3" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">Checkout</b-button>
        <div class="stepInformation">
          <p style="margin-right:10px;">Step {{stepNumber}} of 3 <span> - {{stepText}} </span></p>
        </div>
        <div class="checkoutInformation" v-if="buyBtn !== 4 || buyBtn !== 0">
          <p style="margin-right:10px;">Quantity: {{totalQuantity}}</p>
          <p>Total: {{total}}</p>
        </div>
        <div class="purchaseTableContainer">
          <div class="loadingSelfRegistration" :class="animationFlag">
              <div class="loadingAnimation">
                  <div class="lds-ring">
                      <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                      <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                      <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                      <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                  </div>
              </div>
          </div>
          <div class="table-scroll buyContainer">
                <table style="width: 100%; margin-top:20px;" v-if="buyBtn === 1">
                  <thead>
                    <tr style="border-bottom: 1px solid #c9c9c9 !important; height:10px;">
                      <th style="padding-top:10px; padding-bottom:10px;">Product Name</th>
                      <th style="padding-top:10px; padding-bottom:10px;">Price</th>
                      <th style="padding-top:10px; padding-bottom:10px;">Quantity</th>  
                      <th style="padding-top:10px; padding-bottom:10px;">Sub Total</th>
                    </tr>
                  </thead>
                  <tr v-for="(item, products) in items" :key="products">
                    <td>{{item.name}}</td>
                    <td>${{Number(item.price).toFixed(2)}}</td>
                    <td><b-form-input type="number" style="width:100px;" v-model="quantityIndex[products]" @keyup.native="editQuantity(quantityIndex[products], item.price, products, item)" @change="editQuantity(quantityIndex[products], item.price, products, item)" min=0></b-form-input></td>
                    <td><p :class="'subTotal'+products">$0.00</p></td>
                  </tr>
                  <tr style="border-top: 1px solid #c9c9c9 !important; height:10px;">
                    <td style="padding-top: 10px; padding-bottom:10px;"><b>Total:</b></td>
                    <td style="padding-top: 10px; padding-bottom:10px;"></td>
                    <td style="padding-top: 10px; padding-bottom:10px;"><b>{{totalQuantity}}</b></td>
                    <td style="padding-top: 10px; padding-bottom:10px;"><b>{{total}}</b></td>
                  </tr>
                </table>
                <br>
                <table style="width: 100%" v-if="buyBtn === 4">
                  <thead>
                    <tr style="border-bottom: 1px solid #c9c9c9 !important; height:10px;">
                      <th style="padding-top:10px; padding-bottom:10px;">Order Confimration</th>
                    </tr>
                  </thead>
                  <tr>
                    <td style="padding-bottom:70px;">Your purchase was completed sucessfully. A receipt will be sent to your email shortly. You can login your new account <a href="javascript:void(0)" @click="redirectToLogin()">here</a></td>
                  </tr>
                </table>
                <table style="width: 100%" v-if="systemError">
                  <thead>
                    <tr style="border-bottom: 1px solid #c9c9c9 !important; height:10px;">
                      <th style="padding-top:10px; padding-bottom:10px;">Error</th>
                    </tr>
                  </thead>
                  <tr>
                    <td style="padding-top: 20px;">A Problem has occured. {{systemMessage}}</td>
                  </tr>
                  <tr>
                    <td style="padding-bottom:30px;">contact {{$store.state.company.admintContactEmail}}, or call {{$store.state.company.admintContactPhone}} for assistance.</td>
                  </tr>
                </table>
                <div class="formContainer" v-if="buyBtn === 2">
                    <div class="formIsland">
                        <div class="userInformation" :class="{'fixedHeight' : totalQuantity === 1}">
                            <div class="orderTitle">
                              <p style="padding-left: 15px; border-bottom: 1px #c4c4c4 solid; font-size: 20px; padding-top: 10px; padding-bottom:10px;">Account Information</p>
                            </div>
                            <b-col cols="12">
                                <label>Email Address</label>
                                <b-form-input @blur.native="validateUserName" v-model="email" type="email" :state="validEmail" aria-describedby="input-live-help input-live-feedback"></b-form-input>
                                <b-form-invalid-feedback id="input-live-feedback" v-if='email.length > 0 && (userNameCheck !== "" && !userNameCheck)'>
                                  An account with this email already exists. <a href="javascript:void(0)" @click="redirectToLogin()" >Log in</a> to purchase additional seats.
                                </b-form-invalid-feedback>
                            </b-col>
                            <b-col cols="12">
                                <label>Password</label>
                                <b-form-input type="password" v-model="password" :state="validPassword"></b-form-input>
                            </b-col>
                            <b-col cols="12">
                                <label>Confirm Password</label>
                                <b-form-input type="password" v-model="confirmPassword" :state="validConfirmPassword"></b-form-input>
                            </b-col>
                            <b-col cols="12">
                                <label>First Name</label>
                                <b-form-input type="text" v-model="firstName" :state="validFirstName"></b-form-input>
                            </b-col>
                            <b-col cols="12">
                                <label>Last Name</label>
                                <b-form-input type="text" v-model="lastName" :state="validLastName"></b-form-input>
                            </b-col>
                            <b-col cols="12">
                                <label>{{this.$store.state.i18n.tc('workgroup', 1)}}</label>
                                <b-form-input type="text" v-model="workgroup" :state="validWorkGroup" :class="[parseInt(totalQuantity) === 1 ? 'fixedMargin' : '']"></b-form-input>
                            </b-col>
                            <b-col cols="12" class="displayFlex">
                              <b-form-group :label="seatLabel">
                                <b-form-radio-group v-model="seatValue" required :state="validSeatValue">
                                  <b-form-radio :value="true">Yes</b-form-radio>
                                  <b-form-radio :value="false">No</b-form-radio>
                                </b-form-radio-group>
                              </b-form-group>
                            </b-col>
                            <b-col cols="12" style="margin-top: 10px;">
                              <label>{{this.$store.state.i18n.tc('role', 1)}}</label>
                              <b-form-select :options="roleOptions" v-model="roleValue" class="mb-3" :disabled="!seatValue" :state="validRole"></b-form-select>
                            </b-col>
                        </div>
                        <div class="cardInformation" style="height:85%;">
                            <div class="orderTitle creditCard">
                              <p style="padding-left: 15px; padding-top: 10px;">Credit Card Information</p>
                              <h2>
                                <FontAwesomeIcon :icon="icon[0]" class="visaCard" :style="{color: '#c9c9c9'}" />
                                <FontAwesomeIcon :style="{color: '#c9c9c9'}" :icon="icon[1]" class="masterCard"/>
                              </h2>
                            </div>
                            <div style="padding-left:15px; padding-right:15px; padding-top: 20px;">
                                <label>Name on Card</label>
                                <b-form-input type="text" v-model="cardName" style="margin-bottom:10px;" :state="validCardName"></b-form-input>
                                <label>Card Number</label>
                                <b-form-input type="text" v-model="cardNumber" style="margin-bottom:10px;" :state="validCardNumber"></b-form-input>
                                <div class="row">
                                    <div class="col-4" >
                                        <label>Expiration Date</label>                    
                                        <b-form-select :options="dateOptions" v-model="dateMonth" class="mb-3" :state="validMonth"></b-form-select>
                                    </div>
                                    <div class="col-4">
                                        <label class="hiddenTag">Test</label>   
                                        <b-form-select :options="dateYearOption" v-model="dateYear" class="mb-3" :state="validYear"></b-form-select>
                                    </div>
                                    <div class="col-4">
                                        <label>CVV</label>
                                        <b-form-input type="text" v-model="cardCVV" style="margin-bottom:10px;" :state="validCardCVV" maxLength="3"></b-form-input>
                                    </div>
                                </div>
                                <label>Billing Zip Code</label>
                                <b-form-input type="text" v-model="cardZip" style="margin-bottom:10px;" :state="validCardZip" maxLength="5"></b-form-input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="reviewContainer" v-if="buyBtn === 3">
                    <div class="formIsland">
                        <div class="userInformation">
                          <div class="orderTitle reviewPublicPurchase">
                            <p style="padding-left: 15px; border-bottom: 1px #c4c4c4 solid; font-size: 20px; padding-top: 10px; padding-bottom:10px;">Review Order</p>
                            <p class="editProductBtn" @click="editOrder(1)">Edit</p>
                          </div>
                          <table style="width: 100%;" class="reviewTable">
                            <thead>
                              <tr>
                                <th>
                                  Product Name
                                </th>
                                <th>
                                  Quantity
                                </th>
                                <th>
                                  Sub Total
                                </th>
                              </tr>
                            </thead>
                            <tr v-for="(item, product) in cart" :key="product">
                              <td>
                                {{item.name}}
                              </td>
                              <td>
                                {{item.quantity}}
                              </td>
                              <td>
                                ${{Number(item.total).toFixed(2)}}
                              </td>
                            </tr>
                            <tr style="border-top: 1px solid #c9c9c9 !important; height:10px;">
                              <td style="padding-top: 10px; padding-bottom:10px;"><b>Total:</b></td>
                              <td style="padding-top: 10px; padding-bottom:10px;"><b>{{totalQuantity}}</b></td>
                              <td style="padding-top: 10px; padding-bottom:10px;"><b>{{total}}</b></td>
                            </tr>
                          </table>
                        </div>
                        <div class="cardInformation">
                          <div class="orderTitle">
                            <p style="padding-left: 15px; border-bottom: 1px #c4c4c4 solid; font-size: 20px; padding-top: 10px; padding-bottom:10px;">Review Account & Payment Info</p>
                            <p class="editProductBtn"  @click="editOrder(2)">Edit</p>
                          </div>
                          <table style="width: 100%;">
                            <tr>
                              <td>
                                {{firstName}} {{lastName}}
                              </td>
                              <td>
                                Credit Card ending in XXXX{{cardNumber.slice(12)}}
                              </td>
                            </tr>
                            <tr>
                              <td>
                                {{email}}
                              </td>
                              <td>
                                Expires {{dateMonth}}/{{dateYear}}
                              </td>
                            </tr>
                            <tr>
                              <td>
                                {{workgroup}}
                              </td>
                            </tr>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
          </div>
    </div>
</template>
<script>
import Vue from 'vue'
import axios from 'axios'
import SubLayoutFullWidthContainer from '@/components/SubLayout-Full-Temp.vue'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import {faCcVisa, faCcMastercard} from '@fortawesome/free-brands-svg-icons'
export default {
  components: {
    SubLayoutFullWidthContainer,
    FontAwesomeIcon,
    faCcVisa,
    faCcMastercard
  },
  data () {
    return {
      items: [],
      fields: [
        { key: 'name', label: 'Product Name' },
        { key: 'price', label: 'Price' },
        { key: 'quantity', label: 'Quantity' },
        { key: 'subTotal', label: 'Sub Total' }
      ],
      filter: null,
      tableValues: [],
      userNameCheck: '',
      currentPage: 1,
      perPage: 10,
      totalRows: 3,
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      quantityIndex: [],
      subIndex: [],
      total: '$0.00',
      totalQuantity: 0,
      noCardModal: { title: '', content: '' },
      cardModal: { title: '', content: '' },
      cardNumber: '',
      cardExpire: '',
      cart: [],
      buyBtn: 1,
      roleOptions: [{value: -1, text: '--Select Role--'}],
      roleValue: -1,
      seatValue: undefined,
      firstName: '',
      cardNumber: '',
      cardExpire: '',
      cardName: '',
      cardCVV: '',
      cardZip: '',
      workgroup: '',
      lastName: '',
      password: '',
      confirmPassword: '',
      email: '',
      animationFlag: 'hidden',
      stepNumber: 1,
      stepText: 'Select Number of Seats',
      dateExpireFlag: false,
      cvvFlag: false,
      zipFlag: false,
      systemError: false,
      systemMessage: '',
      dateOptions: [{text: "MM", value: null, disabled: true}, {text:"01", value: "01"},  {text:"02", value: "02"}, {text:"03", value: "03"}, {text:"04", value: "04"}, 
      {text:"05", value: "05"}, {text:"06", value: "06"}, {text:"07", value: "07"}, {text:"08", value: "08"}, 
      {text:"09", value: "09"}, {text:"10", value: "10"}, {text:"11", value: "11"}, {text:"12", value: "12"}],
      dateMonth: null,
      dateYearOption: [],
      dateYear: null
      }
  },
  computed: {
    icon () {
      return [faCcVisa, faCcMastercard]
    },
    seatLabel () {
      return parseInt(this.totalQuantity) === 1 ? "I'm buying this seat for myself" : "One of these seats is for me"
    },
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    },
    getProducts () {
      return this.$store.state.products
    },
    getCardValidation () {
      return this.$store.state.cardError
    },
    getCard () {
      return this.$store.state.paymentCard
    },
    validEmail () {
      if (this.email.length === 0) {
        this.userNameCheck = ''
        return false
      }
      if (this.email.length > 0 && this.userNameCheck === '') {
        return false
      }
      if (this.email.length > 0 && this.userNameCheck) {
        return true
      } else {
        return false
      }
    },
    validPassword: function () {
      if (this.password !== undefined && this.password !== null && this.password.length >= 1) {
        return true
      } else {
        return false
      }
    },
    validConfirmPassword () {
      if (this.password !== undefined && this.password !== null && this.password.length >= 1) {
        return this.password === this.confirmPassword
      } else {
        return false
      }
    },
    validFirstName () {
      return this.firstName.length > 0
    },
    validLastName () {
      return this.lastName.length > 0
    },
    validWorkGroup () {
      return this.workgroup.length > 0
    },
    validRole () {
      if (this.seatValue && this.roleValue === -1) {
        this.$store.commit('SET_PUBLIC_ROLE', -1)
        return false
      } else if (this.seatValue && this.roleValue !== -1) {
        this.$store.commit('SET_PUBLIC_ROLE', this.roleValue)
        return true
      } else {
        return null
      }
    },
    validSeatValue () {
      return typeof this.seatValue !== 'undefined'
    },
    validCardName () {
      return this.cardName.length > 0
    },
    validCardNumber () {
      return this.cardNumber.length > 0
    },
    validCardCVV () {
      return this.cardCVV.length >= 3
    },
    validCardZip () {
      return this.cardZip.length >= 5
    },
    reviewBtn () {
      if (this.seatValue) {
        return this.email === '' && this.email === true || this.password === '' || this.confirmPassword === '' || this.confirmPassword !== this.password ||
        this.firstName === '' || this.lastName === '' || this.workgroup === '' || this.cardName === '' || this.cardNumber === '' ||
        !this.cvvFlag || !this.zipFlag || this.roleValue === -1 || this.dateYear === null || this.dateMonth === null || !this.validSeatValue
      } else {
        return this.email === '' && this.email === true || this.password === '' || this.confirmPassword === '' || this.confirmPassword !== this.password ||
        this.firstName === '' || this.lastName === '' || this.workgroup === '' || this.cardName === '' || this.cardNumber === '' ||
        !this.cvvFlag || !this.zipFlag || this.userNameCheck === false || this.dateYear === null || this.dateMonth === null || !this.validSeatValue
      }
    },
    validMonth() {
      return this.dateMonth !== null
    },
    validYear () {
      return this.dateYear !== null
    }
  },
  methods: {
    editOrder (order) {
      switch(order) {
        case 1: 
          this.buyBtn = 1
          this.stepNumber = 1
          break
        case 2:
          this.buyBtn = 2
          this.stepNumber = 2
          break
      }
    },
    editQuantity (quantity, price, index, product) {
      var total = (quantity * price)
      this.subIndex[index] = total
      document.getElementsByClassName('subTotal'+index)[0].textContent = '$' + Number(total).toFixed(2)
      var sum = this.subIndex.reduce((a, b) => a + b)
      var quantitySum = this.quantityIndex.reduce((a, b) => parseInt(a) + parseInt(b))
      this.total = '$' + Number(sum).toFixed(2)
      this.totalQuantity = Number(quantitySum).toFixed(0)
      var obj = {
        quantity: quantity,
        product: product.productID,
        name: product.name,
        total: total
      }
      // Checks if product exist
      var checkProduct = this.cart.some(function(el) {
        return (el.product === product.productID);
      });
      if (!checkProduct) {
        this.cart.push(obj)
        return
      }
      // Add/Update product from the cart
      if (this.cart.length === 0) {
        this.cart.push(obj)
      } else {
        for (var i = 0; i < this.cart.length; i++) {
          if (this.cart.length >= 1) {
            if (this.cart[i].product === obj.product && parseInt(obj.quantity) === 0) {
              this.cart.splice(i, 1)
              break
            } else if (this.cart[i].product === obj.product) {
              this.cart[i] = obj
              break
            }
          }
        }
      }
    },
    validateUserName () {
      var self = this
      if (this.email.length > 0) {
        var olpUrl = 'api'
        axios.get(olpUrl+'/user/check/', {
          params: {
            loginID: this.email
          }
        })
        .then(function (result) {
          console.log(result.data)
          if (result.data.data === 0) {
            self.userNameCheck = true
          } else {
            self.userNameCheck = false
          }
        })
      }
    },
    info () {
      var type = ''
      if (this.$store.state.paymentCard === null || this.$store.state.paymentCard === '') {
        type = 'noCard'
      } else {
        type = 'card'
      }
      switch (type) {
        case 'card':
          // When email using this option, use checkedItems.loginID
          this.cardModal.title = 'Confirm Purchase'
          this.$root.$emit('bv::show::modal', 'cardModal')
          break
        case 'noCard':
          // When emailing using this option, use tableValues.loginID
          this.noCardModal.title = 'Credit Card'
          this.$root.$emit('bv::show::modal', 'noCardModal')
          break
      }
    },
    hideModal () {
      this.$refs.cardRef.hide()
      this.$refs.cardRef.hide()
    },
    myProfile () {
      this.$store.commit('getUserIndividualReport', this.$store.state.session.user.internalUserID)
      var self = this
      setTimeout(function () {
        self.$router.push({path: '/MyProfile/UserPayment'})
        self.$store.commit('pushChecked', [])
        self.$store.commit('setTempUserToNull')
      }, 500)
    },
    next () {
      if (this.totalQuantity >= 1) {
        var temp = []
        temp.push({value: -1, text: '--Select Role--'})
        for (var j = 0 ; j < this.cart.length; j++) {
          for(var i = 0; i < this.items.length; i++) {
            if (this.items[i].productID === this.cart[j].product) {
              if (temp.find(x => x.text === this.items[i].group.groupName) === undefined) {
                var obj = {
                  value: this.items[i].group.groupID,
                  text: this.items[i].group.groupName
                }
                temp.push(obj)
              }
            }
          }
        }
      }
      this.roleOptions = temp
      this.buyBtn = 2
      this.stepNumber = 2
    },
    review () {
      var temp = this.dateYear+"-"+this.dateMonth
      this.cardExpire = temp
      this.buyBtn = 3
      this.stepNumber = 3
    },
    redirectUser () {
      this.$router.push({path: '/Login'})
    },
    checkout () {
      this.buyBtn = 0
      this.animationFlag = 'displayElement'
      this.$store.commit('SET_VALIDATE_LOADING', true)
      var obj = {
        products: this.cart,
        cardNum: this.cardNumber,
        cardExpire: this.cardExpire,
        cardCode: this.cardCVV,
        zip: this.cardZip,
        email: this.email,
        workgroupName: this.workgroup,
        firstName: this.firstName,
        lastName: this.lastName,
        userData: {
          firstName: this.firstName,
          lastName: this.lastName,
          email: this.email,
          password: this.password,
          location: this.workgroup,
          cart: this.cart,
          role: this.roleValue,
          seatValue: this.seatValue
        }
      }
      this.$store.dispatch('validateCard', obj)
    },
    redirectToLogin () {
      this.$store.commit('logout')
      this.$store.commit('SET_TEMP_SESSION', false)
      this.$store.commit('SET_EXISTING_CUSTOMER', true)
      this.$router.push({path: '/Login'})
    }
  },
  watch: {
    seatValue (val) {
      var self = this
      if ( val === false) this.roleValue = -1

      Vue.nextTick(function () {
        if (val === false) {
          self.$store.commit('SET_PUBLIC_ROLE', -1)
        }
      })
    },
    stepNumber (val) {
      console.log('stepNumber changed to ' + val)
      switch (val) {
        default:
        case 1:
          this.stepText = 'Select Number of Seats';
          break
        case 2:
          this.stepText = 'Create an Account';
          break;
        case 3:
          this.stepText = 'Confirm Purchase';
          break;
      }
    },
    getCardValidation (val) {
      if (val.type !== undefined && val.type === 'CHARGE_ERROR' && val !== '') {
        this.systemError = true
        this.systemMessage = val.errorMessage
        this.buyBtn = 0
      } else if (!val.errorFlag && val !== '') {
        this.buyBtn = 4
      }
      this.animationFlag = 'hidden'
      this.$store.commit('SET_CARD_ERROR', '')
    },
    getProducts (val) {
      this.items = val
      for (var i = 0; i < val.length; i++) {
        this.quantityIndex.push(0)
      }
      for (var i = 0; i < val.length; i++) {
        this.subIndex.push(0)
      }
    },
    getCard (val) {
      this.cardNumber = val.cardNumber
      this.cardExpire = val.expirationDate.split('-').reverse().join('/')
    },
    validCardExpire (val) {
      this.dateExpireFlag = val
    },
    validCardCVV (val) {
      this.cvvFlag = val
    },
    validCardZip( val) {
      this.zipFlag = val
    }
  },
  mounted: function () {
    var min = new Date().getFullYear()
    var max = min + 10
    var year = []
    var temp = {
      value: null,
      text: "YYYY",
      disabled: true
    }
    year.push(temp)
    for (var i = min; i<=max; i++){
      var obj = {
        value: i,
        text: i
      }
      year.push(obj)
    }
    this.dateYearOption = year
    this.$store.dispatch('getProducts')
    this.$store.commit('SET_SELF_REGISTRATION_FLAG', false)
  }
}
</script>
<style lang="scss">
.purchaseContainer{
  .editProductBtn {
    float: right;
    font-size: 20px;
    margin-top: -57px;
    padding-right: 15px;
    color: #07C;
    cursor: pointer;
  }
  .editProductBtn:hover{
    text-decoration: underline;
  }
  .table-scroll{
    height: 650px;
    overflow: auto;
    text-align: left;
  }
  .purchaseTableContainer{
    padding: 30px;
    padding-top: 10px;
  }
  tr{
      background-color:#f4f4f4;
  }
  th{
      color:black;
  }
  td {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .table td {
      border-top: 1px solid #f4f4f4 !important;
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .table tr:last-child {
    border-bottom: 1px solid #c9c9c9 !important;
  }
  tr td:first-child, th:first-child{
      padding-left:20px;
  }
  .table thead th{
      border-bottom: 0px;
      border-top: 0px;
      border-bottom: 1px solid #c9c9c9 !important;
  }
  td:nth-child(9){
      padding-top: 10px;
      padding-left:30px;
  }
  th:nth-child(7){
      width: 110px;
  }
  .subTotalSection{
    background-color:#f4f4f4 !important;
    margin-top:-15px;
    display:flex;
    p {
      padding: 15px;
      margin-bottom:0px;
    }
  }
  .subTotalTable{
    width:100%;
    margin-top: -15px;
    th, td{
      padding: 0.3rem;
    }
  }
  .checkoutInformation{
    display:flex;
    float: right;
    margin-right: 140px;
    margin-top: -46px;
    color: white;
    p{
      margin-top:10px;
    }
  }
  .btnCheckOut{
    margin-right: 36px;
    margin-top: -44px;
    float: right;
  }
  .cardBox{
    height: 65px;
    p{
      display: flex;
      align-items: center;
      margin-bottom: 0px;
    }
  }
  .paymentLink{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }
  .paymentLink:hover {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
  }
  .formIsland{
    width: 100%;
    margin: 0px;
    justify-content: center;
    display:flex;
  }
  .userInformation{
    text-align: left;
    background-color: #f4f4f4;
    width: 49%;
    margin-right: 17px;
  }
  .cardInformation{
    background-color: #f4f4f4;
    text-align: left;
    width: 50%;
  }
  .formContainer, .reviewContainer{
    display:flex;
    width:100%;
  }
  .displayFlex{
    margin-top: 10px;
    display:flex;
  }
  .orderTitle{
    padding:0px;
  }
  .creditCard {
    display:flex;
    border-bottom: 1px #c4c4c4 solid; 
    font-size: 20px;
    p{
      margin-bottom:0px;
    }
    h2 {
      margin-top:7px;
      margin-left:10px;
      margin-bottom:5px;
    }
  }
  .fixedMargin{
    margin-bottom:20px;
  }
  .loadingSelfRegistration{
    position: absolute;
    left: 50%;
    top: 50%;
  }
  .stepInformation {
    display:flex;
    float: left;
    margin-left: 33px;
    margin-top: -36px;
    color: white;
    font-size: 1.25rem !important;

    p {
      margin-top: -3px !important;
    }
  }
  .buyContainer {
    height: 80vh !important;
  }
}
.userInformation {
  .form-control {
    margin-bottom: 10px;
  }
}
.purchaseContainer .reviewTable tr:nth-last-child(2) td {
  padding-bottom: 1rem;
}
#modalNew___BV_modal_header_ {
  padding-bottom:0px;
}
.hiddenTag{
  visibility: hidden;
}
</style>
