<template>
  <div>
    <div class="btnSaveCancelContainer">
      <b-button v-if="this.$route.path !== '/ShoppingCart/Products'" class="btnSaveCourse" @click="save" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">Save</b-button>
      <b-button class="btnGrey" @click="cancel">Close</b-button>
    </div>
    <SubPage :Navigation="Navigation"/>
  </div>
</template>
<script>
import SubPage from '@/components/SubPage.vue'
export default {
  data () {
    return {
      Navigation: []
    }
  },
  mounted: function () {
    this.Navigation.push({name: 'Settings', route: '/ShoppingCart/Settings'})
    this.Navigation.push({name: 'Products', route: '/ShoppingCart/Products'})
  },
  components: {
    SubPage
  },
  methods: {
    save () {
      this.$store.dispatch('pushShoppingCartSettings')
    },
    cancel () {
      this.$router.push({path: '/SystemManagement'})
    }
  }
}
</script>
