<template>
  <div class="shoppingCartPage">
    <b-button class="createProduct" @click.stop="info('newProduct', '')" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
        New Product
    </b-button>
      <!-- Main table element -->
      <div class="loadingContainer" :class="animationFlag">
          <div class="loadingAnimation">
              <div class="lds-ring">
                  <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                  <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                  <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                  <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
              </div>
          </div>
      </div>
      <div class="table-scroll" :class="productsTable">
        <div class="tableProductContainer">
            <b-table show-empty
                    stacked="md"
                    :items="items"
                    :fields="fields"
                    :filter="filter"
                    :sort-by.sync="sortBy"
                    :sort-desc.sync="sortDesc"
                    :sort-direction="sortDirection"
                    @filtered="onFiltered"
                    v-model="tableValues"
                    small
                    :current-page="currentPage"
                    :per-page="perPage"
                    no-sort-reset
            >
            <template slot="HEAD_actions" slot-scope="head">
                <!-- A custom formatted header cell for field 'name' -->
                <b-form-checkbox @click.native="toggleSelected" v-model="allSelected"></b-form-checkbox>
            </template>
            <template slot="actions" slot-scope="row">
                <b-form-checkbox :value="row.item" v-model="checkedItems"></b-form-checkbox>
            </template>
            <template slot="name" slot-scope="row"><a @click="info('editProduct', row.item)" class="productLink">{{row.item.name}}</a></template>
            <template slot="price" slot-scope="row">${{Number(row.item.price).toFixed(2)}}</template>
            </b-table>
            <div class="tablePagination">
              <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" @change="switchPage()"/>
            </div>
          </div>
        </div>
        <b-modal id="modalNew" ref="newRef" centered @hide="resetModal" :title="modalNew.title" no-close-on-backdrop>
            <div class="registerForm textLeft">
                <label>Name</label>
                <b-form-input type="text" v-model="newName" style="margin-bottom:10px;" :state="validStatus"></b-form-input>
                <label>Price</label>
                <b-form-input type="number" min="0" step="0.01" v-model="newPrice" style="margin-bottom:10px;" :state="validPrice"></b-form-input>
                <label>{{this.$store.state.i18n.tc('role', 1)}}</label>
                <b-form-select v-model="newRole" :options="roleOptions" :state="validRole" style="margin-bottom:10px;"></b-form-select>
                <label>Description</label>
                <b-form-textarea v-model="newDescription" :rows="5" :max-rows="5" :no-resize="true" :maxlength="500" class="systemResourceDesc" :disable="resourceDescDisable"></b-form-textarea>
                <p :class="{'displayCounterWarning': (newProductCount<=49), 'displayCounter': (newProductCount >= 50)}">{{newProductCount}} Characters Remaining</p>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="pushSave('new')" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="modalEdit" ref="editRef" centered @hide="resetModal" :title="modalEdit.title" no-close-on-backdrop>
            <div class="registerForm textLeft">
                <label>Name</label>
                <b-form-input type="text" v-model="editName" style="margin-bottom:10px;" :state="validStatusEdit"></b-form-input>
                <label>Price</label>
                <b-form-input type="number" min="0" step="0.01" v-model="editPrice" style="margin-bottom:10px;" :state="validPriceEdit"></b-form-input>
                <label>{{this.$store.state.i18n.tc('role', 1)}}</label>
                <b-form-select v-model="editRole" :options="roleOptions" :state="validRoleEdit" style="margin-bottom:10px;"></b-form-select>
                <label>Description</label>
                <b-form-textarea v-model="editDescription" :rows="5" :max-rows="5" :no-resize="true" :maxlength="500" class="systemResourceDesc" :disable="editDescDisable"></b-form-textarea>
                <p :class="{'displayCounterWarning': (newProductCount<=49), 'displayCounter': (newProductCount >= 50)}">{{newProductCount}} Characters Remaining</p>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="pushSave('edit')" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
            </div>
        </b-modal>
  </div>
</template>

<script>
import Group from '@/store/group.js'
import Vue from 'vue'
export default {
  data () {
    return {
      editDescription: '',
      editName: '',
      editPrice: '',
      editRole: -1,
      editItemID: '',
      newName: '',
      newPrice: '',
      newRole: -1,
      newDescription: '',
      roleOptions: [],
      fields: [
        { key: 'actions', label: '', sortable: false, class: 'text-center' },
        { key: 'name', label: 'Product Name', sortable: true, sortDirection: 'desc' },
        { key: 'price', label: 'Price', sortable: true },
        { key: 'groupName', label: this.$store.state.i18n.tc('role', 1), sortable: true }
      ],
      sortBy: 'productName',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      modalNew: { title: '', content: '' },
      modalEdit: { title: '', content: '' },
      selectAll: 'selected',
      allSelected: false,
      checkedItems: [],
      optionToggle: true,
      tableValues: [],
      currentPage: 1,
      perPage: 15,
      totalRows: 3,
      items: [],
      modalRegister: { title: '', content: '' },
      animationFlag: 'displayElement',
      productsTable: 'hidden'
    }
  },
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    },
    newProductCount () {
      return 500 - this.newDescription.length
    },
    resourceDescDisable () {
      return this.newDescription.length >= 500
    },
    validStatus () {
      return this.newName.length > 0
    },
    validPrice () {
      return this.newPrice.length > 0
    },
    validRole () {
      return this.newRole !== -1
    },
    validStatusEdit () {
      return this.editName.length > 0
    },
    validPriceEdit () {
      return this.editPrice > 0 && this.editPrice !== ''
    },
    validRoleEdit () {
      return this.editRole !== -1
    },
    editDescDisable () {
      return this.editDescription.length >= 500
    },
    getProducts () {
      return this.$store.state.products
    },
    getRoles () {
      return this.$store.state.roles
    }
  },
  methods: {
    pushSave (type) {
      switch (type) {
        case 'new':
          var flag = true
          var temp = {}
          temp['name'] = this.newName
          temp['price'] = this.newPrice
          temp['groupID'] = this.newRole
          temp['description'] = this.newDescription
          this.$store.dispatch('pushProducts', temp)
          if (this.newName === '' || this.newPrice === '' || this.newRole === -1) {
            flag = false
          }
          if (flag) {
            this.$refs.newRef.hide()
            this.animationFlag = 'displayElement',
            this.productsTable = 'hidden'
          }
          break
        case 'edit':
          var flag = true
          var temp = {}
          temp['name'] = this.editName
          temp['price'] = this.editPrice
          temp['groupID'] = this.editRole
          temp['productID'] = this.editItemID
          temp['description'] = this.editDescription
          this.$store.dispatch('pushProducts', temp)
          if (this.editName === '' || this.editPrice === '' || this.editRole === -1) {
            flag = false
          }
          if (flag) {
            this.$refs.editRef.hide()
            this.animationFlag = 'displayElement',
            this.productsTable = 'hidden'
          }
          break
      }
    },
    info (button, item) {
      switch (button) {
        case 'newProduct':
          this.modalNew.title = 'New Product'
          this.$root.$emit('bv::show::modal', 'modalNew')
          break
        case 'editProduct':
          this.modalEdit.title = 'Edit Product'
          this.editName = item.name
          this.editPrice = item.price
          this.editDescription = item.description
          this.editItemID = item.productID
          var options = this.roleOptions
          for (var prop in options) {
            if (item.groupName === options[prop].text) {
              this.editRole = options[prop].value
            }
          }
          this.$root.$emit('bv::show::modal', 'modalEdit')
          break
        }
    },
    resetModal () {
      this.newName = ''
      this.newPrice = ''
      this.newRole = -1
      this.newDescription = ''
      this.editName = ''
      this.editPrice = ''
      this.editRole = -1
      this.editDescription = ''
      this.editItemID = ''
    },
    hideModal () {
      this.$refs.newRef.hide()
      this.$refs.editRef.hide()
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    toggleSelected () {
      this.allSelected = !this.allSelected
      this.checkedItems = this.allSelected ? this.tableValues : []
    },
    clearSelected () {
      this.allSelected = false
      this.checkedItems = []
    },
    switchPage () {
      var self = this
      Vue.nextTick(function () {
        self.unsetColor()
        var currentNumber = self.currentPage
        var pagination = document.getElementsByClassName('page-link')
        for (var i = 0; i < pagination.length; i++) {
          if (parseInt(pagination[i].innerHTML) === currentNumber) {
            pagination[i].style.backgroundColor = self.$store.state.company.primary
            pagination[i].style.color = 'white'
          }
        }
      })
    },
    unsetColor () {
      var pagination = document.getElementsByClassName('page-link')
      for (var i = 0; i < pagination.length; i++) {
        pagination[i].style.backgroundColor = 'unset'
        pagination[i].style.color = this.$store.state.company.primary
        pagination[i].style.border = '1px solid #dee2e6'
      }
    }
  },
  watch: {
    checkedItems (a, b) {
      this.optionToggle = (!a.length > 0)
      this.allSelected = (this.tableValues.length === a.length && this.items.length > 0)
      var checkedArray = []
      this.$store.commit('pushChecked', this.checkedItems)
    },
    getProducts (val) {
      var role = this.$store.state.roles
      var temp = []
      var options = role
      for (var i = 0; i < val.length; i++) {
        var obj = val[i]
        for (var prop in role) {
          if (val[i].groupID === role[prop].groupID) {
            obj['groupName'] = role[prop].groupName
          }
        }
        temp.push(obj)
      }
      this.items = temp
      this.animationFlag = 'hidden',
      this.productsTable = 'displayElement'
    },
    getRoles (val) {
      var roles = this.$store.state.roles
      var tempArray = []
      tempArray.push({text: '--Select ' + this.$store.state.i18n.tc('role', 1) + '--', value: -1})
      for (var i = 0 ; i < roles.length; i++) {
        var obj = {}
        obj['text'] = roles[i].groupName
        obj['value'] = roles[i].groupID
        tempArray.push(obj)
       }
      this.roleOptions = tempArray
      this.$store.dispatch('getProducts')
    }
  },
  mounted: function () {
    this.$store.dispatch('getRoles')
  },
  beforeDestroy: function () {
  }
}
</script>
<style lang='scss'>
    .tableProductContainer{
        text-align: left;
      tr{
        background-color:#f4f4f4;
      }
      th{
        background-color:#c9c9c9;
        color:black;
      }
      .table td {
        border-top: 1px solid #c9c9c9;
        color:black;
      }
      .table thead th{
        border-bottom: 0px;
        border-top: 0px;
      }
      p{
        margin-bottom: 0px;
      }
      td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(5){
        padding-top: 5px;
      }
      td:nth-child(1){
        text-align: center;
        padding-left: 15px;
      }
      th:nth-child(1){
        width: 60px;
        padding-left: 15px;
      }
    }
    .customRowCourse{
      float:right;
    }
    .checkedList{
      padding-left:20px !important;
    }
    .btnDelete{
      margin-right: 10px;
    }
    .courseDropDown:disabled{
      background-color:white;
    }
    .createProduct {
        margin-top: -74px;
        float: left;
        margin-left: -265px;
    }
    .displayCounterWarning{
        color: red;
        float: right;
    }
    .displayCounter{
        float: right;
        color:#c9c9c9;
        white-space: nowrap;
    }
    .productLink{
        cursor: pointer;
    }
</style>
