<template>
    <div class="editRoleContainer">
        <div class="loadingContainer" :class="animationFlag">
            <div class="loadingAnimation">
                <div class="lds-ring">
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                </div>
            </div>
        </div>
        <div :class="roleForm" class="roleForm">
            <b-row>
                <b-col cols="6">
                    <label>Status</label>
                    <b-form-select v-model="select" :options="options" @change="switchStatus()"></b-form-select>
                </b-col>
                <b-col cols="6">
                    <label>Test Mode</label>
                    <br>
                    <b-checkbox style="margin-top: 5px;" :disabled="select === false" v-model="cartSettings.ShopSandbox"></b-checkbox>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="6">
                    <label>Merchant Login ID</label>
                    <b-form-input v-model="cartSettings.ShopLogin" type="text" placeholder="" class="emailText" style="margin-bottom: 0px !important;" :disabled="select === false" :state="validLogin"></b-form-input>
                </b-col>
                <b-col cols="6">
                    <label>Merchant Transaction Key</label>
                    <b-form-input v-model="cartSettings.ShopToken" type="text" placeholder="" class="userNumber" style="margin-bottom: 0px !important;" :disabled="select === false" :state="validKey"></b-form-input>
                </b-col>
                <b-col cols="6" style="margin-top:10px;">
                    <label>Default {{this.$store.state.i18n.tc('role', 1)}}</label>
                    <b-form-select v-model="cartSettings.ShopDefaultRole" :options="roleOptions" style="margin-bottom:10px;" :disabled="select === false"></b-form-select>
                </b-col>
            </b-row>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'
export default {
  data: () => ({
    options: [
      { value: false, text: 'Inactive' },
      { value: true, text: 'Active' },
    ],
    select: false,
    merchantLogin: '',
    merchantKey: '',
    testCheck: false,
    cartSettings: {},
    roleForm: 'hidden',
    roles: 0,
    animationFlag: 'displayElement',
    roleOptions: []
  }),
  computed: {
    validLogin () {
      if (this.select === false) {
        return null
      } else {
        return this.cartSettings.ShopLogin.length > 1
      }
    },
    validKey () {
      if (this.select === false) {
        return null
      } else {
        return this.cartSettings.ShopToken.length > 1
      }        
    },
    getConfig () {
      return this.$store.state.config
    },
    getCartSettings () {
      return this.$store.state.cartSettings
    },
    getRoles () {
      return this.$store.state.roles
    }
  },
  methods: {
    switchStatus () {
      var self = this
      Vue.nextTick(function () {        
        self.cartSettings.ShopEnabled = self.select
        if (self.select === false && self.cartSettings.ShopTestMode) {
          self.cartSettings.ShopTestMode = self.select
        }
      })
    }
  },
  watch: {
    getCartSettings (val) {
      this.cartSettings = val
    },
    cartSettings: function (cartSettings, oldCart) {
      this.$store.commit('SET_CART_SETTINGS', cartSettings)
    },
    getConfig: function(val) {
      var obj = {
        ShopEnabled: val.ShopEnabled,
        ShopToken: val.ShopToken,
        ShopTestMode: val.ShopTestMode,
        ShopLogin: val.ShopLogin,
        ShopSandbox: val.ShopSandbox,
        ShopDefaultRole: val.ShopDefaultRole
      }
      this.cartSettings = obj
      this.$store.commit('SET_CART_SETTINGS', this.cartSettings)
      if (this.cartSettings.ShopEnabled !== 'false') {
        this.select = true
      } else {
        this.select = false
      }
      this.roleForm = 'displayElement',
      this.animationFlag = 'hidden'
    },
    getRoles (val) {
      var roles = this.$store.state.roles
      var tempArray = []
      var roleText = '--Select ' + this.$store.state.i18n.tc('role', 1) + '--'
      tempArray.push({text: roleText, value: 0})
      for (var i = 0 ; i < roles.length; i++) {
        var obj = {}
        obj['text'] = roles[i].groupName
        obj['value'] = roles[i].groupID
        tempArray.push(obj)
       }
      this.roleOptions = tempArray
    }
  },
  beforeDestroy: function () {
    this.$store.commit('SET_CART_SETTINGS', this.cartSettings)
  },
  mounted: function () {
    this.$store.dispatch('getRoles')
    if (this.$store.state.cartSettings !== null) {
      this.cartSettings = this.$store.state.cartSettings
      console.log(this.cartSettings.ShopEnabled)
      if (this.cartSettings.ShopEnabled && this.cartSettings.ShopEnabled !== 'false') {
        this.select = true
      } else {
        this.select = false
      }
      this.roleForm = 'displayElement',
      this.animationFlag = 'hidden'
    } else {
      this.$store.dispatch('getConfig')
    }
  }
}
</script>
<style lang="scss">
    .editRoleContainer{
        .row{
            text-align: left;
            margin-bottom: 15px;
        }
        .roleForm{
            text-align: left;
            background-color: #f4f4f4;
            padding: 30px;
            margin-bottom:20px;
        }
        .flexDisplay{
            display: flex;
            width:100%;
            align-items: center;
            p {
                margin-bottom: 0px;
            }
            .inputTextBox{
                margin-right:30px;
                width:100%;
            }
        }
        .inputLabel {
            padding-left:15px;
        }
    }
</style>
