<template>
    <div class="certificateContainer">
        <div class="scroller">
            <div class="templateContainer">
                <b-row>
                    <b-col cols="5">
                        <b-form-checkbox v-model="curriculum.curriculumCert"
                        :unchecked-value="false"
                        :checked-value="true">Enable Curriculum Certificate</b-form-checkbox>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col cols="6">
                        <label>Template</label>
                        <b-form-select v-model="curriculum.certificateGenerator" :options="template" class="templateSelect" :disabled="!curriculum.curriculumCert"/>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col cols="6">
                        <label>Data Format</label>
                        <b-form-select v-model="curriculum.certificateStore" :options="dataFormat" class="templateSelect" :disabled="!curriculum.curriculumCert"/>
                    </b-col>
                </b-row>
            </div>
        </div>
    </div>
</template>

<script>
import Curriculum from '@/store/curriculum.js'
export default {
  data () {
    return {
      curriculum: this.$store.state.curriculum,
      templateSelect: '',
      dataSelect: 0,
      certSelect: 0,
      CertificateStatus: '',
      template: [],
      dataFormat: [
        {value: false, text: 'Use Dynamic Data'},
        {value: true, text: 'Save to PDF'}
      ],
      certificationOptions: [
        {value: 0, text: '--none selected--'}
      ],
      templateValue: ''
    }
  },
  computed: {
    getCurriculums () {
      return this.$store.state.curriculum
    },
    getCurriculumID () {
      return this.$store.state.curriculumID
    }
  },
  watch: {
    getCurriculums: function (val) {
      this.curriculum = val
    },
    getCurriculumID: function (val) {
      this.$store.dispatch('pushCourseCurriculum', val)
    }
  },
  beforeDestroy: function () {
    this.$store.commit('SET_SINGLE_CURRICULUM', this.curriculum)
  },
  mounted: function () {
    this.curriculum = (this.$store.state.curriculum != null) ? this.$store.state.curriculum : new Curriculum()
    this.CertificateStatus = this.curriculum.curriculumCert
    this.template = [{ value: 'certificate.jsp', text: 'Default' }]
    var generatorList = Object.keys(this.$store.state.config).filter(obj => obj.split('.').length > 1 && obj.split('.')[0] === 'CertificateGeneratorCurriculum')
    if (this.curriculum.certificateGenerator === "") {
      this.curriculum.certificateGenerator = 'certificate.jsp'
    }
    for (var g = 0; g < generatorList.length; g++) {
      var generatorVals = this.$store.state.config[generatorList[g]].split('|')
      this.template[g + 1] = {value: generatorVals[0], text: generatorVals[1]}
    }
  },
}
</script>

<style lang="scss">
    .templateContainer, .certificationContainer{
        text-align: left;
        background-color: #f4f4f4;
        padding:30px;
    }
    .certificateContainer{
        .templateSelect{
            min-width: 250px;
        }
        .certficationSelect{
            min-width: 255px;
        }
        td:first-child{
            padding-right: 10px;
        }
        .manageCertifcationBtn{
            margin-top: 32px;
        }
        .row{
            margin-bottom: 20px;
        }
        .toggleCertificate{
            margin-right: 15px;
        }
    }
        @media screen and (max-width: 1024px) , screen and (max-height: 768px){
        .manageCertifcationBtn{
            margin-left: 90px;
        }
    }
</style>
