<template>
  <div class="newCurriculumCourseContainer">
      <!-- Main table element -->
      <div class="table-scroll">
        <div class="tableCurriculumCourseContainer">
            <b-table show-empty
                    stacked="md"
                    :items="items"
                    :fields="fields"
                    :filter="filter"
                    :sort-by.sync="sortBy"
                    :sort-direction="sortDirection"
                    @filtered="onFiltered"
                    v-model="tableValues"
                    small
                    :current-page="currentPage"
                    no-sort-reset
                    @sort-changed="resortOrder()"
            >
            <template slot="HEAD_actions" slot-scope="head">
                <!-- A custom formatted header cell for field 'name' -->
                <b-form-checkbox  @click.native="toggleSelected" v-model="allSelected"></b-form-checkbox>
            </template>
            <template slot="actions" slot-scope="row">
                <b-form-checkbox :value="row.item" v-model="checkedItems" @change="addSortOrder(checkedItems)"></b-form-checkbox>
            </template>
            <template slot="no" slot-scope="row">{{row.value}}</template>
            <template slot="name" slot-scope="row">{{row.value}}</template>
            <template slot="sortOrder" slot-scope="row">
                <b-form-input type="number" :id="'sort'+row.item.courseNumber" class="form-control sortOrderInput" v-model="sortIndex[row.index]" @keyup.native="editSortOrder(sortIndex[row.index], row.item.courseID)" @change="editSortOrder(sortIndex[row.index], row.item.courseID)" min=0></b-form-input>
            </template>
            </b-table>
        </div>
      </div>
  </div>
</template>

<script>
import Vue from 'vue'
export default {
  data () {
    return {
      items: [],
      fields: [
        { key: 'actions', label: '', sortable: false, class: 'text-center' },
        { key: 'courseNumber', label: 'No.', sortable: true, sortDirection: 'desc' },
        { key: 'courseName', label: 'Course Name', sortable: true },
        { key: 'sortOrder', label: 'Sort Order' }
      ],
      sortBy: 'courseNumber',
      sortDesc: false,
      sortDirection: 'desc',
      filter: null,
      modalInfo: { title: '', content: '' },
      selectAll: 'selected',
      allSelected: false,
      checkedItems: [],
      optionToggle: true,
      tableValues: [],
      currentPage: 1,
      totalRows: 3,
      sortIndex: [],
      completedSort: []
    }
  },
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    }
  },
  methods: {
    resortOrder () {
      var a = document.getElementsByTagName('input')
      var self = this
      for(var j = 0; j < a.length; j++) {
        a[j].value = ''
      }
      Vue.nextTick(function () {
        for (var i = 0; i < self.checkedItems.length; i++) {
          var courseNum = self.checkedItems[i].courseNumber
          var sortNum = self.completedSort[i].sortOrder
          document.getElementById('sort' + courseNum).value = sortNum
        }
      })
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    toggleSelected () {
      this.allSelected = !this.allSelected
      this.checkedItems = this.allSelected ? this.tableValues : []
    },
    clearSelected () {
      this.allSelected = false
      this.checkedItems = []
    },
    addSortOrder () {
      var self = this
      Vue.nextTick(function () {
        var checkedItems = self.checkedItems
        self.completedSort = []
        for (var i = 0; i < checkedItems.length; i++) {
          var index = self.items.findIndex(p => p.courseID == self.checkedItems[i].courseID)
          var tempObj = {
            courseID: checkedItems[i].courseID,
            index: index
          }
          var courseNum = checkedItems[i].courseNumber
          tempObj['sortOrder'] = document.getElementById('sort' + courseNum).value
          self.completedSort.push(tempObj)
          self.$store.commit('SET_CURRICULUM_COURSE', self.completedSort)
        }
      })
    },
    editSortOrder (value, course) {
      if (this.completedSort.length > 0) {
        var index = this.completedSort.findIndex(p => p.courseID == course)
        this.completedSort[index].sortOrder = value
        this.$store.commit('SET_CURRICULUM_COURSE', this.completedSort)
      }
    }
  },
  watch: {
    checkedItems (a, b) {
      this.optionToggle = (!a.length > 0)
      this.allSelected = (this.tableValues.length === a.length)
      this.addSortOrder()
      this.$store.commit('SET_CURRICULUM_COURSE_HISTORY', this.checkedItems)
    }
  },
  mounted: function () {
    this.curriculum = (this.$store.state.curriculum != null) ? this.$store.state.curriculum : new Curriculum()
    var course = this.$store.state.courses
    var item = course.map(courses => ({ 
      courseID: courses.courseID,
      courseNumber: courses.courseNumber,
      courseName: courses.courseName
    }))
    this.items = item
    for (var i = 0; i < this.items.length; i++) {
      this.sortIndex.push('')
    }
    var courseHistory = this.$store.state.curriculumCourseCheck
    var completeSort =  this.$store.state.courseCurriculum
    if (courseHistory.length > 0) {
      Vue.nextTick(function () {
        self.checkedItems = courseHistory
        for (var i = 0; i < completeSort.length; i++) {
          var courseNum = courseHistory[i].courseNumber
          var courseOrder = completeSort[i].sortOrder
          document.getElementById('sort' + courseNum).value = courseOrder
        }
      })
    }
    var courseArray = []
    if (this.curriculum.curriculumCourses.course !== undefined && !Array.isArray(this.curriculum.curriculumCourses.course)) {
      var courseObj = {
        courseID: this.curriculum.curriculumCourses.course.courseID,
        courseNumber: this.curriculum.curriculumCourses.course.courseNumber,
        courseName: this.curriculum.curriculumCourses.course.courseName
      }
      courseArray.push(courseObj)
      var index = this.items.findIndex(p => p.courseID == this.curriculum.curriculumCourses.course.courseID)
      this.completedSort[index] = this.curriculum.curriculumCourses.course.sortOrder
      var self = this
      Vue.nextTick(function () {
        document.getElementById('sort' + self.curriculum.curriculumCourses.course.courseNumber).value = self.curriculum.curriculumCourses.course.sortOrder
      })
    } else {
      var self = this
      Vue.nextTick(function () {
        for (var j = 0; j < self.curriculum.curriculumCourses.course.length; j++) {
          var index = self.items.findIndex(p => p.courseID == self.curriculum.curriculumCourses.course[j].courseID)
          var courseObj = {
            courseID: self.curriculum.curriculumCourses.course[j].courseID,
            courseNumber: self.curriculum.curriculumCourses.course[j].courseNumber,
            courseName: self.curriculum.curriculumCourses.course[j].courseName
          }
          courseArray.push(courseObj)
          var courseNum = self.curriculum.curriculumCourses.course[j].courseNumber
          var sortOrderValue = self.curriculum.curriculumCourses.course[j].sortOrder
          document.getElementById('sort' + courseNum).value = sortOrderValue
        }
      })
    }
    this.checkedItems = courseArray
  }
}
</script>
<style lang='scss'>
    .tableCurriculumCourseContainer{
        text-align: left;
      tr{
        background-color:#f4f4f4;
      }
      th{
        background-color:#c9c9c9;
        color:black;
      }
      .table td {
        border-top: 1px solid #c9c9c9;
        color:black;
      }
      .table thead th{
        border-bottom: 0px;
        border-top: 0px;
      }
      p{
        margin-bottom: 0px;
      }
      td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(5){
        padding-top: 13px;
      }
      td:nth-child(1){
        text-align: center;
        padding-left: 15px;
      }
      th:nth-child(1){
        width: 60px;
        padding-left: 15px;
      }
      th:nth-child(2){
        width: 5px;
      }
    }
    .customRowCourse{
      float:right;
    }
    .checkedList{
      padding-left:20px !important;
    }
    .btnDelete{
      margin-right: 10px;
    }
    .sortOrderInput{
        width: 100px;
    }
</style>
