<template>
    <div>
        <div class="curriculumSettingsContainer">
            <div class='scroller'>
                <div class="settingForm">
                    <b-row>
                        <b-col cols="6">
                            <label>Curriculum Number</label>
                            <b-form-input v-model="curriculum.courseNumber" type="text" placeholder="" :state="validNumber" class="curriculumNumber"></b-form-input>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="6">
                            <label>Curriculum Name</label>
                            <b-form-input v-model="curriculum.courseName" type="text" placeholder="" :state="validName" class="curriculumName"></b-form-input>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="12">
                            <label>Description</label>
                            <b-form-textarea v-model="curriculum.description" :rows="5" :max-rows="5" :no-resize="true" :maxlength="500" class="curriculumText"></b-form-textarea>
                            <p :class="{'displayCounterWarning': (curriculumDescCounter<=49), 'displayCounter': (curriculumDescCounter >= 50)}">{{curriculumDescCounter}} Characters Remaining</p>
                        </b-col>
                    </b-row>
                </div>
                <div class="curriculumSettings">
                    <b-row>
                        <b-col cols="6">
                            <label>Status</label>
                            <b-form-select :options="status" v-model="curriculum.active" class="curriculumStatus" />
                        </b-col>
                        <b-col cols="6">
                            <label>Active Date</label>
                            <b-form-input type="date" v-model="curriculum.postDate"></b-form-input>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="6">
                            <label>Curriculum Partial Retake</label>
                            <b-form-select :options="CurriculumRetakeOptions" v-model="curriculum.allowRetake" class="curriculumStatus" />
                        </b-col>
                    </b-row>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Curriculum from '@/store/curriculum.js'
import moment from 'moment'
export default {
  data () {
    return {
      curriculum: new Curriculum(),
      curriculumName: '',
      curriculumNumber: '',
      courseSelect: '',
      curriculumDesc: '',
      curriculumRetake: 0,
      options: [
        { value: null, text: 'Please select an option' },
        { value: 'a', text: 'This is First option' },
        { value: 'b', text: 'Selected Option' },
        { value: {'C': '3PO'}, text: 'This is an option with object value' },
        { value: 'd', text: 'This one is disabled', disabled: true }
      ],
      status: [
        { value: true, text: 'Active' },
        { value: false, text: 'Inactive' }
      ],
      statusDefault: 0,
      CurriculumRetakeOptions: [
        { value: false, text: 'No' },
        { value: true, text: 'Yes' }
      ],
      displayDefault: 0
    }
  },
  computed: {
    validNumber () {
      return this.curriculum.courseNumber !== ''
    },
    validName () {
      return this.curriculum.courseName.length >= 1
    },
    curriculumDescCounter () {
      return 500 - this.curriculum.description.length
    },
    setDate () {
      return new Date().toISOString().slice(0, 10)
    },
    getCurriculums () {
      return this.$store.state.curriculum
    }
  },
  mounted: function () {
    this.curriculum = (this.$store.state.curriculum != null) ? this.$store.state.curriculum : new Curriculum()
    this.curriculum.postDate = moment(this.curriculum.postDate).utc().format('YYYY-MM-DD')
    if (this.curriculum.allowRetake === '') {
      this.curriculum.allowRetake = false
    }
   this.$store.commit('getRoleCourse', this.$store.state.curriculum.groups.group.map((obj, indx) => {
        if (obj.groupTypeID === 1) return obj.groupID
    }).join("|"));
    this.$store.commit('SET_SINGLE_CURRICULUM', this.curriculum)
  },
  watch: {
    getCurriculums: function (val) {
      this.curriculum = val
    }
  },
  beforeDestroy: function () {
    this.$store.commit('SET_SINGLE_CURRICULUM', this.curriculum)
  }
}
</script>

<style lang='scss'>
    .settingForm, .curriculumDesc, .curriculumSettings{
        text-align: left;
        background-color: #f4f4f4;
        padding:30px;
        margin-bottom:20px;
    }
    .curriculumSettingsContainer{
        table{
            text-align:right;
        }
        td:first-child, td:nth-child(3){
            padding-right: 15px;
            white-space: nowrap;
        }
        tr{
            line-height: 50px;
        }
        .row{
            margin-bottom: 20px;
        }
    }
    .curriculumText{
        max-width:100%;
    }
    .displayCounter{
        float: right;
        color:#c9c9c9;
        white-space: nowrap;
    }
    .displayCounterWarning{
        color: red;
        float: right;
    }
    .courseSettingTable{
        border-spacing:0; /* Removes the cell spacing via CSS */
        border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
    }
</style>
