<template>
  <div>
    <div class="btnSaveCancelContainer">
      <b-button class="btnSaveCourse" @click="save()" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">Save</b-button>
      <b-button class="btnGrey" :to="{path: '/CourseManagement/Curriculums'}">Cancel</b-button>
    </div>
    <SubPage :Navigation="Navigation"/>
  </div>
</template>
<script>
import SubPage from '@/components/SubPage.vue'
export default {
  data () {
    return {
      Navigation: [
        {
          name: 'Settings',
          route: '/NewCurriculum/CurriculumSettings'
        },
        {
          name: 'Certificates',
          route: '/NewCurriculum/CurriculumCertificates'
        },
        {
          name: 'Recurrent Training',
          route: '/NewCurriculum/CurriculumRecurrentTraining'
        },
        {
          name: 'Courses',
          route: '/NewCurriculum/CurriculumCourses'
        },
        {
          name: 'Assigned to ' + this.$store.state.i18n.tc('role', 2),
          route: '/NewCurriculum/CurriculumAssignment'
        }
      ]
    }
  },
  components: {
    SubPage
  },
  computed: {
    getCurriculumID () {
      return this.$store.state.curriculumID
    }
  },
  watch: {
    getCurriculumID: function (val) {
      this.$store.dispatch('pushCourseCurriculum', val)
    }
  },
  methods: {
    save () {
      this.$store.dispatch('pushCurriculum')
    }
  }
}
</script>
