<template>
    <div class="recurrentContainer">
        <div class="scroller">
            <div class="templateContainer">
                <b-row>
                    <b-col cols="6">
                        <label>Curriculum Expires After</label>
                                <div class="input-group mb-3">
                                    <b-form-input type="number" class="form-control" v-model="curriculum.passExpireDays" min=0></b-form-input>
                                    <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">Days</span>
                                </div>
                            </div>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col cols="6">
                        <label>Reset Curriculum</label>
                                <div class="input-group mb-3">
                                    <b-form-input type="number" class="form-control" v-model="curriculum.reassignBeforeDays" min=0></b-form-input>
                                    <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">Days before Expiration</span>
                                </div>
                            </div>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col cols="4">
                        <label>Reset this Curriculum for all applicable users</label>
                        <br>
                        <b-button class="btnGrey">Reset</b-button>
                    </b-col>
                </b-row>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      curriculum: this.$store.state.curriculum,
      templateSelect: 0,
      dataSelect: 0,
      certSelect: 0,
      curriculumExpireValue: 0,
      curriculumResetValue: 0,
      template: [
        { value: 0, text: 'Default' }
      ],
      dataFormat: [
        { value: 0, text: 'Use Dynamic Data' }
      ],
      certificationOptions: [
        { value: 0, text: '--none selected--' }
      ]
    }
  },
  computed: {
    getCurriculums () {
      return this.$store.state.curriculum
    }
  },
  watch: {
    getCurriculums: function (val) {
      this.curriculum = val
    }
  },
  beforeDestroy: function () {
    this.$store.commit('SET_SINGLE_CURRICULUM', this.curriculum)
  },
  mounted: function () {
    this.curriculum = (this.$store.state.curriculum != null) ? this.$store.state.curriculum : new Curriculum()
  }
}
</script>

<style lang="scss">
    .templateContainer, .certificationContainer{
        text-align: left;
        background-color: #f4f4f4;
        padding:30px;
    }
</style>
