<template>
  <div>
    <div class="btnSaveCancelContainer">
      <b-button class="btnSaveCourse" @click="save" :style="{'background-color': secondaryColor, 'border-color': secondaryColor}">Save</b-button>
      <b-button class="btnGrey" :to="{path: '/GroupManagement/WorkGroups'}" v-if="this.workgroup.groupID !== null">Close</b-button>
      <b-button class="btnGrey" :to="{path: '/GroupManagement/WorkGroups'}" v-else>Cancel</b-button>
    </div>
    <SubPage :Navigation="Navigation"/>
  </div>
</template>
<script>
import SubPage from '@/components/SubPage.vue'
import Group from '@/store/group.js'
export default {
  data () {
    return {
      Navigation: [
        {
          name: 'Settings',
          route: '/NewWorkgroup/WorkGroupSettings'
        },
        {
          name: 'Courses Assigned',
          route: '/NewWorkgroup/WorkgroupAssignment'
        }
      ],
      workgroup: new Group(),
      secondaryColor: this.$store.state.company.secondary
    }
  },
  components: {
    SubPage
  },
  methods: {
    save () {
      this.$store.dispatch('workgroup')
    }
  },
  mounted: function () {
    this.workgroup = (this.$store.state.workgroup != null) ? this.$store.state.workgroup : new Group()
  }
}
</script>
