<template>
  <div class="newWorkgroupCourseContainer">
      <!-- Main table element -->
      <div class="table-scroll">
        <div class="tableWorkgroupCourseContainer">
            <b-table show-empty
                    stacked="md"
                    :items="items"
                    :fields="fields"
                    :filter="filter"
                    :sort-by.sync="sortBy"
                    :sort-desc.sync="sortDesc"
                    :sort-direction="sortDirection"
                    @filtered="onFiltered"
                    v-model="tableValues"
                    small
                    :current-page="currentPage"
                    :per-page="perPage"
                    no-sort-reset
            >
            <template slot="HEAD_actions" slot-scope="head">
                <!-- A custom formatted header cell for field 'name' -->
                <b-form-checkbox  @click.native="toggleSelected" v-model="allSelected"></b-form-checkbox>
            </template>
            <template slot="actions" slot-scope="row">
                <b-form-checkbox  :value="row.item" v-model="checkedItems"></b-form-checkbox>
            </template>
            <template slot="name" slot-scope="row">{{row.value}}</template>
            <template slot="active" slot-scope="row">
                <p class="activeStatus" v-if="row.item.active">Active</p>
                <p class="inactiveStatus" v-else>Inactive</p>
            </template>
            </b-table>
            <div class="tablePagination">
              <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" @change="switchPage()"/>
            </div>
            </div>
        </div>
  </div>
</template>

<script>
import Group from '@/store/group.js'
import Vue from 'vue'
export default {
  data () {
    return {
      fields: [
        { key: 'actions', label: '', sortable: false, class: 'text-center' },
        { key: 'courseNumber', label: 'No.', sortable: true, sortDirection: 'desc' },
        { key: 'courseName', label: 'Course Name', sortable: true },
        { key: 'active', label: 'Status', sortable: true }
      ],
      sortBy: 'courseNumber',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      modalInfo: { title: '', content: '' },
      selectAll: 'selected',
      allSelected: false,
      checkedItems: [],
      optionToggle: true,
      tableValues: [],
      currentPage: 1,
      perPage: 15,
      totalRows: 3,
      workgroup: new Group(),
    }
  },
  computed: {
    items () {
      return this.$store.state.curriculums.map(e => {
        return e.course
      }).concat(this.$store.state.courses)
    },
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    }
  },
  methods: {
    rowClass(item, type) {
      if (!item) return
      if (item.type === 'curriuclum') return 'tableCurriculum'
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    toggleSelected () {
      this.allSelected = !this.allSelected
      this.checkedItems = this.allSelected ? this.tableValues : []
    },
    clearSelected () {
      this.allSelected = false
      this.checkedItems = []
    },
    switchPage () {
      var self = this
      Vue.nextTick(function () {
        self.unsetColor()
        var currentNumber = self.currentPage
        var pagination = document.getElementsByClassName('page-link')
        for (var i = 0; i < pagination.length; i++) {
          if (parseInt(pagination[i].innerHTML) === currentNumber) {
            pagination[i].style.backgroundColor = self.$store.state.company.primary
            pagination[i].style.color = 'white'
          }
        }
      })
    },
    unsetColor () {
      var pagination = document.getElementsByClassName('page-link')
      for (var i = 0; i < pagination.length; i++) {
        pagination[i].style.backgroundColor = 'unset'
        pagination[i].style.color = this.$store.state.company.primary
        pagination[i].style.border = '1px solid #dee2e6'
      }
    }
  },
  watch: {
    checkedItems (a, b) {
      this.optionToggle = (!a.length > 0)
      this.allSelected = (this.tableValues.length === a.length && this.items.length > 0)
      var checkedArray = []
      for (var i = 0; i < this.checkedItems.length; i++) {
        checkedArray.push(this.checkedItems[i].courseID)
      }
      this.workgroup.courseID = checkedArray.join('|')
      if (checkedArray.length === 0) {
        this.workgroup.courseID = 0
      }
      this.$store.commit('pushChecked', this.checkedItems)
    }
  },
  mounted: function () {
    this.$store.dispatch('getCourses')
    this.$store.dispatch('getCurriculums')
    this.workgroup = (this.$store.state.workgroup != null) ? this.$store.state.workgroup : new Group()
    var thisCourse = this.$store.state.courses
    var workCourses = this.workgroup.courses
    var checkedHistory = this.$store.state.checkedItems
    document.getElementsByClassName('page-link')[2].style.backgroundColor = this.$store.state.company.primary
    document.getElementsByClassName('page-link')[2].style.borderColor = this.$store.state.company.primary
    if (checkedHistory != null && checkedHistory.length > 0) {
      this.checkedItems = checkedHistory
    } else {
      this.checkedItems = thisCourse.filter(function (thisCourse) {
        return workCourses.includes(thisCourse.courseID)
      })
    }
  }
}
</script>
<style lang='scss'>
    .tableWorkgroupCourseContainer{
        text-align: left;
      tr{
        background-color:#f4f4f4;
      }
      th{
        background-color:#c9c9c9;
        color:black;
      }
      .table td {
        border-top: 1px solid #c9c9c9;
        color:black;
      }
      .table thead th{
        border-bottom: 0px;
        border-top: 0px;
      }
      p{
        margin-bottom: 0px;
      }
      td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(5){
        padding-top: 5px;
      }
      td:nth-child(1){
        text-align: center;
        padding-left: 15px;
      }
      th:nth-child(1){
        width: 60px;
        padding-left: 15px;
      }
      th:nth-child(2){
        width: 5px;
      }
    }
    .customRowCourse{
      float:right;
    }
    .checkedList{
      padding-left:20px !important;
    }
    .btnDelete{
      margin-right: 10px;
    }
</style>
