<template>
    <div class="workGroupContainer">
        <div class="workgroupForm">
            <b-row>
                <b-col cols="6">
                    <label>{{this.$store.state.i18n.tc('workgroup', 1)}} Name</label>
                    <b-form-input v-model="workgroup.groupName" type="text" :state="workGroupNameChecker"
                    ></b-form-input>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="6">
                    <label>Description</label>
                    <b-form-input
                    v-model="workgroup.groupDescription"
                    type="text"
                    ></b-form-input>
                </b-col>
            </b-row>
        </div>
    </div>
</template>

<script>
import Group from '@/store/group.js'
export default {
  data () {
    return {
      workgroup: new Group()
    }
  },
  computed: {
    workGroupNameChecker () {
      return this.workgroup.groupName.length >= 1
    }
  },
  watch: {
    workgroup: function (workgroup, oldWorkgroup) {
      this.$store.commit('workgroup', workgroup)
    }
  },
  beforeDestroy: function () {
    this.$store.commit('workgroup', this.workgroup)
  },
  mounted: function () {
    this.workgroup = (this.$store.state.workgroup != null) ? this.$store.state.workgroup : new Group()
  }
}
</script>

<style lang="scss">
    .workGroupContainer{
        .row{
            text-align: left;
            margin-bottom:20px;
        }
        .workgroupForm{
            text-align: left;
            background-color: #f4f4f4;
            padding: 30px;
        }
    }
</style>
