
<template>
    <div class="purchaseContainer">
        <SubLayoutFullWidthContainer/>
        <b-button v-if="purchaseProduct" :class="{'checkoutDisabled' : totalQuantity === 0}" class="btnCheckOut" :disabled="totalQuantity === 0" @click="info()" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">Checkout</b-button>
        <div class="checkoutInformation" v-if="purchaseProduct">
          <p style="margin-right:10px;">Quantity: {{totalQuantity}}</p>
          <p>Total: {{total}}</p>
        </div>
        <div class="purchaseTableContainer">
          <div class="loadingSelfRegistration" :class="animationFlag">
              <div class="loadingAnimation">
                  <div class="lds-ring">
                      <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                      <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                      <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                      <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                  </div>
              </div>
          </div>
          <div class="table-scroll">
                <table style="width: 100%" v-if="purchaseProduct">
                  <thead>
                    <tr style="border-bottom: 1px solid #c9c9c9 !important; height:10px;">
                      <th style="padding-top:10px; padding-bottom:10px;">Product Name</th>
                      <th style="padding-top:10px; padding-bottom:10px;">Price</th>
                      <th style="padding-top:10px; padding-bottom:10px;">Quantity</th>
                      <th style="padding-top:10px; padding-bottom:10px;">Sub Total</th>
                    </tr>
                  </thead>
                  <tr v-for="(item, products) in items" :key="products">
                    <td>{{item.name}}</td>
                    <td>${{Number(item.price).toFixed(2)}}</td>
                    <td><b-form-input class="quantityField" type="number" style="width:100px;" v-model="quantityIndex[products]" @keyup.native="editQuantity(quantityIndex[products], item.price, products, item.productID)" @change="editQuantity(quantityIndex[products], item.price, products, item.productID)" min=0></b-form-input></td>
                    <td><p :class="'subTotal'+products">$0.00</p></td>
                  </tr>
                  <tr style="border-top: 1px solid #c9c9c9 !important; height:10px;">
                    <td style="padding-top: 10px; padding-bottom:10px;"><b>Total:</b></td>
                    <td style="padding-top: 10px; padding-bottom:10px;"></td>
                    <td style="padding-top: 10px; padding-bottom:10px;"><b>{{totalQuantity}}</b></td>
                    <td style="padding-top: 10px; padding-bottom:10px;"><b>{{total}}</b></td>
                  </tr>
                </table>
                <table style="width: 100%" v-if="checkout">
                  <thead>
                    <tr style="border-bottom: 1px solid #c9c9c9 !important; height:10px;">
                      <th style="padding-top:10px; padding-bottom:10px;">Order Confimration</th>
                    </tr>
                  </thead>
                  <tr>
                    <td style="padding-bottom:70px;">Your purchase was completed sucessfully. A receipt will be sent to your email shortly. You may begin assigning seats immediately.</td>
                  </tr>
                </table>
                <table style="width: 100%" v-if="systemError">
                  <thead>
                    <tr style="border-bottom: 1px solid #c9c9c9 !important; height:10px;">
                      <th style="padding-top:10px; padding-bottom:10px;">Error</th>
                    </tr>
                  </thead>
                  <tr>
                    <td style="padding-top: 20px;">A Problem has occured. {{systemMessage}}</td>
                  </tr>
                  <tr>
                    <td style="padding-bottom:30px;">contact {{$store.state.company.admintContactEmail}}, or call {{$store.state.company.admintContactPhone}} for assistance.</td>
                  </tr>
                </table>
            </div>
          </div>
        <b-modal id="cardModal" ref="cardRef" size="md" centered :title="cardModal.title" no-close-on-backdrop>
          <div style="text-align:left;">
            <p>The following credit card will be charged {{total}}</p>
            <div class="cardBox" style="display:flex; background-color:#f4f4f4;">
              <p style="margin-left:15px;">Card ending in {{cardNumber.slice(4)}}</p>
              <p style="margin-left:170px;">Expires {{cardExpire}}</p>
            </div>
            <div class="cardCVVBox" style="background-color:#f4f4f4;">
              <p style="margin-left:15px; margin-right:auto;">Enter CVV</p>
              <b-form-input type="text" v-model="cardCVV" maxlength="3" style="float:right; margin-right: 20px; height:30px; width:40%" :state="validCVV"></b-form-input>
            </div>
          </div>
            <div slot="modal-footer">
              <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                Cancel
              </b-btn>
              <b-btn style="margin-right:10px;" class="float-right btnGreenSecondary btnSend" variant="secondary" @click="confirmPurchase()" :disabled="confirmPurchaseDisable">
                Confirm
              </b-btn>
            </div>
        </b-modal>
        <b-modal id="noCardModal" ref="noCardRef" size="md" centered :title="noCardModal.title" no-close-on-backdrop>
          <div style="text-align:left;">
            <p>There is no currently no credit card on file. You may add credit card in the <span class="paymentLink" @click="myProfile()">Payment info</span> section of My Profile</p>
          </div>
            <div slot="modal-footer">
              <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                Close
              </b-btn>
            </div>
        </b-modal>
        </div>
    </div>
</template>
<script>
import Vue from 'vue'
import SubLayoutFullWidthContainer from '@/components/SubLayout-Full-Width.vue'
export default {
  components: {
    SubLayoutFullWidthContainer
  },
  data () {
    return {
      items: [],
      fields: [
        { key: 'name', label: 'Product Name' },
        { key: 'price', label: 'Price' },
        { key: 'quantity', label: 'Quantity' },
        { key: 'subTotal', label: 'Sub Total' }
      ],
      filter: null,
      tableValues: [],
      currentPage: 1,
      perPage: 10,
      totalRows: 3,
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      quantityIndex: [],
      subIndex: [],
      total: '$0.00',
      totalQuantity: 0,
      noCardModal: { title: '', content: '' },
      cardModal: { title: '', content: '' },
      cardNumber: '',
      cardExpire: '',
      cardCVV: '',
      checkout: false,
      cart: [],
      systemError: false,
      rand: '',
      systemMessage: '',
      purchaseProduct: true,
      animationFlag: 'hidden'
    }
  },
  computed: {
    validCVV () {
      return this.cardCVV.length === 3
    },
    getSystemError () {
      return this.$store.state.cardError
    },
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    },
    getProducts () {
      return this.$store.state.products
    },
    getCard () {
      return this.$store.state.paymentCard
    },
    checkRandomNumber() {
      return this.$route.query.Session
    },
    confirmPurchaseDisable () {
      return this.cardCVV.length !== 3
    }
  },
  methods: {
    pushProduct () {
    },
    confirmPurchase () {
      this.purchaseProduct = false
      this.animationFlag = 'displayElement'
      this.$refs.cardRef.hide()
      var obj = {
        cardCode: this.cardCVV,
        cart: this.cart
      }
      this.$store.dispatch('pushPrivateProduct', obj)
    },
    editQuantity (quantity, price, index, productID) {
      var total = (quantity * price)
      this.subIndex[index] = total
      document.getElementsByClassName('subTotal'+index)[0].textContent = '$' + Number(total).toFixed(2)
      var sum = this.subIndex.reduce((a, b) => a + b)
      var quantitySum = this.quantityIndex.reduce((a, b) => parseInt(a) + parseInt(b))
      this.total = '$' + Number(sum).toFixed(2)
      this.totalQuantity = Number(quantitySum).toFixed(0)
      var obj = {
        quantity: quantity,
        product: productID
      }
      // Checks if product exist
      var checkProduct = this.cart.some(function(el) {
        return (el.product === productID);
      });
      if (!checkProduct) {
        this.cart.push(obj)
        return
      }
      // Add/Update product from the cart
      if (this.cart.length === 0) {
        this.cart.push(obj)
      } else {
        for (var i = 0; i < this.cart.length; i++) {
          if (this.cart.length >= 1) {
            if (this.cart[i].product === obj.product && parseInt(obj.quantity) === 0) {
              this.cart.splice(i, 1)
              break
            } else if (this.cart[i].product === obj.product) {
              this.cart[i] = obj
              break
            }
          }
        }
      }
    },
    info () {
      var type = ''
      if (this.$store.state.paymentCard !== null && this.$store.state.paymentCard !== '') {
        type = 'card'
      } else {
        type = 'noCard'
      }
      switch (type) {
        case 'card':
          // When email using this option, use checkedItems.loginID
          this.cardModal.title = 'Confirm Purchase'
          this.$root.$emit('bv::show::modal', 'cardModal')
          break
        case 'noCard':
          // When emailing using this option, use tableValues.loginID
          this.noCardModal.title = 'Credit Card'
          this.$root.$emit('bv::show::modal', 'noCardModal')
          break
      }
    },
    hideModal () {
      this.$refs.cardRef.hide()
      this.$refs.noCardRef.hide()
    },
    myProfile () {
      this.$store.commit('SET_PAYMENT_CARD', null)
      this.$store.commit('SET_CARD_FLAG', '')
      this.$store.commit('getUserIndividualReport', this.$store.state.session.user.internalUserID)
      var self = this
      setTimeout(function () {
        self.$router.push({path: '/MyProfile/UserPayment'})
        self.$store.commit('pushChecked', [])
        self.$store.commit('setTempUserToNull')
      }, 500)
    }
  },
  watch: {
    checkRandomNumber (val) {
      if (val !== this.rand) {
        var fields = document.getElementsByClassName('quantityField')
        for(var i = 0; i < fields.length; i++){
          fields[i].value = 0
          document.getElementsByClassName('subTotal'+i)[0].innerHTML = '$0.00'
        }
        this.cart = []
        this.total = '$0.00'
        this.totalQuantity = 0
        this.checkout = false
        this.purchaseProduct = true
        this.systemError = false
        this.cardCVV = ''
      }
    },
    getProducts (val) {
      this.items = val
      for (var i = 0; i < val.length; i++) {
        this.quantityIndex.push(0)
      }
      for (var i = 0; i < val.length; i++) {
        this.subIndex.push(0)
      }
    },
    getCard (val) {
      this.cardNumber = val.cardNumber
      this.cardExpire = val.expirationDate.split('-').reverse().join('/')
    },
    getSystemError (val) {
      if (val !== '' && val.errorFlag) {
        this.animationFlag = 'hidden'
        this.systemMessage = val.errorMessage
        this.systemError = true
        this.purchaseProduct = false
        this.$store.commit('SET_CARD_ERROR', '')
      } else if (val !== '' && !val.errorFlag) {
        this.animationFlag = 'hidden'
        this.checkout = true
        this.purchaseProduct = false
        this.$store.commit('SET_CARD_ERROR', '')
      }
    }
  },
  mounted: function () {
    this.rand = this.$route.query.Session
    this.$store.dispatch('getProducts')
    this.$store.dispatch('getCard', this.$store.state.session.user.internalUserID)
  }
}
</script>
<style lang="scss">
.purchaseContainer{
  .table-scroll{
    height: 650px;
    overflow: auto;
    text-align: left;
  }
  .purchaseTableContainer{
    padding: 30px;
  }
  tr{
      background-color:#f4f4f4;
  }
  th{
      color:black;
  }
  .table td {
      border-top: 1px solid #f4f4f4 !important;
  }
  .table tr:last-child {
    border-bottom: 1px solid #c9c9c9 !important;
  }
  tr td:first-child, th:first-child{
      padding-left:20px;
  }
  .table thead th{
      border-bottom: 0px;
      border-top: 0px;
      border-bottom: 1px solid #c9c9c9 !important;
  }
  td:nth-child(9){
      padding-top: 10px;
      padding-left:30px;
  }
  th:nth-child(7){
      width: 110px;
  }
  .subTotalSection{
    background-color:#f4f4f4 !important;
    margin-top:-15px;
    display:flex;
    p {
      padding: 15px;
      margin-bottom:0px;
    }
  }
  .subTotalTable{
    width:100%;
    margin-top: -15px;
    th, td{
      padding: 0.3rem;
    }
  }
  .checkoutInformation{
    display:flex;
    float: right;
    margin-right: 140px;
    margin-top: -46px;
    color: white;
    p{
      margin-top:10px;
    }
  }
  .btnCheckOut{
    margin-right: 36px;
    margin-top: -44px;
    float: right;
  }
  .cardBox{
    height: 65px;
    p{
      display: flex;
      align-items: center;
      margin-bottom: 0px;
    }
  }
  .cardCVVBox{
    display: flex;
    justify-content: flex-end;
  }
  .paymentLink{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
  }
  .paymentLink:hover {
    color: #0056b3;
    text-decoration: underline;
    cursor: pointer;
  }
  .btnGreenSecondary:disabled{
    background-color:#00AC4E !important;
    border-color: #00AC4E !important;
  }
  .loadingSelfRegistration{
    position: absolute;
    left: 50%;
    top: 50%;
  }
}
</style>
