<template>
  <div>
    <SubPage :Navigation="Navigation"/>
  </div>
</template>

<script>
import SubPage from '@/components/SubPage.vue'
export default {
  name: 'Reports',
  data () {
    return {
      Navigation: [
        {
          name: 'Student Records',
          route: '/Reports/StudentRecords'
        },
        {
          name: 'Summary Report',
          route: '/Reports/SummaryReport'
        },
        {
          name: 'Recurrent Training Report',
          route: '/Reports/RecTrainingReport'
        }
      ]
    }
  },
  components: {
    SubPage
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang='scss'>

</style>
