<template>
    <div class="ReportStudentContainer">
        <div class="btnStudentReportContainer">
            <a v-on:click="getExport()" :class="btn1"><b-button class="btnUserExport" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}" id="btnManagerApprove">Export</b-button></a>
            <b-button class="btnUserExport" id="btnManagerApprove" :class="btn2" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
            <div>
                <div class="loadingAnimation">
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
            </b-button>
            <b-button class="btnGrey btnUserFilter" @click.stop="info(checkedItems, $event.target)">Filters</b-button>
            <b-form-input v-model="filter" placeholder="Search Records..." class="customStudentSearch" />
        </div>
        <p class="reportTableCount" v-if="displayRecord">Reassigned Training ({{pastTrainingCount}} Records)</p>
        <p class="reportTableCount" v-else>Upcoming Expirations Next {{expireDay}} Days ({{expireCount}} Records)</p>
        <div class="loadingContainer" :class="animationFlag">
            <div class="loadingAnimation">
                <div class="lds-ring">
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                </div>
            </div>
        </div>
        <div class="ReportStudentTableContainer">
            <div class="table-scroll" :class="recurrentTrainingTable">
            <div class="userApprovalTable">
                <b-table show-empty
                        stacked="md"
                        :items="items"
                        :fields="fields"
                        :current-page="currentPage"
                        :per-page="perPage"
                        :filter="filter"
                        :sort-by.sync="sortBy"
                        :sort-desc.sync="sortDesc"
                        :sort-direction="sortDirection"
                        @filtered="onFiltered"
                        v-model="tableValues"
                        small
                        class="recTable"
                >
                <template slot="actions" slot-scope="row">
                    <input type="checkbox" :value="row.item" v-model="checkedItems">
                </template>
                <template slot="empID" slot-scope="row">
                    <a @click="reviewRecord()" class="userLink">{{row.item.empID}}</a>
                </template>
                <template slot="firstName" slot-scope="row">
                    <a @click="reviewRecord()" class="userLink">{{row.item.firstName}}</a>
                </template>
                <template slot="lastName" slot-scope="row">
                    <a @click="reviewRecord()" class="userLink">{{row.item.lastName}}</a>
                </template>
                <template slot="workgroup" slot-scope="row">
                    <div :title="`${row.item.workgroup}`">{{ row.item.workgroups }}</div>
                </template>
                <template slot="role" slot-scope="row">
                    <div :title="`${row.item.role}`">{{ row.item.roles }}</div>
                </template>
                </b-table>
                    <div class="userPagination">
                        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" @change="switchPage()" />
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="userProfileModal" ref="myModalRef" size="md" centered title="Filters" no-close-on-backdrop>
            <b-row>
                <b-col cols="12">
                    <label>Display</label>
                    <b-form-select :options="filterOptions" v-model="filterValue" class="courseStatus" />
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="12">
                    <label :class="{'disabledText':this.filterValue === 0}">For the next</label>
                    <div class="input-group mb-3">
                        <b-form-input type="number" class="form-control" :class="{'disabledText':this.filterValue === 0}" v-model="expireDay" min=0 :disabled="this.filterValue === 0"></b-form-input>
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2" :class="{'disabledText':this.filterValue === 0}">Days</span>
                        </div>
                    </div>
                </b-col>
            </b-row>
            <div slot="modal-footer">
              <b-btn class="float-right btnGrey btnReset" variant="secondary" @click="resetTable">
                Reset
              </b-btn>
              <b-btn class="float-right btnGrey btnApply" variant="secondary" @click="filterItems">
                Apply
              </b-btn>
            </div>
        </b-modal>
    </div>
</template>
<script>
var moment = require('moment')
import Vue from 'vue'
moment().format()
function filterGroup (studentRecords) {
  return {roles: studentRecords.role.split(';'), workgroups: studentRecords.workgroup.split(';')}
}
export default {
  data () {
    return {
      items: [],
      hideModalFlag: true,
      fields: [],
      sortBy: null,
      sortDesc: true,
      sortDirection: 'asc',
      filter: null,
      modalInfo: { title: '', content: '' },
      selectAll: 'selected',
      allSelected: false,
      checkedItems: [],
      optionToggle: true,
      tableValues: [],
      filterValue: 0,
      expireDay: 30,
      displayRecord: true,
      pastTrainingCount: 0,
      expireCount: 0,
      filterOptions: [
        { value: 0, text: 'Reassigned Training' },
        { value: 1, text: 'Upcoming Expirations' }
      ],
      expirefield: [
        { key: 'empID', label: 'Username', sortable: true },
        { key: 'firstName', label: 'First', sortable: true },
        { key: 'lastName', label: 'Last', sortable: true },
        { key: 'workgroup', label: 'Workgroup', sortable: true },
        { key: 'role', label: 'Role', sortable: true },
        { key: 'courseName', label: 'Course Name', sortable: true },
        { key: 'dateDue', label: 'Date Due', sortable: true },
        { key: 'daysToExpiration', label: 'Days To Expiration', sortable: true }
      ],
      pastDueField: [
        { key: 'empID', label: 'Username', sortable: true },
        { key: 'firstName', label: 'First', sortable: true },
        { key: 'lastName', label: 'Last', sortable: true },
        { key: 'workgroup', label: 'Workgroup', sortable: true },
        { key: 'role', label: 'Role', sortable: true },
        { key: 'courseName', label: 'Course Name', sortable: true },
        { key: 'dateDue', label: 'Date Due', sortable: true },
        { key: 'daysSinceReassigned', label: 'Days Since Reassigned', sortable: true }
      ],
      currentPage: 1,
      perPage: 15,
      totalRows: 3,
      recurrentTrainingTable: 'hidden',
      animationFlag: 'displayElement',
      btn1: 'displayElement',
      btn2: 'hidden'
    }
  },
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    },
    getReportRecurrent () {
      return this.$store.state.reportRecurrent
    }
  },
  methods: {
    getExport () {
      this.btn1 = 'hidden'
      this.btn2 = 'displayElement'
      window.location.href = 'api/report/recurrent/?format=csv'
      var self = this
      setTimeout(function () {
        self.btn2 = 'hidden'
        self.btn1 = 'displayElement'
      }, 800)
    },
    info (checked, button) {
      this.$root.$emit('bv::show::modal', 'userProfileModal', button)
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    toggleSelected () {
      this.allSelected = !this.allSelected
      this.checkedItems = this.allSelected ? this.tableValues : []
    },
    clearSelected () {
      this.allSelected = false
      this.checkedItems = []
    },
    hideModal () {
      this.$refs.myModalRef.hide()
    },
    multiFilter (array, filters) {
      const filterKeys = Object.keys(filters)
      // filters all elements passing the criteria
      return array.filter((item) => {
      // dynamically validate all filter criteria
        return filterKeys.every(key => !!~filters[key].indexOf(item[key]))
      })
    },
    filterItems () {
      var obj = {}
      if (this.filterValue === 0) {
        this.fields = this.pastDueField
        obj['expire'] = false
        this.recurrentTrainingTable = 'hidden'
        this.animationFlag = 'displayElement'
        this.$store.dispatch('getReportRecurrent', obj)
        this.hideModal()
        this.displayRecord = true
        sessionStorage.setItem('recurrentExpire', false)
        sessionStorage.setItem('recurrentDay', this.expireDay)
      } else {
        this.fields = this.expirefield
        obj['expire'] = true
        this.displayRecord = false
        obj['daysTilDue'] = this.expireDay
        this.recurrentTrainingTable = 'hidden'
        this.animationFlag = 'displayElement'
        this.$store.dispatch('getReportRecurrent', obj)
        sessionStorage.setItem('recurrentExpire', true)
        sessionStorage.setItem('recurrentDay', this.expireDay)
        this.hideModal()
      }
    },
    resetTable () {
      this.hideModalFlag = false
      this.expireDay = 30
      this.filterValue = 0
      this.filterItems()
    },
    reviewRecord () {
      this.$router.push({path: '/IndividualReport'})
    },
    switchPage () {
      var self = this
      Vue.nextTick(function () {
        self.unsetColor()
        var currentNumber = self.currentPage
        var pagination = document.getElementsByClassName('page-link')
        for (var i = 0; i < pagination.length; i++) {
          if (parseInt(pagination[i].innerHTML) === currentNumber) {
            pagination[i].style.backgroundColor = self.$store.state.company.primary
            pagination[i].style.color = 'white'
          }
        }
      })
    },
    unsetColor () {
      var pagination = document.getElementsByClassName('page-link')
      console.log('i went here')
      for (var i = 0; i < pagination.length; i++) {
        pagination[i].style.backgroundColor = 'unset'
        pagination[i].style.color = this.$store.state.company.primary
        pagination[i].style.border = '1px solid #dee2e6'
      }
    },
    reassignLabel () {
      this.pastDueField[4].label = this.$store.state.i18n.tc('role', 1)
      this.expirefield[4].label = this.$store.state.i18n.tc('role', 1)
      this.pastDueField[3].label = this.$store.state.i18n.tc('workgroup', 1)
      this.expirefield[3].label = this.$store.state.i18n.tc('workgroup', 1)
      this.fields = this.pastDueField
    }
  },
  watch: {
    checkedItems (a, b) {
      this.optionToggle = (!a.length > 0)
      this.allSelected = (this.tableValues.length === a.length)
    },
    perPage (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    currentPage (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    filter (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    getReportRecurrent: function (val) {
      console.log(val.length)
      if (val.length !== 0) {
        for (var i = 0; i < val.training.length; i++) {
        var obj = val.training[i]
        var roleArray = val.training[i].role.split(';')
        var workgroupArray = val.training[i].workgroup.split(';')
        roleArray.length > 1 ? obj['roles'] = roleArray[0] + '...' : obj['roles'] = roleArray[0]
        workgroupArray.length > 1 ? obj['workgroups'] = workgroupArray[0] + '...' : obj['workgroups'] = workgroupArray[0]
        }
        this.items = val.training
        this.pastTrainingCount = val.count
      }
      this.recurrentTrainingTable = 'displayElement'
      this.animationFlag = 'hidden'
    }
  },
  mounted: function () {
    this.reassignLabel()
    if (this.$store.state.reportRecurrent.length === 0){
      this.filterItems()
    } else {
      this.items = this.$store.state.reportRecurrent.training
      this.pastTrainingCount = this.$store.state.reportRecurrent.count
      if (sessionStorage.getItem('recurrentExpire')) {
        this.fields = this.expirefield
        this.filterValue = 1
        sessionStorage.getItem('recurrentDay') !== '' ? this.expireDay = sessionStorage.getItem('recurrentDay') : this.expireDay = 30
      } else {
        this.fields = this.pastDueField
        this.filterValue = 0
        sessionStorage.getItem('recurrentDay') !== '' ? this.expireDay = sessionStorage.getItem('recurrentDay') : this.expireDay = 30
      }
      this.recurrentTrainingTable = 'displayElement'
      this.animationFlag = 'hidden'
    }
    document.getElementsByClassName('page-link')[2].style.backgroundColor = this.$store.state.company.primary
    document.getElementsByClassName('page-link')[2].style.borderColor = this.$store.state.company.primary
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss">
    .ReportStudentContainer{
        padding: 30px;
         text-align: left;
         .table-scroll{
            width:100%;
            height: 650px;
            overflow: auto;
         }
         .userPagination{
             float:right;
         }
         .reportTableCount{
             color:white;
             margin-top: -67px;
         }
        .userLink:hover{
            text-decoration: underline;
            cursor: pointer;
        }
        tr{
            background-color:#f4f4f4;
        }
        th{
            background-color:#c9c9c9;
            color:black;
        }
        .table td {
            border-top: 1px solid #c9c9c9;
            color:black;
            a{
                color:black !important;
            }
        }
        .userApprovalTable{
            .recTable{
                margin-top:27px;
            }
        }
        td:nth-child(1){
            padding-left: 15px;
        }
        th:nth-child(1){
            padding-left: 15px;
        }
        .checklistBtn{
            width: 40px;
            padding-bottom: 1px;
        }
        .documentCheckmarkIcon{
            width: auto;
            height: 33px;
            margin-left: -10px;
            margin-top: -10px;
        }
        .hideDocumentIcon{
            visibility: hidden;
        }
        .sorting:before{
            position: absolute;
            bottom: 0;
            display: block;
            opacity: 0.4;
            padding-bottom: inherit;
            font-size: inherit;
            line-height: 180%;
        }
        .sorting:after{
            position: absolute;
            bottom: 0;
            display: block;
            opacity: 0.4;
            padding-bottom: inherit;
            font-size: inherit;
            line-height: 180%;
        }
        .userLink{
            color:black;
        }
        .btnStudentReportContainer{
            float:right;
            display:flex;
            margin-top: -74px;
            .btnUserExport{
                margin-right: 10px;
            }
            .btnUserFilter{
                margin-right: 10px;
            }
            .btn-secondary.disabled, .btn-secondary:disabled{
                background-color: #00AC4E;
            }
            .customStudentSearch{
                -webkit-box-flex: unset;
                -ms-flex: unset;
                flex: unset;
                width: 180px !important;
                margin-right: 5px;
            }
        }
    }
    .dateTo{
        width: 0px;
        margin: 0;
        margin-left: 240px;
        margin-top: -30px;
    }
    #userProfileModal{
        text-align: left;
        .row{
            margin-bottom:10px;
            margin-left: 0px;
        }
        .bgGrey{
            background-color:#f4f4f4;
        }
        label{
            margin-top: 7px;
        }
        .bgBlue{
            background-color: #3567A8;
            color:white;
        }
        .btnApply{
            margin-right: 10px;
        }
        .disabledText{
            color:#c9c9c9;
        }
    }
</style>
