<template>
    <div class="ReportStudentContainer">
        <p class="studentRecordCount">Records ({{studentCount}})</p>
        <div class="btnStudentReportContainer">
            <a v-on:click="getExport()" :class="btn1"><b-button class="btnUserExport" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}" id="btnManagerApprove">Export</b-button></a>
            <b-button class="btnUserExport" id="btnManagerApprove" :class="btn2" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
            <div>
                <div class="loadingAnimation">
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
            </b-button>
            <b-button class="btnGrey btnUserFilter" @click.stop="info(checkedItems, $event.target)">Filters</b-button>
            <b-form-input v-model="search" @change="filterStudentRecords" placeholder="Search Records..." class="customStudentSearch" />
        </div>
        <div class="loadingContainer" :class="animationFlag">
            <div class="loadingAnimation">
                <div class="lds-ring">
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                </div>
            </div>
        </div>
        <div class="ReportStudentTableContainer">
            <div class="table-scroll" :class="studentRecordTable">
                <div class="userApprovalTable">
                    <b-table show-empty
                            stacked="md"
                            :items="items"
                            :fields="fields"
                            :per-page="perPage"
                            :filter="filter"
                            :sort-by.sync="sortBy"
                            :sort-desc.sync="sortDesc"
                            :sort-direction="sortDirection"
                            @filtered="onFiltered"
                            v-model="tableValues"
                            small
                    >
                    <template slot="HEAD_empID" slot-scope="data">
                        <a @click="sortTable('empid', '')" class="sortLink">{{fields[0].label}}</a>
                    </template>
                    <template slot="HEAD_firstName" slot-scope="data">
                        <a @click="sortTable('fname', '')" class="sortLink">{{fields[1].label}}</a>
                    </template>
                    <template slot="HEAD_lastName" slot-scope="data">
                        <a @click="sortTable('lname', '')" class="sortLink">{{fields[2].label}}</a>
                    </template>
                    <template slot="HEAD_workgroup" slot-scope="data">
                        <a @click="sortTable('location', '')" class="sortLink">{{fields[3].label}}</a>
                    </template>
                    <template slot="HEAD_role" slot-scope="data">
                        <a @click="sortTable('role', '')" class="sortLink">{{fields[4].label}}</a>
                    </template>
                    <template slot="HEAD_completedCourses" slot-scope="data">
                        <a @click="sortTable('completed', '')" class="sortLink">{{fields[5].label}}</a>
                    </template>
                    <template slot="HEAD_openCourses" slot-scope="data">
                        <a @click="sortTable('open', '')" class="sortLink">{{fields[6].label}}</a>
                    </template>
                    <template slot="HEAD_failedCourses" slot-scope="data">
                        <a @click="sortTable('failed', '')" class="sortLink">{{fields[7].label}}</a>
                    </template>
                    <template slot="HEAD_lastCourseCompleted" slot-scope="data">
                        <a @click="sortTable('eDate', '')" class="sortLink">{{fields[8].label}}</a>
                    </template>
                    <template slot="HEAD_courseNum" slot-scope="row" v-if="fields === courseAttempts">
                        <a @click="sortTable('cnum', '')" class="sortLink">{{fields[5].label}}</a>
                    </template>
                    <template slot="HEAD_courseName" slot-scope="row" v-if="fields === courseAttempts">
                        <a @click="sortTable('cname', '')" class="sortLink">{{fields[6].label}}</a>
                    </template>
                    <template slot="HEAD_status" slot-scope="row" v-if="fields === courseAttempts">
                        <a @click="sortTable('status', '')" class="sortLink">{{fields[7].label}}</a>
                    </template>
                    <template slot="HEAD_startDate" slot-scope="row" v-if="fields === courseAttempts">
                        <a @click="sortTable('sdate', '')" class="sortLink">{{fields[8].label}}</a>
                    </template>
                    <template slot="HEAD_completeDate" slot-scope="row" v-if="fields === courseAttempts">
                        <a @click="sortTable('cdate', '')" class="sortLink">{{fields[9].label}}</a>
                    </template>
                    <template slot="HEAD_score" slot-scope="row" v-if="fields === courseAttempts">
                        <a @click="sortTable('score', '')" class="sortLink">{{fields[11].label}}</a>
                    </template>
                    <template slot="workgroup" slot-scope="row">
                        <div :title="`${row.item.workgroups}`">{{ row.value }}</div>
                    </template>
                    <template slot="role" slot-scope="row">
                        <div :title="`${row.item.roles}`">{{ row.value }}</div>
                    </template>
                    <template slot="empID" slot-scope="row">
                        <a @click="reviewRecord(row.item)" class="userLink">{{row.item.empID}}</a>
                    </template>
                    <template slot="firstName" slot-scope="row">
                        <a @click="reviewRecord(row.item)" class="userLink">{{row.item.firstName}}</a>
                    </template>
                    <template slot="lastName" slot-scope="row">
                        <a @click="reviewRecord(row.item)" class="userLink">{{row.item.lastName}}</a>
                    </template>
                    <template slot="time" slot-scope="row" v-if="fields === courseAttempts">
                        {{row.value}}
                    </template>
                    <template slot="name" slot-scope="row">{{row.value}}</template>
                    </b-table>
                </div>
                <div class="customPagination">
                    <ul class="my-0 pagination b-pagination pagination-md" role="menubar" aria-label="Pagination">
                        <li role="none presentation" class="page-item" @click="decreasePageNum()">
                            <a role="menuitem" aria-label="Goto previous page" href="#" target="_self" class="page-link">
                                <span aria-hidden="true">‹</span>
                            </a>
                        </li>
                        <li role="none presentation" class="page-item active">
                            <a role="menuitemradio" href="#" class="page-link btn-primary" :style="{ 'background-color': this.$store.state.company.primary, 'border-color': this.$store.state.company.primary}">{{pageNumber}}</a>
                        </li>
                        <li role="none presentation" class="page-item" @click="increasePageNum()">
                            <a role="menuitem" href="#" class="page-link"><span aria-hidden="true">›</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <b-modal id="userProfileModal" ref="myModalRef" size="lg" centered title="Filters" no-close-on-backdrop>
            <b-row>
                <b-col cols="3" class="bgGrey" :style="[statusValue !== 1 ? {'background-color': this.$store.state.company.primary, color:'white'} : []]">
                    <label>Status</label>
                </b-col>
                <b-col cols="9">
                    <b-form-select :options="statusOptions" v-model="statusValue" class="courseStatus" />
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="3" class="bgGrey" :style="[workgroups.length > 0 ? {'background-color': this.$store.state.company.primary, color:'white'} : []]">
                    <label>{{this.$store.state.i18n.tc('workgroup', 2)}}</label>
                </b-col>
                <b-col cols="9">
                    <multiselect class="multiWork" v-model="workgroups" tag-placeholder="Add this as new tag" :placeholder="'Search '+ this.$store.state.i18n.tc('workgroup', 2)" label="groupName" track-by="groupID" :options="this.$store.state.workgroups" :multiple="true" :taggable="false" @tag="addTag">
                    </multiselect>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="3" class="bgGrey" :style="[roles.length > 0 ? {'background-color': this.$store.state.company.primary, color:'white'} : []]">
                    <label>{{this.$store.state.i18n.tc('role', 2)}}</label>
                </b-col>
                <b-col cols="9">
                    <multiselect class="multiRole" v-model="roles" :placeholder="'Search ' + this.$store.state.i18n.tc('role', 2)" tag-placeholder="Add this as new tag" label="groupName" track-by="groupID" :options="this.$store.state.roles" :multiple="true" :taggable="false" @tag="addTag">
                    </multiselect>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="3" class="bgGrey" :style="[courseValue !== -1 ? {'background-color': this.$store.state.company.primary, color:'white'} : []]">
                    <label>Course</label>
                </b-col>
                <b-col cols="9">
                    <b-form-select v-model="courseValue" class="courseStatus">
                        <option :value="-1">All</option>
                        <optgroup label="Curriculums" v-if="curriculumList.length > 0">
                            <option v-for="items in curriculumList" :key="items.value" :value="items.value">{{items.text}}</option>
                        </optgroup>
                        <optgroup label="Courses">
                            <option v-for="items in courseList" :key="items.value" :value="items.value">{{items.text}}</option>
                        </optgroup>
                    </b-form-select>
                </b-col>
            </b-row>
            <!-- <b-row>
                <b-col cols="3" class="bgGrey" :class="{'bgBlue': certificationValue !== 0}">
                    <label>Certification</label>
                </b-col>
                <b-col cols="9">
                    <b-form-select :options="certificationOptions" v-model="certificationValue" class="courseStatus" />
                </b-col>
            </b-row> -->
            <b-row>
                <b-col cols="3" class="bgGrey" :style="[startComplete !== '' && endComplete !== '' ? {'background-color': this.$store.state.company.primary, color: 'white'} : []]">
                    <label>Completion Date</label>
                </b-col>
                <b-col cols="4">
                    <b-form-input type="date" v-model="startComplete"></b-form-input><p class="dateTo">to</p>
                </b-col>
                <b-col cols="5">
                    <b-form-input type="date" v-model="endComplete"></b-form-input>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="3" class="bgGrey" :style="[startHire !== '' && endHire !== '' ? {'background-color': this.$store.state.company.primary, color: 'white'} : []]">
                    <label>Hire Date</label>
                </b-col>
                <b-col cols="4">
                    <b-form-input type="date" v-model="startHire"></b-form-input><p class="dateTo">to</p>
                </b-col>
                <b-col cols="5">
                    <b-form-input type="date" v-model="endHire"></b-form-input>
                </b-col>
            </b-row>
            <div slot="modal-footer">
              <b-btn class="float-right btnGrey btnReset" variant="secondary" @click="resetTable">
                Reset
              </b-btn>
              <b-btn class="float-right btnGrey btnApply" variant="secondary" @click="filterStudentRecords()">
                Apply
              </b-btn>
            </div>
        </b-modal>
    </div>
</template>
<script>
var moment = require('moment')
function filterGroup (studentRecords) {
  return {roles: studentRecords.role.toString().split(';'), workgroups: studentRecords.workgroup.toString().split(';')}
}
moment().format()
export default {
  data () {
    return {
      fields: [],
      defaultFields: [
        { key: 'empID', label: 'Username' },
        { key: 'firstName', label: 'First' },
        { key: 'lastName', label: 'Last' },
        { key: 'workgroup', label: 'Workgroup' },
        { key: 'role', label: 'Role' },
        { key: 'completedCourses', label: '# Complete' },
        { key: 'openCourses', label: '# Open' },
        { key: 'failedCourses', label: '# Failed' },
        { key: 'lastCourseCompleted', label: 'Last Completed' }
      ],
      workgroupOptions: [],
      workGroupValue: '',
      roleOptions: [],
      workgroups: [],
      roles: [],
      roleValue: '',
      sortBy: null,
      sortDesc: true,
      sortDirection: 'asc',
      filter: null,
      search: null,
      modalInfo: { title: '', content: '' },
      selectAll: 'selected',
      allSelected: false,
      checkedItems: [],
      optionToggle: true,
      tableValues: [],
      statusValue: 1,
      startHire: '',
      endHire: '',
      startComplete: '',
      endComplete: '',
      courseValue: -1,
      certificationValue: 0,
      pageNumber: 1,
      statusOptions: [
        { value: 1, text: 'Active' },
        { value: 0, text: 'Inactive' }
      ],
      certificationOptions: [
        { value: 0, text: 'All' }
      ],
      courseOptions: [],
      currentPage: 1,
      perPage: 15,
      totalRows: 3,
      courseList: [],
      curriculumList: [],
      newTable: false,
      sortType: '',
      courseAttempts: [
        { key: 'empID', label: 'Username' },
        { key: 'firstName', label: 'First' },
        { key: 'lastName', label: 'Last' },
        { key: 'workgroup', label: 'Workgroup' },
        { key: 'role', label: 'Role' },
        { key: 'courseNum', label: 'Course #' },
        { key: 'courseName', label: 'Course Name' },
        { key: 'status', label: 'Status' },
        { key: 'startDate', label: 'Start Date' },
        { key: 'completeDate', label: 'End Date' },
        { key: 'time', label: 'Time' },
        { key: 'score', label: 'Score' }
      ],
      studentRecordTable: 'hidden',
      animationFlag: 'displayElement',
      btn1: 'displayElement',
      btn2: 'hidden',
      primaryColor: this.$store.state.company.primary,
      secondaryColor: this.$store.state.company.secondary,
      studentCount: 0
    }
  },
  computed: {
    getStudentCount () {
      return this.$store.state.studentCount
    },
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    },
    items: {
      get () {
        return this.$store.state.studentRecords.map((obj, index) => {
          return {
            empID: obj.empID,
            firstName: obj.firstName,
            lastName: obj.lastName,
            completedCourses: obj.completedCourses,
            openCourses: obj.openCourses,
            failedCourses: obj.failedCourses,
            lastCourseCompleted: obj.lastCourseCompleted,
            score: obj.score,
            completeDate: obj.completeDate,
            startDate: obj.startDate,
            status: obj.status,
            courseNum: obj.courseNum,
            courseName: obj.courseName,
            userProfileID: obj.userProfileID,
            workgroup: (filterGroup(obj).workgroups[0] + (filterGroup(obj).workgroups.length > 1 ? '...' : '')) || '',
            role: (filterGroup(obj).roles[0] + (filterGroup(obj).roles.length > 1 ? '...' : '')) || '',
            workgroups: obj.workgroup,
            roles: obj.role,
            time: obj.time
          }
        })
      }
    },
    loadingFlag: {
      get () {
        return this.$store.state.loadingFlag
      }
    }
  },
  methods: {
    info (checked, button) {
      this.$root.$emit('bv::show::modal', 'userProfileModal', button)
      this.filterCourses()
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    toggleSelected () {
      this.allSelected = !this.allSelected
      this.checkedItems = this.allSelected ? this.tableValues : []
    },
    clearSelected () {
      this.allSelected = false
      this.checkedItems = []
    },
    hideModal () {
      this.$refs.myModalRef.hide()
    },
    addTag (newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
      }
      this.options.push(tag)
      this.value.push(tag)
    },
    multiFilter (array, filters) {
      const filterKeys = Object.keys(filters)
      // filters all elements passing the criteria
      return array.filter((item) => {
      // dynamically validate all filter criteria
        return filterKeys.every(key => !!~filters[key].indexOf(item[key]))
      })
    },
    resetTable () {
      this.statusValue = 1
      this.workGroupValue = ''
      this.roleValue = ''
      this.startHire = ''
      this.endHire = ''
      this.startComplete = ''
      this.endComplete = ''
      this.roles = ''
      this.workgroups = ''
      this.pageNumber = 1
      this.sortType = ''
      this.courseValue = -1
    },
    getExport () {
      this.btn1 = 'hidden'
      this.btn2 = 'displayElement'
      window.location.href = 'api/report/studentrecords/?format=csv'
      var self = this
      setTimeout(function () {
        self.btn2 = 'hidden'
        self.btn1 = 'displayElement'
      }, 800)
    },
    increasePageNum () {
      this.pageNumber = parseInt(this.pageNumber) + 1
      var pageCount = parseInt(this.pageNumber) - 1
      this.sortTable('', pageCount)
    },
    decreasePageNum () {
      if (this.pageNumber === 1) {
        console.log('page cannot be less than 1')
      } else {
        this.pageNumber = parseInt(this.pageNumber) - 1
        var pageCount = parseInt(this.pageNumber) - 1
        this.sortTable('', pageCount)
      }
    },
    reassignLabel () {
      this.defaultFields[4].label = this.$store.state.i18n.tc('role', 1)
      this.courseAttempts[4].label = this.$store.state.i18n.tc('role', 1)
      this.defaultFields[3].label = this.$store.state.i18n.tc('workgroup', 1)
      this.courseAttempts[3].label = this.$store.state.i18n.tc('workgroup', 1)
      this.fields = this.defaultFields
    },
    reviewRecord (user) {
      this.$store.commit('getUserIndividualReport', user.userProfileID)
      this.$router.push({name: 'Individual Report', params: { firstName: user.firstName, lastName: user.lastName, userName: user.empID, userID: user.userProfileID }})
    },
    filterStudentRecords (sort, pageCount) {
      this.studentRecordTable = 'hidden'
      this.animationFlag = 'displayElement'
      var roleList = []
      var workgroupsList = []
      var params = {
        statusID: this.statusValue,
        course: this.courseValue
      }
      if (this.roles.length > 0) {
        for (var i = 0; i < this.roles.length; i++) {
          roleList.push(this.roles[i].groupID)
        }
        roleList = roleList.join('|')
        if (roleList !== '') {
          params['roles'] = roleList
        }
      }
      if (this.workgroups.length > 0) {
        for (var j = 0; j < this.workgroups.length; j++) {
          workgroupsList.push(this.workgroups[j].groupID)
        }
        workgroupsList = workgroupsList.join('|')
        if (workgroupsList !== '') {
          params['workgroups'] = workgroupsList
        }
      }
      if (this.startComplete.length > 0) {
        params['startDate'] = moment(this.startComplete).format('MM/DD/YYYY')
      }
      if (this.endComplete.length > 0) {
        params['endDate'] = moment(this.endComplete).format('MM/DD/YYYY')
      }
      if (this.startHire.length > 0) {
        params['hireStart'] = moment(this.startHire).format('MM/DD/YYYY')
      }
      if (this.endHire.length > 0) {
        params['hireEnd'] = moment(this.endHire).format('MM/DD/YYYY')
      }
      if (this.startHire.length > 0) {
        if (this.courseValue !== -1 || this.startComplete.length > 0) {
          this.fields = this.courseAttempts
          this.newTable = true
        } else {
          this.fields = this.defaultFields
        }
      }
      if (this.courseValue !== -1 || this.startComplete.length > 0) {
        this.fields = this.courseAttempts
        this.newTable = true
      } else {
        this.fields = this.defaultFields
      }
      if (this.search !== null && this.search !== '' && this.search.length > 0) {
        params['search'] = this.search
      }
      this.pageNumber = 1
      this.hideModal()
      sessionStorage.setItem('studentFilter', JSON.stringify(params))
      sessionStorage.setItem('studentRoles', JSON.stringify(this.roles))
      sessionStorage.setItem('studentWorkgroups', JSON.stringify(this.workgroups))
      sessionStorage.setItem('studentPage', 1)
      this.$store.commit('filterStudentRecord', params)
    },
    sortTable (sort, pageNum) {
      if (sort !== '') {
        var objSort = {}
        objSort['sort'] = sort
        this.pageNumber = 1
        this.$store.commit('sortStudentTable', objSort)
      }
      if (pageNum !== '') {
        var objNum = {}
        objNum['pageNum'] = pageNum
        this.$store.commit('sortStudentTable', objNum)
        pageNum = parseInt(pageNum)
        sessionStorage.setItem('studentPage', pageNum + 1)
      }
    },
    filterCourses () {
      // call the state of course list
    //   this.courseList = this.$store.state.courses
    //   this.curriculumList = this.$store.state.curriculums
      var courses = this.$store.state.courses
      var curriculum = this.$store.state.curriculums
      // create new temp arrays to sort courses
      var tempCourse = []
      var tempCurriculum = []
      for (var i = 0; i < courses.length; i++) {
        var list = {}
        // converting object array to work with vue select
        list['value'] = courses[i].courseID
        list['text'] = courses[i].courseName
        tempCourse.push(list)
      }
      for (var i = 0; i < curriculum.length; i++) {
        var list = {}
        // converting object array to work with vue select
        list['value'] = curriculum[i].course.courseID
        list['text'] = curriculum[i].course.courseName
        tempCurriculum.push(list)
      }
      this.courseList = tempCourse
      this.curriculumList = tempCurriculum
      console.log(this.courseList)
      console.log(this.curriculumList)
    },
    getStudentRecords () {
      var studentFilterOptions = sessionStorage.getItem('studentFilter')
      if (sessionStorage.getItem('studentRecords') !== null && sessionStorage.getItem('studentRecords') !== '') {
        this.pageNumber = sessionStorage.getItem('studentPage')
        this.studentCount = sessionStorage.getItem('studentCount')
        if (this.$store.state.studentRecords.length === 0) {
          this.$store.commit('setStudentRecords', null)
        }
        this.animationFlag = 'hidden'
        this.studentRecordTable = 'displayElement'
        if (studentFilterOptions !== '') {
          studentFilterOptions = JSON.parse(studentFilterOptions)
          for (var prop in studentFilterOptions) {
            switch (prop) {
              case 'statusID':
                this.statusValue = studentFilterOptions[prop]
                break
              case 'course':
                this.courseValue = studentFilterOptions[prop]
                break
              case 'workgroups':
                var workgroups = sessionStorage.getItem('studentWorkgroups')
                workgroups = JSON.parse(workgroups)
                this.workgroups = workgroups
                break
              case 'roles':
                var roles = sessionStorage.getItem('studentRoles')
                roles = JSON.parse(roles)
                this.roles = roles
                break
              case 'startDate':
                this.startComplete = moment.utc(studentFilterOptions[prop]).format('YYYY-MM-DD')
                break
              case 'endDate':
                this.endComplete = moment.utc(studentFilterOptions[prop]).format('YYYY-MM-DD')
                break
              case 'hireStart':
                this.hireStart = moment.utc(studentFilterOptions[prop]).format('YYYY-MM-DD')
                break
              case 'hireEnd':
                this.hireEnd = moment.utc(studentFilterOptions[prop]).format('YYYY-MM-DD')
                break
              case 'search':
                this.search = studentFilterOptions[prop]
                break
            }
          }
        }
        return
      }
      var params = {
        startDate: null,
        endDate: null,
        hireStart: null,
        hireEnd: null
      }
      this.pageNumber = 1
      sessionStorage.setItem('studentPage', 1)
      this.$store.commit('filterStudentRecord', params)
    }
  },
  watch: {
    checkedItems (a, b) {
      this.optionToggle = (!a.length > 0)
      this.allSelected = (this.tableValues.length === a.length)
    },
    perPage (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    currentPage (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    filter (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    loadingFlag (value) {
      if (value) {
        this.animationFlag = 'hidden'
        this.studentRecordTable = 'displayElement'
      }
    },
    getStudentCount: function (val) {
      this.studentCount = val
    }
  },
  mounted: function () {
    this.$store.dispatch('getCurriculums')
    this.getStudentRecords()
    this.reassignLabel()
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss">
    .ReportStudentContainer{
        padding: 30px;
        text-align: left;
         .ReportStudentTableContainer{
             .table-scroll{
                height: 650px;
                overflow: auto;
             }
         }
         .sortLink:hover{
             text-decoration: underline !important;
             cursor: pointer;
         }
         .customPagination{
             float:right;
         }
         .userPagination{
             float:right;
         }
         .userLink:hover{
             text-decoration: underline !important;
             cursor: pointer;
         }
        tr{
            background-color:#f4f4f4;
        }
        th{
            background-color:#c9c9c9;
            color:black;
        }
        .table td {
            border-top: 1px solid #c9c9c9;
            color:black;
            a{
                color:black !important;
            }
        }
        td:nth-child(1){
            padding-left: 15px;
        }
        th:nth-child(1){
            padding-left: 15px;
        }
        .checklistBtn{
            width: 40px;
            padding-bottom: 1px;
        }
        .documentCheckmarkIcon{
            width: auto;
            height: 33px;
            margin-left: -10px;
            margin-top: -10px;
        }
        .hideDocumentIcon{
            visibility: hidden;
        }
        .sorting:before{
            position: absolute;
            bottom: 0;
            display: block;
            opacity: 0.4;
            padding-bottom: inherit;
            font-size: inherit;
            line-height: 180%;
        }
        .sorting:after{
            position: absolute;
            bottom: 0;
            display: block;
            opacity: 0.4;
            padding-bottom: inherit;
            font-size: inherit;
            line-height: 180%;
        }
        .userLink{
            color:black;
        }
        .btnStudentReportContainer{
            float:right;
            display:flex;
            margin-top: -74px;
            .btnUserExport{
                margin-right: 10px;
                width:72px;
            }
            .btnUserFilter{
                margin-right:10px;
            }
            .btn-secondary.disabled, .btn-secondary:disabled{
                background-color: #00AC4E;
            }
            .customStudentSearch{
                -webkit-box-flex: unset;
                -ms-flex: unset;
                flex: unset;
                width: 180px !important;
                margin-right: 6px;
            }
            .loadingAnimation{
                height:0px;
            }
            .lds-ring div {
                width: 30px;
                height:30px;
                box-sizing: border-box;
                border: 6px solid white;
                border-color: white transparent transparent transparent;
            }
            .lds-ring{
                width: 45px;
                height: 45px;
                margin-top:1px;
                background-color: unset;
            }
        }
        .customRowReports{
            float: right;
            margin-top: -1px;
            .customFormGroup{
                margin-top: -73px;
            }
        }
    }
    .dateTo{
        width: 0px;
        margin: 0;
        margin-left: 240px;
        margin-top: -30px;
    }
    #userProfileModal{
        text-align: left;
        .row{
            margin-bottom:10px;
            margin-left: 0px;
        }
        .bgGrey{
            background-color:#f4f4f4;
            max-height: 39px;
        }
        label{
            margin-top: 7px;
        }
        .bgBlue{
            background-color: #3567A8;
            color:white;
        }
        .btnApply{
            margin-right: 10px;
        }
    }
    .custom__tag{
      position: relative;
      display: inline-block;
      padding: 4px 0px 4px 10px;
      border-radius: 5px;
      margin-right: 10px;
      color: #fff;
      line-height: 1;
      margin-bottom: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .custom__remove {
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        border-radius: 20px;
        padding:6px;
        color:white;
        cursor: pointer;
      }
      .custom__remove:after{
        content: "\D7";
        font-size: 14px;
      }
    }
    .custom__remove:hover{
      background-color: #447AC4;
    }
    .studentRecordCount {
        margin-top: -66px;
        // margin-left: 120px;
        float: left;
        color:white;
    }
</style>
