<template>
    <div class="summaryReportContainer">
        <p class="summaryRecordCount">Records ({{summaryCount}})</p>
        <div class="summaryReportBtnContainer">
            <div class="btnStudentReportContainer">
                <a v-on:click="getExport()" :class="btn1"><b-button class="btnUserExport" id="btnManagerApprove" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">Export</b-button></a>
                <b-button class="btnGreenSecondary btnUserExport" id="btnManagerApprove" :class="btn2">
                <div>
                    <div class="loadingAnimation">
                        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                    </div>
                </div>
                </b-button>
                <b-form-select class="optionSelect" v-model="reportValue" :options="summaryOptions" @change="switchTable()">
                </b-form-select>
                <b-form-input v-model="search" @change="getRoles" v-if="group === 'r'" :placeholder="textPlaceHolder" class="customStudentSearch" />
                <b-form-input v-model="search" @change="getWorkgroups" v-else :placeholder="textPlaceHolder" class="customStudentSearch" />
            </div>
        </div>
        <div class="loadingContainer" :class="animationFlag">
            <div class="loadingAnimation">
                <div class="lds-ring">
                    <div :style="{'border-color': primaryColor + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': primaryColor + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': primaryColor + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': primaryColor + ' transparent transparent transparent'}"></div>
                </div>
            </div>
        </div>
        <div class="summaryRoleTableContainer">
            <div class="table-scroll" :class="summaryReportTable">
                <div class="summaryRoleTable">
                    <b-table show-empty
                            stacked="md"
                            :items="items"
                            :fields="fields"
                            :per-page="perPage"
                            :filter="filter"
                            :sort-by.sync="sortBy"
                            :sort-desc.sync="sortDesc"
                            :sort-direction="sortDirection"
                            v-model="tableValues"
                            small
                    >
                    <template slot="HEAD_groupName" slot-scope="data">
                        <a @click="sortTable('grpname')" class="sortLink">{{fields[0].label}}</a>
                    </template>
                    <template slot="HEAD_users" slot-scope="data">
                        <a @click="sortTable('grpcount')" class="sortLink">{{fields[1].label}}</a>
                    </template>
                    <template slot="HEAD_completedCourses" slot-scope="data">
                        <a @click="sortTable('completed')" class="sortLink">{{fields[2].label}}</a>
                    </template>
                    <template slot="HEAD_openCourses" slot-scope="data">
                        <a @click="sortTable('open')" class="sortLink">{{fields[3].label}}</a>
                    </template>
                    <template slot="HEAD_failedCourses" slot-scope="data">
                        <a @click="sortTable('failed')" class="sortLink">{{fields[4].label}}</a>
                    </template>
                    <template slot="HEAD_lastCourseCompleted" slot-scope="data">
                        <a @click="sortTable('eDate')" class="sortLink">{{fields[5].label}}</a>
                    </template>
                    <template slot="name" slot-scope="row">{{row.value}}</template>
                    </b-table>
                    <div class="customPagination">
                        <ul class="my-0 pagination b-pagination pagination-md" role="menubar" aria-label="Pagination">
                            <li role="none presentation" class="page-item" @click="decreasePageNum()">
                                <a role="menuitem" aria-label="Goto previous page" href="#" target="_self" class="page-link">
                                    <span aria-hidden="true">‹</span>
                                </a>
                            </li>
                            <li role="none presentation" class="page-item active">
                                <a role="menuitemradio" href="#" class="page-link btn-primary" :style="{ 'background-color': this.$store.state.company.primary, 'border-color': this.$store.state.company.primary}">{{pageNumber}}</a>
                            </li>
                            <li role="none presentation" class="page-item" @click="increasePageNum()">
                                <a role="menuitem" href="#" class="page-link"><span aria-hidden="true">›</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
var moment = require('moment')
moment().format()
export default {
  data () {
    return {
      fields: '',
      tableFields: [
        { key: 'groupName', label: this.$store.state.i18n.tc('role', 1) },
        { key: 'users', label: '# Users' },
        { key: 'completedCourses', label: '# Complete' },
        { key: 'openCourses', label: '# Open', sortable: true },
        { key: 'failedCourses', label: '# Failed', sortable: true },
        { key: 'lastCourseCompleted', label: 'Last Completed', sortable: true }
      ],
      roleValue: '',
      sortBy: null,
      sortDesc: true,
      sortDirection: 'asc',
      filter: null,
      optionToggle: true,
      tableValues: [],
      pageNumber: 1,
      perPage: 15,
      totalRows: 3,
      textPlaceHolder: '',
      summaryOptions: [
        { value: 0, text: 'Role' },
        { value: 1, text: 'Workgroup' }
      ],
      reportValue: 0,
      group: 'r',
      sortType: null,
      summaryReportTable: 'hidden',
      animationFlag: 'displayElement',
      search: null,
      btn1: 'displayElement',
      btn2: 'hidden',
      primaryColor: this.$store.state.company.primary,
      secondaryColor: this.$store.state.company.secondary,
      summaryCount: 0
    }
  },
  computed: {
    getSummaryCount () {
      return this.$store.state.summaryCount
    },
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    },
    items: {
      get () {
        return this.$store.state.summaryReports
      }
    },
    loadingFlag: {
      get () {
        return this.$store.state.loadingFlag
      }
    }
  },
  watch: {
    getSummaryCount: function (val) {
      this.summaryCount = val
    },
    loadingFlag (value) {
      if (value) {
        this.animationFlag = 'hidden'
        this.summaryReportTable = 'displayElement'
      }
    },
    sortOptions (value) {
      this.pageNumber = 1
    }
  },
  methods: {
    info (checked, button) {
      this.$root.$emit('bv::show::modal', 'userProfileModal', button)
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.pageNumber = 1
    },
    toggleSelected () {
      this.allSelected = !this.allSelected
      this.checkedItems = this.allSelected ? this.tableValues : []
    },
    clearSelected () {
      this.allSelected = false
      this.checkedItems = []
    },
    hideModal () {
      this.$refs.myModalRef.hide()
    },
    switchTable () {
      this.search = null
      if (this.reportValue !== 0) {
        this.reportValue = 0
        this.textPlaceHolder = 'Search ' + this.$store.state.i18n.tc('role', 2) + '...'
        this.fields[0].label = this.$store.state.i18n.tc('role', 1)
        this.getRoles()
      } else {
        this.getWorkgroups()
        this.reportValue = 1
        this.fields[0].label = this.$store.state.i18n.tc('workgroup', 1)
        this.textPlaceHolder = 'Search ' + this.$store.state.i18n.tc('workgroup', 2) + '...'
      }
      this.pageNumber = 1
      sessionStorage.setItem('summaryPage', 1)
    },
    getRoles () {
      this.pageNumber = 1
      sessionStorage.setItem('summaryPage', 1)
      sessionStorage.setItem('summarySelect', 0)
      this.animationFlag = 'displayElement'
      this.summaryReportTable = 'hidden'
      this.group = 'r'
      var params = {
        sort: null,
        pageNum: null,
        sumBy: this.group
      }
      if (this.search !== null && this.search !== '' && this.search.length > 0) {
        params['search'] = this.search
        sessionStorage.setItem('summarySearch', this.search)
      }
      this.$store.commit('sortUsers', params)
    },
    getWorkgroups () {
      this.animationFlag = 'displayElement'
      this.summaryReportTable = 'hidden'
      this.pageNumber = 1
      sessionStorage.setItem('summaryPage', 1)
      sessionStorage.setItem('summarySelect', 1)
      this.group = 'w'
      var params = {
        sort: null,
        pageNum: null,
        sumBy: this.group
      }
      if (this.search !== null && this.search !== '' && this.search.length > 0) {
        params['search'] = this.search
        sessionStorage.setItem('summarySearch', this.search)
      }
      this.$store.commit('sortUsers', params)
    },
    increasePageNum () {
      this.pageNumber = parseInt(this.pageNumber) + 1
      var pageCount = parseInt(this.pageNumber) - 1
      var params = {
        sort: this.sortType,
        pageNum: pageCount,
        sumBy: this.group
      }
      sessionStorage.setItem('summaryPage', this.pageNumber)
      this.$store.commit('sortUsers', params)
    },
    decreasePageNum () {
      if (this.pageNumber === 1) {
        console.log('page cannot be less than 1')
      } else {
        this.pageNumber = parseInt(this.pageNumber) - 1
        var pageCount = parseInt(this.pageNumber) - 1
        var params = {
          sort: this.sortType,
          pageNum: pageCount,
          sumBy: this.group
        }
        sessionStorage.setItem('summaryPage', this.pageNumber)
        this.$store.commit('sortUsers', params)
      }
    },
    sortTable (sortType) {
      this.sortType = sortType
      this.pageNumber = 1
      var params = {
        sort: sortType,
        pageNum: this.pageNumber - 1,
        sumBy: this.group
      }
      this.$store.commit('sortUsers', params)
    },
    getExport () {
      this.btn1 = 'hidden'
      this.btn2 = 'displayElement'
      window.location.href = 'api/report/summary/?format=csv'
      var self = this
      setTimeout(function () {
        self.btn2 = 'hidden'
        self.btn1 = 'displayElement'
      }, 500)
    },
    reassignLabel () {
      this.summaryOptions[0].text = this.$store.state.i18n.tc('role', 1)
      this.summaryOptions[1].text = this.$store.state.i18n.tc('workgroup', 1)
      this.tableFields[0].label = this.$store.state.i18n.tc('role', 1)
      this.fields = this.tableFields
    }
  },
  mounted () {
    this.textPlaceHolder = 'Search ' + this.$store.state.i18n.tc('role', 2) + '...'
    this.reassignLabel()
    if (sessionStorage.getItem('summarySelect') !== null) {
      this.animationFlag = 'hidden'
      this.summaryReportTable = 'displayElement'
      var summaryFilter = sessionStorage.getItem('summarySelect')
      summaryFilter = JSON.parse(summaryFilter)
      if (this.$store.state.summaryReports.length === 0) {
        this.$store.commit('setSummaryData', null)
      }
      this.reportValue = parseInt(summaryFilter)
      this.pageNumber = sessionStorage.getItem('summaryPage')
      this.search = sessionStorage.getItem('summarySearch')
      this.summaryCount = sessionStorage.getItem('summaryCount')
    } else {
      this.getRoles()
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss">
    .summaryReportContainer{
        padding: 30px;
        .summaryReportBtnContainer{
            float:right;
            display:flex;
            margin-top: -74px;
        }
        .table-scroll{
            height: 650px;
            overflow: auto;
        }
        .customPagination{
            float:right;
        }
         text-align: left;
         .userPagination{
             float:right;
         }
         .optionSelect{
             width: 130px;
             margin-right:10px;
         }
        .courseLink:hover{
            text-decoration: underline;
            cursor: pointer;
        }
        tr{
            background-color:#f4f4f4;
        }
        th{
            background-color:#c9c9c9;
            color:black;
        }
        .table td {
            border-top: 1px solid #c9c9c9;
            color:black;
            a{
                color:black !important;
            }
        }
        td:nth-child(1){
            padding-left: 15px;
        }
        th:nth-child(1){
            padding-left: 15px;
        }
        .checklistBtn{
            width: 40px;
            padding-bottom: 1px;
        }
        .documentCheckmarkIcon{
            width: auto;
            height: 33px;
            margin-left: -10px;
            margin-top: -10px;
        }
        .hideDocumentIcon{
            visibility: hidden;
        }
        .sorting:before{
            position: absolute;
            bottom: 0;
            display: block;
            opacity: 0.4;
            padding-bottom: inherit;
            font-size: inherit;
            line-height: 180%;
        }
        .sorting:after{
            position: absolute;
            bottom: 0;
            display: block;
            opacity: 0.4;
            padding-bottom: inherit;
            font-size: inherit;
            line-height: 180%;
        }
        .userLink{
            color:black;
        }
        .btnStudentReportContainer{
            display:flex;
            float:right;
            .btnUserExport{
                margin-right:10px;
            }
            .btn-secondary.disabled, .btn-secondary:disabled{
                background-color: #00AC4E;
            }
            .customStudentSearch{
                -webkit-box-flex: unset;
                -ms-flex: unset;
                flex: unset;
                width: 180px !important;
                margin-right: 5px;
            }
            .loadingAnimation{
                height:0px;
            }
            .lds-ring div {
                width: 30px;
                height:30px;
                box-sizing: border-box;
                border: 6px solid white;
                border-color: white transparent transparent transparent;
            }
            .lds-ring{
                width: 45px;
                height: 45px;
                margin-top:1px;
                background-color: unset;
            }
        }
    }
    .dateTo{
        width: 0px;
        margin: 0;
        margin-left: 240px;
        margin-top: -30px;
    }
    #userProfileModal{
        text-align: left;
        .row{
            margin-bottom:10px;
            margin-left: 0px;
        }
        .bgGrey{
            background-color:#f4f4f4;
        }
        label{
            margin-top: 7px;
        }
        .bgBlue{
            background-color: #3567A8;
            color:white;
        }
        .btnApply{
            margin-right: 10px;
        }
    }
    .sortLink:hover{
        cursor: pointer;
        text-decoration: underline !important;
    }
    .summaryRecordCount {
        margin-top: -66px;
        // margin-left: 120px;
        float: left;
        color:white;
    }
</style>
