<template>
  <div>
    <div class="btnSaveCancelContainer">
      <b-button class="btnSaveCourse" @click="save" :style="{'background-color': secondaryColor, 'border-color': secondaryColor}">Save</b-button>
      <b-button class="btnGrey" :to="{path: '/GroupManagement/Roles'}" v-if="this.role.groupID !== null">Close</b-button>
      <b-button class="btnGrey" :to="{path: '/GroupManagement/Roles'}" v-else>Cancel</b-button>
    </div>
    <SubPage :Navigation="Navigation"/>
  </div>
</template>
<script>
import SubPage from '@/components/SubPage.vue'
import Group from '@/store/group.js'
export default {
  data () {
    return {
      Navigation: [
        {
          name: 'Settings',
          route: '/NewRole/RoleSettings'
        },
        {
          name: 'Courses Assigned',
          route: '/NewRole/RoleAssignment'
        }
      ],
      role: new Group(),
      secondaryColor: this.$store.state.company.secondary
    }
  },
  components: {
    SubPage
  },
  methods: {
    save () {
      this.$store.dispatch('role')
    },
    cancel () {
      this.$router.push({path: '/GroupManagement/Roles'})
    }
  },
  mounted: function () {
    this.role = (this.$store.state.role != null) ? this.$store.state.role : new Group()
  }
}
</script>
