<template>
    <div class="editRoleContainer">
        <div class="roleForm">
            <b-row>
                <b-col cols="6">
                    <label>{{this.$store.state.i18n.tc('role', 1)}} Name</label>
                    <b-form-input v-model="role.groupName" type="text" :state="roleNameChecker"
                    ></b-form-input>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="6">
                    <label>Description</label>
                    <b-form-input
                    v-model="role.groupDescription"
                    type="text"
                    ></b-form-input>
                </b-col>
            </b-row>
        </div>
    </div>
</template>

<script>
import Group from '@/store/group.js'
export default {
  data () {
    return {
      role: new Group(),
      assignedCourses: ''
    }
  },
  computed: {
    roleNameChecker () {
      return this.role.groupName.length >= 1
    }
  },
  watch: {
    role: function (role, oldRole) {
      this.$store.commit('role', role)
    }
  },
  beforeDestroy: function () {
    this.$store.commit('role', this.role)
  },
  mounted: function () {
    this.role = (this.$store.state.role != null) ? this.$store.state.role : new Group()
  }
}
</script>

<style lang="scss">
    .editRoleContainer{
        .row{
            text-align: left;
            margin-bottom: 15px;
        }
        .roleForm{
            text-align: left;
            background-color: #f4f4f4;
            padding: 30px;
        }
    }
</style>
