<template>
    <div class="courseIPContainer">
        <div class="scroller">
            <div class="courseIPForm">
                <label>Status</label>
                <br>
                <b-col cols="6">
                    <b-form-select :options="courseOptions" v-model="courseValue" class="courseSelect"/>
                </b-col>
                <br>
                <label :class="{'disabledTextColor':this.courseValue === 0}">Restricted IP Address list:</label>
                <b-col cols="6">
                    <b-form-textarea
                        v-model="courseText"
                        placeholder=""
                        :rows="6"
                        :max-rows="10"
                        :no-resize="true"
                        :maxlength="75"
                        :disabled="this.courseValue === 0"
                        class="courseIPTextArea">
                    </b-form-textarea>
                </b-col>
                <p style="font-size:12px; margin-bottom: 0px;" :class="{'disabledTextColor':this.courseValue === 0}">Enter only one IP address per line</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      courseOptions: [
        {text: 'Inactive', value: 0},
        {text: 'Active', value: 1}
      ],
      courseValue: 0,
      courseIPTextArea: '',
      courseText: ''
    }
  },
  watch: {
    courseValue (val) {
      if (val === 1) {
        this.$store.commit('SET_COURSE_SECURITY_STATUS', 'on')
      } else {
        this.$store.commit('SET_COURSE_SECURITY_STATUS', 'off')
      }
    },
    courseText (val) {
      this.$store.commit('SET_COURSE_SECURITY_IP', this.courseText)
    }
  },
  mounted: function () {
    if(this.$store.state.config.IPEnable === 'on') {
      this.courseValue = 1
    } else {
      this.courseValue = 0
    }
    this.courseText = this.$store.state.config.IPPatVal 
  }
}
</script>

<style lang="scss">
    .courseIPContainer{
        .courseIPForm{
            text-align: left;
            background-color: #f4f4f4;
            padding:30px;
            margin-bottom: 20px;
        }
        .courseSelect{
            margin-bottom: 20px;
        }
        .col-6{
            padding:0;
        }
        .courseIPTextArea{
            margin-bottom: 10px;
        }
        .disabledTextColor{
            color:#c9c9c9;
        }
        .courseIPTextArea:disabled{
            color: #c9c9c9;
        }
    }
</style>
