<template>
  <div>
    <div class="btnSaveCancelContainer">
      <b-button class="btnGreenSecondary btnSaveCourse" @click="save()">Save</b-button>
      <b-button class="btnGrey" :to="{name: 'System Management'}">Cancel</b-button>
    </div>
    <SubPage :Navigation="Navigation"/>
  </div>
</template>
<script>
import SubPage from '@/components/SubPage.vue'
export default {
  data () {
    return {
      Navigation: [
        {
          name: 'Login ID Check',
          route: '/Security/LoginCheck'
        },
        {
          name: 'Course IP Restriction',
          route: '/Security/CourseIpRestriction'
        }
      ]
    }
  },
  components: {
    SubPage
  },
  methods: {
    save () {
      this.$store.dispatch('pushCompanySecurity')
    }
  },
}
</script>
