<template>
    <div class="loginCheckContainer">
        <div class="scroller">
            <div class="loginForm">
                <label>Status</label>
                <br>
                <b-col cols="6">
                    <b-form-select :options="loginOptions" v-model="loginValue" class="loginSelect"/>
                </b-col>
                <br>
                <label :class="{'disabledTextColor':this.loginValue === 0}">Ignore Login ID Check for these addresses:</label>
                <b-col cols="6">
                    <b-form-textarea
                        v-model="loginCheckText"
                        placeholder=""
                        :rows="6"
                        :max-rows="10"
                        :no-resize="true"
                        :maxlength="75"
                        :disabled="this.loginValue === 0"
                        class="loginCheckTextArea">
                    </b-form-textarea>
                </b-col>
                <p style="font-size:12px; margin-bottom: 0px;" :class="{'disabledTextColor':this.loginValue === 0}">Enter only one IP address per line</p>
            </div>
            </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      loginOptions: [
        {text: 'Inactive', value: 0},
        {text: 'Active', value: 1}
      ],
      loginValue: 0,
      loginCheckText: ''
    }
  },
  watch: {
    loginValue (val) {
      if (val === 1) {
        this.$store.commit('SET_SECURITY_LOGIN_STATUS', 'on')
      } else {
        this.$store.commit('SET_SECURITY_LOGIN_STATUS', 'off')
      }
    },
    loginCheckText (val) {
      this.$store.commit('SET_SECRUITY_LOGIN_IP', this.loginCheckText)
    }
  },
  mounted: function () {
    if(this.$store.state.config.SecondaryLoginValidationEnable === 'on') {
      this.loginValue = 1
    } else {
      this.loginValue = 0
    }
    this.loginCheckText = this.$store.state.config.SecondaryLoginValidationIPExceptions
  }
}
</script>

<style lang="scss">
    .loginCheckContainer{
        .loginForm{
            text-align: left;
            background-color: #f4f4f4;
            padding:30px;
            margin-bottom: 20px;
        }
        .loginSelect{
            margin-bottom: 20px;
        }
        .loginCheckTextArea{
            margin-bottom: 10px;
        }
        .col-6{
            padding: 0;
        }
        .disabledTextColor{
            color:#c9c9c9;
        }
        .loginCheckTextArea:disabled{
            color: #c9c9c9;
        }
    }
</style>
