<template>
    <div class="manageUserPermissionContainer">
        <SubLayoutFullWidthContainer/>
        <div class="btnManagePermissionContainer1">
            <div class="searchContainer">
                <b-form-input v-model="filter" placeholder="Search Presets..." />
            </div>
            <b-button class="btnGrey btnDone" :to="{path: '/NewUserProfile/UserManager'}">Done</b-button>
        </div>
        <div class="btnManageContainer2">
            <b-button class="btnNewPreset" @click.stop="info(null,'new')" :style="{'background-color': secondaryColor, 'border-color': secondaryColor}">New Presets</b-button>
            <b-dropdown class="presetDropDown" id="presetDropDown" text="Options" :disabled="optionToggle" v-if="false">
                <b-dropdown-item @click.stop="info(checkedItems,'delete')">Delete</b-dropdown-item>
            </b-dropdown>
        </div>
        <div class="manageUserTableContainer">
            <div class="loadingContainer" :class="animationFlag">
                <div class="loadingAnimation">
                    <div class="lds-ring">
                        <div :style="{'border-color': primaryColor + ' transparent transparent transparent'}"></div>
                        <div :style="{'border-color': primaryColor + ' transparent transparent transparent'}"></div>
                        <div :style="{'border-color': primaryColor + ' transparent transparent transparent'}"></div>
                        <div :style="{'border-color': primaryColor + ' transparent transparent transparent'}"></div>
                    </div>
                </div>
            </div>
            <div class="table-scroll" :class="managerPresetTable">
                <div class="manageUserTable">
                    <b-table show-empty
                            stacked="md"
                            :items="items"
                            :fields="fields"
                            :current-page="currentPage"
                            :per-page="perPage"
                            :filter="filter"
                            :sort-by.sync="sortBy"
                            :sort-desc.sync="sortDesc"
                            :sort-direction="sortDirection"
                            @filtered="onFiltered"
                            v-model="tableValues"
                            small
                    >
                    <template slot="HEAD_actions" slot-scope="head">
                        <!-- A custom formatted header cell for field 'name' -->
                        <b-form-checkbox @click.native="toggleSelected" v-model="allSelected"></b-form-checkbox>
                    </template>
                    <template slot="actions" slot-scope="row">
                        <b-form-checkbox :value="row.item" v-model="checkedItems"></b-form-checkbox>
                    </template>
                    <template slot="description" slot-scope="row">
                        <a @click.stop="info(null,'edit', row.item)" class="certLink">{{row.item.description}}</a>
                    </template>
                    </b-table>
                    <div class="userPagination">
                        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" @change="switchPage()"/>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="editModal" ref="editRef" centered :title="editModal.title" size="lg" no-close-on-backdrop>
            <div class="modalForm">
                <label>Name</label>
                <b-form-input type="text" v-model="editPresetName" :state="editValidPresetName" :disabled="true"></b-form-input>
                <p style="margin-top:15px;">Permission Options</p>
                <b-form-checkbox-group name="UserPermissions" v-model="EditUserPermissions">
                    <div class="row">
                            <div class="col-sm-4">
                                <b>Reports</b>
                                <br>
                                <b-form-checkbox :value="8" :unchecked-value="false" v-if="(this.$store.state.session.accessMode & 8) === 8 || this.$store.state.session.accessLevel === 3" @change.native="toggleViewReportsEdit(4096)">View Reports</b-form-checkbox>
                                <b-form-checkbox :value="4096" :disabled="!EditUserPermissions.includes(8)" v-if="(this.$store.state.session.accessMode & 4096) === 4096 || this.$store.state.session.accessLevel === 3">Course Status Override</b-form-checkbox>
                            </div>
                            <div class="col-sm-4">
                                <b>Add/Update Users</b>
                                <br>
                                <b-form-checkbox :value="272" @change.native="toggleViewUserEdit(1024)" v-if="(this.$store.state.session.accessMode & 272) === 272 || this.$store.state.session.accessLevel === 3">View User Profiles</b-form-checkbox>
                                <b-form-checkbox :value="1024" :disabled="!EditUserPermissions.includes(272)" v-if="(this.$store.state.session.accessMode & 1024) === 1024 || this.$store.state.session.accessLevel === 3">Edit Existing Profiles</b-form-checkbox>
                                <b-form-checkbox :value="512" v-if="(this.$store.state.session.accessMode & 512) === 512 || this.$store.state.session.accessLevel === 3">Add New Users</b-form-checkbox>
                                <b-form-checkbox :value="2048" v-if=" this.$store.state.session.accessLevel === 3 ||(this.$store.state.session.accessMode & 2048) === 2048">Add New Managers</b-form-checkbox>
                            </div>
                            <div class="col-sm-4">
                                <b>Add/Update Groups</b>
                                <br>
                                <b-form-checkbox :value="4" v-if="(this.$store.state.session.accessMode & 4) === 4 || this.$store.state.session.accessLevel === 3">View/Edit {{this.$store.state.i18n.tc('role', 2)}}</b-form-checkbox>
                                <b-form-checkbox :value="2" v-if="(this.$store.state.session.accessMode & 2) === 2 || this.$store.state.session.accessLevel === 3">View/Edit {{this.$store.state.i18n.tc('workgroup', 2)}}</b-form-checkbox>
                            </div>
                    </div>
                    <div class="row" style="margin-top: 25px;">
                        <div class="col-sm-4">
                            <b>Add/Update Courses</b>
                            <br>
                            <b-form-checkbox :value="1" v-if="(this.$store.state.session.accessMode & 1) === 1 || this.$store.state.session.accessLevel === 3">View/Edit Courses</b-form-checkbox>
                        </div>
                        <div class="col-sm-4">
                            <b>System Management</b>
                            <br>
                            <b-form-checkbox :value="32" v-if="(this.$store.state.session.accessMode & 32) === 32 || this.$store.state.session.accessLevel === 3">View/Edit</b-form-checkbox>
                        </div>
                    </div>
                </b-form-checkbox-group>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Cancel
                </b-btn>
                <b-btn class="float-right" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}" style="margin-right: 10px;" variant="secondary" @click="updatePrest()">
                    Save
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="newPresetModal" ref="newRef" centered :title="newPresetModal.title" size="lg" no-close-on-backdrop>
            <div class="modalForm">
                <label>Name</label>
                <b-form-input type="text" v-model="presetName" :state="validPresetName"></b-form-input>
                <p style="margin-top:15px;">Permission Options</p>
                <b-form-checkbox-group name="UserPermissions" v-model="UserPermissions">
                    <div class="row">
                            <div class="col-sm-4">
                                <b>Reports</b>
                                <br>
                                <b-form-checkbox :value="8" :unchecked-value="false" v-if="(this.$store.state.session.accessMode & 8) === 8 || this.$store.state.session.accessLevel === 3" @change.native="toggleViewReports(4096)">View Reports</b-form-checkbox>
                                <b-form-checkbox :value="4096" :disabled="!UserPermissions.includes(8)" v-if="(this.$store.state.session.accessMode & 4096) === 4096 || this.$store.state.session.accessLevel === 3">Course Status Override</b-form-checkbox>
                            </div>
                            <div class="col-sm-4">
                                <b>Add/Update Users</b>
                                <br>
                                <b-form-checkbox :value="272" @change.native="toggleViewUser(1024)" v-if="(this.$store.state.session.accessMode & 272) === 272 || this.$store.state.session.accessLevel === 3">View User Profiles</b-form-checkbox>
                                <b-form-checkbox :value="1024" :disabled="!UserPermissions.includes(272)" v-if="(this.$store.state.session.accessMode & 1024) === 1024 || this.$store.state.session.accessLevel === 3">Edit Existing Profiles</b-form-checkbox>
                                <b-form-checkbox :value="512" v-if="(this.$store.state.session.accessMode & 512) === 512 || this.$store.state.session.accessLevel === 3">Add New Users</b-form-checkbox>
                                <b-form-checkbox :value="2048" v-if=" this.$store.state.session.accessLevel === 3 ||(this.$store.state.session.accessMode & 2048) === 2048">Add New Managers</b-form-checkbox>
                            </div>
                            <div class="col-sm-4">
                                <b>Add/Update Groups</b>
                                <br>
                                <b-form-checkbox :value="4" v-if="(this.$store.state.session.accessMode & 4) === 4 || this.$store.state.session.accessLevel === 3">View/Edit {{this.$store.state.i18n.tc('role', 2)}}</b-form-checkbox>
                                <b-form-checkbox :value="2" v-if="(this.$store.state.session.accessMode & 2) === 2 || this.$store.state.session.accessLevel === 3">View/Edit {{this.$store.state.i18n.tc('workgroup', 2)}}</b-form-checkbox>
                            </div>
                    </div>
                    <div class="row" style="margin-top: 25px;">
                        <div class="col-sm-4">
                            <b>Add/Update Courses</b>
                            <br>
                            <b-form-checkbox :value="1" v-if="(this.$store.state.session.accessMode & 1) === 1 || this.$store.state.session.accessLevel === 3">View/Edit Courses</b-form-checkbox>
                        </div>
                        <div class="col-sm-4">
                            <b>System Management</b>
                            <br>
                            <b-form-checkbox :value="32" v-if="(this.$store.state.session.accessMode & 32) === 32 || this.$store.state.session.accessLevel === 3">View/Edit</b-form-checkbox>
                        </div>
                    </div>
                </b-form-checkbox-group>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Cancel
                </b-btn>
                <b-btn class="float-right" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}" style="margin-right: 10px;" variant="secondary" @click="savePreset()">
                    Save
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="deleteModal" ref="deleteRef" centered :title="deleteModal.title">
            <div class="modalForm">
                <p>Are you sure you want to delete the following preset(s)? This is action cannot be undone?</p>
                <ul class="checkedList" style="padding-left: 17px;">
                    <b><li v-for="list in deleteModal.list" :key="list.no">{{list.name}}</li></b>
                </ul>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Cancel
                </b-btn>
                <b-btn class="float-right btnGrey" style="margin-right: 10px;" variant="secondary" @click="hideModal">
                    Delete
                </b-btn>
            </div>
        </b-modal>
    </div>
</template>
<script>
import SubLayoutFullWidthContainer from '@/components/SubLayout-Full-Width.vue'
import Vue from 'vue'

export default {
  components: {
    SubLayoutFullWidthContainer
  },
  data () {
    return {
      items: [],
      fields: [
        { key: 'actions', label: '', class: 'text-center' },
        { key: 'description', label: 'Preset Name', sortable: true }
      ],
      checkedItems: [],
      currentPage: 1,
      UserPermissions: [],
      EditUserPermissions: [],
      perPage: 15,
      totalRows: 3,
      accessValue: 0,
      sortBy: '',
      sortDesc: false,
      sortDirection: 'desc',
      filter: null,
      deleteModal: { title: '', content: '' },
      editModal: { title: '', content: '' },
      newPresetModal: { title: '', content: '' },
      selectAll: 'selected',
      allSelected: false,
      optionToggle: true,
      tableValues: [],
      statusValue: 0,
      presetName: '',
      editPresetName: '',
      possiblePermissions: [1, 2, 4, 8, 4096, 272, 512, 2048, 1024, 32, 128],
      userIndex: '',
      managerPresetTable: 'hidden',
      animationFlag: 'displayElement',
      primaryColor: this.$store.state.company.primary,
      secondaryColor: this.$store.state.company.secondary
    }
  },
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    },
    validPresetName () {
      return this.presetName.length > 1
    },
    editValidPresetName () {
      return this.editPresetName.length > 1
    }
  },
  methods: {
    info (checked, button, data) {
      switch (button) {
        case 'delete':
          this.deleteModal.title = 'Delete Preset(s)'
          this.deleteModal.list = checked
          this.$root.$emit('bv::show::modal', 'deleteModal')
          break
        case 'edit':
          this.editModal.title = 'Preset'
          this.$root.$emit('bv::show::modal', 'editModal')
          this.editPresetName = data.description
          this.setPresets(data.value)
          this.userIndex = data.index
          break
        case 'new':
          this.UserPermissions = []
          this.presetName = ''
          this.newPresetModal.title = 'New Preset'
          this.$root.$emit('bv::show::modal', 'newPresetModal')
          break
      }
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    toggleSelected () {
      this.allSelected = !this.allSelected
      this.checkedItems = this.allSelected ? this.tableValues : []
    },
    clearSelected () {
      this.allSelected = false
      this.checkedItems = []
    },
    hideModal () {
      this.$refs.deleteRef.hide()
      this.$refs.editRef.hide()
      this.$refs.newRef.hide()
    },
    resetTable () {
    },
    resetModal () {
    },
    switchPage () {
      var self = this
      Vue.nextTick(function () {
        self.unsetColor()
        var currentNumber = self.currentPage
        var pagination = document.getElementsByClassName('page-link')
        for (var i = 0; i < pagination.length; i++) {
          if (parseInt(pagination[i].innerHTML) === currentNumber) {
            pagination[i].style.backgroundColor = self.$store.state.company.primary
            pagination[i].style.color = 'white'
          }
        }
      })
    },
    unsetColor () {
      var pagination = document.getElementsByClassName('page-link')
      for (var i = 0; i < pagination.length; i++) {
        pagination[i].style.backgroundColor = 'unset'
        pagination[i].style.color = this.$store.state.company.primary
        pagination[i].style.border = '1px solid #dee2e6'
      }
    },
    toggleViewReports (value) {
      if (!this.UserPermissions.includes(8)) {
        this.UserPermissions.push(8)
      } else {
        this.UserPermissions = this.UserPermissions.filter(e => e !== value)
        this.UserPermissions = this.UserPermissions.filter(e => e !== 8)
      }
    },
    toggleViewUser (value) {
      if (!this.UserPermissions.includes(272)) {
        this.UserPermissions.push(272)
      } else {
        this.UserPermissions = this.UserPermissions.filter(e => e !== value)
        this.UserPermissions = this.UserPermissions.filter(e => e !== 272)
      }
    },
    toggleViewReportsEdit (value) {
      if (!this.EditUserPermissions.includes(8)) {
        this.EditUserPermissions.push(8)
      } else {
        this.EditUserPermissions = this.EditUserPermissions.filter(e => e !== value)
        this.EditUserPermissions = this.EditUserPermissions.filter(e => e !== 8)
      }
    },
    toggleViewUserEdit (value) {
      if (!this.EditUserPermissions.includes(272)) {
        this.EditUserPermissions.push(272)
      } else {
        this.EditUserPermissions = this.EditUserPermissions.filter(e => e !== value)
        this.EditUserPermissions = this.EditUserPermissions.filter(e => e !== 272)
      }
    },
    setPresetData () {
      var tempArray = []
      if (sessionStorage.getItem('currentPreset') === null) {
        var data = this.$store.state.managerPreset
        if (data.length === 0) {
          this.items = []
        } else {
          for (var i = 0; i < data.length; i++) {
            var tempObj = data[i].securityMode
            tempObj['index'] = i
            tempArray.push(tempObj)
          }
        }
      } else {
        var tempSession = sessionStorage.getItem('currentPreset')
        var parsePrest = JSON.parse(tempSession)
        tempArray = parsePrest
      }
      this.items = tempArray
    },
    setPresets (value) {
      this.EditUserPermissions = []
      for (var p = 0; p < this.possiblePermissions.length; p++) {
        if ((value & this.possiblePermissions[p]) === this.possiblePermissions[p]) this.EditUserPermissions.push(this.possiblePermissions[p])
      }
    },
    updatePrest () {
      var objectPreset = {}
      var reducer = (accumulator, currentValue) => accumulator + currentValue
      objectPreset['description'] = this.editPresetName
      if (this.EditUserPermissions.length !== 0) {
        objectPreset['value'] = this.EditUserPermissions.reduce(reducer)
      } else {
        objectPreset['value'] = 0
      }
      objectPreset['action'] = 'update'
      this.$store.commit('saveManagerPreset', objectPreset)
      if (this.EditUserPermissions.length === 0) {
        return
      }
      delete objectPreset.action
      objectPreset['index'] = this.userIndex
      this.items.splice(this.userIndex, 1, objectPreset)
      this.$store.commit('getManagerPresets')
      this.showLoadingAnimation()
      this.hideModal()
      var self = this
      setTimeout(function () {
        self.hideLoadingAnimation()
      }, 1000)
      console.log(this.items)
      sessionStorage.removeItem('managerPresetValue')
      sessionStorage.removeItem('permissionPreset')
      sessionStorage.setItem('currentPreset', JSON.stringify(this.items))
    },
    savePreset () {
      var objectPreset = {}
      var reducer = (accumulator, currentValue) => accumulator + currentValue
      objectPreset['description'] = this.presetName
      if (this.UserPermissions.length !== 0) {
        objectPreset['value'] = this.UserPermissions.reduce(reducer)
      } else {
        objectPreset['value'] = 0
      }
      objectPreset['action'] = 'create'
      this.$store.commit('saveManagerPreset', objectPreset)
      if (this.UserPermissions.length === 0) {
        return
      }
      this.hideModal()
      delete objectPreset.action
      this.items.push(objectPreset)
      this.$store.commit('getManagerPresets')
      this.showLoadingAnimation()
      var self = this
      setTimeout(function () {
        self.hideLoadingAnimation()
      }, 1000)
      sessionStorage.removeItem('managerPresetValue')
      sessionStorage.setItem('currentPreset', JSON.stringify(this.items))
    },
    showLoadingAnimation () {
      this.animationFlag = 'displayElement'
      this.managerPresetTable = 'hidden'
    },
    hideLoadingAnimation () {
      this.animationFlag = 'hidden'
      this.managerPresetTable = 'displayElement'
    }
  },
  watch: {
    checkedItems (a, b) {
      this.optionToggle = (!a.length > 0)
      this.allSelected = (this.tableValues.length === a.length)
    },
    perPage (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    currentPage (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    filter (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    }
  },
  mounted: function () {
    document.getElementsByClassName('page-link')[2].style.backgroundColor = this.$store.state.company.primary
    document.getElementsByClassName('page-link')[2].style.borderColor = this.$store.state.company.primary
    this.setPresetData()
    var self = this
    setTimeout(function () {
      self.hideLoadingAnimation()
    }, 1000)
  }
}
</script>
<style lang="scss">
    .manageUserPermissionContainer{
        .searchContainer{
            margin-top: -44px;
            margin-right: 110px;
        }
        .btnDone{
            margin-top:-44px;
            float:right;
            margin-right: 36px;
        }
        .modalForm{
            text-align: left;
        }
        .btnManageContainer2{
            float:left;
            .btnNewPreset, .presetDropDown{
                margin-top:-75px;
                margin-left:5px;
            }
            .btnNewPreset{
                margin-left:37px;
            }
            #presetDropDown__BV_toggle_{
                background-color: #c9c9c9;
                border-color: #c9c9c9;
                color: black !important;
            }
            #presetDropDown__BV_toggle_:hover{
                background-color: #f4f4f4;
                border-color: #f4f4f4;
                color:black;
            }
        }
        .manageUserTableContainer{
            padding: 30px;
            text-align: left;
            .userPagination{
                float:right;
            }
            tr{
                background-color:#f4f4f4;
            }
            th{
                background-color:#c9c9c9;
                color:black;
            }
            .table td {
                border-top: 1px solid #c9c9c9;
                color:black;
            }
            tr td:first-child, th:first-child{
                width:60px;
            }
            .table thead th{
                border-bottom: 0px;
                border-top: 0px;
            }
            .loadingContainer{
                margin-left:0px;
            }
        }
        .btnManagePermissionContainer1{
            float:right;
            .btnUserExport{
                margin-left: -430px;
                margin-top:-75px;
                margin-right: 5px;
            }
            .btnUserFilter{
                margin-top: -75px;
            }
            .customUserSearch{
                margin-top: -68px;
                margin-left: -36px;
            }
            .btn-secondary.disabled, .btn-secondary:disabled{
                background-color: #00AC4E;
            }
        }
        .certLink:hover{
            text-decoration: underline !important;
            cursor: pointer;
        }
        .custom-control-input:disabled ~ .custom-control-label{
            color:#c9c9c9;
        }
        #presetDropDown__BV_toggle_:disabled{
            background-color: #c9c9c9!important;
            border-color: #c9c9c9!important;
            color: #000!important;
        }
        #editModal .custom-control, #newPresetModal .custom-control{
            min-height: 2em;
        }
    }

</style>
