<template>
    <div>
        <SubLayoutFullWidthContainer/>
        <div class="btnManagerContainer">
            <b-button class="btnGreenSecondary btnManagerApprove" id="btnManagerApprove" :disabled="optionToggle">Approve</b-button>
        </div>
        <div class="managerApprovalContainer">
            <div class="table-scroll">
                <div class="managerApprovalTable">
                    <b-table show-empty
                            stacked="md"
                            :items="items"
                            :fields="fields"
                            :filter="filter"
                            :current-page="currentPage"
                            :per-page="perPage"
                            :sort-by.sync="sortBy"
                            :sort-desc.sync="sortDesc"
                            :sort-direction="sortDirection"
                            @filtered="onFiltered"
                            v-model="tableValues"
                            small
                    >
                    <template slot="HEAD_actions" slot-scope="head">
                        <!-- A custom formatted header cell for field 'name' -->
                        <b-form-checkbox @click.native="toggleSelected" v-model="allSelected"></b-form-checkbox>
                    </template>
                    <template slot="actions" slot-scope="row">
                        <b-form-checkbox :value="row.item" v-model="checkedItems"></b-form-checkbox>
                    </template>
                    <template slot="name" slot-scope="row">{{row.value}}</template>
                    <template slot="checklist" slot-scope="row">
                        <b-button size="lg" class="checklistBtn" :class="{'hideDocumentIcon':(row.item.checklist == false)}">
                            <img src="@/assets/Document_checkmark_Icon.svg" class="documentCheckmarkIcon">
                        </b-button>
                    </template>
                    </b-table>
                    <div class="tablePagination">
                        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" @change="switchPage()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import SubLayoutFullWidthContainer from '@/components/SubLayout-Full-Width.vue'
import Vue from 'vue'
export default {
  components: {
    SubLayoutFullWidthContainer
  },
  data () {
    return {
      items: [
        { username: 'Dr_Reed', first: 'Stuart', last: 'Calcote', workgroup: 'Insure Learn', course: 'Trucking - Stopping Distance', end_date: '6/1/2018', score: '100', checklist: true },
        { username: 'Dr_Reed', first: 'Stuart', last: 'Calcote', workgroup: 'Insure Learn', course: 'Trucking - Distracted Driving', end_date: '6/1/2018', score: '100', checklist: false },
        { username: 'axfan', first: 'Adam', last: 'Smith', workgroup: 'RMGI', course: 'Trucking - Changing Lanes', end_date: '6/15/2018', score: '100', checklist: true },
        { username: 'Canada', first: 'Phong', last: 'Pham', workgroup: 'RMGI', course: 'Trucking - Changing Lanes', end_date: '6/25/2018', score: '100', checklist: true },
        { username: 'Mudjaw', first: 'Steve', last: 'Haws', workgroup: 'Insure Learn', course: 'Trucking - Driving Fatigue', end_date: '6/29/2018', score: '100', checklist: false }
      ],
      fields: [
        { key: 'actions', label: '', class: 'text-center' },
        { key: 'username', label: 'Username', sortable: true },
        { key: 'first', label: 'First', sortable: true },
        { key: 'last', label: 'Last', sortable: true },
        { key: 'workgroup', label: 'Workgroup', sortable: true },
        { key: 'course', label: 'Course', sortable: true },
        { key: 'end_date', label: 'End Date', sortable: true, sortDirection: 'asc' },
        { key: 'score', label: 'Score', sortable: true },
        { key: 'checklist', label: 'Checklist' }
      ],
      sortBy: 'end_date',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      modalInfo: { title: '', content: '' },
      selectAll: 'selected',
      allSelected: false,
      checkedItems: [],
      optionToggle: true,
      tableValues: [],
      currentPage: 1,
      perPage: 15
    }
  },
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    }
  },
  methods: {
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    toggleSelected () {
      this.allSelected = !this.allSelected
      this.checkedItems = this.allSelected ? this.tableValues : []
    },
    clearSelected () {
      this.allSelected = false
      this.checkedItems = []
    },
    hideModal () {
      this.$refs.myModalRef.hide()
    },
    switchPage () {
      var self = this
      Vue.nextTick(function () {
        self.unsetColor()
        var currentNumber = self.currentPage
        var pagination = document.getElementsByClassName('page-link')
        for (var i = 0; i < pagination.length; i++) {
          if (parseInt(pagination[i].innerHTML) === currentNumber) {
            pagination[i].style.backgroundColor = self.$store.state.company.primary
            pagination[i].style.color = 'white'
          }
        }
      })
    },
    unsetColor () {
      var pagination = document.getElementsByClassName('page-link')
      for (var i = 0; i < pagination.length; i++) {
        pagination[i].style.backgroundColor = 'unset'
        pagination[i].style.color = this.$store.state.company.primary
        pagination[i].style.border = '1px solid #dee2e6'
      }
    }
  },
  watch: {
    checkedItems (a, b) {
      this.optionToggle = (!a.length > 0)
      this.allSelected = (this.tableValues.length === a.length)
    },
    perPage (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    currentPage (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    filter (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    }
  },
  mounted: function () {
    document.getElementsByClassName('page-link')[2].style.backgroundColor = this.$store.state.company.primary
    document.getElementsByClassName('page-link')[2].style.borderColor = this.$store.state.company.primary
  }
}
</script>
<style lang="scss">
    .managerApprovalContainer{
        padding: 30px;
         text-align: left;
        .courseLink:hover{
            text-decoration: underline;
            cursor: pointer;
        }
        tr{
            background-color:#f4f4f4;
        }
        th{
            background-color:#c9c9c9;
            color:black;
        }
        .table td {
            border-top: 1px solid #c9c9c9;
            color:black;
            padding-top:15px;
        }
        tr td:first-child, th:first-child{
            padding-left:20px;
        }
        .table thead th{
            border-bottom: 0px;
            border-top: 0px;
        }
        td:nth-child(9){
            padding-top: 5px;
            padding-left:30px;
        }
        th:nth-child(7){
            width: 110px;
        }
        .checklistBtn{
            width: 40px;
            padding-bottom: 1px;
        }
        .documentCheckmarkIcon{
            width: auto;
            height: 33px;
            margin-left: -10px;
            margin-top: -10px;
        }
        .hideDocumentIcon{
            visibility: hidden;
        }
    }
    .btnManagerContainer{
        .btnManagerApprove{
            margin-top: -45px;
            float: right;
            margin-right: 37px;
        }
    }
</style>
