<template>
    <div class="annoucementContainer">
        <SubLayoutFullWidthContainer/>
        <div class="loadingContainer" :class="animationFlag">
            <div class="loadingAnimation">
                <div class="lds-ring">
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                </div>
            </div>
        </div>
        <div class="announcementTableContainer">
            <div class="table-scroll" :class="announcementTable">
                <div class="announcementTable">
                    <b-table show-empty
                            stacked="md"
                            :items="items"
                            :fields="fields"
                            :current-page="currentPage"
                            :per-page="perPage"
                            :filter="filter"
                            :sort-by.sync="sortBy"
                            :sort-desc.sync="sortDesc"
                            @filtered="onFiltered"
                            v-model="tableValues"
                            small
                    >
                    <template slot="title" slot-scope="row">
                        <a @click.stop="info(row.item)" class="certLink">{{row.item.title}}</a>
                    </template>
                    </b-table>
                    <div class="userPagination">
                        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" @change="switchPage()"/>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="annoucementModal" ref="deleteRef" :hide-footer="file === 'uploads/undefined' || file === ''" centered :title="annoucementModal.title" no-close-on-backdrop>
            <div class="modalForm">
                <p>{{annoucementModal.content}}</p>
            </div>
            <div slot="modal-footer">
                <div style="display:inline;">
                <a :href="file" :download="file.split('/')[1]">
                <button class="resourceBtn btnGrey">
                    <img src="@/assets/Launch_Icon_Black.svg" class="launchIcon"/>
                </button>
                </a>
                <p class="fileName">{{file.split('/')[1]}}</p>
                </div>
            </div>
        </b-modal>
    </div>
</template>
<script>
import Vue from 'vue'
import SubLayoutFullWidthContainer from '@/components/SubLayout-Full-Width.vue'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import {faExternalLinkAlt} from '@fortawesome/fontawesome-free-solid/'
var moment = require('moment')
// { name: 'New System Features', date: '10/3/2018', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo leo urna, in lacinia nisi bibendum et. Nunc pellentesque nulla eu massa venenatis tempor. Curabitur suscipit pretium dolor, sit amet pellentesque arcu. Vestibulum elementum aliquam enim eu viverra. Aliquam et scelerisque felis.', file: false, fileName: '' },
// { name: 'Password has been reset', date: '9/1/2018', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo leo urna, in lacinia nisi bibendum et. Nunc pellentesque nulla eu massa venenatis tempor. Curabitur suscipit pretium dolor, sit amet pellentesque arcu. Vestibulum elementum aliquam enim eu viverra. Aliquam et scelerisque felis.', file: false, fileName: '' },
// { name: 'New Course Posted', date: '5/14/2018', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo leo urna, in lacinia nisi bibendum et. Nunc pellentesque nulla eu massa venenatis tempor. Curabitur suscipit pretium dolor, sit amet pellentesque arcu. Vestibulum elementum aliquam enim eu viverra. Aliquam et scelerisque felis.', file: true, fileName: 'file-name.pdf' },
// { name: 'Welcome!', date: '1/1/2018', content: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas commodo leo urna, in lacinia nisi bibendum et. Nunc pellentesque nulla eu massa venenatis tempor. Curabitur suscipit pretium dolor, sit amet pellentesque arcu. Vestibulum elementum aliquam enim eu viverra. Aliquam et scelerisque felis.', file: false, fileName: '' }
export default {
  components: {
    SubLayoutFullWidthContainer,
    FontAwesomeIcon
  },
  data () {
    return {
      items: [],
      fields: [
        { key: 'title', label: 'Annoucement', sortable: true },
        { key: 'postDate', label: 'Date', sortable: true }
      ],
      currentPage: 1,
      perPage: 15,
      totalRows: 3,
      accessValue: 0,
      sortBy: 'date',
      sortDesc: true,
      filter: null,
      annoucementModal: { title: '', content: '' },
      tableValues: [],
      announcementTable: 'hidden',
      animationFlag: 'displayElement',
      file: ''
    }
  },
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    },
    icon () {
      return faExternalLinkAlt
    },
    getIndivudalAnnouncement () {
      return this.$store.state.individualAnnouncement
    }
  },
  watch: {
    getIndivudalAnnouncement: function (val) {
      var tempArray = []
      for (var j = 0; j < val.length; j++) {
        var date1 = (new Date().getTime())
        var date2 = (new Date(val[j].expiration)).getTime()
        if (date1<=date2) {
          tempArray.push(val[j])
        }
      }
      for (var i = 0; i < tempArray.length; i++) {
        tempArray[i].postDate = moment.utc(new Date(val[i].postDate)).format('MM/DD/YYYY')
      }
      this.items = tempArray
      this.announcementTable = 'displayElement',
      this.animationFlag = 'hidden'
    }
  },
  methods: {
    info (list) {
      this.annoucementModal.title = list.title
      this.annoucementModal.content = list.message
      this.file = list.url
      this.$root.$emit('bv::show::modal', 'annoucementModal')
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    toggleSelected () {
      this.allSelected = !this.allSelected
      this.checkedItems = this.allSelected ? this.tableValues : []
    },
    clearSelected () {
      this.allSelected = false
      this.checkedItems = []
    },
    hideModal () {
      this.$refs.deleteRef.hide()
      this.$refs.editRef.hide()
      this.$refs.newRef.hide()
    },
    resetTable () {
    },
    resetModal () {
      this.annoucementModal.title = ''
      this.annoucementModal.content = ''
      this.annoucementModal.file = ''
      this.annoucementModal.fileName = ''
    },
    switchPage () {
      var self = this
      Vue.nextTick(function () {
        self.unsetColor()
        var currentNumber = self.currentPage
        var pagination = document.getElementsByClassName('page-link')
        for (var i = 0; i < pagination.length; i++) {
          if (parseInt(pagination[i].innerHTML) === currentNumber) {
            pagination[i].style.backgroundColor = self.$store.state.company.primary
            pagination[i].style.color = 'white'
          }
        }
      })
    },
    unsetColor () {
      var pagination = document.getElementsByClassName('page-link')
      console.log('i went here')
      for (var i = 0; i < pagination.length; i++) {
        pagination[i].style.backgroundColor = 'unset'
        pagination[i].style.color = this.$store.state.company.primary
        pagination[i].style.border = '1px solid #dee2e6'
      }
    }
  },
  mounted: function () {
    document.getElementsByClassName('page-link')[2].style.backgroundColor = this.$store.state.company.primary
    document.getElementsByClassName('page-link')[2].style.borderColor = this.$store.state.company.primary
    this.$store.dispatch('getAnnouncements')
  }
}
</script>
<style lang="scss">
    .annoucementContainer{
        .announcementTableContainer{
            padding: 30px;
            text-align: left;
            position: relative;
            .table-scroll {
                height: 550px;
                overflow: auto;
            }
            .userPagination{
                float:right;
            }
            tr{
                background-color:#f4f4f4;
            }
            th{
                background-color:#c9c9c9;
                color:black;
            }
            .table td {
                border-top: 1px solid #c9c9c9;
                color:black;
            }
            .table thead th{
                border-bottom: 0px;
                border-top: 0px;
            }
            .certLink:hover{
                text-decoration: underline !important;
                cursor: pointer;
            }
            th:first-child{
                padding-left:10px;
            }
            td:first-child{
                padding-left:10px;
            }
        }
        .modalForm{
            text-align: left;
        }
        .resourceBtn{
            border: 0px;
            padding:7px;
            border-radius: 5px;
            float:left;
        }
        #annoucementModal .modal-footer{
            float:left;
            display:block;
            text-align: left;
        }
        .fileName{
            margin: 0px;
            line-height: 41px;
            margin-left:55px;
            color:#c4c4c4;
        }
        .launchIcon{
            width:27px;
            height:27px;
        }
    }

</style>
