<template>
    <div class="systemResourceContainer">
        <SubLayoutFullWidthContainer/>
        <div class="searchResourceContainer">
            <b-form-input v-model="filter" placeholder="Search Resources..." class="customSystemResourceSearch" />
        </div>
        <div class="btnResourceContainer">
            <b-button class="btnNewResource" @click.stop="info(checkedItems, 'new')" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">New Resource</b-button>
            <b-dropdown class="resourceDropDown" id="resourceDropDown" text="Options" :disabled="optionToggle" v-if="false">
                <b-dropdown-item @click.stop="info(checkedItems, 'delete')">Delete</b-dropdown-item>
            </b-dropdown>
        </div>
        <div class="loadingContainer" :class="animationFlag">
            <div class="loadingAnimation">
                <div class="lds-ring">
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                </div>
            </div>
        </div>
        <div class="resourceTableContainer">
            <div class="table-scroll" :class="resourceTable">
                <div class="systemResourceTable">
                    <b-table show-empty
                            stacked="md"
                            :items="items"
                            :fields="fields"
                            :current-page="currentPage"
                            :per-page="perPage"
                            :filter="filter"
                            :sort-by.sync="sortBy"
                            :sort-desc.sync="sortDesc"
                            :sort-direction="sortDirection"
                            @filtered="onFiltered"
                            v-model="tableValues"
                            small
                            no-sort-reset
                    >
                    <template slot="HEAD_actions" slot-scope="head">
                        <!-- A custom formatted header cell for field 'name' -->
                        <b-form-checkbox @click.native="toggleSelected" v-model="allSelected"></b-form-checkbox>
                    </template>
                    <template slot="actions" slot-scope="row">
                        <b-form-checkbox :value="row.item" v-model="checkedItems"></b-form-checkbox>
                    </template>
                    <template slot="title" slot-scope="row">
                        <a @click.stop="info(row.item, 'edit')" class="resourceEdit">{{row.item.title}}</a>
                    </template>
                    <template slot="url" slot-scope="row">
                      <p style="margin-bottom:0px;">{{row.item.url.split('/')[1]}}</p>
                    </template>
                    <template slot="size" slot-scope="row">
                      <p style="margin-bottom:0px;">{{Math.round(row.item.size/1000)}} kb</p>
                    </template>
                    </b-table>
                    <div class="systemResourcePagination">
                        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" @change="switchPage()"/>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="modalDelete" ref="deleteRef" centered :title="modalDelete.title" no-close-on-backdrop>
          <p>{{ modalDelete.content }}</p>
          <ul class="checkedList">
            <b><li v-for="list in modalDelete.list" :key="list.no">{{list.resource_name}}</li></b>
          </ul>
            <div slot="modal-footer">
              <b-btn class="float-right btnGrey btnCancel" variant="secondary" @click="hideModal">
                Cancel
              </b-btn>
              <b-btn class="float-right btnGrey btnDelete" variant="secondary" @click="hideModal">
                Delete
              </b-btn>
            </div>
        </b-modal>
        <b-modal id="modalNewResource" ref="newRef" centered :title="modalNewResource.title" no-close-on-backdrop>
            <div class="resourceContainer">
                <label>Name</label>
                <b-form-input type="text" class="resourceName" v-model="resourceName" :state="validName"></b-form-input>
                <label>File Upload</label>
                <div class="inputRow">
                    <label class="btn btnGrey" for="resourceUploader">
                        <b-form-file v-model="file" class="mt-3" plain style="display:none" id="resourceUploader"></b-form-file>
                        Choose File
                    </label>
                    <p v-if="file.name !== undefined && file.name !== ''" class="fileText">{{file.name}}</p>
                    <p v-else class="fileText">No File Chosen</p>
                </div>
                <label>Display to Minimum Access Level</label>
                <b-form-select :options="permissionOptions" v-model="permissionValue" style="margin-bottom:10px;"/>
                <label>Expiration Date</label>
                <b-form-input type="date" v-model="expireDate" :state="validDate" class="newDate"></b-form-input>
                <label>Description</label>
                <b-form-textarea v-model="resourseDesc" :rows="5" :max-rows="5" :no-resize="true" :maxlength="500" class="systemResourceDesc" :disable="resourceDescDisable"></b-form-textarea>
                <p :class="{'displayCounterWarning': (resourceDescCounter<=49), 'displayCounter': (resourceDescCounter >= 50)}">{{resourceDescCounter}} Characters Remaining</p>
            </div>
            <div slot="modal-footer">
              <b-btn class="float-right btnGrey btnCancel" variant="secondary" @click="hideModal">
                Cancel
              </b-btn>
              <b-btn class="float-right btnDelete" variant="secondary" @click="saveResource('new')" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                Save
              </b-btn>
            </div>
        </b-modal>
        <b-modal id="modalEditResource" ref="editRef" centered :title="modalEditResource.title" no-close-on-backdrop>
            <div class="resourceContainer">
                <label>Name</label>
                <b-form-input type="text" class="resourceName" v-model="editResourceName" :state="editValidName"></b-form-input>
                <label>File Upload</label>
                <div class="inputRow">
                    <label class="btn btnGrey" for="resourceEditUploader">
                        <b-form-file v-model="editFile" class="mt-3" plain style="display:none" id="resourceEditUploader"></b-form-file>
                        Choose File
                    </label>
                    <p v-if="editFile.name !== undefined && editFile.name !== ''" class="fileText">{{editFile.name}}</p>
                    <p v-else class="fileText">No File Chosen</p>
                </div>
                <label>Display to Minimum Access Level</label>
                <b-form-select :options="permissionOptions" v-model="editPermissionValue" style="margin-bottom:10px;"/>
                <label>Expiration Date</label>
                <b-form-input type="date" v-model="editExpireDate" :state="editValidDate" class="editDate"></b-form-input>
                <label>Description</label>
                <b-form-textarea v-model="editResourseDesc" :disable="editDescDisable" :rows="5" :max-rows="5" :no-resize="true" :maxlength="500" class="systemResourceDesc"></b-form-textarea>
                <p :class="{'displayCounterWarning': (editeDescCounter<=49), 'displayCounter': (editeDescCounter >= 50)}">{{editeDescCounter}} Characters Remaining</p>
            </div>
            <div slot="modal-footer">
              <b-btn class="float-right btnGrey btnCancel" variant="secondary" @click="hideModal">
                Cancel
              </b-btn>
              <b-btn class="float-right btnDelete" variant="secondary" @click="saveResource('edit')" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                Save
              </b-btn>
            </div>
        </b-modal>
    </div>
</template>
<script>
import SubLayoutFullWidthContainer from '@/components/SubLayout-Full-Width.vue'
import moment from 'moment'
import Vue from 'vue'
const tableData = [ { resource_name: 'Vehicle Walkaround Checklist', file_name: 'Checklist.pdf', size: '43 Kb', date_added: '5/21/2018' },
  { resource_name: 'Badge Updates', file_name: 'badges.pdf', size: '406 Kb', date_added: '12/16/2017' },
  { resource_name: 'Accounting Spreadsheet', file_name: 'accounting.csv', size: '14 Kb', date_added: '6/1/2015' }
]
export default {
  components: {
    SubLayoutFullWidthContainer
  },
  data () {
    return {
      items: [],
      fields: [
        { key: 'actions', label: '', class: 'text-center' },
        { key: 'title', label: 'Resource Name', sortable: true },
        { key: 'url', label: 'File Name', sortable: true },
        { key: 'size', label: 'Size', sortable: true },
        { key: 'postDate', label: 'Date Added', sortable: true }
      ],
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      resourceName: '',
      modalDelete: { title: '', content: '' },
      modalNewResource: { title: '', content: '' },
      modalEditResource: { title: '', content: '' },
      selectAll: 'selected',
      allSelected: false,
      checkedItems: [],
      optionToggle: true,
      tableValues: [],
      statusOptions: [
        { value: 0, text: 'Active' },
        { value: 1, text: 'Inactive' }
      ],
      currentPage: 1,
      perPage: 15,
      totalRows: 3,
      file: '',
      permissionOptions: [
        { value: 0, text: 'User' },
        { value: 1, text: 'Manager' },
        { value: 2, text: 'Administrator' }
      ],
      permissionValue: 0,
      expireDate: '',
      resourseDesc: '',
      editPermissionValue: 0,
      editExpireDate: '',
      editFile: '',
      editResourceName: '',
      editResourseDesc: '',
      editpermissionValue: 0,
      editResourceID: '',
      animationFlag: 'displayElement',
      resourceTable: 'hidden',
      fileName: ''
    }
  },
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    },
    resourceDescCounter () {
      return 500 - this.resourseDesc.length
    },
    resourceDescDisable () {
      return this.resourseDesc.length >= 500
    },
    editeDescCounter () {
      return 500 - this.editResourseDesc.length
    },
    editDescDisable () {
      return this.editResourseDesc.length >= 500
    },
    validName () {
      return this.resourceName.length >= 1
    },
    validDate () {
      return this.expireDate !== ''
    },
    editValidName () {
      return this.editResourceName.length >= 1
    },
    editValidDate () {
      return this.editExpireDate !== ''
    },
    getCourseResources () {
      return this.$store.state.courseResource
    }
  },
  methods: {
    info (checked, button) {
      switch (button) {
        case 'new':
          this.modalNewResource.title = 'New Resource'
          this.resourceName = ''
          this.file = ''
          this.permissionValue = 0
          this.expireDate = ''
          this.resourseDesc = ''
          this.fileName = ''
          this.$root.$emit('bv::show::modal', 'modalNewResource')
          break
        case 'edit':
          console.log(checked)
          this.modalEditResource.title = 'Resource'
          this.editResourceName = checked.title
          this.editPermissionValue = checked.type
          this.editExpireDate = moment.utc(checked.expiration).format('YYYY-MM-DD')
          this.editFile = ''
          this.editResourseDesc = checked.message
          this.editResourceID = checked.resourceID
          this.fileName = checked.url.split('/')[1]
          this.$root.$emit('bv::show::modal', 'modalEditResource')
          break
        case 'delete':
          this.modalDelete.title = `Delete ` + checked.length + ` Resources(s)`
          this.modalDelete.content = `Are you sure you want to delete the following resource(s)? This action cannot be undone.`
          this.modalDelete.list = checked
          this.$root.$emit('bv::show::modal', 'modalDelete')
      }
    },
    saveResource (type) {
      switch (type) {
        case 'new':
          var obj = {
            message: this.resourseDesc,
            expiration: moment.utc(this.expireDate).format('MM/DD/YYYY'),
            type: this.permissionValue,
            title: this.resourceName
          }
          if (this.file.name !== '') {
            this.fileName = this.file
            obj['file'] = this.file
            obj['url'] = 'uploads/' + this.file.name
          }
          obj['fileFlag'] = this.fileName
          this.$store.dispatch('pushResource', obj)
          if (this.resourceName === '' || this.expireDate === '' || this.fileName === '') {
            return
          }
          this.animationFlag = 'hidden'
          this.resourceTable = 'displayElement'
          this.hideModal()
          break
        case 'edit':
          var obj = {
            resourceID: this.editResourceID,
            message: this.editResourseDesc,
            expiration: moment.utc(this.editExpireDate).format('MM/DD/YYYY'),
            type: this.editPermissionValue,
            title: this.editResourceName
          }
          if (this.editFile !== '') {
            obj['file'] = this.editFile.name
            obj['url'] = 'uploads/' + this.editFile.name
          }
          obj['fileFlag'] = this.fileName
          this.$store.dispatch('pushResource', obj)
          if (this.editResourceName === '' || this.editExpireDate === '') {
            return
          }
          this.animationFlag = 'hidden'
          this.resourceTable = 'displayElement'
          this.hideModal()
          break
      }
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    toggleSelected () {
      this.allSelected = !this.allSelected
      this.checkedItems = this.allSelected ? this.tableValues : []
    },
    clearSelected () {
      this.allSelected = false
      this.checkedItems = []
    },
    hideModal () {
      this.$refs.deleteRef.hide()
      this.$refs.newRef.hide()
      this.$refs.editRef.hide()
    },
    switchPage () {
      var self = this
      Vue.nextTick(function () {
        self.unsetColor()
        var currentNumber = self.currentPage
        var pagination = document.getElementsByClassName('page-link')
        for (var i = 0; i < pagination.length; i++) {
          if (parseInt(pagination[i].innerHTML) === currentNumber) {
            pagination[i].style.backgroundColor = self.$store.state.company.primary
            pagination[i].style.color = 'white'
          }
        }
      })
    },
    unsetColor () {
      var pagination = document.getElementsByClassName('page-link')
      for (var i = 0; i < pagination.length; i++) {
        pagination[i].style.backgroundColor = 'unset'
        pagination[i].style.color = this.$store.state.company.primary
        pagination[i].style.border = '1px solid #dee2e6'
      }
    }
  },
  watch: {
    checkedItems (a, b) {
      this.optionToggle = (!a.length > 0)
      this.allSelected = (this.tableValues.length === a.length)
    },
    perPage (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    currentPage (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    filter (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    getCourseResources: function (val) {
      var tempArray = []
      for (var i = 0; i < val.length; i++) {
        val[i].resource.postDate = moment.utc(new Date(val[i].resource.postDate)).format('MM/DD/YYYY')
        val[i].resource.expiration = moment.utc(new Date(val[i].resource.expiration)).format('MM/DD/YYYY')
        tempArray.push(val[i].resource)
      }
      this.items = tempArray
      this.animationFlag = 'hidden'
      this.resourceTable = 'displayElement'
    }
  },
  mounted: function () {
    document.getElementsByClassName('page-link')[2].style.backgroundColor = this.$store.state.company.primary
    document.getElementsByClassName('page-link')[2].style.borderColor = this.$store.state.company.primary
    this.$store.dispatch('getCourseResource')
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss">
    .systemResourceContainer{
        .resourceTableContainer{
            padding: 30px;
             text-align: left;
             .systemResourcePagination{
                 float:right;
             }
            .courseLink:hover{
                text-decoration: underline;
                cursor: pointer;
            }
            tr{
                background-color:#f4f4f4;
            }
            th{
                background-color:#c9c9c9;
                color:black;
            }
            .table td {
                border-top: 1px solid #c9c9c9;
                color:black;
            }
            tr td:first-child, th:first-child{
                padding-left:20px;
            }
            .table thead th{
                border-bottom: 0px;
                border-top: 0px;
            }
            td:nth-child(9){
                padding-top: 10px;
                padding-left:30px;
            }
            th:nth-child(7){
                width: 110px;
            }
            .checklistBtn{
                width: 40px;
                padding-bottom: 1px;
            }
            .documentCheckmarkIcon{
                width: auto;
                height: 33px;
                margin-left: -10px;
                margin-top: -10px;
            }
            .hideDocumentIcon{
                visibility: hidden;
            }
            .sorting:before{
                position: absolute;
                bottom: 0;
                display: block;
                opacity: 0.4;
                padding-bottom: inherit;
                font-size: inherit;
                line-height: 180%;
            }
            .sorting:after{
                position: absolute;
                bottom: 0;
                display: block;
                opacity: 0.4;
                padding-bottom: inherit;
                font-size: inherit;
                line-height: 180%;
            }
            .userLink{
                color:black;
            }
        }
        .searchResourceContainer{
            float:right;
            .btnUserExport{
                margin-left: -430px;
                margin-top:-75px;
                margin-right: 5px;
            }
            .btnUserFilter{
                margin-top: -75px;
            }
            .customSystemResourceSearch{
                margin-top: -44px;
                margin-left: -36px;
                margin-right: 50px;
            }
            .btn-secondary.disabled, .btn-secondary:disabled{
                background-color: #00AC4E;
            }
        }
        .btnResourceContainer{
            float:left;
            .btnNewResource, .resourceDropDown{
                margin-top:-75px;
            }
            .btnNewResource{
                margin-left: 37px;
                margin-right:5px;
            }
            .userCount{
                color:white;
                margin-left: 250px;
                margin-top:-60px;
                margin-right:80px;
            }
            #resourceDropDown__BV_toggle_{
                background-color: #c9c9c9;
                border-color: #c9c9c9;
                color: black !important;
                filter: unset !important;
            }
            #resourceDropDown__BV_toggle_:hover{
                background-color: #dfdfdf;
                border-color: #dfdfdf;
                color:black;
            }
        }
        .dateTo{
            width: 0px;
            margin: 0;
            margin-left: 240px;
            margin-top: -30px;
        }
        #userProfileModal{
            text-align: left;
            .row{
                margin-bottom:10px;
                margin-left: 0px;
            }
            .bgGrey{
                background-color:#f4f4f4;
            }
            label{
                margin-top: 7px;
            }
            .bgBlue{
                background-color: #3567A8;
                color:white;
            }
            .btnApply{
                margin-right: 10px;
            }
        }
        .modal-body{
            text-align: left;
        }
        .modal-footer .btnDelete{
            margin-right:10px !important;
        }
        .inputRow{
            display:flex;
            flex-direction: row;
            margin-bottom:10px;
        }
        .checkedList{
            padding-left:20px;
        }
        .fileText{
            margin-top: 6px;
            margin-left:10px;
        }
        .resourceName{
            margin-bottom:15px;
        }
        .displayCounterWarning{
            color: red;
            float: right;
        }
        .displayCounter{
            float: right;
            color:#c9c9c9;
            white-space: nowrap;
        }
        .systemResourceDesc{
            margin-bottom: 10px;
        }
        .editDate, .newDate{
            margin-bottom: 10px;
        }
        .resourceEdit:hover{
            text-decoration: underline !important;
            cursor: pointer;
        }
    }
</style>
