<template>
  <div>
    <div class="btnSaveCancelContainer">
      <b-button class="btnSaveCourse" @click="save()" v-if="!managerUserEdit" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">Save</b-button>
      <b-button class="btnSaveNew" :class="{'hideBtn': this.user.userProfileID !== null}" v-if="!managerUserEdit" @click="saveNew" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">Save + New</b-button>
      <b-button class="btnGrey" @click="cancel()" v-if="this.user.userProfileID !== null">Close</b-button>
      <b-button class="btnGrey" @click="cancel()" v-else>Cancel</b-button>
    </div>
    <SubPage :Navigation="Navigation"/>
  </div>
</template>
<script>
import SubPage from '@/components/SubPage.vue'
import User from '@/store/user.js'
import Vue from 'vue'
export default {
  data () {
    return {
      Navigation: [],
      user: new User(),
      dataLoaded: false,
      managerUserEdit: false
    }
  },
  components: {
    SubPage
  },
  methods: {
    save () {
      var temp = this.$store.state.user
      temp['saveNewFlag'] = false
      this.$store.dispatch('pushUser', temp)
    },
    cancel () {
      this.$router.replace({path: '/UserProfileManagement'})
    },
    saveNew () {
      var temp = this.$store.state.user
      temp['saveNewFlag'] = true
      this.$store.dispatch('pushUser', temp)
      this.$store.commit('newUser', true)
      this.$store.commit('SET_NEW_USER', this.user)
      this.$router.replace({path: '/NewUserProfile/UserInformation'})
    },
    setNavigation (value) {
      var self = this
      if (value === 1) {
        this.Navigation.push({name: 'User Information', route: '/NewUserProfile/UserInformation'})
        this.Navigation.push({name: 'Settings', route: '/NewUserProfile/UserProfileSettings'})
        this.Navigation.push({name: 'Contact Info', route: '/NewUserProfile/UserContactInfo'})
      } else if (value === 2) {
        this.Navigation.push({name: 'User Information', route: '/NewUserProfile/UserInformation'})
        this.Navigation.push({name: 'Settings', route: '/NewUserProfile/UserProfileSettings'})
        this.Navigation.push({name: 'Contact Info', route: '/NewUserProfile/UserContactInfo'})
        this.Navigation.push({name: 'Manager Permissions', route: '/NewUserProfile/UserManager'})
        this.Navigation.push({name: this.$store.state.i18n.tc('workgroup', 2) + ' Managed', route: '/NewUserProfile/UserWorkgroup'})
      } else if (value === 3) {
        this.Navigation.push({name: 'User Information', route: '/NewUserProfile/UserInformation'})
        this.Navigation.push({name: 'Settings', route: '/NewUserProfile/UserProfileSettings'})
        this.Navigation.push({name: 'Contact Info', route: '/NewUserProfile/UserContactInfo'})
        this.Navigation.push({name: this.$store.state.i18n.tc('workgroup', 2) + ' Managed', route: '/NewUserProfile/UserWorkgroup'})
      } else {
        console.log('')
      }
    },
    checkManagerUserEdit () {
      if (this.$store.state.session.accessLevel === 3) {
        return false
      }
      if ((this.$store.state.session.accessMode & 1024) === 1024 && this.user.access.level !== 3) {
        return false
      }
      return true
    }
  },
  computed: {
    getUserId () {
      return this.$store.state.tempUserProfileID
    },
    userAccess: {
      get () {
        if (!this.dataLoaded) {
          return null
        }
        if (this.$store.state.user !== null) {
          return this.$store.state.user.access.level
        }
      }
    }
  },
  watch: {
    getUserId (val) {
      console.log(val)
      console.log(val.userProfileID)
      this.user.userProfileID = val.userProfileID
    },
    userAccess: function (value) {
      this.Navigation = []
      console.log(value)
      this.setNavigation(parseInt(value))
    },
    deep: true
  },
  mounted: function () {
    this.dataLoaded = true
    if (this.user.userProfileID !== null) {
      this.managerUserEdit = this.checkManagerUserEdit()
    }
  },
  beforeMount: function () {
    this.user = (this.$store.state.user !== null) ? this.$store.state.user : new User()
  }
}
</script>
<style lang="scss">
 .hideBtn{
   display:none;
 }
</style>
