<template>
    <div class="userManagerContainer">
        <div class="userManagerInfo">
            <b-row>
                <b-col cols="6">
                    <label>Select Permission Preset</label>
                    <b-form-select v-model="permissionSelect" :options="permissionOptions" class="certficationSelect" :disabled="managerEditPermission" @change="setManagerPreset()">
                    </b-form-select>
                </b-col>
                <b-col cols="6">
                    <b-button class="btnGrey managePresetBtn" :to="{name: 'Manage User Permission'}" v-if="(this.$store.state.session.accessMode & 2048) === 2048 || this.$store.state.session.accessLevel === 3" >Manage Presets</b-button>
                </b-col>
            </b-row>
        </div>
        <div class="userManagerInfo">
            <b-form-checkbox-group name="UserPermissions" v-model="UserPermissions">
                <b-row>
                    <div class="col">
                      <div class="columnFlex">
                          <b><p>Reports</p></b>
                          <b-form-checkbox :value="8" :unchecked-value="false" :disabled="managerEditPermission" v-if="(this.$store.state.session.accessMode & 8) === 8 || this.$store.state.session.accessLevel === 3" @change.native="toggleViewReports(4096)">View Reports</b-form-checkbox>
                          <b-form-checkbox :value="4096" :disabled="!UserPermissions.includes(8) || managerEditPermission" v-if="(this.$store.state.session.accessMode & 4096) === 4096 || this.$store.state.session.accessLevel === 3">Course Status Override</b-form-checkbox>
                        </div>
                    </div>
                    <div class="col">
                      <div class="columnFlex">
                        <b><p>Add/Update Users</p></b>
                        <b-form-checkbox :value="272" @change.native="toggleViewUser(1024)" :disabled="managerEditPermission" v-if="(this.$store.state.session.accessMode & 272) === 272 || this.$store.state.session.accessLevel === 3">View User Profiles</b-form-checkbox>
                        <b-form-checkbox :value="1024" :disabled="!UserPermissions.includes(272) || managerEditPermission" v-if="(this.$store.state.session.accessMode & 1024) === 1024 || this.$store.state.session.accessLevel === 3">Edit Existing Profiles</b-form-checkbox>
                        <b-form-checkbox :value="512" v-if="(this.$store.state.session.accessMode & 512) === 512 || this.$store.state.session.accessLevel === 3" :disabled="managerEditPermission">Add New Users</b-form-checkbox>
                        <b-form-checkbox :value="2048" v-if=" this.$store.state.session.accessLevel === 3 ||(this.$store.state.session.accessMode & 2048) === 2048" :disabled="managerEditPermission">Add New Managers</b-form-checkbox>
                      </div>
                    </div>
                    <div class="col">
                      <div class="columnFlex">
                        <b><p>Add/Update Groups</p></b>
                        <b-form-checkbox :value="4" v-if="(this.$store.state.session.accessMode & 4) === 4 || this.$store.state.session.accessLevel === 3" :disabled="managerEditPermission">View/Edit {{this.$store.state.i18n.tc('role', 2)}}</b-form-checkbox>
                        <b-form-checkbox :value="2" v-if="(this.$store.state.session.accessMode & 2) === 2 || this.$store.state.session.accessLevel === 3" :disabled="managerEditPermission">View/Edit {{this.$store.state.i18n.tc('workgroup', 2)}}</b-form-checkbox>
                      </div>
                    </div>
                    <div class="col">
                        <b><p>Add/Update Courses</p></b>
                        <b-form-checkbox :value="1" v-if="(this.$store.state.session.accessMode & 1) === 1 || this.$store.state.session.accessLevel === 3" :disabled="managerEditPermission">View/Edit Courses</b-form-checkbox>
                    </div>
                    <div class="col">
                        <b><p>System Management</p></b>
                        <b-form-checkbox :value="32" v-if="(this.$store.state.session.accessMode & 32) === 32 || this.$store.state.session.accessLevel === 3" :disabled="managerEditPermission">View/Edit</b-form-checkbox>
                    </div>
                </b-row>
            </b-form-checkbox-group>
        </div>
    </div>
</template>
<script>
import User from '@/store/user.js'
import Vue from 'vue'
export default {
  data () {
    return {
      permissionSelect: null,
      permissionOptions: [],
      reportCheckStatus: false,
      courseStatusDisable: true,
      viewUserDisable: true,
      viewUserCheckStatus: false,
      disabledTextReport: 'disableTextColor',
      disableTextView: 'disableTextColor',
      UserPermissions: [],
      possiblePermissions: [1, 2, 4, 8, 4096, 272, 512, 2048, 1024, 32, 128],
      user: new User(),
      managerEditPermission: ''
    }
  },
  methods: {
    checkReportStatus () {
      if (this.reportCheckStatus === false) {
        this.courseStatusDisable = false
        this.reportCheckStatus = true
        this.disabledTextReport = ''
      } else {
        this.courseStatusDisable = true
        this.reportCheckStatus = false
        this.disabledTextReport = 'disableTextColor'
      }
    },
    checkViewStatus () {
      if (this.viewUserCheckStatus === false) {
        this.viewUserDisable = false
        this.viewUserCheckStatus = true
        this.disableTextView = ''
      } else {
        this.viewUserDisable = true
        this.viewUserCheckStatus = false
        this.disableTextView = 'disableTextColor'
      }
    },
    checkManagerEdit () {
      if (this.$store.state.session.accessLevel === 3) return false
      if (this.$store.state.session.user.userName.toUpperCase() === this.$store.state.user.loginID.toUpperCase() && this.$store.state.session.accessLevel === 2) return true
      if ((this.$store.state.session.accessMode & 1024) === 1024 && (this.$store.state.session.accessMode & 2048) === 2048) return false
      if (this.user.access.level === 2 && !((this.$store.state.session.accessMode & 2048) === 2048)) return true
      return false
    },
    toggleViewReports (value) {
      if (!this.UserPermissions.includes(8)) {
        this.UserPermissions.push(8)
      } else {
        this.UserPermissions = this.UserPermissions.filter(e => e !== value)
        this.UserPermissions = this.UserPermissions.filter(e => e !== 8)
      }
    },
    toggleViewUser (value) {
      if (!this.UserPermissions.includes(272)) {
        this.UserPermissions.push(272)
      } else {
        this.UserPermissions = this.UserPermissions.filter(e => e !== value)
        this.UserPermissions = this.UserPermissions.filter(e => e !== 272)
      }
    },
    getManagerPresets () {
      var tempPreset
      if (sessionStorage.getItem('permissionPreset') !== null) {
        tempPreset = sessionStorage.getItem('permissionPreset')
        var parsePreset = JSON.parse(tempPreset)
        this.permissionSelect = parsePreset
      } else {
        this.permissionSelect = null
      }
      tempPreset = ''
      var tempPresetArray = []
      if (sessionStorage.getItem('currentPreset') === null) {
        tempPreset = this.$store.state.managerPreset
        tempPresetArray.push({ text: '--select preset--', value: null, disabled: true })
        for (var i = 0; i < tempPreset.length; i++) {
          var list = {}
          var tempValue = {
            sum: tempPreset[i].securityMode.value,
            description: tempPreset[i].securityMode.description
          }
          // converting object array to work with vue select
          list['value'] = tempValue
          list['text'] = tempPreset[i].securityMode.description
          tempPresetArray.push(list)
        }
      } else {
        var tempSession = sessionStorage.getItem('currentPreset')
        var parsePrest = JSON.parse(tempSession)
        tempPreset = parsePrest
        tempPresetArray.push({ text: '--select preset--', value: null, disabled: true })
        for (var j = 0; j < tempPreset.length; j++) {
          var tempList = {}
          var tempNumber = {
            description: tempPreset[j].description,
            sum: tempPreset[j].value
          }
          // converting object array to work with vue select
          tempList['value'] = tempNumber
          tempList['text'] = tempPreset[j].description
          tempPresetArray.push(tempList)
        }
      }
      this.permissionOptions = tempPresetArray
    },
    setManagerPreset () {
      var self = this
      Vue.nextTick(function () {
        self.UserPermissions = []
        for (var p = 0; p < self.possiblePermissions.length; p++) {
          if ((self.permissionSelect.sum & self.possiblePermissions[p]) === self.possiblePermissions[p]) self.UserPermissions.push(self.possiblePermissions[p])
        }
        sessionStorage.setItem('permissionPreset', JSON.stringify(self.permissionSelect))
      })
    }
  },
  watch: {
    user: function (user, oldUser) {
      this.$store.commit('user', user)
    },
    UserPermissions () {
      var reducer = (accumulator, currentValue) => accumulator + currentValue
      this.user.access.mode = (this.UserPermissions.length === 0) ? 0 : this.UserPermissions.reduce(reducer)
    },
    newUser (value) {
      this.UserPermissions = []
      this.user = value
    }
  },
  beforeDestroy: function () {
    this.$store.commit('user', this.user)
  },
  mounted: function () {
    this.user = (this.$store.state.user != null) ? this.$store.state.user : new User()
    for (var p = 0; p < this.possiblePermissions.length; p++) {
      if ((this.user.access.mode & this.possiblePermissions[p]) === this.possiblePermissions[p]) this.UserPermissions.push(this.possiblePermissions[p])
    }
    this.managerEditPermission = this.checkManagerEdit()
    this.getManagerPresets()
  },
  computed: {
    newUser () {
      return this.$store.state.user
    }
  }
}
</script>

<style lang="scss">
    .userManagerContainer{
        .userManagerInfo{
            text-align: left;
            background-color: #f4f4f4;
            padding:30px;
            margin-bottom: 20px;
        }
        input[type='checkbox']{
            margin-right: 10px;
        }
        .managePresetBtn{
            margin-top: 31px;
        }
        .disableTextColor{
            color: #c9c9c9;
        }
        .columnFlex{
          flex-direction: column;
          display:flex;
        }
    }
</style>
