<template>
    <div class='userSettingsContainer'>
        <div class="scroller">
          <div class="userSettings">
              <b-row>
                  <b-col cols="6">
                      <label>Status</label>
                          <b-form-select v-model="user.statusID" :options="statusOptions" class="mb-3" :disabled="disableSettingOption || managerUserEdit">
                          </b-form-select>
                  </b-col>
                  <b-col cols="6">
                      <label>Access Level</label>
                          <b-form-select v-model="accessLevel" class="mb-3" :disabled="disableSettingOption || managerUserEdit || !checkMangerAccessEdit">
                            <option value=1>User</option>
                            <option value=2 v-if="(this.$store.state.session.accessMode & 2048) === 2048 || this.user.access.level === 2 || this.$store.state.session.accessLevel === 3">Manager</option>
                            <option value=2 v-else-if="!((this.$store.state.session.accessMode & 2048) === 2048)" :disabled="true">Manager</option>
                            <option value=3 v-if="this.$store.state.session.accessLevel === 3 || this.user.access.level === 3">Administrator</option>
                          </b-form-select>
                  </b-col>
              </b-row>
              <b-row>
                  <b-col cols="6">
                      <label>Hire Date</label>
                      <b-form-input type="date" v-model="hireDate" :disabled="managerUserEdit"></b-form-input>
                  </b-col>
                  <b-col cols="6">
                      <label>Termination Date</label>
                      <b-form-input type="date" v-model="termDate" :disabled="managerUserEdit"></b-form-input>
                  </b-col>
              </b-row>
          </div>
          <div class="userSettings" v-if="accessLevel !== 1 || this.$store.state.session.accessLevel === 3">
              <b-row>
                  <b-col cols="6" class="displayFlex" v-if="this.$store.state.session.accessLevel === 3">
                      <b-form-checkbox :checked="true" :unchecked-value="false" v-model="user.ipOverride" :disabled="managerUserEdit">Ignore Course IP Address Restrictions</b-form-checkbox>
                  </b-col>
              </b-row>
              <b-row>
                  <b-col cols="6" class="displayFlex" v-if="this.$store.state.session.accessLevel === 3">
                      <b-form-checkbox :checked="true" :unchecked-value="false" v-model="user.loginOverride" :disabled="managerUserEdit">Ignore ID Check at Login</b-form-checkbox>
                  </b-col>
              </b-row>
              <b-row>
                  <b-col cols="6" class="displayFlex" v-if="currentAccess !== 1">
                      <b-form-checkbox :checked="true" :unchecked-value="false" v-model="user.recurrentEmailOverride" :disabled="managerUserEdit">Disable Manager Recurrent Report Emails</b-form-checkbox>
                  </b-col>
              </b-row>
          </div>
        </div>
    </div>
</template>
<script>
import User from '@/store/user.js'
var moment = require('moment')
export default {
  data () {
    return {
      accessOptions: [],
      statusOptions: [
        {text: 'Active', value: 1},
        {text: 'Inactive', value: 0}
      ],
      user: new User(),
      userPass: '',
      disabledEmail: '',
      ignoreID: '',
      ipRestriction: '',
      hireDate: '',
      termDate: '',
      accessLevel: '',
      disableSettingOption: '',
      currentAccess: '',
      dataLoaded: '',
      managerUserEdit: false,
      checkMangerAccessEdit: false
    }
  },
  watch: {
    user: function (user, oldUser) {
      this.$store.commit('user', user)
    },
    hireDate () {
      this.user.hireDate = moment(this.hireDate, 'YYYY-MM-DD').toDate()
    },
    termDate () {
      this.user.termDate = moment(this.termDate, 'YYYY-MM-DD').toDate()
    },
    accessLevel () {
      this.user.access.level = this.accessLevel
    },
    newUser (value) {
      this.hireDate = ''
      this.termDate = ''
      this.accessLevel = 1
      this.user = value
    },
    userAccess: function (value) {
      this.currentAccess = value
    }
  },
  computed: {
    newUser () {
      return this.$store.state.user
    },
    userAccess: {
      get () {
        if (!this.dataLoaded) {
          return null
        }
        if (this.$store.state.user !== null) {
          return this.$store.state.user.access.level
        }
      }
    }
  },
  mounted: function () {
    this.user = (this.$store.state.user != null) ? this.$store.state.user : new User()
    this.hireDate = moment.utc(this.user.hireDate).format('YYYY-MM-DD')
    this.termDate = moment.utc(this.user.termDate).format('YYYY-MM-DD')
    this.accessLevel = this.user.access.level
    this.disableSettingOption = this.checkManagerEdit()
    this.currentAccess = this.user.access.level
    this.dataLoaded = true
    if (this.user.userProfileID !== null) {
      this.managerUserEdit = this.checkManagerUserEdit()
    }
    this.checkMangerAccessEdit = this.checkEditAccess()
  },
  beforeDestroy: function () {
    this.$store.commit('user', this.user)
  },
  methods: {
    checkManagerEdit () {
      if (this.$store.state.session.user.userName.toUpperCase() === this.$store.state.user.loginID.toUpperCase()) return true
      return false
    },
    checkManagerUserEdit () {
      if (this.$store.state.session.accessLevel === 3) return false
      if (this.user.access.level === 2 && !((this.$store.state.session.accessMode & 2048) === 2048)) return true
      if ((this.$store.state.session.accessMode & 1024) === 1024 && this.user.access.level !== 3) return false
      return true
    },
    checkEditAccess () {
      if (this.$store.state.session.accessLevel === 3) return true
      if (this.user.userProfileID === null && !((this.$store.state.session.accessMode & 2048) === 2048)) return false
      if (this.user.access.level === 2 && !((this.$store.state.session.accessMode & 2048) === 2048)) return true
      if ((this.$store.state.session.accessMode & 2048) === 2048 && (this.$store.state.session.accessMode & 1024) === 1024) return true
      return false
    }
  }
}
</script>

<style lang="scss">
    .userSettingsContainer{
        .userSettings{
            text-align: left;
            background-color: #f4f4f4;
            padding:30px;
            margin-bottom: 20px;
        }
        .displayFlex{
            display: flex;
            p{
                margin-top: -5px;
                margin-left: 10px;
            }
        }
    }
</style>
