  <template>
    <div class="userInfoContainer">
      <div class="scroller">
          <div class="userProfileInformation">
              <b-row>
                  <b-col cols="6">
                      <label>Username</label>
                      <b-form-input v-model="user.loginID" type="text" placeholder="" :state="validUsername" class="usernameText" required :disabled="managerUserEdit || selfManagerEdit || !((this.$store.state.session.accessMode & 2048) === 2048) && this.user.loginID === this.$store.state.session.user.userName && this.$store.state.session.accessLevel === 2"></b-form-input>
                  </b-col>
                  <b-col cols="2">
                    <div style="margin-bottom:32px;"></div>
                    <b-button class="btnGrey" v-if="this.user.userProfileID !== null && this.$store.state.session.accessLevel === 3 && this.user.loginID !== this.$store.state.session.user.userName" @click="loginAsUser()">Log in as User</b-button>
                  </b-col>
              </b-row>
              <b-row>
                  <b-col cols="6">
                      <label>Password</label>
                      <b-form-input v-model="passwd" type="password" placeholder="" class="password1" :state="validPassword" required :disabled="managerUserEdit || selfManagerEdit"></b-form-input>
                  </b-col>
                  <b-col cols="6">
                      <label>Confirm Password</label>
                      <b-form-input v-model="confirmPassword" type="password" placeholder="" class="password2" :state="validConfirmPassword" required :disabled="managerUserEdit || selfManagerEdit"></b-form-input>
                  </b-col>
              </b-row>
              <b-row>
                  <b-col cols="6">
                      <label>First Name</label>
                      <b-form-input v-model="user.firstName" type="text" placeholder="" :state="validFirstName" class="userFirstName" :disabled="managerUserEdit || selfManagerEdit "></b-form-input>
                  </b-col>
                  <b-col cols="6">
                      <label>Middle Name</label>
                      <b-form-input v-model="user.middleName" type="text" placeholder="" class="userMiddleName" :disabled="managerUserEdit || selfManagerEdit "></b-form-input>
                  </b-col>
              </b-row>
              <b-row>
                  <b-col cols="6">
                      <label>Last Name</label>
                      <b-form-input v-model="user.lastName" type="text" placeholder="" :state="validLastName" class="userLastName" :disabled="managerUserEdit || selfManagerEdit "></b-form-input>
                  </b-col>
                  <b-col cols="6">
                      <label>Suffix</label>
                      <b-form-input v-model="user.suffixName" type="text" placeholder="" class="userSuffix" :disabled="managerUserEdit || selfManagerEdit "></b-form-input>
                  </b-col>
              </b-row>
          </div>
          <div class="userProfileInformation">
              <b-row>
                  <b-col cols="6" v-if="this.$store.state.session.accessLevel === 3">
                      <label>{{this.$store.state.i18n.tc('role', 2)}}</label>
                      <multiselect class="multiRole" :class="{'redBorder': validRole}" v-model="roles" tag-placeholder="Add this as new tag" label="groupName" track-by="groupID" :options="newRoleOption" :options-color="'yellow'" :multiple="true" :taggable="false" @tag="addTag" :disabled="managerUserEdit || !managerRoleEdit">
                      </multiselect>
                  </b-col>
                  <b-col cols="6" v-else-if="this.user.userProfileID !== null && shopEnabled">
                      <label>{{this.$store.state.i18n.tc('role', 2)}}</label>
                      <multiselect class="multiRole" :class="{'redBorder': validRole}" v-model="newRoles" tag-placeholder="Add this as new tag" label="groupName" track-by="groupID" :options="this.filteredRoles" :options-color="'yellow'" :multiple="true" :taggable="false" @tag="addTag" :disabled="!managerRoleEdit && this.user.loginID === this.$store.state.session.user.userName">
                      </multiselect>
                  </b-col>
                  <b-col cols="6" v-else>
                      <label>{{this.$store.state.i18n.tc('role', 2)}}</label>
                      <multiselect class="multiRole" :class="{'redBorder': validRole}" v-model="roles" tag-placeholder="Add this as new tag" label="groupName" track-by="groupID" :options="newRoleOption" :options-color="'yellow'" :multiple="true" :taggable="false" @tag="addTag" :disabled="managerUserEdit || selfManagerRoleEdit">
                      </multiselect>
                  </b-col>
                  <b-col cols="6">
                      <label>{{this.$store.state.i18n.tc('workgroup', 2)}}</label>
                      <multiselect class="multiWork" :class="{'redBorder': validWork}" v-model="workgroups" tag-placeholder="Add this as new tag" label="groupName" track-by="groupID" :options="this.$store.state.workgroups" :multiple="true" :taggable="false" @tag="addTag" :disabled="managerUserEdit || selfManagerRoleEdit">
                      </multiselect>
                  </b-col>
              </b-row>
              <div class="userAssignedRoles" v-if="this.user.userProfileID !== null && shopEnabled && this.$store.state.session.accessLevel !== 3">
                <label style="margin-top:10px;">{{this.$store.state.i18n.tc('role', 2)}} assigned</label>
                <b><p>{{assignedRoles}}</p></b>
              </div>
          </div>
      </div>
    </div>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import User from '@/store/user.js'
export default {
  data () {
    return {
      roles: [],
      workgroups: [],
      workgroupOptions: [],
      roleOptions: [],
      username: '',
      confirmPassword: '',
      firstName: '',
      lastName: '',
      user: new User(),
      suffixName: '',
      passwd: '',
      managerUserEdit: false,
      shopEnabled: '',
      userLevel: '',
      assignedRoles: '',
      newRoles: [],
      filteredRoles: [],
      newRoleOption: '',
      selfManagerEdit: false,
      managerRoleEdit: false,
      selfManagerRoleEdit: false
    }
  },
  methods: {
    addTag (newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
      }
      this.options.push(tag)
      this.value.push(tag)
    },
    selfEditManagerProfile () {
      if (this.$store.state.session.accessLevel === 3) return false
      if (this.user.loginID === this.$store.state.session.user.userName) {
        var editManager = (this.$store.state.session.accessMode & 2048) === 2048
        if (this.user.access.level === 2 && (this.$store.state.session.accessMode & 272) === 272) {
          return false
        } else {
          return true
        }
      } else if ((this.$store.state.session.accessMode & 1024) === 1024){
        return false
      } else {
        return true
      }
    },
    checkManagerUserEdit () {
      if (this.$store.state.session.accessLevel === 3) return false
      if (this.user.access.level === 2 && !((this.$store.state.session.accessMode & 2048) === 2048) && this.user.loginID !== this.$store.state.session.user.userName) return true
      if ((this.$store.state.session.accessMode & 1024) === 1024 && this.user.access.level !== 3){
        return false
      } 
      if (this.$store.state.session.user.userName.toUpperCase() === this.user.loginID.toUpperCase()) return false
      return true
    },
    checkEditManagerRole () {
      if (this.$store.state.session.accessLevel === 3) {
        this.managerRoleEdit = true
      } else if(this.shopEnabled && this.$store.state.session.accessLevel === 2 && (this.$store.state.session.accessMode & 272) === 272 && (this.$store.state.session.accessMode & 1024) === 1024 || this.$store.state.session.accessLevel === 3) {
        this.managerRoleEdit = true
      }
    },
    loginAsUser() {
      this.$store.dispatch('loginAsUser', this.user.loginID)
    },
    selfManagerRoleCheck () {
      if (this.$store.state.session.accessLevel === 3) {
        return false
      }
      if (this.shopEnabled && (this.$store.state.session.accessMode & 1024) === 1024 && (this.$store.state.session.accessMode & 272) === 272 && this.user.loginID === this.$store.state.session.user.userName) {
        return false
      } else if ((this.$store.state.session.accessMode & 2048) === 2048) {
        return false
      } else {
        return true
      }
    }
  },
  watch: {
    getSeatRoles (val) {
      if (this.user.userProfileID !== null) {
        if (val.length > 0 && this.shopEnabled) {
          if (this.assignedRoles.length > 1) {
            var temp = this.$store.state.newUserRoles.map(function (e) {
              return e.groupName
            })
            for(var i = 0; i <  temp.length; i++) {
              this.assignedRoles = this.assignedRoles + ', '+ temp[i]
            }
          }
          this.newRoles = []
          this.$store.commit('SET_PUSH_EDIT_ROLES', [])
          this.$store.commit('SET_PUSH_NEW_ROLES', [])
          this.$store.commit('SET_PUSH_EDIT_WORKGROUPS', [])
          if (this.user.userProfileID === null) {
            this.newRoleOption = val.filter((obj) => {
              return !this.assignedRoles.includes(obj.groupName)
            })
          } else {
            this.filteredRoles = val.filter((obj) => {
              return !this.assignedRoles.includes(obj.groupName)
            })
          }
        } else if (this.$store.state.roles.length > 0 && !this.shopEnabled) {
          this.filteredRoles = this.$store.state.roles.filter((obj) => {
            return !this.assignedRoles.includes(obj.groupName)
          })
        } else {
          var temp = [{ groupName: 'No Seats Available',  $isDisabled: true }]
          this.filteredRoles = temp
        }
      } else {
        this.newRoleOption = val
      }
    },
    user: function (user, oldUser) {
      this.$store.commit('user', user)
    },
    workgroups: function (workgroups, oldWorkgroups) {
      this.user.workgroups = this.workgroups.map((obj, index) => {
        return obj.groupID
      })
      this.$store.commit('SET_PUSH_EDIT_WORKGROUPS', this.workgroups)
    },
    roles: function (roles, oldRoles) {
      this.user.roles = this.roles.map((obj, index) => {
        return obj.groupID
      })
      this.assignedRoles = this.roles.map(function(e) {
        return e.groupName
      }).join(', ')
      this.$store.commit('SET_PUSH_EDIT_ROLES', this.roles)
      if (this.$store.state.roleSeats.length > 0 && this.shopEnabled) {
        if (this.user.userProfileID === null) {
          this.newRoleOption = this.$store.state.roleSeats.filter((obj) => {
            return !this.assignedRoles.includes(obj.groupName)
          })
        } else {
          this.filteredRoles = this.$store.state.roleSeats.filter((obj) => {
            return !this.assignedRoles.includes(obj.groupName)
          })
        }
      } else if (this.$store.state.roles.length > 0 && !this.shopEnabled) {
        this.filteredRoles = this.$store.state.roles.filter((obj) => {
          return !this.assignedRoles.includes(obj.groupName)
        })
      } else {
        var temp = [{ groupName: 'No Seats Available',  $isDisabled: true }]
        this.filteredRoles = temp
      }
    },
    filteredRoles: function(filteredRoles) {
    	if (this.shopEnabled && this.user.accessLevel !== 3 && filteredRoles.length <= 0) {
    		var temp = [{ groupName: 'No Seats Available',  $isDisabled: true }]
        	this.filteredRoles = temp
    	}
    },
    newRoles: function (newRoles, oldRoles) {
      var history = this.newRoles
      this.$store.commit('SET_PUSH_NEW_ROLES', history)
    },
    passwd: function () {
      if (this.passwd !== '' && this.confirmPassword === '') {
        this.user.passwd = 'please confirm password'
      }
      if (this.passwd === this.confirmPassword) {
        this.user.passwd = this.confirmPassword
      }
    },
    confirmPassword: function () {
      if (this.passwd === this.confirmPassword) {
        this.user.passwd = this.confirmPassword
      } else if (this.passwd !== this.confirmPassword) {
        this.user.passwd = 'password do no match'
      } else {
        this.user.passwd = null
      }
    },
    newUser (value) {
      this.user = value
      this.roles = []
      this.workgroups = []
    },
    validPassword: function (val) {
      if (val) {
        this.user.passwd = 'please confirm password'
      }
    },
    getNewUserFlag (val) {
      if (val) {
        this.passwd = ''
        this.confirmPassword = ''
        this.$store.commit('newUser', false)
      }
    }
  },
  beforeDestroy: function () {
    this.$store.commit('user', this.user)
  },
  computed: {
    getSeatRoles () {
      return this.$store.state.roleSeats
    },
    getNewUserFlag () {
      return this.$store.state.newUserFlag
    },
    validUsername () {
      return this.user.loginID.length >= 1
    },
    validFirstName () {
      return this.user.firstName.length >= 1
    },
    validLastName () {
      return this.user.lastName.length >= 1
    },
    validPassword: function () {
      if (this.passwd !== undefined && this.passwd !== null && this.passwd.length >= 1) {
        return true
      } else {
        return null
      }
    },
    validConfirmPassword () {
      if (this.passwd !== undefined && this.passwd !== null && this.passwd.length >= 1) {
        return this.passwd === this.confirmPassword
      } else {
        return null
      }
    },
    validRole () {
      if (this.roles.length >= 1) {
        return false
      } else {
        return true
      }
    },
    validWork () {
      if (this.workgroups.length >= 1) {
        return false
      } else {
        return true
      }
    },
    newUser () {
      return this.$store.state.user
    }
  },
  mounted: function () {
    this.user = (this.$store.state.user !== null) ? this.$store.state.user : new User()
    if (this.$store.state.config.ShopEnabled === true || this.$store.state.config.ShopEnabled === 'true' && this.$store.state.session.accessLevel === 2) {
      this.shopEnabled = true
    } else {
      this.shopEnabled = false
    }
    this.passwd = (this.user.passwd === null) ? '' : this.user.passwd
    this.confirmPassword = this.passwd
    this.checkEditManagerRole()
    if (this.user.userProfileID !== null) {
      this.managerUserEdit = this.checkManagerUserEdit()
      this.selfManagerEdit = this.selfEditManagerProfile()
      this.selfManagerRoleEdit = this.selfManagerRoleCheck()
    }
    if (this.$store.state.workHistory.length > 0) {
      this.workgroups = this.$store.state.workHistory
    } else {
      this.workgroups = (this.$store.state.user != null && typeof this.$store.state.user.groups !== 'undefined') ? this.$store.state.user.groups.group.filter((obj) => {
        return obj.groupTypeID === 2
      }) : []
    }
    if (this.$store.state.roleHistory.length > 0) {
      this.roles = this.$store.state.roleHistory
    } else {
      this.roles = (this.$store.state.user != null && typeof this.$store.state.user.groups !== 'undefined') ? this.$store.state.user.groups.group.filter((obj) => {
        return obj.groupTypeID === 1
      }) : []
    }
    if (this.$store.state.newUserRoles.length > 0) {
      this.newRoles = this.$store.state.newUserRoles
    }
    if (this.user.userProfileID === null && this.shopEnabled) {
      if (this.$store.state.roleSeats.length > 0) {
        this.newRoleOption = this.$store.state.roleSeats.filter((obj) => {
          return !this.assignedRoles.includes(obj.groupName)
        })
      } else {
        var temp = [{ groupName: 'No Seats Available',  $isDisabled: true }]
        this.newRoleOption = temp
      }
    } else if (this.user.userProfileID === null && !this.shopEnabled) {
      this.newRoleOption = this.$store.state.roles.filter((obj) => {
        return !this.assignedRoles.includes(obj.groupName)
      })
    } else if (this.user.userProfileID !== null && !this.shopEnabled) {
      this.newRoleOption = this.$store.state.roles.filter((obj) => {
        return !this.assignedRoles.includes(obj.groupName)
      })
    }

    if (this.managerRoleEdit) {
      this.newRoleOption = this.$store.state.roleSeats.filter((obj) => {
        return !this.assignedRoles.includes(obj.groupName)
      })
    }

    if (this.$store.state.session.accessLevel === 3) {
      this.newRoleOption = this.$store.state.roles.filter((obj) => {
        return !this.assignedRoles.includes(obj.groupName)
      })
    }

    if (this.user.userProfileID === null) {
    	this.$store.state.tempLogin = true
    } else {
    	this.$store.state.tempLogin = false
    }

    this.userLevel = this.$store.state.session.accessLevel
  }
}
</script>

<style lang="scss">
    .userInfoContainer{
        .userProfileInformation{
            text-align: left;
            background-color: #f4f4f4;
            padding:30px;
            margin-bottom: 20px;
        }
        input[type="text"]{
            margin-bottom: 10px;
        }
        input[type="password"]{
            margin-bottom: 10px;
        }
    }
    .redBorder{
        border: 1px solid #dc3545;
        border-radius: 0.25rem;
    }
    .custom__tag{
      position: relative;
      display: inline-block;
      padding: 4px 0px 4px 10px;
      border-radius: 5px;
      margin-right: 10px;
      color: #fff;
      line-height: 1;
      margin-bottom: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      .custom__remove {
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
        border-radius: 20px;
        padding:6px;
        color:white;
        cursor: pointer;
      }
      .custom__remove:after{
        content: "\D7";
        font-size: 14px;
      }
    }
    .custom__remove:hover{
      background-color: #447AC4;
    }
    .form-control:disabled, .form-control[readonly]{
      background-color: #e9ecef !important;
    }
</style>
