<template>
  <div class="userWorkgroupContainer">
      <div class="userWorkgroupSearch" :class="{'saveNewSearch': newUserFlag}">
          <b-form-group horizontal class="mb-0">
            <b-input-group>
              <b-form-input v-model="filter" :placeholder="'Search ' + this.$store.state.i18n.tc('workgroup', 2) + '...'" />
            </b-input-group>
          </b-form-group>
      </div>
      <!-- Main table element -->
      <div class="table-scroll">
        <div class="tableUserProfileWorkgroups">
            <b-table show-empty
                    stacked="md"
                    :items="items"
                    :fields="fields"
                    :filter="filter"
                    @filtered="onFiltered"
                    small
                    :current-page="currentPage"
                    :per-page="perPage"
                    v-model="tableValues"
                    no-sort-reset
            >
            <template slot="HEAD_groupID" slot-scope="head">
                <!-- A custom formatted header cell for field 'name' -->
                <b-form-checkbox v-model="allSelected" :disabled="managerUserEdit || managerEditPermission" v-if="managerEditPermission || managerUserEdit"></b-form-checkbox>
                <b-form-checkbox @click.native="toggleSelected" v-model="allSelected" v-else></b-form-checkbox>
            </template>
            <template slot="groupID" slot-scope="row">
                <b-form-checkbox :value="row.item" v-model="checkedItems" :disabled="managerEditPermission || managerUserEdit"></b-form-checkbox>
            </template>
            <template slot="name" slot-scope="row">{{row.item.groupName}}</template>
            </b-table>
            <div class="tablePagination">
              <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" @change="switchPage()" class="my-0" />
            </div>
        </div>
      </div>
  </div>
</template>

<script>
import User from '@/store/user.js'
import Vue from 'vue'
export default {
  data () {
    return {
      workgroupTable: [],
      fields: [
        {key: 'groupID', label: '', class: 'text-center'},
        {key: 'groupName', label: 'Workgroup Name', sortable: true},
        {key: 'groupDescription', label: 'Description', sortable: true}
      ],
      filter: null,
      modalInfo: { title: '', content: '' },
      selectAll: 'selected',
      allSelected: false,
      optionToggle: true,
      tableValues: [],
      currentPage: 1,
      perPage: 15,
      totalRows: 3,
      user: new User(),
      checkedItems: [],
      managerEditPermission: '',
      managerUserEdit: false,
      newUserFlag: false,
      items: ''
    }
  },
  methods: {
    info (checked, button) {
      this.modalInfo.title = `Delete ` + checked.length + ` Role(s)`
      this.modalInfo.content = `Are you sure you want to delete the following role(s)? This action cannot be undone.`
      this.modalInfo.list = checked
      this.$root.$emit('bv::show::modal', 'modalInfo', button)
    },
    resetModal () {
      this.modalInfo.title = ''
      this.modalInfo.content = ''
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    toggleSelected () {
      this.allSelected = !this.allSelected
      this.checkedItems = this.allSelected ? this.tableValues : []
    },
    clearSelected () {
      this.user.workgroupsManaged = []
      this.allSelected = false
      this.checkedItems = []
    },
    hideModal () {
      this.$refs.myModalRef.hide()
    },
    checkManagerEdit () {
      if (this.$store.state.session.accessLevel === 3) {
        return false
      }
      if (this.$store.state.session.user.userName.toUpperCase() === this.user.loginID.toUpperCase()) return true
      return false
    },
    checkManagerUserEdit () {
      if (this.$store.state.session.accessLevel === 3) return false
      if (this.user.access.level === 2 && !((this.$store.state.session.accessMode & 2048) === 2048)) return true
      if ((this.$store.state.session.accessMode & 1024) === 1024 && this.user.access.level !== 3) return false
      return true
    },
    switchPage () {
      var self = this
      Vue.nextTick(function () {
        self.unsetColor()
        var currentNumber = self.currentPage
        var pagination = document.getElementsByClassName('page-link')
        for (var i = 0; i < pagination.length; i++) {
          if (parseInt(pagination[i].innerHTML) === currentNumber) {
            pagination[i].style.backgroundColor = self.$store.state.company.primary
            pagination[i].style.color = 'white'
          }
        }
      })
    },
    unsetColor () {
      var pagination = document.getElementsByClassName('page-link')
      for (var i = 0; i < pagination.length; i++) {
        pagination[i].style.backgroundColor = 'unset'
        pagination[i].style.color = this.$store.state.company.primary
        pagination[i].style.border = '1px solid #dee2e6'
      }
    }
  },
  watch: {
    user: function (user, oldUser) {
      this.$store.commit('user', user)
    },
    checkedItems (a, b) {
      this.optionToggle = (!a.length > 0)
      this.allSelected = (this.items.length === a.length)
      var groupIDs = []
      for (var i = 0; i < this.checkedItems.length; i++) {
        groupIDs.push(this.checkedItems[i].groupID)
      }
      this.user.workgroupsManaged = groupIDs
      this.$store.commit('pushChecked', this.checkedItems)
    },
    newUser (value) {
      this.user = value
      this.checkedItems = []
    }
  },
  mounted: function () {
    this.fields[1].label = this.$store.state.i18n.tc('workgroup', 1) + ' Name'
    if (this.$store.state.user.userProfileID === null) {
      this.newUserFlag = true
    }
    this.user = (this.$store.state.user != null) ? this.$store.state.user : new User()
    this.workgroupTable = this.$store.state.workgroups.map((obj, index) => {
      return ({groupName: obj.groupName, groupID: obj.groupID, groupDescription: obj.groupDescription})
    })
    var checkedHistory = this.$store.state.checkedItems
    if (checkedHistory != null && checkedHistory.length > 0) {
      this.checkedItems = checkedHistory
    } else {
      this.checkedItems = (this.user.managerGroups.count > 0) ? this.user.managerGroups.group : []
    }
    this.managerEditPermission = this.checkManagerEdit()
    if (this.user.userProfileID !== null) {
      this.managerUserEdit = this.checkManagerUserEdit()
    }
    this.items = this.$store.state.workgroups
    document.getElementsByClassName('page-link')[2].style.backgroundColor = this.$store.state.company.primary
    document.getElementsByClassName('page-link')[2].style.borderColor = this.$store.state.company.primary
  },
  beforeDestroy: function () {
    this.$store.commit('user', this.user)
  },
  computed: {
    newUser () {
      return this.$store.state.user
    }
  }
}
</script>
<style lang='scss'>
  .userWorkgroupContainer{
    .tableUserProfileWorkgroups{
        text-align: left;
      tr{
        background-color:#f4f4f4;
      }
      th{
        background-color:#c9c9c9;
        color:black;
      }
      .table td {
        border-top: 1px solid #c9c9c9;
        color:black;
      }
      .table thead th{
        border-bottom: 0px;
        border-top: 0px;
      }
      p{
        margin-bottom: 0px;
      }
      td:nth-child(1){
        text-align: center;
        padding-left: 15px;
      }
      th:nth-child(1){
        width: 60px;
        padding-left: 15px;
      }
    }
    .customRowRole{
      float:right;
    }
    #modalInfo___BV_modal_body_{
      text-align:left;
    }
    .checkedList{
      padding-left:20px !important;
    }
    .userWorkgroupSearch{
      right: 0px;
      margin-top: -74px;
      margin-right: 230px;
      width: 300px;
      position: absolute;
    }
    .saveNewSearch{
      margin-right: 350px !important;
    }
  }
</style>
