<template>
  <div>
    <div class="courseContainer">
      <div class="loadingContainer" :class="animationFlag">
          <div class="loadingAnimation">
          <div class="lds-ring">
            <div :style="{'border-color': primaryColor + ' transparent transparent transparent'}"></div>
            <div :style="{'border-color': primaryColor + ' transparent transparent transparent'}"></div>
            <div :style="{'border-color': primaryColor + ' transparent transparent transparent'}"></div>
            <div :style="{'border-color': primaryColor + ' transparent transparent transparent'}"></div>
          </div>
        </div>
      </div>
        <div class="individualReportTable">
          <div class="table-scroll" :class="courseTable">
            <table class="table table-sm fixed_header" v-if="items.length === 0">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Course Name</th>
                    <th>Launch</th>
                    <th>Status</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Score</th>
                    <th>Certificate</th>
                </tr>
                </thead>
                <tbody>
                  <tr class="b-table-empty-row">
                    <td colspan="8">
                      <div role="alert" aira-live="aria-live">
                        <div class="text-center my-2">There are no records to show</div>
                      </div>
                    </td>
                  </tr>
                </tbody>
            </table>
            <table class="table table-sm fixed_header" v-else>
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Course Name</th>
                    <th>Launch</th>
                    <th>Status</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Score</th>
                    <th>Certificate</th>
                </tr>
                </thead>
                <tbody>
                  <tr v-for="(item, courseIndex) in items" :key="courseIndex" :class="[item.curriculumID+'History', item.curriculumIndex+'Filler', item.curriculumID !== undefined ? 'hideTable' : '', item.curriculumIndex !== undefined ? 'curriculumRowReport' : '' ]">
                    <td>{{item.courseNum}}</td>
                    <td>
                      <a @click.stop="info(item, index, $event.target)" class="courseLink">{{item.courseName}}</a>
                    </td>
                    <td>
                      <b-button size="lg" class="btnGreen" @click="launchCourse(item.courseID)" v-if="item.launch == 'New' || item.launch == 'Start'">
                        Start
                      </b-button>
                      <b-button size="lg" class="btnYellow" @click="launchCourse(item.courseID)" v-else-if="item.launch == 'In Progress'">
                        Continue
                      </b-button>
                      <b-button size="lg" class="btnRed" @click="launchCourse(item.courseID)" v-else-if="item.launch == 'Failed'">
                        Retest
                      </b-button>
                      <b-button size="lg" class="btnGrey" @click="launchCourse(item.courseID)" v-else-if="item.launch == 'Complete'">
                        Review
                      </b-button>
                      <b-button size="lg" class="btnGreen" @click="launchCourse(item.courseID)" v-else-if="item.launch == 'Retake' || item.launch == 'Re-take'">
                        Retake
                      </b-button>
                      <b-button size="lg" :id="item.curriculumIndex +'Button'" :style="{'background-color': primaryColor}" @click="showHideCourse(item.curriculumIndex)" v-else-if="item.courseType == 'curriculum'">
                        <span>Show</span>
                      </b-button>
                    </td>
                    <td>{{item.status}}</td>
                    <td>{{item.startDate}}</td>
                    <td>{{item.endDate}}</td>
                    <td>
                      <span v-if="item.score !== -1 && item.status === 'Completed' || item.launch === 'Complete' || item.launch === 'Failed' || item.launch === 'Retake'">{{item.score}}</span>
                      <span v-else></span>
                    </td>
                    <td>
                      <a :href="item.certificate" target="blank" class="certficateBtn btn btn-lg" v-if="item.certificate !== null && (item.status === 'Completed' || item.status === 'Complete')">
                        <img src="@/assets/Certificate_Icon.svg" class="certificateIcon">
                      </a>
                    </td>
                  </tr>
                </tbody>
            </table>
        </div>
      </div>
    </div>
    <b-modal id="modalInfo" ref="myModalRef" centered @hide="resetModal" :title="modalInfo.title" no-close-on-backdrop>
      <p><b>{{ modalInfo.content }}</b></p>
      <p>{{ modalInfo.courseInfo }}</p>
      <p>Estimated Completion Time:</p>
      <p><b>{{modalInfo.courseTime}}</b></p>
      <div slot="modal-footer">
        <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
            Close
        </b-btn>
      </div>
    </b-modal>
  </div>
</template>

<script>
export default {
  data () {
    return {
      fields: [
        { key: 'courseNum', label: 'No.', sortable: false },
        { key: 'courseName', label: 'Course Name', sortable: false },
        { key: 'launch', label: 'Launch', sortable: false },
        { key: 'status', label: 'Status', sortable: false },
        { key: 'startDate', label: 'Start Date', sortable: false },
        { key: 'endDate', label: 'End Date', sortable: false },
        { key: 'score', label: 'Score', sortable: false },
        { key: 'certificate', label: 'Certificate', sortable: false }
      ],
      lastLaunch: null,
      modalInfo: { title: '', content: '' },
      courseTable: 'hidden',
      animationFlag: 'displayElement',
      primaryColor: this.$store.state.company.primary
    }
  },
  methods: {
    showHideCourse (index){
      var x = index
      var elems = document.getElementsByClassName(x + 'History')
      var button = document.getElementById(x + 'Button')
      if (elems[0].style.display === 'table-row') {
        for (let i = 0; i < elems.length; i++) {
          elems[i].style.display = 'none'
        }
        button.innerHTML = '<span>Show</span>'
      } else {
        for (let i = 0; i < elems.length; i++) {
          elems[i].style.display = 'table-row'
        }
          button.innerHTML = '<span>Hide</span>'
      }
    },
    info (item, button) {
      this.modalInfo.title = 'Course Info'
      this.modalInfo.content = item.courseName
      this.modalInfo.courseInfo = item.courseDescription
      this.modalInfo.courseTime = item.timeFrame
      this.$root.$emit('bv::show::modal', 'modalInfo', button)
    },
    resetModal () {
      this.modalInfo.content = ''
      this.modalInfo.courseInfo = ''
      this.modalInfo.courseTime = ''
    },
    launchCourse (courseID) {
      this.lastLaunch = window.open('/api/course/aicc/?courseID=' + courseID, 'Course', 'width=' + (screen.width - 15) + ', height=' + (screen.height - 100) + ', toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, fullscreen=yes, top=0, left=0')
      this.reloadOnClose()
    },
    reloadOnClose () {
      if (this.lastLaunch) {
        if (this.lastLaunch.closed) {
          this.$store.commit('getMyCourses', null)
          return
        }
        var self = this
        setTimeout(() => { self.reloadOnClose() }, 1000)
      }
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    hideModal () {
      this.$refs.myModalRef.hide()
    }
  },
  mounted: function () {
    this.$store.commit('getMyCourses', null)
  },
  computed: {
    items: {
      get () {
        return this.$store.state.myCourses
      }
    },
    loadingFlag: {
      get () {
        return this.$store.state.loadingFlag
      }
    },
    getPrimaryColor () {
      return this.$store.state.company.primary
    }
  },
  watch: {
    loadingFlag (value) {
      if (value) {
        this.animationFlag = 'hidden'
        this.courseTable = 'displayElement'
      }
    },
    getPrimaryColor (val) {
      this.primaryColor = val
    }
  }
}
</script>

<style lang='scss'>
.courseContainer{
    text-align: left;
    button{
      width: 100px;
      font-size: 15px !important;
    }
    .courseLink:hover{
      text-decoration: underline !important;
      cursor: pointer;
    }
    tr{
      background-color:#f4f4f4;
    }
    th{
      background-color:#c9c9c9;
      color:black;
    }
    .table td {
      border-top: 1px solid #c9c9c9;
      color:black;
      padding-top: 13px;
    }
    tr td:first-child, th:first-child{
      padding-left:20px;
    }
    td:nth-child(3){
      padding-top: 5px;
    }
    td:nth-child(8){
      padding-left: 40px;
      padding-top: 5px;
    }
    .table thead th{
      border-bottom: 0px;
      border-top: 0px;
    }
    p{
      margin-bottom: 0px;
    }
    .certificateIcon{
      width: auto;
      height: 35px;
      margin-left: -14px;
      margin-top: -6px;
    }
    .certficateBtn{
      width: 40px;
      padding-bottom: 1px;
    }
    .table-scroll {
      height:640px;
      overflow:auto;
    }
    .hideTable{
      display:none;
      background-color:white;
    }
    .curriculumRowReport {
      background-color: #dfdfdf;
    }
}
#modalInfo___BV_modal_body_{
  text-align:left;
}
</style>
