<template>
  <div>
    <SubPage :Navigation="Navigation"/>
  </div>
</template>

<script>
import SubPage from '@/components/SubPage.vue'
export default {
  name: 'MyCourses',
  data () {
    return {
      Navigation: [
        {
          name: 'Courses',
          route: '/MyCourses/Courses'
        },
        {
          name: 'Resources',
          route: '/MyCourses/Resources'
        }
      ]
    }
  },
  components: {
    SubPage
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang='scss'>

</style>
