<template>
  <div class='pageContainer'>
    <div class="loadingContainer" :class="animationFlag">
        <div class="loadingAnimation">
            <div class="lds-ring">
                <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
            </div>
        </div>
    </div>
    <div class="resourcesContainer">
      <div class="table-scroll" :class="resourceTable">
        <b-table :items="items" :fields="fields" small :per-page="perPage" show-empty>
          <template slot="url" slot-scope="row">
              <a :href="row.item.url" :download="row.item.url" :class="{'hiddenBtn':(row.item.url === '' || row.item.url === 'uploads/undefined')}">
                <button class="resourceBtn btnGrey">
                    <img src="@/assets/Launch_Icon_Black.svg" class="launchIcon"/>
                </button>
              </a>
          </template>
          <template slot="title" slot-scope="row">
            <p class="resourceLink" @click.stop="info(row.item, row.index, $event.target)">
              {{row.item.title}}
            </p>
          </template>
          <template slot="size" slot-scope="row">
            <p>{{Math.round(row.item.size/1000)}} kb</p>
          </template>
        </b-table>
        <div class="resourcePaginationContainer">
            <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" @change="switchPage()"/>
        </div>
      </div>
    </div>
    <b-modal id="modalInfo" ref="myModalRef" centered @hide="resetModal" :title="modalInfo.title" no-close-on-backdrop>
      <p><b>{{ modalInfo.content }}</b></p>
      <p>{{ modalInfo.resourceDesc }}</p>
      <p>Expiration Date:</p>
      <p><b>{{modalInfo.date_expire}}</b></p>
      <div slot="modal-footer">
        <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
            Close
        </b-btn>
      </div>
    </b-modal>
  </div>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import {faExternalLinkAlt} from '@fortawesome/fontawesome-free-solid/'
import moment from 'moment'
import Vue from 'vue'
export default {
  data () {
    return {
      fields: [
        { key: 'url', label: 'Open', sortable: false },
        { key: 'title', label: 'Resource Name', sortable: true },
        { key: 'url', label: 'File Name', sortable: true },
        { key: 'size', label: 'Size', sortable: true },
        { key: 'postDate', label: 'Date Added', sortable: true}
      ],
      items: [
        {resource_name: 'Vehicle Walkaround Checklist', file_name: 'Checklist.pdf', size: '43 Kb', date_added: '5/21/2018', date_expire: '1/1/2020', resourceDesc: 'Resource Description Content. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.'}
      ],
      modalInfo: { title: '', content: '' },
      perPage: 10,
      currentPage: 1,
      totalRows: 3,
      resourceTable: 'hidden',
      animationFlag: 'displayElement'
    }
  },
  computed: {
    icon () {
      return faExternalLinkAlt
    },
    getCourseResources () {
      return this.$store.state.courseResource
    }
  },
  watch: {
    getCourseResources: function (val) {
      // temporary array to filter out the types of resources allowed to be displayed to the user
      var tempArray = []
      // var accessLevel = this.$store.state.session.accessLevel - 1
      // var todayDate = new Date()
      // for (var i = 0; i < val.length; i++) {
      //   val[i].resource.postDate = moment.utc(new Date(val[i].resource.postDate)).format('MM/DD/YYYY')
      //   val[i].resource.expiration = moment.utc(new Date(val[i].resource.expiration)).format('MM/DD/YYYY')
      //   var expireDate = new Date(val[i].resource.expiration)
      //   if (accessLevel >= val[i].resource.type) {
      //     if (+expireDate >= +todayDate) {
      //       tempArray.push(val[i].resource)
      //     }
      //   }
      // }
      this.items = []
      this.resourceTable = 'displayElement',
      this.animationFlag = 'hidden'
    }
  },
  components: {
    FontAwesomeIcon
  },
  methods: {
    info (item, button) {
      this.modalInfo.title = 'Resource Info'
      this.modalInfo.content = item.title
      this.modalInfo.resourceDesc = item.message
      this.modalInfo.date_expire = item.expiration
      this.$root.$emit('bv::show::modal', 'modalInfo', button)
    },
    resetModal () {
      this.modalInfo.content = ''
      this.modalInfo.courseInfo = ''
      this.modalInfo.courseTime = ''
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    hideModal () {
      this.$refs.myModalRef.hide()
    },
    switchPage () {
      var self = this
      Vue.nextTick(function () {
        self.unsetColor()
        var currentNumber = self.currentPage
        var pagination = document.getElementsByClassName('page-link')
        for (var i = 0; i < pagination.length; i++) {
          if (parseInt(pagination[i].innerHTML) === currentNumber) {
            pagination[i].style.backgroundColor = self.$store.state.company.primary
            pagination[i].style.color = 'white'
          }
        }
      })
    },
    unsetColor () {
      var pagination = document.getElementsByClassName('page-link')
      console.log('i went here')
      for (var i = 0; i < pagination.length; i++) {
        pagination[i].style.backgroundColor = 'unset'
        pagination[i].style.color = this.$store.state.company.primary
        pagination[i].style.border = '1px solid #dee2e6'
      }
    }
  },
  mounted: function () {
    document.getElementsByClassName('page-link')[2].style.backgroundColor = this.$store.state.company.primary
    document.getElementsByClassName('page-link')[2].style.borderColor = this.$store.state.company.primary
    this.$store.dispatch('getCourseResource')
  },
}
</script>

<style lang='scss'>
$greenBtn: #99CC33;
$yellowBtn: #FFA500;
$redBtn: #ff0000;
$greyBtn: #dfdfdf;
.resourcesContainer{
    .hiddenBtn{
      visibility: hidden;
    }
    text-align: left;
    .table-scroll{
      height: 550px;
      overflow: auto;
    }
    .resourceBtn{
        border: 0px;
        padding:7px;
        border-radius: 5px;
    }
    tr{
      background-color:#f4f4f4;
    }
    th{
      background-color:#c9c9c9;
      color: black;
    }
    .table td {
    border-top: 1px solid #c9c9c9;
    }
    .table td{
      padding-top:15px;
      color:black;
    }
    tr td:first-child{
      padding-top: 5px;
    }
    .table thead th{
      border-bottom: 0px;
      border-top: 0px;
    }
    tr td:first-child, th:first-child{
      padding-left:20px;
    }
    .resourceLink:hover{
      text-decoration: underline;
      cursor: pointer;
    }
    p{
      margin-bottom:0px;
    }
    .launchIcon{
      width:27px;
      height:27px;
    }
    .resourcePaginationContainer{
        float:right;
    }
}
#modalInfo___BV_modal_body_{
  text-align:left;
}
</style>
