$primaryGreen: #99CC33;
$primaryBlue: #3567A8;
$primaryBlueHover: #447AC4;
$hoverGreen: #ABD555;
$yellowBtn: #FFA500;
$hoverYellow: #ffb52B;
$primaryRed: #ff0000;
$redHover: #FF4040;
$greyBtn: #c9c9c9;
$greyHover: #dfdfdf;
$secondaryGreen: #00AC4E;
$secondaryGreenHover: #00D761;
$primary:#3567A8;
$primaryHover: #6492CE;
$primaryActive: #447AC4;
$secondary: #00AC4E;
$secondaryHover: #00D761;
$secondaryActive: #DE1634;

.btnGreen{
    background-color: $primaryGreen;
    border-color: $primaryGreen;
}
.btnGreen:hover{
    background-color: $hoverGreen !important;
    border-color: $hoverGreen !important;
}
.btnYellow{
    background-color: $yellowBtn;
    border-color: $yellowBtn;
}
.btnYellow:hover{
    background-color: $hoverYellow !important;
    border-color: $hoverYellow !important;
}

.btn-secondary:hover, .btn-primary:hover, .nav-link:hover, .SystemBtn:hover {
    filter: brightness(120%) !important;
}

.btn-secondary:hover:disabled, .btn-primary:hover:disabled, .nav-link:hover:disabled, .SystemBtn:hover:disabled {
    filter: unset !important;
}

.btn-primary:active, #app .headerNav a.nav-link.active, .activeNav a, .SystemBtn:active {
	filter: brightness(140%) !important;
}

.btn-secondary:active {
	filter: brightness(80%) !important;
}

.btnRed{
    background-color: $primaryRed;
    border-color: $primaryRed;
}
.btnRed:hover{
    background-color: $redHover !important;
    border-color: $redHover !important;
}
.btnGrey, .certficateBtn, .checklistBtn{
    background-color: $greyBtn;
    border-color: $greyBtn;
    color: black !important;
    filter: unset !important
}
.btnGrey:hover{
  filter: unset !important
}
.btnGrey:hover, .certficateBtn:hover, .greyBtn:hover, .checklistBtn:hover{
    background-color: $greyHover !important;
    border-color: $greyHover !important;
}
.btnGreen, .btnYellow, .btnRed, .btnGrey, .btn-secondary:not(:disabled):not(.disabled):active:focus, .certficateBtn, .btnGreenSecondary, .btn:focus{
    outline: unset !important;
    box-shadow: unset !important;
}
.btnGreenSecondary{
    background-color: $secondary;
    border-color: $secondary;
}
.btnGreenSecondary:hover{
    background-color: $secondaryHover !important;
    border-color: $secondaryHover !important;
}
.activeStatus{
    font-weight: bold;
    color: $primaryGreen
}
.inactiveStatus{
    font-weight: bold;
    color: $primaryRed;
}

.pageContainer {
    margin-left: 250px;
    padding: 30px;
}
.btnSaveCancelContainer{
    display:flex;
    float: right;
    margin-right: 36px;
    margin-top: 6px;
    .btn {
        width:90px;
    }
}
.btnSaveCourse{
    margin-right: 7px;
}
.btnSaveNew{
    width:113px !important;
    margin-right: 7px;
}
.page-link{
    color: $primary;
}
.page-item.active .page-link {
    background-color: $primary;
}
.loginContainer, .createAccount{
    background-color:$primaryBlue;
}
.continueLoginBtn, .verifyLoginBtn {
    width:100%;
    background-color: $secondary;
    border-color: $secondary;
    margin-top: 10px;
}
.continueLoginBtn:hover, .verifyLoginBtn:hover{
    background-color: $secondaryHover;
    border-color: $secondaryHover;
}
.hidden {
    display:none !important;
}
.displayElement{
    display:block !important;
}
.pointerCursor{
    cursor: pointer;
}
.table td {
    border-top: 1px solid #c9c9c9 !important;
    color:black !important;
}
.table td {
    border-top: 1px solid #c9c9c9;
    color:black;
  }
.table thead th {
    border-bottom: 0px;
    border-top: 0px;
}
.SystemBtn{
    background-color: $primaryBlue;
}
.tablePagination{
    float:right;
}
.btnUserContainer2 #userDropDown__BV_toggle_:disabled, #roleDropDown__BV_toggle_:disabled, #courseDropDown__BV_toggle_:disabled, #resourceDropDown__BV_toggle_:disabled{
    background-color: #c9c9c9 !important;
    border-color: #c9c9c9 !important;
    color: black !important;
}
.dropdown-menu.show{
  background-color: #f4f4f4;
}
.dropdown-item:hover, .dropdown-item:focus{
    background-color: #c9c9c9 !important;
}
.textLeft{
    text-align:left;
}
.Buy .breadcrumb, .SystemManagementResources .breadcrumb, .SystemManagementAnnoucements .breadcrumb, .IndividualReport .breadcrumb, .EditCertifcates .breadcrumb, .MyReports .breadcrumb, .ManageUserPermission .breadcrumb, .Annoucements .breadcrumb, .SystemManagementAnnoucements .breadcrumb {
    margin-left: 15px;
}
.ApplicationLogs .mainHeader{
    display:none;
}
.ApplicationLogs footer{
    display:none;
}
.custom-checkbox{
    min-height: 17px;
}
.multiselect__tag-icon:after{
    color:white !important;
}
.table-scroll{
    height: 65vh !important;
    overflow: auto;
    width: 100%;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    background-color:#f4f4f4;
    border-radius: 10px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 51px;
    height: 51px;
    margin: 6px;
    border: 8px solid $primary;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $primary transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loadingAnimation{
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center
  }
  .loadingContainer{
    position: absolute;
    margin-left: 250px;
    margin-right: auto;
    margin-top: 20vh;
    left: 0;
    right: 0;
  }
  .btnManagerContainer{
    .btn-secondary.disabled, .btn-secondary:disabled{
        background-color: $secondary !important;
        border-color: $secondary !important;
    }
}
  .scroller {
    height: 70vh;
    overflow: auto;
  }
  @media only screen and (max-height: 800px) {
    .table-scroll{
        height: 55vh !important;
        overflow: auto;
        width: 100%;
    }
    .scroller {
        height: 55vh;
        overflow: auto;
      }
  }
  .btnManagerContainer{
    .btn-secondary.disabled, .btn-secondary:disabled{
        background-color: $secondary !important;
        border-color: $secondary !important;
    }
}
/* .continueLoginBtn:active, .verifyLoginBtn:active {
    background-color: $secondaryActive !important;
    border-color: $secondaryActive !important;
} */
.bgBlue{
    background-color: $primary !important;
}
.multiselect__tag, .multiselect__tag-icon:focus, .multiselect__tag-icon, .multiselect__option--highlight {
    background-color: #c9c9c9 !important;
}
.multiselect__tag-icon:focus, .multiselect__tag-icon:hover{
    background-color: #dfdfdf !important
}
.multiselect__tag{
    margin-bottom: 0px !important;
    color: black !important;
}
.multiselect__tag-icon:after{
  color: black !important
}
.multiselect__option--highlight{
    color: black !important;
}
.was-validated .form-control:valid, .form-control.is-valid{
  //background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") center right calc(0.375em + 0.1875rem);
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e") #fff no-repeat center right 0.75rem/calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.custom-select.is-valid, .was-validated .custom-select:valid{
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center/8px 10px,url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E") #fff no-repeat center right 1.75rem/calc(.75em + .375rem) calc(.75em + .375rem) !important
}
.form-control.is-invalid, .was-validated .form-control:invalid{
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E") #fff no-repeat center right 0.75rem/calc(.75em + .375rem) calc(.75em + .375rem)
}
.custom-select.is-invalid, .was-validated .custom-select:invalid{
  background:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center/8px 10px,url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E") #fff no-repeat center right 1.75rem/calc(.75em + .375rem) calc(.75em + .375rem) !important
}