<template>
    <div class="userProfileManagementContainer">
        <SubLayoutFullWidthContainer/>
        <div class="btnUserContainer1">
            <a v-on:click="getExport()" :class="btn1"><b-button class="btnUserExport" id="btnManagerApprove" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">Export</b-button></a>
            <b-button class="btnUserExport" id="btnManagerApprove" :class="btn2" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
            <div>
                <div class="loadingAnimation">
                    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
            </b-button>
            <b-button class="btnGrey btnUserFilter" @click.stop="info(checkedItems, 'filter')">Filters</b-button>
            <b-form-input v-model="search" @change="filterUserManageTable" placeholder="Search Users..." class="customUserSearch" />
        </div>
        <div class="btnUserContainer2">
            <b-button class="btnNewUser" @click="newUser(null)" v-if="checkManagerPermission" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">New User</b-button>
            <b-dropdown class="userDropDown" id="userDropDown" :class="{'optionShift': !checkManagerPermission}" text="Options" :disabled="optionToggle" v-model="dropdownValue">
                <b-dropdown-item value="1" v-if="activeFlag" @click="changeStatus(1)">Make Active</b-dropdown-item>
                <b-dropdown-item value="0" v-if="inactiveFlag" @click="changeStatus(0)">Make Inactive</b-dropdown-item>
                <!-- <b-dropdown-item @click.stop="info(checkedItems, 'emailSelect')">Email Selected</b-dropdown-item>
                <b-dropdown-item @click.stop="info(checkedItems, 'emailAll')">Email All</b-dropdown-item> -->
            </b-dropdown>
            <div class="userCountContainer">
                <p class="userCount" :class="{'userTextShift': !checkManagerPermission}" v-if="this.$store.state.totalUsers !== null">Users ({{this.$store.state.totalUsers}}) </p>
                <p class="userCount" :class="{'userTextShift': !checkManagerPermission}" v-else>Users ({{totalUsers}}) </p>
            </div>
        </div>
        <div class="userApprovalContainer">
            <div class="loadingContainer" :class="animationFlag">
                <div class="loadingAnimation">
                    <div class="lds-ring">
                        <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                        <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                        <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                        <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    </div>
                </div>
            </div>
            <div class="table-scroll" :class="userProfileTable">
                <div class="userApprovalTable">
                    <b-table show-empty
                            stacked="md"
                            :items="items"
                            :fields="fields"
                            :current-page="currentPage"
                            :per-page="perPage"
                            :filter="filter"
                            :sort-by.sync="sortBy"
                            :sort-desc.sync="sortDesc"
                            :sort-direction="sortDirection"
                            @filtered="onFiltered"
                            v-model="tableValues"
                            small
                    >
                    <template slot="HEAD_actions" slot-scope="head">
                        <!-- A custom formatted header cell for field 'name' -->
                        <b-form-checkbox @click.native="toggleSelected" v-model="allSelected"></b-form-checkbox>
                    </template>
                    <template slot="HEAD_loginID" slot-scope="data">
                        <a @click="sortTable('empid', '')" class="sortLink">{{fields[1].label}}</a>
                    </template>
                    <template slot="HEAD_firstName" slot-scope="data">
                        <a @click="sortTable('fname', '')" class="sortLink">{{fields[2].label}}</a>
                    </template>
                    <template slot="HEAD_lastName" slot-scope="data">
                        <a @click="sortTable('lname', '')" class="sortLink">{{fields[3].label}}</a>
                    </template>
                    <template slot="HEAD_workgroup" slot-scope="data">
                        <a @click="sortTable('workgroup', '')" class="sortLink">{{fields[4].label}}</a>
                    </template>
                    <template slot="HEAD_role" slot-scope="data">
                        <a @click="sortTable('role', '')" class="sortLink">{{fields[5].label}}</a>
                    </template>
                    <template slot="actions" slot-scope="row">
                        <b-form-checkbox :value="row.item" v-model="checkedItems"></b-form-checkbox>
                    </template>
                    <template slot="loginID" slot-scope="row"><a @click="newUser(row.item.userProfileID)" class="roleLink">{{row.value}}</a></template>
                    <template slot="name" slot-scope="row">{{row.value}}</template>
                    <template slot="workgroup" slot-scope="row">
                    <div :title="`${row.item.workgroups}`">{{ row.value }}</div>
                    </template>
                    <template slot="role" slot-scope="row">
                    <div :title="`${row.item.roles}`">{{ row.value }}</div>
                    </template>
                    </b-table>
                    <div class="customPagination">
                        <ul class="my-0 pagination b-pagination pagination-md" role="menubar" aria-label="Pagination">
                            <li role="none presentation" class="page-item" @click="decreasePageNum()">
                                <a role="menuitem" aria-label="Goto previous page" href="#" target="_self" class="page-link">
                                    <span aria-hidden="true">‹</span>
                                </a>
                            </li>
                            <li role="none presentation" class="page-item active">
                                <a role="menuitemradio" href="#" class="page-link btn-primary" :style="{ 'background-color': this.$store.state.company.primary, 'border-color': this.$store.state.company.primary}">{{pageNumber}}</a>
                            </li>
                            <li role="none presentation" class="page-item" @click="increasePageNum()">
                                <a role="menuitem" href="#" class="page-link"><span aria-hidden="true">›</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="userProfileModal" ref="myModalRef" size="lg" centered title="Filters" no-close-on-backdrop>
            <b-row>
                <b-col cols="3" class="bgGrey" :style="[statusValue !== 1 ? {'background-color': this.$store.state.company.primary, color: 'white'}: []]">
                    <label>Status</label>
                </b-col>
                <b-col cols="9">
                    <b-form-select :options="statusOptions" v-model="statusValue" class="courseStatus" />
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="3" class="bgGrey" :style="[workGroupValue.length>0 ? {'background-color': this.$store.state.company.primary, color: 'white'}: []]">
                    <label>{{this.$store.state.i18n.tc('workgroup', 2)}}</label>
                </b-col>
                <b-col cols="9">
                    <multiselect class="multiWork" v-model="workGroupValue" tag-placeholder="Add this as new tag" :placeholder="'Search ' + this.$store.state.i18n.tc('workgroup', 2)" label="groupName" track-by="groupID" :options="this.$store.state.workgroups" :multiple="true" :taggable="false" @tag="addTag">
                    </multiselect>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="3" class="bgGrey" :style="[roleValue.length > 0 ? {'background-color': this.$store.state.company.primary, color: 'white'}: []]">
                    <label>{{this.$store.state.i18n.tc('role', 2)}}</label>
                </b-col>
                <b-col cols="9">
                    <multiselect class="multiRole" v-model="roleValue" :placeholder="'Search ' + this.$store.state.i18n.tc('role', 2)" tag-placeholder="Add this as new tag" label="groupName" track-by="groupID" :options="this.$store.state.roles" :multiple="true" :taggable="false" @tag="addTag">
                    </multiselect>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="3" class="bgGrey" :style="[accessValue !== -1 ? {'background-color': this.$store.state.company.primary, color: 'white'}: []]">
                    <label>Access Level</label>
                </b-col>
                <b-col cols="9">
                    <b-form-select :options="accessOptions" v-model="accessValue" class="courseStatus" />
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="3" class="bgGrey" :style="[startHire !== '' && endHire !== '' ? {'background-color': this.$store.state.company.primary, color: 'white'}: []]">
                    <label>Hire Date</label>
                </b-col>
                <b-col cols="4">
                    <b-form-input type="date" v-model="startHire"></b-form-input><p class="dateTo">to</p>
                </b-col>
                <b-col cols="5">
                    <b-form-input type="date" v-model="endHire"></b-form-input>
                </b-col>
            </b-row>
            <div slot="modal-footer">
              <b-btn class="float-right btnGrey btnReset" variant="secondary" @click="resetTable">
                Reset
              </b-btn>
              <b-btn class="float-right btnGrey btnApply" variant="secondary" @click="filterUserManageTable">
                Apply
              </b-btn>
            </div>
        </b-modal>
        <b-modal id="emailModal" ref="emailRef" size="lg" centered :title="emailModal.title" no-close-on-backdrop>
            <div class="emailForm">
                <label>From Email</label>
                <b-form-input v-model="fromEmail" style="margin-bottom:10px;"></b-form-input>
                <label>Subject</label>
                <b-form-input v-model="emailSubject" style="margin-bottom:10px;"></b-form-input>
                <label>Body</label>
                <b-form-textarea
                     v-model="emailBody"
                     placeholder=""
                     :rows="6"
                     :max-rows="10"
                     :no-resize="true"
                     style="margin-bottom: 10px;">
                </b-form-textarea>
            </div>
            <div slot="modal-footer">
              <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                Cancel
              </b-btn>
              <b-btn class="float-right btnGreenSecondary btnSend" variant="secondary" @click="hideModal">
                Send
              </b-btn>
            </div>
        </b-modal>
    </div>
</template>
<script>
import SubLayoutFullWidthContainer from '@/components/SubLayout-Full-Width.vue'
var moment = require('moment')
var he = require('he')

var defaultfields = [
  { key: 'actions', label: '', class: 'text-center', sortable: false },
  { key: 'loginID', label: 'Username' },
  { key: 'firstName', label: 'First' },
  { key: 'lastName', label: 'Last' },
  { key: 'workgroup', label: 'Workgroup' },
  { key: 'role', label: 'Role' }
]
// not sure if you used this adam so i commeted it out - Phong
// function getFirst(array) {
//   return (typeof array === 'Array' ? array[0] : array)
// }
moment().format()
export default {
  components: {
    SubLayoutFullWidthContainer
  },
  data () {
    return {
      fields: defaultfields,
      search: null,
      workGroupValue: [],
      roleValue: [],
      accessOptions: [
        {text: 'All', value: -1},
        {text: 'User', value: 1},
        {text: 'Manager', value: 2},
        {text: 'Administrator', value: 3}
      ],
      accessValue: -1,
      pageNumber: 1,
      sortBy: 'workgroup',
      sortDesc: false,
      sortDirection: 'desc',
      filter: null,
      modalInfo: { title: '', content: '' },
      emailModal: { title: '', content: '' },
      selectAll: 'selected',
      allSelected: false,
      checkedItems: [],
      optionToggle: true,
      tableValues: [],
      statusValue: 1,
      startHire: '',
      endHire: '',
      statusOptions: [
        { text: 'Active', value: 1 },
        { text: 'Inactive', value: 0 }
      ],
      currentPage: 1,
      perPage: 15,
      totalRows: 3,
      emailBody: '',
      emailSubject: '',
      fromEmail: '',
      checkManagerPermission: '',
      userProfileTable: 'hidden',
      animationFlag: 'displayElement',
      totalUsers: '',
      btn1: 'displayElement',
      btn2: 'hidden',
      primaryColor: this.$store.state.company.primary,
      secondaryColor: this.$store.state.company.secondary,
      activeFlag: false,
      inactiveFlag: true,
      dropdownValue: '',
      editUserFlag: false
    }
  },
  computed: {
    getUser () {
      return this.$store.state.user
    },
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    },
    items: {
      get () {
        return this.$store.state.users.map((obj, index) => {
          var objFirstName = obj.firstName.toString()
          var objLastName = obj.lastName.toString()
          return {
            userProfileID: obj.userProfileID,
            loginID: obj.empID,
            firstName: he.decode(objFirstName),
            lastName: he.decode(objLastName),
            workgroup: (obj.workgroups !== '' && typeof obj.workgroups.group !== 'undefined' && Array.isArray(obj.workgroups.group)) ? (he.decode(obj.workgroups.group[0].groupName.toString()) + (obj.workgroups.count > 1 ? '...' : '')) : '',
            role: (obj.roles !== '' && typeof obj.roles.group !== 'undefined' && Array.isArray(obj.roles.group)) ? (he.decode(obj.roles.group[0].groupName.toString()) + (obj.roles.group.length > 1 ? '...' : '')) : '',
            workgroups: (obj.workgroups !== '' && typeof obj.workgroups.group !== 'undefined') ? obj.workgroups.group.map(function (obj) { return he.decode(obj.groupName.toString()) }).join('; ') : '',
            roles: (obj.roles !== '' && typeof obj.roles.group !== 'undefined') ? obj.roles.group.map(function (obj) { return he.decode(obj.groupName.toString()) }).join('; ') : ''
          }
        })
      }
    },
    loadingFlag: {
      get () {
        return this.$store.state.loadingFlag
      }
    }
  },
  methods: {
    newUser (userProfileID) {
      this.$store.dispatch('editUser', userProfileID)
      this.$store.commit('getManagerPresets')
      this.$store.commit('SET_PUSH_EDIT_ROLES', [])
      this.$store.commit('SET_PUSH_NEW_ROLES', [])
      this.$store.commit('SET_PUSH_EDIT_WORKGROUPS', [])
      if (this.$store.state.config.ShopEnabled || this.$store.state.config.ShopEnabled === 'true') {
          this.$store.dispatch('getRoleSeat')
      } else {
          this.$store.dispatch('getRoles')
      }
      if (sessionStorage.getItem('permissionPreset') !== null) {
        sessionStorage.removeItem('permissionPreset')
      }
      this.editUserFlag = true
    },
    info (checked, type) {
      switch (type) {
        case 'filter':
          this.$root.$emit('bv::show::modal', 'userProfileModal')
          break
        case 'emailSelect':
          // When email using this option, use checkedItems.loginID
          this.emailModal.title = 'Send Email to ' + checked.length + ' Users(s)'
          this.$root.$emit('bv::show::modal', 'emailModal')
          break
        case 'emailAll':
          // When emailing using this option, use tableValues.loginID
          this.emailModal.title = 'Send Email to ' + this.tableValues.length + ' Users(s)'
          this.$root.$emit('bv::show::modal', 'emailModal')
          break
      }
    },
    searchUsers () {
      this.animationFlag = 'displayElement'
      this.userProfileTable = 'hidden'
      this.$store.commit('searchUserReport', this.search)
    },
    sortTable (sort, pageNum) {
      if (sort !== '') {
        var objSort = {}
        objSort['sort'] = sort
        this.pageNumber = 1
        this.$store.commit('sortUserReport', objSort)
      }
      if (pageNum !== '') {
        var objNum = {}
        objNum['pageNum'] = pageNum
        this.$store.commit('sortUserReport', objNum)
        pageNum = parseInt(pageNum)
        sessionStorage.setItem('userPage', pageNum + 1)
      }
    },
    getExport () {
      this.btn1 = 'hidden'
      this.btn2 = 'displayElement'
      window.location.href = '/api/report/users/?format=csv'
      var self = this
      setTimeout(function () {
        self.btn2 = 'hidden'
        self.btn1 = 'displayElement'
      }, 1000)
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    toggleSelected () {
      this.allSelected = !this.allSelected
      this.checkedItems = this.allSelected ? this.tableValues : []
    },
    clearSelected () {
      this.allSelected = false
      this.checkedItems = []
    },
    hideModal () {
      this.$refs.myModalRef.hide()
      this.$refs.emailRef.hide()
    },
    addTag (newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
      }
      this.options.push(tag)
      this.value.push(tag)
    },
    multiFilter (array, filters) {
      const filterKeys = Object.keys(filters)
      // filters all elements passing the criteria
      return array.filter((item) => {
      // dynamically validate all filter criteria
        return filterKeys.every(key => !!~filters[key].indexOf(item[key]))
      })
    },
    increasePageNum () {
      this.pageNumber = parseInt(this.pageNumber) + 1
      var pageCount = parseInt(this.pageNumber) - 1
      this.sortTable('', pageCount)
    },
    decreasePageNum () {
      if (this.pageNumber === 1) {
        console.log('page cannot be less than 1')
      } else {
        this.pageNumber = parseInt(this.pageNumber) - 1
        var pageCount = parseInt(this.pageNumber) - 1
        this.sortTable('', pageCount)
      }
    },
    filterUserManageTable () {
      this.animationFlag = 'displayElement'
      this.userProfileTable = 'hidden'
      var params = {
        accessLevel: this.accessValue,
        statusID: this.statusValue
      }
      if (this.statusValue === 1) {
        this.inactiveFlag = true
        this.activeFlag = false
      } else {
        this.inactiveFlag = false
        this.activeFlag = true
      }
      if (this.workGroupValue.length > 0) {
        var workgroupList = []
        for (var j = 0; j < this.workGroupValue.length; j++) {
          workgroupList.push(this.workGroupValue[j].groupID)
        }
        params['workgroup'] = workgroupList.join('|')
      }
      if (this.roleValue.length > 0) {
        var roleList = []
        for (var i = 0; i < this.roleValue.length; i++) {
          roleList.push(this.roleValue[i].groupID)
        }
        params['role'] = roleList.join('|')
      }
      if (this.startHire !== '') {
        params['hsdate'] = moment(this.startHire).format('MM/DD/YYYY')
      }
      if (this.endHire !== '') {
        params['hedate'] = moment(this.endHire).format('MM/DD/YYYY')
      }
      if (this.search !== null && this.search !== '' && this.search.length > 0) {
        params['search'] = this.search
      }
      this.pageNumber = 1
      sessionStorage.setItem('usersFilter', JSON.stringify(params))
      sessionStorage.setItem('userFilterRoles', JSON.stringify(this.roleValue))
      sessionStorage.setItem('userFilterWorkgroups', JSON.stringify(this.workGroupValue))
      sessionStorage.setItem('userPage', 1)
      this.$store.commit('sortUserProfileManagement', params)
      this.hideModal()
    },
    resetTable () {
      this.accessValue = -1
      this.statusValue = 1
      this.workGroupValue = []
      this.roleValue = []
      this.startHire = ''
      this.endHire = ''
      this.emailBody = ''
      this.emailSubject = ''
      this.fromEmail = ''
    },
    checkManagerAddUser () {
      var accessMode = this.$store.state.session.accessMode
      var accessLevel = this.$store.state.session.accessLevel
      if (accessLevel === 3) return true
      if ((accessMode & 512) === 512) return true
      return false
    },
    reassignLabels () {
      defaultfields[4].label = this.$store.state.i18n.tc('workgroup', 2)
      defaultfields[5].label = this.$store.state.i18n.tc('role', 2)
    },
    changeStatus (statusValue) {
      for (var i = 0; i < this.checkedItems.length; i++) {
        var statusObj = {
          userID: this.checkedItems[i].userProfileID,
          optionValue: statusValue
        }
        this.$store.commit('changeUserStatus', statusObj)
      }
      var self = this
      this.animationFlag = 'displayElement'
      this.userProfileTable = 'hidden'
      setTimeout(function() {
        self.filterUserManageTable()
        self.checkedItems = []
      }, 1000)
    }
  },
  watch: {
    getUser (val) {
      if(this.editUserFlag) {
        this.$router.push({path: '/NewUserProfile/UserInformation'})
        this.$store.commit('pushChecked', [])
        this.editUserFlag = false
      }
    },
    checkedItems (a, b) {
      this.optionToggle = (!a.length > 0)
      this.allSelected = (this.tableValues.length === a.length)
    },
    perPage (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    currentPage (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    filter (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    loadingFlag (value) {
      if (value) {
        this.animationFlag = 'hidden'
        this.userProfileTable = 'displayElement'
      }
    }
  },
  mounted: function () {
    this.reassignLabels()
    this.$store.commit('user', '')
    if (sessionStorage.getItem('userData') !== null) {
      this.totalUsers = sessionStorage.getItem('userTotal')
      this.pageNumber = parseInt(sessionStorage.getItem('userPage'))
      this.animationFlag = 'hidden'
      this.userProfileTable = 'displayElement'
      if (this.$store.state.users.length === 0) {
        this.$store.commit('setUserData', null)
      }
      if (sessionStorage.getItem('usersFilter') !== null) {
        var filterData = sessionStorage.getItem('usersFilter')
        filterData = JSON.parse(filterData)
        for (var data in filterData) {
          switch (data) {
            case 'statusID':
              this.statusValue = filterData[data]
              break
            case 'workgroup':
              var workgroups = sessionStorage.getItem('userFilterWorkgroups')
              workgroups = JSON.parse(workgroups)
              this.workGroupValue = workgroups
              break
            case 'role':
              var roles = sessionStorage.getItem('userFilterRoles')
              roles = JSON.parse(roles)
              this.roleValue = roles
              break
            case 'accessLevel':
              this.accessValue = filterData[data]
              break
            case 'hsdate':
              this.startHire = moment.utc(filterData[data]).format('YYYY-MM-DD')
              break
            case 'hedate':
              this.endHire = moment.utc(filterData[data]).format('YYYY-MM-DD')
              break
            case 'search':
              this.search = filterData[data]
              break
          }
        }
      }
    } else {
      this.$store.dispatch('getUsers')
      this.totalUsers = this.$store.state.totalUsers
      sessionStorage.setItem('userPage', 1)
    }
    this.checkManagerPermission = this.checkManagerAddUser()
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss">
    .userProfileManagementContainer{
        .userApprovalContainer{
            .loadingContainer {
                margin-left:0px !important;
            }
        }
        .roleLink:hover{
            text-decoration: underline !important;
            cursor: pointer;
        }
        .table-scroll{
            height: 650px;
            overflow: auto;
        }
        .optionShift{
        }
        .userTextShift{
        }
        .userApprovalContainer{
            padding: 30px;
            text-align: left;
            .userPagination{
                float:right;
            }
            .courseLink:hover{
                text-decoration: underline;
                cursor: pointer;
            }
            tr{
                background-color:#f4f4f4;
            }
            th{
                background-color:#c9c9c9;
                color:black;
            }
            .table td {
                border-top: 1px solid #c9c9c9;
                color:black;
            }
            tr td:first-child, th:first-child{
                padding-left:20px;
            }
            .table thead th{
                border-bottom: 0px;
                border-top: 0px;
            }
            td:nth-child(9){
                padding-top: 10px;
                padding-left:30px;
            }
            th:nth-child(7){
                width: 110px;
            }
            .checklistBtn{
                width: 40px;
                padding-bottom: 1px;
            }
            .documentCheckmarkIcon{
                width: auto;
                height: 33px;
                margin-left: -10px;
                margin-top: -10px;
            }
            .hideDocumentIcon{
                visibility: hidden;
            }
            .sorting:before{
                position: absolute;
                bottom: 0;
                display: block;
                opacity: 0.4;
                padding-bottom: inherit;
                font-size: inherit;
                line-height: 180%;
            }
            .sorting:after{
                position: absolute;
                bottom: 0;
                display: block;
                opacity: 0.4;
                padding-bottom: inherit;
                font-size: inherit;
                line-height: 180%;
            }
            .userLink{
                color:black;
            }
        }
        .btnUserContainer1{
            float:right;
            display:flex;
            margin-top:-44px;
            .btnUserExport{
                margin-right: 10px;
            }
            .btnUserFilter{
                margin-right:10px;
            }
            .customUserSearch{
                margin-right:37px;
            }
            .btn-secondary.disabled, .btn-secondary:disabled{
                background-color: #00AC4E;
            }
            .loadingAnimation{
                height:0px;
            }
            .lds-ring div {
                width: 30px;
                height:30px;
                box-sizing: border-box;
                border: 6px solid white;
                border-color: white transparent transparent transparent;
            }
            .lds-ring{
                width: 45px;
                height: 45px;
                margin-top:1px;
                background-color: unset;
            }
        }
        .btnUserContainer2{
            float:left;
            display:flex;
            margin-top:-44px;
            margin-left: 37px;
            .btnNewUser, .userDropDown{
                margin-right:10px;
            }
            .userCountContainer{
                display:flex;
                align-items: center;
                justify-content: center;
                .userCount{
                    color:white;
                    margin-top:0px;
                    margin-bottom:0px;
                }
            }
            #userDropDown__BV_toggle_{
                background-color: #c9c9c9;
                border-color: #c9c9c9;
                color: black !important;
                filter: unset !important;
            }
            #userDropDown__BV_toggle_:hover{
                background-color: #dfdfdf;
                border-color: #dfdfdf;
                color:black;
            }
        }
        .dateTo{
            width: 0px;
            margin: 0;
            margin-left: 240px;
            margin-top: -30px;
        }
        #userProfileModal{
            text-align: left;
            .row{
                margin-bottom:10px;
                margin-left: 0px;
            }
            .bgGrey{
                background-color:#f4f4f4;
                max-height: 39px;
            }
            label{
                margin-top: 7px;
            }
            .bgBlue{
                background-color: #3567A8;
                color:white;
            }
            .btnApply{
                margin-right: 10px;
            }
        }
        .emailForm{
            text-align:left;
        }
        .btnSend{
            margin-right:10px;
        }
        .customPagination {
              float: right;
        }
    }
</style>
