<template>
    <div>
        <SubLayoutFullWidthContainer/>
        <div class="displayUsernameContainer">
            <p class="userInfo">{{firstName}} {{lastName}} - {{userName}}</p>
        </div>
        <div class="btnIndivdualContainer">
            <!-- <b-button class="btnGreenSecondary btnIndividualReport" id="btnIndividualReport">Export</b-button> -->
        </div>
        <div class="individualReportContainer">
            <div class="loadingContainer" :class="animationFlag">
                <div class="loadingAnimation">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
            <div class="individualReportTable">
              <div class="table-scroll" :class="individualReport">
                <table class="table table-sm fixed_header" v-if="items.length === 0">
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>No.</th>
                        <th>Course Name</th>
                        <th>Status</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Time</th>
                        <th>Score</th>
                        <th>Certificate</th>
                        <th>Comments</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                      <tr class="b-table-empty-row">
                        <td colspan="12">
                          <div role="alert" aira-live="aria-live">
                            <div class="text-center my-2">There are no records to show</div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
                <table class="table table-sm fixed_header" v-else>
                    <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>No.</th>
                        <th>Course Name</th>
                        <th>Status</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Time</th>
                        <th>Score</th>
                        <th>Certificate</th>
                        <th>Comments</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody v-for="(item, courseIndex) in items" :key="courseIndex">
                        <tr v-for="(report, reportIndex) in item.courseAttempts.reportItem.length" :key="reportIndex" :class="[reportIndex !== 0 ? item.courseNum+'history' : '', reportIndex !== 0 ? 'historyRow' : '', reportIndex !== 0 ? 'hideRow' : '', item.currID !== undefined && reportIndex === 0 ? 'curriculumRow' : '', item.currID !== undefined && reportIndex === 0 ? 'curriculum'+item.currID : '', item.currID !== undefined && reportIndex !== 0 ? 'curriculumHistory' : '', item.curriculumFlag && reportIndex === 0 ? 'curriculumIndex' : '']" :id="item.courseNum">
                            <td style="width:50px"><b-button :style="{'background-color': primaryColor}" :id="item.courseID+'button'" class="btnOpen" :class="'btnOpen'+item.courseID" @click="displayCurriculum(item.courseID)" v-if="item.curriculumFlag && reportIndex === 0"><font-awesome-icon :icon="icon[1]"/></b-button><b-button :id="item.courseID+'button'" :class="['btnCollapse'+item.courseID, 'btnCollapse']" @click="displayCurriculum(item.courseID)" v-if="item.curriculumFlag" :style="{'background-color': primaryColor}"><font-awesome-icon :icon="icon[2]"/></b-button></td>
                            <td style="width:50px"><b-button class="btnGrey toggleHistoryBtn" @click="displayHistory(item.courseNum)" :id="item.courseNum + 'button'" :class="[(item.courseAttempts.reportItem.length <= 1 || reportIndex !== 0) ? 'hideHistoryBtn': '', item.currID !== undefined && reportIndex === 0 ? 'currButton' : '']"><span class="expandIconPlus">+</span></b-button></td>
                            <td>{{item.courseNum}}</td>
                            <td>{{item.courseName}}</td>
                            <td>{{item.courseAttempts.reportItem[reportIndex].status}}</td>
                            <td>{{item.courseAttempts.reportItem[reportIndex].startDate}}</td>
                            <td>{{item.courseAttempts.reportItem[reportIndex].endDate}}</td>
                            <td>{{item.courseAttempts.reportItem[reportIndex].time}}</td>
                            <td>{{item.courseAttempts.reportItem[reportIndex].score}}</td>
                            <td>
                              <a :href="item.courseAttempts.reportItem[reportIndex].cert" target="_blank" class="certficateBtn btn-lg" :class="{'noCert': item.courseAttempts.reportItem[reportIndex].cert === null || item.courseAttempts.reportItem[reportIndex].cert.length === 0}">
                                <img src="@/assets/Certificate_Icon.svg" class="certificateIcon">
                              </a>
                            </td>
                            <td v-html="item.courseAttempts.reportItem[reportIndex].comments" class="commentWidth">{{item.courseAttempts.reportItem[reportIndex].comments}}</td>
                            <td>
                              <b-dropdown variant="link" size="sm" no-caret class="cogBtn" right v-if="!shopEnabled && reportIndex === 0 && item.courseAttempts.reportItem[reportIndex].status === 'Passed' && item.allowRetake === undefined || !shopEnabled && reportIndex === 0 && item.courseAttempts.reportItem[reportIndex].status === 'Passed' && managerReset && item.allowRetake || !shopEnabled && reportIndex === 0 && item.courseAttempts.reportItem[reportIndex].status === 'Passed' && managerOverride && item.curriculumFlag || !shopEnabled && reportIndex === 0 && item.courseAttempts.reportItem[reportIndex].status === 'Passed' && managerOverride && item.allowRetake || !shopEnabled && reportIndex === 0 && item.courseAttempts.reportItem[reportIndex].status !== 'Passed' && managerOverride || !shopEnabled && reportIndex === 0 && item.courseAttempts.reportItem[reportIndex].status === 'Passed' && item.allowRetake">
                                <template slot="button-content">
                                  <font-awesome-icon :icon="icon[0]"/>
                                </template>
                                <b-dropdown-item @click.stop="info(item.courseName, item.courseAttempts.reportItem[reportIndex].courseAttemptID, item.courseID, 'retake')" v-if="item.courseAttempts.reportItem[reportIndex].status === 'Passed'">Reset for Retake</b-dropdown-item>
                                <b-dropdown-item  @click.stop="info(item.courseName, item.courseAttempts.reportItem[reportIndex].courseAttemptID, item.courseID, 'status')" v-if="managerOverride && item.courseAttempts.reportItem[reportIndex].status !== 'Passed'">Status Override</b-dropdown-item>
                              </b-dropdown>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
            <b-modal id="modalRetake" ref="retakeRef" centered @hide="resetModal" :title="modalRetake.title" no-close-on-backdrop>
              <p style="margin-bottom:10px;">Reset the following course for a retake:</p>
              <b class="courseName">{{modalRetake.content}}</b>
              <br>
              <label style="margin-top: 20px;">Comment (Optional)</label>
              <b-form-textarea
                     v-model="retakeText"
                     placeholder=""
                     :rows="3"
                     :max-rows="10"
                     :no-resize="true"
                     style="margin-bottom: 10px;"
                     >
                </b-form-textarea>
              <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Cancel
                </b-btn>
                <b-btn class="float-right btnGrey" style="margin-right: 10px;" variant="secondary" @click="pushRetake()">
                    Reset
                </b-btn>
              </div>
            </b-modal>
            <b-modal id="modalStatus" ref="statusRef" centered @hide="resetModal" :title="modalStatus.title" no-close-on-backdrop>
              <p style="margin-bottom:10px;">Override the status for the following course record:</p>
              <b class="courseName">{{modalStatus.content}}</b>
              <br>
              <label style="margin-top: 20px;">Comment (Optional)</label>
              <b-form-textarea
                     v-model="statusText"
                     placeholder=""
                     :rows="3"
                     :max-rows="10"
                     :no-resize="true"
                     style="margin-bottom: 10px;"
                     >
                </b-form-textarea>
              <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Cancel
                </b-btn>
                <b-btn class="float-right btnGrey" style="margin-right: 10px;" variant="secondary" @click="pushPass()">
                    Override
                </b-btn>
              </div>
            </b-modal>
        </div>
    </div>
</template>
<script>
import SubLayoutFullWidthContainer from '@/components/SubLayout-Full-Width.vue'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import {faCog, faAngleRight, faAngleDown} from '@fortawesome/fontawesome-free-solid/'
import Vue from 'vue'
export default {
  components: {
    SubLayoutFullWidthContainer,
    FontAwesomeIcon
  },
  data () {
    return {
      items: [],
      fields: [
        { key: 'actions', label: '', class: 'text-center' },
        { key: 'no', label: 'No.', sortable: true },
        { key: 'course_name', label: 'Course Name', sortable: true },
        { key: 'status', label: 'Status', sortable: true },
        { key: 'startDate', label: 'Start Date', sortable: true },
        { key: 'endDate', label: 'End Date', sortable: true },
        { key: 'time', label: 'Time', sortable: true },
        { key: 'score', label: 'Score', sortable: true },
        { key: 'certificate', label: 'Certificate', sortable: false },
        { key: 'comments', label: 'Comments', sortable: false }
      ],
      modalRetake: { title: '', content: '' },
      modalStatus: { title: '', content: '' },
      retakeText: '',
      statusText: '',
      firstName: '',
      lastName: '',
      userName: '',
      managerOverride: '',
      individualReport: 'hidden',
      animationFlag: 'displayElement',
      primaryColor: this.$store.state.company.primary,
      adminAccess: '',
      managerReset: '',
      courseAttemptId: '',
      userID: '',
      courseID: '',
      shopEnabled: ''
    }
  },
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    },
    icon () {
      return [faCog, faAngleRight, faAngleDown]
    },
    getIndividualReport () {
      return this.$store.state.individualReport
    },
    loadingFlag: {
      get () {
        return this.$store.state.loadingFlag
      }
    }
  },
  methods: {
    pushRetake () {
      var obj = {
        id: this.courseAttemptId,
        comment: this.retakeText,
        userID: this.userID
      }
      this.$store.dispatch('individualReportRetake', obj)
      this.individualReport = 'hidden'
      this.animationFlag = 'displayElement'
      this.hideModal()
    },
    pushPass () {
      //This method is used to override status
      var obj = {
        id: this.courseAttemptId,
        comment: this.statusText,
        userID: this.userID,
        courseID: this.courseID
      }
      this.$store.dispatch('individualReportOverRide', obj)
      this.individualReport = 'hidden'
      this.animationFlag = 'displayElement'
      this.hideModal()
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    checkIndividualReportPermission () {
      var accessMode = this.$store.state.session.accessMode
      var accessLevel = this.$store.state.session.accessLevel
      if (accessLevel === 2) { 
        this.managerReset = true
      }
      if (accessLevel === 3) {
        this.adminAccess = true
        return true
      } 
      if ((accessMode & 4096) === 4096) return true
      return false
    },
    toggleSelected () {
      this.allSelected = !this.allSelected
      this.checkedItems = this.allSelected ? this.tableValues : []
    },
    clearSelected () {
      this.allSelected = false
      this.checkedItems = []
    },
    displayHistory (id) {
      Vue.nextTick(function () {
        var x = id
        var elems = document.getElementsByClassName(x + 'history')
        var button = document.getElementById(x + 'button')
        if (elems[0].style.display === 'table-row') {
          for (let i = 0; i < elems.length; i++) {
            elems[i].style.display = 'none'
            button.innerHTML = '<span class="expandIconPlus">+</span>'
          }
        } else {
          for (let i = 0; i < elems.length; i++) {
            elems[i].style.display = 'table-row'
            button.innerHTML = '<span class="expandIconMinus">-</span>'
          }
        }
      })
    },
    displayCurriculum (id) {
      Vue.nextTick(function () {
        var x = id
        var elems = document.getElementsByClassName('curriculum' + x)
        var history = document.getElementsByClassName('curriculumHistory')
        var buttons = document.getElementsByClassName('currButton')
        if (elems[0].style.display === 'table-row') {
          for (let i = 0; i < elems.length; i++) {
            elems[i].style.display = 'none'
            document.getElementsByClassName('btnOpen' + x)[0].style.display = 'block'
            document.getElementsByClassName('btnCollapse' + x)[0].style.display = 'none'
          }
          for (var j = 0; j < history.length; j++) {
            history[j].style.display = 'none'
          }
          for (var k = 0; k < buttons.length; k++) {
            buttons[k].innerHTML = '<span class="expandIconPlus">+</span>'
          }
        } else {
          for (let i = 0; i < elems.length; i++) {
            elems[i].style.display = 'table-row'
            document.getElementsByClassName('btnCollapse' + x)[0].style.display = 'block'
            document.getElementsByClassName('btnOpen' + x)[0].style.display = 'none'
          }
        }
      })
    },
    info (name, number, course, option) {
      this.courseAttemptId = number
      this.courseID = course
      switch (option) {
        case 'retake':
          this.modalRetake.title = 'Reset for Retake'
          this.modalRetake.content = name
          this.retakeText = ''
          this.$root.$emit('bv::show::modal', 'modalRetake')
          break
        case 'status':
          this.modalStatus.title = 'Status Override'
          this.modalStatus.content = name
          this.statusText = ''
          this.$root.$emit('bv::show::modal', 'modalStatus')
      }
    },
    resetModal () {
      this.modalRetake.content = ''
      this.modalStatus.content = ''
    },
    hideModal () {
      this.$refs.retakeRef.hide()
      this.$refs.statusRef.hide()
      this.courseAttemptId = ''
      this.courseID = ''
    },
    resetTable () {
      var currEle = document.getElementsByClassName('curriculumRow')
      var buttons = document.getElementsByClassName('toggleHistoryBtn')
      var ele = document.getElementsByClassName('historyRow')
      var collapseBtn = document.getElementsByClassName('btnCollapse')
      var openBtn = document.getElementsByClassName('btnOpen')
      for (var i = 0; i < buttons.length; i++) {
        buttons[i].innerHTML = '<span class="expandIconPlus">+</span>'
      }
      for (var j = 0; j < ele.length; j++) {
        ele[j].style.display = 'none'
      }
      for (var k = 0; k < currEle.length; k++) {
        currEle[k].style.display = 'none'
      }
      for (var l = 0; l < collapseBtn.length; l++) {
        collapseBtn[l].style.display = 'none'
        openBtn[l].style.display = 'block'
      }
    }
  },
  watch: {
    checkedItems (a, b) {
      this.optionToggle = (!a.length > 0)
      this.allSelected = (this.tableValues.length === a.length)
    },
    perPage (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    currentPage (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    filter (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    loadingFlag (value) {
      if (value) {
        this.animationFlag = 'hidden'
        this.individualReport = 'displayElement'
      }
    },
    getIndividualReport: function (val){
      if (val.length === 0) {
        this.items = []
        this.resetTable
      } else {
        this.items = val
        this.resetTable()
      }
    }
  },
  mounted: function () {
    this.firstName = this.$route.params.firstName
    this.lastName = this.$route.params.lastName
    this.userName = this.$route.params.userName
    this.userID = this.$route.params.userID
    var accessLevel = this.$store.state.session.accessLevel
    this.$store.commit('getUserIndividualReport', this.userID)
    if (accessLevel === 3) {
      this.shopEnabled = false
    } else if (this.$store.state.config.ShopEnabled === true || this.$store.state.config.ShopEnabled === 'true') {
      this.shopEnabled = true
    } else {
      this.shopEnabled = false
    }
    this.managerOverride = this.checkIndividualReportPermission()
  }
}
</script>
<style lang="scss">
    .displayUsernameContainer{
      float: left;
      margin-left: 40px;
      margin-top: -37px;
      color:white;
    }
    .individualReportContainer{
        padding: 30px;
        text-align: left;
        .courseLink:hover{
            text-decoration: underline;
            cursor: pointer;
        }
        .loadingContainer {
            margin-left:0px !important;
        }
        tr{
            background-color:#f4f4f4;
        }
        th{
            background-color:#c9c9c9;
            color:black;
        }
        .table td {
            border-top: 1px solid #c9c9c9;
            color:black;
            vertical-align: middle;
        }
        tr td:first-child, th:first-child{
            padding-left:20px;
        }
        tr td:nth-child(2){
          padding-top: 10px;
        }
        .table thead th{
            border-bottom: 0px;
            border-top: 0px;
        }
        .table.b-table > tbody > tr.b-table-details td{
            padding: 0px;
        }
        .table.b-table > tbody > tr.b-table-details{
            width:100%;
        }
        thead tr.detail-head-hide {
            display: none;
        }
        .hideRow{
            display:none;
        }
        .displayRow{
            display: table-row !important;
        }
        .hideHistoryBtn{
          display:none;
        }
        .toggleHistoryBtn{
          width:35px;
          height:35px;
          float:right;
          margin-right: 10px;
          margin-top: -5px;
        }
        .commentWidth{
          max-width: 300px;
          font-size:13px;
        }
        .hideCog{
          display:none;
        }
        .cogBtn{
          visibility: hidden;
          border-radius: 0.25rem;
        }
        tr:hover .cogBtn{
          visibility: visible;
        }
        .cogBtn svg:not(:root).svg-inline--fa{
          font-size:30px;
          color: #C9C9C9;
        }
        .cogBtn:hover{
          background-color:#c9c9c9;
        }
        .cogBtn:hover svg:not(:root).svg-inline--fa{
          color: black !important;
        }
      .certificateIcon{
        width: auto;
        height: 35px;
      }
      .certficateBtn{
        padding: 5px 2px;
        display: block;
        width: 40px;
      }
      .courseName:before{
        content:"• ";
      }
      .noCert{
        visibility: hidden;
      }
      .historyRow{
        background-color:white;
      }
      .historyRow td{
        color: #c9c9c9 !important;
      }
      .individualReportTable {
        position:relative;
      }
      .table-scroll {
        height:640px;
        overflow:auto;
      }
      .individualReportTable table {
        width:100%;
      }
      .individualReportTable table thead th .text {
        position:absolute;
        top:-20px;
        z-index:2;
        height:20px;
        width:35%;
      }
      .expandIconPlus, .expandIconMinus{
        font-size: 35px;
        margin-top: -15px;
        display: block;
        margin-left: -5px;
      }
      .expandIconMinus{
        margin-left: -1px;
        margin-top: -18px;
      }
      .table tbody+tbody{
        border-top: 0px;
      }
      .curriculumRow {
        display:none;
        background-color: #E9E9E9;
      }
      .curriculumIndex{
        background-color: #dfdfdf;
      }
      .btnCollapse{
        display:none;
      }
      .hiddenCurrCog{
        display:none;
      }
    }
    .btnIndivdualContainer{
        .btnIndividualReport{
            margin-top: -44px;
            float: right;
            margin-right: 37px;
        }
        .btn-secondary.disabled, .btn-secondary:disabled{
            background-color: #00AC4E !important;
            border-color: #00AC4E !important;
        }
    }
    @media screen and (max-height: 915px) {
        .individualReportContainer .table-scroll {
            height:56vh !important;
        }
    }
</style>
