<template>
    <div class="certificatesContainer">
        <SubLayoutFullWidthContainer/>
        <div class="btnCertificatesContainer1">
            <div class="searchContainer">
                <b-form-input v-model="filter" placeholder="Search Certifications..." />
            </div>
            <b-button class="btnGrey btnDone" :to="{path: '/NewCourse/Certificates'}">Done</b-button>
        </div>
        <div class="btnUserContainer2">
            <b-button class="btnNewCertification" @click.stop="info(null,'new')" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">New Certification</b-button>
            <b-dropdown class="certDropDown" id="certDropDown" text="Options" :disabled="optionToggle">
                <b-dropdown-item @click.stop="info(checkedItems,'delete')">Delete</b-dropdown-item>
            </b-dropdown>
        </div>
        <div class="certApprovalContainer">
            <div class="certApprovalTable">
                <b-table show-empty
                        stacked="md"
                        :items="items"
                        :fields="fields"
                        :current-page="currentPage"
                        :per-page="perPage"
                        :filter="filter"
                        :sort-by.sync="sortBy"
                        :sort-desc.sync="sortDesc"
                        :sort-direction="sortDirection"
                        @filtered="onFiltered"
                        v-model="tableValues"
                        small
                >
                <template slot="HEAD_actions" slot-scope="head">
                    <!-- A custom formatted header cell for field 'name' -->
                    <b-form-checkbox @click.native="toggleSelected" v-model="allSelected"></b-form-checkbox>
                </template>
                <template slot="actions" slot-scope="row">
                    <b-form-checkbox :value="row.item" v-model="checkedItems"></b-form-checkbox>
                </template>
                <template slot="name" slot-scope="row">
                    <a @click.stop="info(null,'edit')" class="certLink">{{row.item.name}}</a>
                </template>
                </b-table>
            </div>
            <div class="userPagination">
                <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
            </div>
        </div>
        <b-modal id="certificateModal" ref="certificationRef" centered :title="certificateModal.title">
            <div class="modalForm">
                <label>Name</label>
                <b-form-input type="text" v-model="certificateName" :state="certificationName"></b-form-input>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Cancel
                </b-btn>
                <b-btn class="float-right btnGreenSecondary" style="margin-right: 10px;" variant="secondary" @click="hideModal">
                    Save
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="editModal" ref="editRef" centered :title="editModal.title">
            <div class="modalForm">
                <label>Name</label>
                <b-form-input type="text" v-model="certificateEdit" :state="editCertificationName"></b-form-input>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Cancel
                </b-btn>
                <b-btn class="float-right btnGreenSecondary" style="margin-right: 10px;" variant="secondary" @click="hideModal">
                    Save
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="deleteModal" ref="deleteRef" centered :title="deleteModal.title">
            <div class="modalForm">
                <p>Are you sure you want to delete the following certification(s)? This is action cannot be undone?</p>
                <ul class="checkedList" style="padding-left: 17px;">
                    <b><li v-for="list in deleteModal.list" :key="list.no">{{list.name}}</li></b>
                </ul>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Cancel
                </b-btn>
                <b-btn class="float-right btnGrey" style="margin-right: 10px;" variant="secondary" @click="hideModal">
                    Delete
                </b-btn>
            </div>
        </b-modal>
    </div>
</template>
<script>
import SubLayoutFullWidthContainer from '@/components/SubLayout-Full-Width.vue'

export default {
  components: {
    SubLayoutFullWidthContainer
  },
  data () {
    return {
      items: [
        { name: 'TSA' },
        { name: 'FAA' },
        { name: 'TMPAA CPL' }
      ],
      fields: [
        { key: 'actions', label: '', class: 'text-center' },
        { key: 'name', label: 'Certification Name', sortable: true }
      ],
      checkedItems: [],
      currentPage: 1,
      perPage: 10,
      totalRows: 3,
      accessValue: 0,
      sortBy: '',
      sortDesc: false,
      sortDirection: 'desc',
      filter: null,
      certificateModal: { title: '', content: '' },
      deleteModal: { title: '', content: '' },
      editModal: { title: '', content: '' },
      selectAll: 'selected',
      allSelected: false,
      optionToggle: true,
      tableValues: [],
      statusValue: 0,
      certificateName: '',
      certificateEdit: ''
    }
  },
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    },
    certificationName () {
      return this.certificateName.length > 1
    },
    editCertificationName () {
      return this.certificateEdit.length > 1
    }
  },
  methods: {
    info (checked, button) {
      switch (button) {
        case 'new':
          this.certificateModal.title = 'New Certification'
          this.$root.$emit('bv::show::modal', 'certificateModal')
          break
        case 'delete':
          this.deleteModal.title = 'Delete Certification'
          this.deleteModal.list = checked
          this.$root.$emit('bv::show::modal', 'deleteModal')
          break
        case 'edit':
          this.editModal.title = 'Certification'
          this.$root.$emit('bv::show::modal', 'editModal')
          break
      }
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    toggleSelected () {
      this.allSelected = !this.allSelected
      this.checkedItems = this.allSelected ? this.tableValues : []
    },
    clearSelected () {
      this.allSelected = false
      this.checkedItems = []
    },
    hideModal () {
      this.$refs.certificationRef.hide()
      this.$refs.deleteRef.hide()
      this.$refs.editRef.hide()
    },
    resetTable () {
    },
    resetModal () {
    }
  },
  watch: {
    checkedItems (a, b) {
      this.optionToggle = (!a.length > 0)
      this.allSelected = (this.tableValues.length === a.length)
    },
    perPage (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    currentPage (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    filter (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    }
  }
}
</script>
<style lang="scss">
    .certificatesContainer{
        .searchContainer{
            margin-top: -44px;
            margin-right: 110px;
        }
        .btnDone{
            margin-top:-44px;
            float:right;
            margin-right: 36px;
        }
        .modalForm{
            text-align: left;
        }
        .btnUserContainer2{
            float:left;
            .btnNewCertification, .certDropDown{
                margin-top:-75px;
                margin-left:5px;
            }
            .btnNewCertification{
                margin-left:37px;
            }
            .userCount{
                color:white;
                margin-left: 250px;
                margin-top:-60px;
                margin-right:80px;
            }
            #certDropDown__BV_toggle_{
                background-color: #c9c9c9;
                border-color: #c9c9c9;
                color: black !important;
            }
            #certDropDown__BV_toggle_:hover{
                background-color: #f4f4f4;
                border-color: #f4f4f4;
                color:black;
            }
        }
        .certApprovalContainer{
            padding: 30px;
            text-align: left;
            .userPagination{
                float:right;
            }
            tr{
                background-color:#f4f4f4;
            }
            th{
                background-color:#c9c9c9;
                color:black;
            }
            .table td {
                border-top: 1px solid #c9c9c9;
                color:black;
            }
            tr td:first-child, th:first-child{
                width:60px;
            }
            .table thead th{
                border-bottom: 0px;
                border-top: 0px;
            }
        }
        .btnCertificatesContainer1{
            float:right;
            .btnUserExport{
                margin-left: -430px;
                margin-top:-75px;
                margin-right: 5px;
            }
            .btnUserFilter{
                margin-top: -75px;
            }
            .customUserSearch{
                margin-top: -68px;
                margin-left: -36px;
            }
            .btn-secondary.disabled, .btn-secondary:disabled{
                background-color: #00AC4E;
            }
        }
        .certLink:hover{
            text-decoration: underline !important;
            cursor: pointer;
        }
    }

</style>
