<template>
    <div class="applicationLogsContainer">
        <div class="flexContainer">
            <h2 style="text-align:left;">Application Logs</h2>
            <b-card no-body>
                <b-tabs card>
                    <b-tab no-body title="AICC" active @click="callData('A')">
                        <pre>{{aicc}}</pre>
                    </b-tab>
                    <b-tab no-body title="EVENTS" @click="callData('E')">
                        <pre>{{events}}</pre>
                    </b-tab>
                    <b-tab no-body title="SYSTEM" @click="callData('S')">
                        <pre>{{system}}</pre>
                    </b-tab>
                </b-tabs>
            </b-card>
        </div>
    </div>
</template>

<script>
export default {
    data () {
      return {
        aicc: '',
        events: '',
        system: ''
      }
    },
    methods: {
        callData (type) {
            this.$store.dispatch('getApplicationLog', type)
        }
    },
    computed: {
        getAicc () {
            return this.$store.state.aicc
        },
        getSystem () {
            return this.$store.state.system
        },
        getEvents (val) {
            return this.$store.state.events
        }
    },
    watch: {
        getAicc (val) {
            this.aicc = val
        },
        getSystem (val) {
            this.system = val
        },
        getEvents (val) {
            this.events = val
        }
    },
    mounted: function () {
        document.getElementsByClassName('mainHeader')[0].style.display = 'none'
        document.getElementsByClassName('appFooter')[0].style.display = 'none'
        document.getElementsByClassName('appFooter')[1].style.display = 'none'
        this.$store.dispatch('getApplicationLog', 'A')
    }
}
</script>


<style lang="scss">
    .applicationLogsContainer{
        padding:10px;
        .card-header{
            background-color:white;
            a{
                color:black;
            }
        }
        .tab-content{
            text-align: left;
            height: 95vh;
            overflow: auto;
            overflow-y: scroll;
            padding:10px;
        }
        .nav-item:hover{
        }
        .flexContainer{
            display:flex;
            flex-direction: column;
        }
        .btn-secondary:hover, .btn-primary:hover, .nav-link:hover, .SystemBtn:hover {
            filter: unset !important;
        }
    }
</style>
