<template>
    <div class="userContactContainer">
        <div class="scroller">
            <div class="userContact">
                <b-row>
                    <b-col cols="6">
                        <label>Email Address</label>
                        <b-form-input v-model="user.email" type="email" placeholder="" class="emailText" style="margin-bottom: 0px !important;" :disabled="true"></b-form-input>
                    </b-col>
                    <b-col cols="6">
                        <label>Phone No.</label>
                        <b-form-input v-model="user.phone" type="text" placeholder="" class="userNumber" style="margin-bottom: 0px !important;" :disabled="true"></b-form-input>
                    </b-col>
                </b-row>
            </div>
            <div class="userContact">
                <b-row>
                    <b-col cols="6">
                        <label>{{this.$store.state.i18n.tc('address1', 1)}}</label>
                        <b-form-input v-model="user.addr1" type="text" placeholder="" class="firstAddress" :disabled="true"></b-form-input>
                    </b-col>
                    <b-col cols="6">
                        <label>{{this.$store.state.i18n.tc('address2', 1)}}</label>
                        <b-form-input v-model="user.addr2" type="text" placeholder="" class="secondAddress" :disabled="true"></b-form-input>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col cols="6">
                        <label>City</label>
                        <b-form-input v-model="user.city" type="text" placeholder="" class="userCity" :disabled="true"></b-form-input>
                    </b-col>
                    <b-col cols="6">
                        <label>State</label>
                        <b-form-select v-model="user.state" :options="stateOptions" class="mb-3" :disabled="true">
                        </b-form-select>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col cols="6">
                        <label>Postal / Zip Code</label>
                        <b-form-input v-model="user.zip" type="text" placeholder="" class="userZip" :disabled="true"></b-form-input>
                    </b-col>
                    <b-col cols="6">
                        <label>Country</label>
                        <b-form-input v-model="user.country" type="text" placeholder="" class="userCountry" :disabled="true"></b-form-input>
                    </b-col>
                </b-row>
            </div>
        </div>
    </div>
</template>
<script>
import User from '@/store/user.js'
export default {
  data () {
    return {
      stateOptions: [
        {text: '', value: ''}, {text: 'Alabama', value: 'AL'}, {text: 'Alaska', value: 'AK'}, {text: 'Arizona', value: 'AZ'}, {text: 'Arkansas', value: 'AR'}, {text: 'California', value: 'CA'}, {text: 'Colorado', value: 'CO'},
        {text: 'Connecticut', value: 'CT'}, {text: 'Delaware', value: 'DE'}, {text: 'Florida', value: 'FL'}, {text: 'Georgia', value: 'GA'}, {text: 'Hawaii', value: 'HI'}, {text: 'Idaho', value: 'ID'},
        {text: 'Illinois', value: 'IL'}, {text: 'Indiana', value: 'IN'}, {text: 'Iowa', value: 'IA'}, {text: 'Kansas', value: 'KS'}, {text: 'Kentucky', value: 'KY'}, {text: 'Louisiana', value: 'LA'},
        {text: 'Maine', value: 'ME'}, {text: 'Maryland', value: 'MD'}, {text: 'Massachusetts', value: 'MA'}, {text: 'Michigan', value: 'MI'}, {text: 'Minnesota', value: 'MN'}, {text: 'Mississippi', value: 'MS'},
        {text: 'Missouri', value: 'MO'}, {text: 'Montana', value: 'MT'}, {text: 'Nebraska', value: 'NE'}, {text: 'Nevada', value: 'NV'}, {text: 'New Hampshire', value: 'NH'}, {text: 'New Jersey', value: 'NJ'},
        {text: 'New Mexico', value: 'NM'}, {text: 'New York', value: 'NY'}, {text: 'North Carolina', value: 'NC'}, {text: 'North Dakota', value: 'ND'}, {text: 'Ohio', value: 'OH'}, {text: 'Oklahoma', value: 'OK'},
        {text: 'Oregon', value: 'OR'}, {text: 'Pennsylvania', value: 'PA'}, {text: 'Rhode Island', value: 'RI'}, {text: 'South Carolina', value: 'SC'}, {text: 'South Dakota', value: 'SD'}, {text: 'Tennessee', value: 'TN'},
        {text: 'Texas', value: 'TX'}, {text: 'Utah', value: 'UT'}, {text: 'Vermont', value: 'VT'}, {text: 'Virginia', value: 'VA'}, {text: 'Washington', value: 'WA'}, {text: 'West Virginia', value: 'WV'},
        {text: 'Wisconsin', value: 'WI'}, {text: 'Wyoming', value: 'WY'}
      ],
      user: new User(),
      managerUserEdit: false
    }
  },
  watch: {
    user: function (user, oldUser) {
      this.$store.commit('user', user)
    },
    newUser (value) {
      this.user = value
    }
  },
  beforeDestroy: function () {
    this.$store.commit('user', this.user)
  },
  mounted: function () {
    this.user = (this.$store.state.user != null) ? this.$store.state.user : new User()
  },
  computed: {
    newUser () {
      return this.$store.state.user
    }
  }
}
</script>

<style lang="scss">
    .userContactContainer{
        .userContact{
            text-align: left;
            background-color: #f4f4f4;
            padding:30px;
            margin-bottom: 20px;
        }
        input[type="text"]{
            margin-bottom: 10px;
        }
    }
</style>
