<template>
  <div>
    <div class="btnSaveContainer">
      <b-button class="btnSaveCourse" v-if="this.$route.path !== '/MyProfile/UserPayment'" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}" @click="save()">Save</b-button>
    </div>
    <SubPage :Navigation="Navigation"/>
  </div>
</template>
<script>
import SubPage from '@/components/SubPage.vue'
import User from '@/store/user.js'
export default {
  data () {
    return {
      Navigation: [
        {
          name: 'User Information',
          route: '/MyProfile/UserInformation'
        },
        {
          name: 'Settings',
          route: '/MyProfile/Settings'
        },
        {
          name: 'Contact Info',
          route: '/MyProfile/ContactInformation'
        }
      ],
      user: new User()
    }
  },
  components: {
    SubPage
  },
  methods: {
    save () {
      var temp = this.$store.state.user
      temp['saveNewFlag'] = false
      this.$store.dispatch('pushUser', temp)
    },
    setNavigation (value) {
      var self = this
      if (value === 2) {
        if (this.$store.state.config.ShopEnabled !== 'false') {
          this.Navigation.push({name: 'Payment Information', route: '/MyProfile/UserPayment'})
        }
      }
    }
  },
  mounted: function () {
    this.user = (this.$store.state.user != null) ? this.$store.state.user : new User()
    this.setNavigation(parseInt(this.$store.state.session.accessLevel))
  }
}
</script>

<style lang="scss">
  .btnSaveContainer {
    display: flex;
    float: right;
    margin-right: 28px;
    margin-top: 6px;
  }
 .myProfileDropDown{
   position: absolute;
   left: 279px;
   margin-top:6px;
   #myProfileDropDownBtn__BV_toggle_{
      background-color: #c9c9c9 ;
      border-color: #c9c9c9;
      color: black;
   }
   #myProfileDropDownBtn__BV_toggle_:hover{
      background-color: #f4f4f4;
      border-color: #f4f4f4;
      color:black;
    }
 }
</style>
