<template>
    <div class='userSettingsContainer'>
        <div class="scroller">
          <div class="userSettings">
              <b-row>
                  <b-col cols="6">
                      <label>Status</label>
                          <b-form-select v-model="user.statusID" :options="statusOptions" class="mb-3" :disabled="true">
                          </b-form-select>
                  </b-col>
                  <b-col cols="6">
                      <label>Access Level</label>
                          <b-form-select v-model="accessLevel" class="mb-3" :disabled="true">
                            <option value=1>User</option>
                            <option value=2>Manager</option>
                            <option value=3>Administrator</option>
                          </b-form-select>
                  </b-col>
              </b-row>
              <b-row>
                  <b-col cols="6">
                      <label>Hire Date</label>
                      <b-form-input type="date" v-model="hireDate" :disabled="true"></b-form-input>
                  </b-col>
                  <b-col cols="6">
                      <label>Termination Date</label>
                      <b-form-input type="date" v-model="termDate" :disabled="true"></b-form-input>
                  </b-col>
              </b-row>
          </div>
          <div class="userSettings">
              <b-row>
                  <b-col cols="6" class="displayFlex">
                      <b-form-checkbox :checked="true" :unchecked-value="false" v-model="user.ipOverride" :disabled="true">Ignore Course IP Address Restrictions</b-form-checkbox>
                  </b-col>
              </b-row>
              <b-row>
                  <b-col cols="6" class="displayFlex">
                      <b-form-checkbox :checked="true" :unchecked-value="false" v-model="user.loginOverride" :disabled="true">Ignore ID Check at Login</b-form-checkbox>
                  </b-col>
              </b-row>
              <b-row>
                  <b-col cols="6" class="displayFlex" v-if="this.accessLevel !== 1">
                      <b-form-checkbox :checked="true" :unchecked-value="false" v-model="user.recurrentEmailOverride" :disabled="true">Disable Manager Recurrent Report Emails</b-form-checkbox>
                  </b-col>
              </b-row>
          </div>
        </div>
    </div>
</template>
<script>
import User from '@/store/user.js'
var moment = require('moment')
export default {
  data () {
    return {
      accessOptions: [],
      statusOptions: [
        {text: 'Active', value: 1},
        {text: 'Inactive', value: 0}
      ],
      user: new User(),
      userPass: '',
      disabledEmail: '',
      ignoreID: '',
      ipRestriction: '',
      hireDate: '',
      termDate: '',
      accessLevel: '',
      disableSettingOption: '',
      currentAccess: ''
    }
  },
  watch: {
    user: function (user, oldUser) {
      this.$store.commit('user', user)
    },
    hireDate () {
      this.user.hireDate = moment(this.hireDate, 'YYYY-MM-DD').toDate()
    },
    termDate () {
      this.user.termDate = moment(this.termDate, 'YYYY-MM-DD').toDate()
    },
    accessLevel () {
      this.user.access.level = this.accessLevel
    },
    newUser (value) {
      this.hireDate = ''
      this.termDate = ''
      this.accessLevel = 1
      this.user = value
    },
    userAccess: function (value) {
      this.currentAccess = value
    }
  },
  computed: {
    newUser () {
      return this.$store.state.user
    },
    userAccess: {
      get () {
        if (!this.dataLoaded) {
          return null
        }
        if (this.$store.state.user !== null) {
          return this.$store.state.user.access.level
        }
      }
    }
  },
  mounted: function () {
    this.user = (this.$store.state.user != null) ? this.$store.state.user : new User()
    this.hireDate = moment.utc(this.user.hireDate).format('YYYY-MM-DD')
    this.termDate = moment.utc(this.user.termDate).format('YYYY-MM-DD')
    this.accessLevel = this.user.access.level
  },
  beforeDestroy: function () {
    this.$store.commit('user', this.user)
  },
  methods: {
    checkManagerEdit () {
      if (this.$store.state.session.user.userName.toUpperCase() === this.$store.state.user.loginID.toUpperCase()) return true
      return false
    }
  }
}
</script>

<style lang="scss">
    .userSettingsContainer{
        .userSettings{
            text-align: left;
            background-color: #f4f4f4;
            padding:30px;
            margin-bottom: 20px;
        }
        .displayFlex{
            display: flex;
            p{
                margin-top: -5px;
                margin-left: 10px;
            }
        }
    }
</style>
