  <template>
    <div class="userInfoContainer">
      <div class="loadingContainer" :class="animationFlag">
          <div class="loadingAnimation">
              <div class="lds-ring">
                  <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                  <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                  <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                  <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
              </div>
          </div>
      </div>
      <div class="scroller" :class="cardForm">
          <div class="userProfileInformation" v-if="cardFlag !== '' && cardFlag">
              <p style="margin-bottom: 0px; display:inline-block;">Credit card ending in {{cardNumber.slice(4)}}</p>
              <p style="margin-bottom: 0px; text-align:center; margin-top:-25px;">Expires {{cardExpire}}</p>
              <div class="row" style="float:right; margin-top:-30px">
                <b-button class="btnGrey" @click="info('editProduct')">Edit</b-button>
                <p class="removeCard" style="margin-left:15px; display:inline-block;" @click="info('removeProduct')">Remove Card</p>
              </div>
          </div>
          <div class="userProfileInformation" v-else>
              <p style="margin-bottom: 0px; display:inline-block;">No Credit Card Avaliable</p>
              <b-button class="btnGrey" style="float:right; margin-top: -8px" @click="info('newProduct')">Add Card</b-button>
          </div>
      </div>
        <b-modal id="modalNew" size="lg" ref="newRef" v-model='this.$store.state.cardModal' centered @hide="resetModal" no-close-on-backdrop>
            <template slot="modal-title" class="newCardModalTitle">
              <div class="newCardModalTitle">
              <h5 class="newCardTitle">{{modalNew.title}}</h5><h2><FontAwesomeIcon :icon="icon[0]" class="visaCard" :style="{color: '#c9c9c9'}" /> <FontAwesomeIcon :style="{color: '#c9c9c9'}" :icon="icon[1]" class="masterCard"/></h2>
              </div>
            </template>
            <div class="registerForm textLeft">
                <label>Name on Card</label>
                <b-form-input type="text" v-model="newCardName" style="margin-bottom:10px;" :state="validNewName"></b-form-input>
                <label>Card Number</label>
                <b-form-input type="text" v-model="newCardNumber" style="margin-bottom:10px;" :state="validNewNumber"></b-form-input>
                <div class="row">
                    <div class="col-4" >
                        <label>Expiration Date</label>                    
                        <b-form-select :options="dateOptions" v-model="dateMonth" class="mb-3" :state="validMonth"></b-form-select>
                    </div>
                    <div class="col-4">
                        <label class="hiddenLabel">Test</label>   
                        <b-form-select :options="dateYearOption" v-model="dateYear" class="mb-3" :state="validYear"></b-form-select>
                    </div>
                    <div class="col-4">
                        <label>Zip Code</label>
                        <b-form-input type="text" v-model="newCardZip" style="margin-bottom:10px;" :state="validNewZip" maxLength="5"></b-form-input>
                    </div>
                </div>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn :disabled="validForm" class="float-right" style="margin-right: 10px;" variant="secondary" @click="pushSave('new')" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="modalRemove" ref="removeRef" centered @hide="resetModal" :title="modalRemove.title" no-close-on-backdrop>
          <p style="text-align: left;">Are you sure you want to remove this credit card?</p>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    No
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="pushSave('delete')" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Yes
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="modalEdit" ref="editRef" centered @hide="resetModal" :title="modalEdit.title" no-close-on-backdrop>
            <div class="registerForm textLeft">
                <div class="row">
                    <div class="col-4" >
                        <label>Expiration Date</label>                    
                        <b-form-select :options="dateOptions" v-model="editMonth" class="mb-3"></b-form-select>
                    </div>
                    <div class="col-4">
                        <label class="visbility">Test</label>   
                        <b-form-select :options="dateYearOption" v-model="editYear" class="mb-3"></b-form-select>
                    </div>
                    <div class="col-4">
                        <label>Zip Code</label>
                        <b-form-input type="text" v-model="editCardZip" style="margin-bottom:10px;" maxLength="5"></b-form-input>
                    </div>
                </div>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Cancel
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="pushSave('edit')" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
            </div>
        </b-modal>
    </div>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import User from '@/store/user.js'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import {faCcVisa, faCcMastercard} from '@fortawesome/free-brands-svg-icons'
export default {
  data () {
    return {
      editCardExpire: '',
      editCardCVV: '',
      editCardZip: '',
      modalNew: { title: '', content: '' },
      modalEdit: { title: '', content: '' },
      modalRemove: { title: '', content: '' },
      user: new User(),
      managerUserEdit: false,
      newCardName: '',
      newCardNumber: '',
      newCardExpire: '',
      newCardZip: '',
      cardFlag: '',
      cardNumber: '',
      animationFlag: 'displayElement',
      cardForm: 'hidden',
      cardExpire: '',
      expireFlag: false,
      cvvFlag: false,
      zipFlag: false,
      dateOptions: [{text: "MM", value: null, disabled: true}, {text:"01", value: "01"},  {text:"02", value: "02"}, {text:"03", value: "03"}, {text:"04", value: "04"}, 
      {text:"05", value: "05"}, {text:"06", value: "06"}, {text:"07", value: "07"}, {text:"08", value: "08"}, 
      {text:"09", value: "09"}, {text:"10", value: "10"}, {text:"11", value: "11"}, {text:"12", value: "12"}],
      dateMonth: null,
      dateYearOption: [],
      dateYear: null,
      editYear: null,
      editMonth: null
    }
  },
  components: {
    FontAwesomeIcon,
    faCcVisa,
    faCcMastercard
  },
  methods: {
    checkManagerUserEdit () {
      if (this.$store.state.session.accessLevel === 3) return false
      if (this.user.access.level === 2 && !((this.$store.state.session.accessMode & 2048) === 2048)) return true
      if ((this.$store.state.session.accessMode & 1024) === 1024 && this.user.access.level !== 3) return false
      if (this.$store.state.session.user.userName.toUpperCase() === this.user.loginID.toUpperCase()) return false
      return true
    },
    info (button, item) {
      switch (button) {
        case 'newProduct':
          this.modalNew.title = 'Add Credit Card'
          this.$store.commit('SET_CARD_MODAL', true);
          break
        case 'editProduct':
          var card = this.$store.state.paymentCard
          this.modalEdit.title = 'Edit Credit Card'
          this.editCardExpire = card.expirationDate
          this.$root.$emit('bv::show::modal', 'modalEdit')
          break
        case 'removeProduct':
          this.modalRemove.title = 'Remove Credit Card'
          this.$root.$emit('bv::show::modal', 'modalRemove')
          break
        }
    },
    pushSave (type) {
      console.log('=== Adam ' + type)
      switch (type) {
        case 'new':
          var flag = true
          var temp = {}
          temp['cardNumber'] = this.newCardNumber
          temp['expirationDate'] = this.dateYear + '-' + this.dateMonth
          temp['userProfileID'] = this.$store.state.user.userProfileID
          temp['name'] = this.newCardName
          temp['zip'] = this.newCardZip
          this.$store.dispatch('pushCard', temp)
          break
        case 'edit':
          var flag = true
          var temp = {}
          temp['userProfileID'] = this.user.userProfileID
          temp['cardCode'] = this.editCardCVV
          temp['expirationDate'] = this.editYear + '-' + this.editMonth
          temp['zip'] = this.editCardZip
          temp['cardNumber'] = this.cardNumber
          this.$store.dispatch('pushEditCard', temp)
          if (flag) {
            this.animationFlag = 'displayElement'
            this.cardForm = 'hidden'
            this.$refs.editRef.hide()
          }
          break
        case 'delete':
          var flag = true
          var temp = {}
          temp['userProfileID'] = this.user.userProfileID
          this.$store.dispatch('deleteCard', temp)
          if (flag) {
            this.$refs.removeRef.hide()
            this.animationFlag = 'displayElement'
            this.cardForm = 'hidden'
            this.$store.commit('SET_PAYMENT_CARD', null)
            this.$store.commit('SET_CARD_FLAG', '')
          }
          break
      }
    },
    resetModal () {
      this.newCardName = ''
      this.newCardNumber = ''
      this.newCardExpire = ''
      this.newCardZip = ''
      this.editCardExpire = ''
      this.editCardCVV = ''
      this.editCardZip = ''
      this.dateYear = null
      this.dateMonth = null
      this.editMonth = null
      this.editYear = null
    },
    hideModal () {
      this.$store.commit('SET_CARD_MODAL', false);
      this.$refs.newRef.hide()
      this.$refs.editRef.hide()
      this.$refs.removeRef.hide()
    }
  },
  watch: {
    user: function (user, oldUser) {
      this.$store.commit('user', user)
    },
    getCard (val) {
      this.cardFlag = val
      if (val !== '') {
        this.animationFlag = 'hidden'
        this.cardForm = 'displayElement'
      }
    },
    getCardNumber (val) {
      this.cardNumber = val.cardNumber
      this.cardExpire = val.expirationDate.split('-').reverse().join('/')
    },
    validNewExpire (val) {
      this.expireFlag = val
    },
    validNewCVV (val) {
      this.cvvFlag = val
    },
    validNewZip (val) {
      this.zipFlag = val
    }
  },
  beforeDestroy: function () {
    this.$store.commit('user', this.user)
    this.$store.commit('SET_CARD_FLAG', '')
  },
  computed: {
    icon () {
      return [faCcVisa, faCcMastercard]
    },
    newUser () {
      return this.$store.state.user
    },
    validNewName () {
      return this.newCardName.length > 0
    },
    validNewNumber () {
      return this.newCardNumber.length > 0
    },
    validNewExpire () {
      if (window.navigator.userAgent.indexOf("Edge") > -1) {
        var currDate = new Date()
        var tempDate = currDate.getFullYear() + ', ' + (currDate.getMonth() + 1) + '/1'
        var currTime = new Date(tempDate)
        var currCard = new Date(this.newCardExpire)
        var tempCard = currCard.getFullYear() + ', ' + (currCard.getMonth() + 2) + '/1'
        var cardTime = new Date(tempCard)
        return this.newCardExpire.length > 0 && (cardTime.getTime() === currTime.getTime () || cardTime.getTime() > currTime.getTime ())
      } else {
        var currDate = new Date()
        var tempDate = currDate.getFullYear() + '-' + (currDate.getMonth() + 1)
        var currTime = new Date(tempDate)
        var currCard = new Date(this.newCardExpire)
        var tempCard = currCard.getFullYear() + '-' + (currCard.getMonth() + 2)
        var cardTime = new Date(tempCard)
        return this.newCardExpire.length > 0 && (cardTime.getTime() === currTime.getTime () || cardTime.getTime() > currTime.getTime ())
      }
    },
    validNewZip () {
      return this.newCardZip.length >= 5
    },
    getCard () {
      return this.$store.state.cardFlag
    },
    getCardNumber () {
      return this.$store.state.paymentCard
    },
    validForm () {
      if (this.newCardName.length > 0 && this.newCardNumber.length > 0 && this.zipFlag && this.dateMonth !== null && this.dateYear !== null) {
        return false
      } else {
        return true
      }
    },
    validMonth() {
      return this.dateMonth !== null
    },
    validYear () {
      return this.dateYear !== null
    }
  },
  mounted: function () {
    var min = new Date().getFullYear()
    var max = min + 10
    var year = []
    var temp = {
      value: null,
      text: "YYYY",
      disabled: true
    }
    year.push(temp)
    for (var i = min; i<=max; i++){
      var obj = {
        value: i,
        text: i
      }
      year.push(obj)
    }
    this.dateYearOption = year
    this.user = (this.$store.state.user !== null) ? this.$store.state.user : new User()
    this.$store.state.tempLogin = this.user.loginID
    if (this.$store.state.paymentCard !== null) {
      this.cardFlag = true
      this.cardNumber = this.$store.state.paymentCard.cardNumber
      this.cardExpire = this.$store.state.paymentCard.expirationDate.split('-').reverse().join('/')
      this.animationFlag = 'hidden',
      this.cardForm = 'displayElement'
    } else {
      this.$store.dispatch('getCard', this.user.userProfileID)
    }
  }
}
</script>

<style lang="scss">
.userProfileInformation {
    text-align: left;
    background-color: #f4f4f4;
    padding: 30px;
    margin-bottom: 20px;
}
.removeCard{
    margin-left: 15px;
    margin-bottom: 0px;
    display: inline-block;
    margin-top: 6px;
}
.removeCard:hover{
    text-decoration: underline;
    cursor: pointer;
}
.newCardModalTitle{
  display:flex;
}
.newCardTitle{
  margin-top:6px;
  margin-right:10px;
}
.hiddenLabel{
  visibility: hidden;
}
</style>
