  <template>
    <div class="userInfoContainer">
        <div class="scroller">
          <div class="userProfileInformation">
              <b-row>
                  <b-col cols="6">
                      <label>Username</label>
                      <b-form-input v-model="user.loginID" type="text" placeholder="" class="usernameText" required :disabled="true"></b-form-input>
                  </b-col>
              </b-row>
              <b-row>
                  <b-col cols="6">
                      <label>Password</label>
                      <b-form-input v-model="passwd" type="password" placeholder="" class="password1" :state="validPassword" required></b-form-input>
                  </b-col>
                  <b-col cols="6">
                      <label>Confirm Password</label>
                      <b-form-input v-model="confirmPassword" type="password" placeholder="" class="password2" :state="validConfirmPassword" required></b-form-input>
                  </b-col>
              </b-row>
              <b-row>
                  <b-col cols="6">
                      <label>First Name</label>
                      <b-form-input v-model="user.firstName" type="text" placeholder="" class="userFirstName" :disabled="true"></b-form-input>
                  </b-col>
                  <b-col cols="6">
                      <label>Middle Name</label>
                      <b-form-input v-model="user.middleName" type="text" placeholder="" class="userMiddleName" :disabled="true"></b-form-input>
                  </b-col>
              </b-row>
              <b-row>
                  <b-col cols="6">
                      <label>Last Name</label>
                      <b-form-input v-model="user.lastName" type="text" placeholder="" class="userLastName" :disabled="true"></b-form-input>
                  </b-col>
                  <b-col cols="6">
                      <label>Suffix</label>
                      <b-form-input v-model="user.suffixName" type="text" placeholder="" class="userSuffix" :disabled="true"></b-form-input>
                  </b-col>
              </b-row>
          </div>
          <div class="userProfileInformation">
              <b-row>
                  <b-col cols="6">
                      <label>{{this.$store.state.i18n.tc('role', 2)}}</label>
                      <multiselect class="multiRole" v-model="roles" tag-placeholder="Add this as new tag" label="groupName" track-by="groupID" :options="this.$store.state.roles" :multiple="true" :taggable="true" @tag="addTag" :disabled="true"></multiselect>
                  </b-col>
                  <b-col cols="6">
                      <label>{{this.$store.state.i18n.tc('workgroup', 2)}}</label>
                      <multiselect class="multiWork" v-model="workgroups" tag-placeholder="Add this as new tag" label="groupName" track-by="groupID" :options="this.$store.state.workgroups" :multiple="true" :taggable="true" @tag="addTag" :disabled="true"></multiselect>
                  </b-col>
              </b-row>
          </div>
        </div>
    </div>
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<script>
import User from '@/store/user.js'
export default {
  data () {
    return {
      userRoleValues: '',
      userWorkValues: '',
      username: '',
      firstName: '',
      lastName: '',
      passwd: '',
      confirmPassword: '',
      user: new User(),
      roles: [],
      workgroups: [],
      workgroupOptions: [],
      roleOptions: [],
      validFlag: false
    }
  },
  methods: {
    addTag (newTag) {
      const tag = {
        name: newTag,
        code: newTag.substring(0, 2) + Math.floor((Math.random() * 10000000))
      }
      this.options.push(tag)
      this.value.push(tag)
    }
  },
  mounted: function () {
    this.user = (this.$store.state.user !== null) ? this.$store.state.user : new User()
    this.passwd = (this.user.passwd === null) ? '' : this.user.passwd
    this.confirmPassword = this.passwd

    this.workgroups = (this.$store.state.user != null && typeof this.$store.state.user.groups !== 'undefined') ? this.$store.state.user.groups.group.filter((obj) => {
      return obj.groupTypeID === 2
    }) : []
    this.roles = (this.$store.state.user != null && typeof this.$store.state.user.groups !== 'undefined') ? this.$store.state.user.groups.group.filter((obj) => {
      return obj.groupTypeID === 1
    }) : []
  },
  computed: {
    validPassword: function () {
      if (this.passwd !== undefined && this.passwd !== null && this.passwd.length >= 1) {
        return true
      } else {
        return null
      }
    },
    validConfirmPassword () {
      if (this.passwd !== undefined && this.passwd !== null && this.passwd.length >= 1) {
        return this.passwd === this.confirmPassword
      } else {
        return null
      }
    }
  },
  watch: {
    user: function (user, oldUser) {
      this.$store.commit('user', user)
    },
    passwd: function () {
      if (this.passwd !== '' && this.confirmPassword === '') {
        this.user.passwd = 'please confirm password'
      }
      if (this.passwd === this.confirmPassword) {
        this.user.passwd = this.confirmPassword
      }
    },
    confirmPassword: function () {
      if (this.passwd === this.confirmPassword) {
        this.user.passwd = this.confirmPassword
      } else if (this.passwd !== this.confirmPassword) {
        this.user.passwd = 'password do no match'
      } else {
        this.user.passwd = null
      }
    },
    workgroups: function (workgroups, oldWorkgroups) {
      this.user.workgroups = this.workgroups.map((obj, index) => {
        return obj.groupID
      })
    },
    roles: function (roles, oldRoles) {
      this.user.roles = this.roles.map((obj, index) => {
        return obj.groupID
      })
    },
    validPassword: function (val) {
      if (val) {
        this.user.passwd = 'please confirm password'
      }
    }
  }
}
</script>

<style lang="scss">
    .userInfoContainer{
        .userProfileInformation{
            text-align: left;
            background-color: #f4f4f4;
            padding:30px;
            margin-bottom: 20px;
        }
        input[type="text"]{
            margin-bottom: 10px;
        }
        input[type="password"]{
            margin-bottom: 10px;
        }
    }
    .redBorder{
        border: 1px solid #dc3545;
        border-radius: 0.25rem;
    }
</style>
