<template>
    <div class="systemAccountmentContainer">
        <SubLayoutFullWidthContainer/>
        <div class="btnAnnoucementContainer">
            <b-button class="btnNewAnnoucement" @click.stop="info(checkedItems, 'new')" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">New Annoucement</b-button>
            <b-dropdown class="annoucementDropDown" id="annoucementDropDown" text="Options" :disabled="optionToggle" v-if="false">
                <b-dropdown-item @click.stop="info(checkedItems, 'delete')">Delete</b-dropdown-item>
            </b-dropdown>
        </div>
        <div class="loadingContainer" :class="animationFlag">
            <div class="loadingAnimation">
                <div class="lds-ring">
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                </div>
            </div>
        </div>
        <div class="annoucementTableContainer">
            <div class="table-scroll" :class="annnouncementTable">
                <div class="systemAnnoucementTable">
                    <b-table show-empty
                            stacked="md"
                            :items="items"
                            :fields="fields"
                            :current-page="currentPage"
                            :per-page="perPage"
                            :filter="filter"
                            :sort-by.sync="sortBy"
                            :sort-desc.sync="sortDesc"
                            :sort-direction="sortDirection"
                            @filtered="onFiltered"
                            v-model="tableValues"
                            small
                            no-sort-reset
                    >
                    <template slot="HEAD_actions" slot-scope="head">
                        <!-- A custom formatted header cell for field 'name' -->
                        <b-form-checkbox @click.native="toggleSelected" v-model="allSelected"></b-form-checkbox>
                    </template>
                    <template slot="actions" slot-scope="row">
                        <b-form-checkbox :value="row.item" v-model="checkedItems"></b-form-checkbox>
                    </template>
                    <template slot="title" slot-scope="row">
                        <a @click.stop="info(row.item, 'edit')" class="annoucementEdit">{{row.item.title}}</a>
                    </template>
                    </b-table>
                    <div class="systemAnnoucementPagination">
                        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" @change="switchPage()"/>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="modalDelete" ref="deleteRef" centered :title="modalDelete.title" no-close-on-backdrop>
          <p>{{ modalDelete.content }}</p>
          <ul class="checkedList">
            <b><li v-for="list in modalDelete.list" :key="list.no">{{list.annoucement_name}}</li></b>
          </ul>
            <div slot="modal-footer">
              <b-btn class="float-right btnGrey btnCancel" variant="secondary" @click="hideModal">
                Cancel
              </b-btn>
              <b-btn class="float-right btnGrey btnDelete" variant="secondary" @click="hideModal">
                Delete
              </b-btn>
            </div>
        </b-modal>
        <b-modal id="modalNewAnnoucement" ref="newRef" centered :title="modalNewAnnoucement.title" no-close-on-backdrop>
            <div class="annoucementContainer">
                <label>Name</label>
                <b-form-input type="text" class="annoucementName" v-model="annoucementName" :state="validName"></b-form-input>
                <label>Content</label>
                <b-form-textarea :disable="newAnnouceDisable" v-model="annoucementDesc" :rows="5" :max-rows="5" :no-resize="true" :maxlength="500" class="systemAnnoucementDesc" :state="validContext"></b-form-textarea>
                <p :class="{'displayCounterWarning': (newDescCounter<=49), 'displayCounter': (newDescCounter >= 50)}">{{newDescCounter}} Characters Remaining</p>
                <label>Expiration Date</label>
                <b-form-input type="date" v-model="expireDate" :state="validDate" class="newDate"></b-form-input>
                <label>Attachment</label>
                <div class="inputRow">
                    <label class="btn btnGrey" for="annoucementUploader">
                        <b-form-file v-model="file" class="mt-3" plain style="display:none" id="annoucementUploader"></b-form-file>
                        Choose File
                    </label>
                    <p v-if="file.name !== undefined && file.name !== ''" class="fileText">{{file.name}}</p>
                    <p v-else class="fileText">No File Chosen</p>
                </div>
            </div>
            <div slot="modal-footer">
              <b-btn class="float-right btnGrey btnCancel" variant="secondary" @click="hideModal">
                Cancel
              </b-btn>
              <b-btn class="float-right btnGreenSecondary btnDelete" variant="secondary" @click="saveAnnouncement('new')">
                Save
              </b-btn>
            </div>
        </b-modal>
        <b-modal id="modalEditAnnoucement" ref="editRef" centered :title="modalEditAnnoucement.title" no-close-on-backdrop>
            <div class="annoucementContainer">
                <label>Name</label>
                <b-form-input type="text" class="annoucementName" v-model="editAnnoucementName" :state="validEditName"></b-form-input>
                <label>Content</label>
                <b-form-textarea :disable="editAnnouceDisable" v-model="editAnnoucementDesc" :rows="5" class="systemAnnoucementDesc" :maxlength="500" :state="validContextEdit"></b-form-textarea>
                <p :class="{'displayCounterWarning': (editDescCounter<=49), 'displayCounter': (editDescCounter >= 50)}">{{editDescCounter}} Characters Remaining</p>
                <label>Expiration Date</label>
                <b-form-input type="date" v-model="editExpireDate" :state="editValidDate" class="newDate"></b-form-input>
                <label>Attachment</label>
                <div class="inputRow">
                    <label class="btn btnGrey" for="editAnnoucementUploader">
                        <b-form-file v-model="editFile" class="mt-3" plain style="display:none" id="editAnnoucementUploader"></b-form-file>
                        Choose File
                    </label>
                    <p v-if="editFile.name !== undefined && editFile.name !== ''" class="fileText">{{editFile.name}}</p>
                    <p v-else class="fileText">No File Chosen</p>
                </div>
            </div>
            <div slot="modal-footer">
              <b-btn class="float-right btnGrey btnCancel" variant="secondary" @click="hideModal">
                Cancel
              </b-btn>
              <b-btn class="float-right btnGreenSecondary btnDelete" variant="secondary" @click="saveAnnouncement('edit')">
                Save
              </b-btn>
            </div>
        </b-modal>
    </div>
</template>
<script>
import SubLayoutFullWidthContainer from '@/components/SubLayout-Full-Width.vue'
import Vue from 'vue'
var moment = require('moment')
const tableData = [ { annoucement_name: 'New Features!', date_created: '6/8/2017', date_expire: '12/31/2020' },
  { annoucement_name: 'New Training Added', date_created: '5/14/2016', date_expire: '12/31/2020' },
  { annoucement_name: 'Welcome', date_created: '1/1/2015', date_expire: '12/31/2020' }
]
export default {
  components: {
    SubLayoutFullWidthContainer
  },
  data () {
    return {
      items: [],
      fields: [
        { key: 'actions', label: '', class: 'text-center' },
        { key: 'title', label: 'Annoucement Name', sortable: true },
        { key: 'postDate', label: 'Date Created', sortable: true },
        { key: 'expiration', label: 'Expiration Date', sortable: true }
      ],
      sortBy: '',
      sortDesc: false,
      sortDirection: 'desc',
      filter: null,
      annoucementName: '',
      modalDelete: { title: '', content: '' },
      modalNewAnnoucement: { title: '', content: '' },
      modalEditAnnoucement: { title: '', content: '' },
      selectAll: 'selected',
      allSelected: false,
      checkedItems: [],
      optionToggle: true,
      tableValues: [],
      statusOptions: [
        { value: 0, text: 'Active' },
        { value: 1, text: 'Inactive' }
      ],
      currentPage: 1,
      perPage: 15,
      totalRows: 3,
      file: '',
      expireDate: '',
      annoucementDesc: '',
      editExpireDate: '',
      editFile: '',
      editAnnoucementName: '',
      editAnnoucementDesc: '',
      editAnnounceID: '',
      annnouncementTable: 'hidden',
      animationFlag: 'displayElement'
    }
  },
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    },
    newAnnouceDisable () {
      return this.annoucementDesc.length >= 500
    },
    newDescCounter () {
      return 500 - this.annoucementDesc.length
    },
    editAnnouceDisable () {
      return this.editAnnoucementDesc.length >= 500
    },
    editDescCounter () {
      return 500 - this.editAnnoucementDesc.length
    },
    validContext () {
      return this.annoucementDesc.length >= 1
    },
    validContextEdit () {
      return this.editAnnoucementDesc.length >= 1
    },
    validName () {
      return this.annoucementName.length >= 1
    },
    validEditName () {
      return this.editAnnoucementName.length >= 1
    },
    validPermission () {
      return this.permissionValue !== ''
    },
    validDate () {
      return this.expireDate !== ''
    },
    editValidName () {
      return this.editAnnoucementName.length >= 1
    },
    editValidPermission () {
      return this.editPermissionValue !== ''
    },
    editValidDate () {
      return this.editExpireDate !== ''
    },
    getIndivudalAnnouncement () {
      return this.$store.state.individualAnnouncement
    }
  },
  methods: {
    info (checked, button) {
      switch (button) {
        case 'new':
          this.modalNewAnnoucement.title = 'New Annoucement'
          this.annoucementName = ''
          this.annoucementDesc = ''
          this.expireDate = ''
          this.file = ''
          this.$root.$emit('bv::show::modal', 'modalNewAnnoucement')
          break
        case 'edit':
          this.modalEditAnnoucement.title = 'Annoucement'
          this.editAnnoucementName = checked.title
          this.editAnnoucementDesc = checked.message
          this.editExpireDate = moment.utc(checked.expiration).format('YYYY-MM-DD')
          this.editAnnounceID = checked.announceID
          this.editFile = ''
          this.$root.$emit('bv::show::modal', 'modalEditAnnoucement')
          break
        case 'delete':
          this.modalDelete.title = `Delete ` + checked.length + ` Annoucement(s)`
          this.modalDelete.content = `Are you sure you want to delete the following Annoucement(s)? This action cannot be undone.`
          this.modalDelete.list = checked
          this.$root.$emit('bv::show::modal', 'modalDelete')
      }
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    toggleSelected () {
      this.allSelected = !this.allSelected
      this.checkedItems = this.allSelected ? this.tableValues : []
    },
    clearSelected () {
      this.allSelected = false
      this.checkedItems = []
    },
    hideModal () {
      this.$refs.deleteRef.hide()
      this.$refs.newRef.hide()
      this.$refs.editRef.hide()
    },
    switchPage () {
      var self = this
      Vue.nextTick(function () {
        self.unsetColor()
        var currentNumber = self.currentPage
        var pagination = document.getElementsByClassName('page-link')
        for (var i = 0; i < pagination.length; i++) {
          if (parseInt(pagination[i].innerHTML) === currentNumber) {
            pagination[i].style.backgroundColor = self.$store.state.company.primary
            pagination[i].style.color = 'white'
          }
        }
      })
    },
    unsetColor () {
      var pagination = document.getElementsByClassName('page-link')
      for (var i = 0; i < pagination.length; i++) {
        pagination[i].style.backgroundColor = 'unset'
        pagination[i].style.color = this.$store.state.company.primary
        pagination[i].style.border = '1px solid #dee2e6'
      }
    },
    saveAnnouncement (type) {
      switch (type) {
        case 'edit':
          var dateNow = new Date()
          var tempObj = {
            title: this.editAnnoucementName,
            postDate: moment.utc(dateNow).format('MM/DD/YYYY'),
            expiration: moment.utc(this.editExpireDate).format('MM/DD/YYYY'),
            message: this.editAnnoucementDesc,
            announcementID: this.editAnnounceID,
            url: null
          }
          if (this.editFile.name !== '') {
            tempObj['file'] = this.editFile
            tempObj['url'] = 'uploads/' + this.editFile.name
          }
          this.$store.dispatch('pushAnnouncement', tempObj)
          if (this.editAnnoucementName.length === 0 || this.editExpireDate === '' || this.editAnnoucementDesc === '') {
            return
          }
          this.annnouncementTable ='hidden',
          this.animationFlag = 'displayElement'
          this.hideModal()
          break
        case 'new':
          var dateNow = new Date()
          var tempObj = {
            title: this.annoucementName,
            postDate: moment.utc(dateNow).format('MM/DD/YYYY'),
            expiration: moment.utc(this.expireDate).format('MM/DD/YYYY'),
            message: this.annoucementDesc,
            url: null
          }
          if (this.file.fileName !== '') {
            tempObj['file'] = this.file 
            tempObj['url'] = 'uploads/' + this.file.name
          }
          this.$store.dispatch('pushAnnouncement', tempObj)
          if (this.annoucementName.length === 0 || this.expireDate === '' || this.annoucementDesc === '') {
            return
          }
          this.annnouncementTable ='hidden',
          this.animationFlag = 'displayElement'
          this.hideModal()
          break
      }
    }
  },
  watch: {
    checkedItems (a, b) {
      this.optionToggle = (!a.length > 0)
      this.allSelected = (this.tableValues.length === a.length)
    },
    perPage (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    currentPage (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    filter (a, b) {
      if (a !== b) {
        this.clearSelected()
      }
    },
    getIndivudalAnnouncement: function (val) {
      for (var i = 0; i < val.length; i++) {
        val[i].postDate = moment.utc(new Date(val[i].postDate)).format('MM/DD/YYYY')
        val[i].expiration = moment.utc(new Date(val[i].expiration)).format('MM/DD/YYYY')
      }
      this.items = val
      this.annnouncementTable ='displayElement',
      this.animationFlag = 'hidden'
    }
  },
  mounted: function () {
    document.getElementsByClassName('page-link')[2].style.backgroundColor = this.$store.state.company.primary
    document.getElementsByClassName('page-link')[2].style.borderColor = this.$store.state.company.primary
    this.$store.dispatch('getAnnouncements')
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="scss">
    .systemAccountmentContainer{
        .annoucementTableContainer{
            padding: 30px;
             text-align: left;
             .systemAnnoucementPagination{
                 float:right;
             }
            .courseLink:hover{
                text-decoration: underline;
                cursor: pointer;
            }
            tr{
                background-color:#f4f4f4;
            }
            th{
                background-color:#c9c9c9;
                color:black;
            }
            .table td {
                border-top: 1px solid #c9c9c9;
                color:black;
            }
            tr td:first-child, th:first-child{
                padding-left:20px;
            }
            .table thead th{
                border-bottom: 0px;
                border-top: 0px;
            }
            td:nth-child(9){
                padding-top: 10px;
                padding-left:30px;
            }
            th:nth-child(7){
                width: 110px;
            }
            .checklistBtn{
                width: 40px;
                padding-bottom: 1px;
            }
            .documentCheckmarkIcon{
                width: auto;
                height: 33px;
                margin-left: -10px;
                margin-top: -10px;
            }
            .hideDocumentIcon{
                visibility: hidden;
            }
            .sorting:before{
                position: absolute;
                bottom: 0;
                display: block;
                opacity: 0.4;
                padding-bottom: inherit;
                font-size: inherit;
                line-height: 180%;
            }
            .sorting:after{
                position: absolute;
                bottom: 0;
                display: block;
                opacity: 0.4;
                padding-bottom: inherit;
                font-size: inherit;
                line-height: 180%;
            }
            .userLink{
                color:black;
            }
        }
        .btnAnnoucementContainer{
            float:left;
            .btnNewAnnoucement, .annoucementDropDown{
                margin-top:-75px;
            }
            .btnNewAnnoucement{
                margin-left: 37px;
                margin-right:5px;
            }
            .userCount{
                color:white;
                margin-left: 250px;
                margin-top:-60px;
                margin-right:80px;
            }
            #annoucementDropDown__BV_toggle_{
                background-color: #c9c9c9;
                border-color: #c9c9c9;
                color: black !important;
                filter: unset !important;
            }
            #annoucementDropDown__BV_toggle_:hover{
                background-color: #dfdfdf;
                border-color: #dfdfdf;
                color:black;
            }
        }
        .dateTo{
            width: 0px;
            margin: 0;
            margin-left: 240px;
            margin-top: -30px;
        }
        #userProfileModal{
            text-align: left;
            .row{
                margin-bottom:10px;
                margin-left: 0px;
            }
            .bgGrey{
                background-color:#f4f4f4;
            }
            label{
                margin-top: 7px;
            }
            .bgBlue{
                background-color: #3567A8;
                color:white;
            }
            .btnApply{
                margin-right: 10px;
            }
        }
        .modal-body{
            text-align: left;
        }
        .modal-footer .btnDelete{
            margin-right:10px !important;
        }
        .inputRow{
            display:flex;
            flex-direction: row;
            margin-bottom:10px;
        }
        .checkedList{
            padding-left:20px;
        }
        .fileText{
            margin-top: 6px;
            margin-left:10px;
        }
        .annoucementName{
            margin-bottom:15px;
        }
        .displayCounterWarning{
            color: red;
            float: right;
        }
        .displayCounter{
            float: right;
            color:#c9c9c9;
            white-space: nowrap;
            margin-top: -40px;
        }
        .systemAnnoucementDesc{
            margin-bottom: 50px;
        }
        .editDate, .newDate{
            margin-bottom: 10px;
        }
        .annoucementEdit:hover{
            text-decoration: underline !important;
            cursor: pointer;
        }
        #annoucementDropDown__BV_toggle_:disabled{
            background-color: #c9c9c9 !important;
            border-color: #c9c9c9 !important;
            color: black;
        }
        #annoucementDropDown__BV_toggle_:hover{
            background-color: #f4f4f4;
            border-color: #f4f4f4;
            color:black;
        }
    }
</style>
