<template>
    <div>
        <div class="forgotPasswordContainer">
            <div class="createTitle">
                <p style="color: white; font-size:24px;">Reset Password</p>
            </div>
            <b-card class="mx-auto">
                <b-img :src="this.$store.state.company.logoURL" class="createLogo"></b-img>
                    <p class="logoText">Online Learning portal</p>
                    <p class="submittedEmail" :class="passwordConfirmationText">Your password was updated successfully.</p>
                    <div class="formHeight" :class="hideEmailTag">
                        <b-form-input v-model="password" type="password" placeholder="New Password" :state="validPassword" @keydown.native="hideInputTextWarning()"></b-form-input>
                        <b-form-input v-model="confirmPassword" type="password" placeholder="Confirm New Password" :state="validConfirm" @keydown.native="hideInputTextWarning()"></b-form-input>
                    </div>
                    <a href="" @click.prevent="goBackLogin()" :class="returnToLogin">Back to log in page</a>
                <b-button class="continueLoginBtn" @click="validatePassword()" :style="{ 'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}" :class="submitFlag">Update Password</b-button>
            </b-card>
        </div>
    </div>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import {faPencilAlt, faEye, faEyeSlash} from '@fortawesome/fontawesome-free-solid/'
export default {
  data: () => ({
    password: '',
    confirmPassword: '',
    hideEmailTag: 'displayElement',
    submitFlag: 'displayElement',
    passwordText: 'displayElement',
    loginLinkFlag: 'displayElement',
    passwordConfirmationText: 'hidden',
    returnToLogin: 'hidden',
    validPasswords: false
  }),
  methods: {
    validatePassword () {
      if (this.validPasswords) {
        this.submitFlag = 'hidden'
        this.passwordConfirmationText = 'displayElement'
        this.passwordText = 'hidden'
        this.hideEmailTag = 'hidden'
        this.returnToLogin = 'displayElement'
        this.loginLinkFlag = 'hidden'

        var self = this
        self.$store.dispatch('changePassword', {sessionHash: this.$route.query.s, password: this.password}).then((resolve) => {
          if (resolve) {

          }
        }).catch((e) => {
          if (e.message !== 'Network Error') self.loginWarning = 'displayElement'
        })
      }
    },
    hideInputTextWarning () {
      this.validEmail = null
    },
    goBackLogin () {
      window.location.href = '/'
    },
    checkPasswords () {
      if (this.password !== '') {
        
      }
      if (this.password === this.confirmPassword) {
        this.validNext = true
      }
    }
  },
  computed: {
    icon () {
      return [faPencilAlt, faEye, faEyeSlash]
    },
    validPassword () {
      if (this.password !== undefined && this.password !== null && this.password.length >= 1) {
        return true
      } else {
        return null
      }
    },
    validConfirm () {
      if (this.password !== undefined && this.password !== null && this.password.length >= 1) {
        return this.password === this.confirmPassword
      } else {
        return null
      }
    }
  },
  watch: {
    confirmPassword: function () {
      if (this.password === this.confirmPassword) {
        this.validPasswords =  true
      } else {
        this.validPasswords = false
      }
    }
  },
  components: {
    FontAwesomeIcon
  }
}
</script>
<style lang="scss">
    .forgotPasswordContainer{
        max-width: 350px;
        height: 100%;
        .createLogo{
            display:flex;
            margin: auto;
            height:auto;
            margin-bottom: 10px;
            width:100%;
        }
        .workgroupField{
            margin-bottom:10px;
        }
        .editUsername{
            margin-top: -36px;
            float: right;
            margin-right: 10px;
            display: block;
            pointer-events:none;
        }
        .logoText{
            text-align: center;
        }
        .showPasswordIcon, .hidePasswordIcon{
            float: right;
            margin-top: -26px;
            margin-right: 10px;
        }
        .verifyLogin{
            display:none;
        }
        .card-body{
            background-color: #f4f4f4;
            padding: 2rem;
        }
        .iconGrey{
            color:#c9c9c9;
        }
        .blendTextField{
          background-color:#f4f4f4;
          border-color: #f4f4f4;
        }
        .workgroupField:hover{
          background-color: #fff;
        }
        .btn-secondary:not(:disabled):not(.disabled):active{
          background-color: #009744;
          border-color: #009744;
        }
        .workgroupField::placeholder{
          color:#c9c9c9;
        }
        .loginPassword::placeholder{
          color: #c9c9c9;
        }
        .formHeight input{
            margin-bottom: 10px;
        }
        .loginLink{
            color:white !important;
            margin-top:10px;
            display:block;
        }
        .forgotPasswordText, .submittedEmail{
            text-align: left;
        }
        .card-body {
          width: 350px;
        }
    }
    .forgotPassword{
        text-align: center;
        color:white !important;
        background-color:white;
    }
    .createTitle{
        margin: auto;
        margin-top:-40px;
        position: relative !important;
    }
</style>
