<template>
  <div class="SideNav">
    <b-nav vertical>
        <b-nav-item :Navigation="Navigation" v-for="nav in Navigation" :key= nav.name :to="nav.route">{{nav.name}}</b-nav-item>
    </b-nav>
  </div>
</template>

<script>
export default {
  props: ['Navigation'],
  data () {
    return {
    }
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang='scss'>
$primary:#3567A8;
.SideNav{
    float:left;
    width:250px;
    background-color:#f4f4f4;
    height:100vh;
}
.nav-link{
  color:black;
  text-align: left;
  padding: 15px;
}
.nav-link.active{
  background-color: #c9c9c9;
}
.nav-link:hover{
  background-color: #dfdfdf;
  filter: unset !important;
}

</style>
