<template>
  <div>
    <div class="SubLayoutFullWidthContainer">
      <h2 class="subHeader" :style="{ 'background-color': this.$store.state.company.primary}">{{headerText}}</h2>
    </div>
    <router-view class='pageContainer'/>
  </div>
</template>

<script>
export default {
  data () {
    return {
      headerText: ''
    }
  }
}
</script>

<style scoped lang='scss'>
// $primary:#3567A8;
$primary: #506B78;

.SubLayoutFullWidthContainer{
    padding-right:30px;
    padding-left:30px;
    .subHeader {
        color: white;
        margin-bottom: 0px;
        height: 50px;
        padding: 5px;
        border-radius: 5px;
    }
}
</style>
