<template>
  <div>
    <div class="subContainer">
      <h2 class="subHeader" :style="{'background-color': this.$store.state.company.primary}">{{headerText}}</h2>
    </div>
    <SideNav :Navigation="Navigation"/>
    <router-view class='pageContainer'/>
  </div>
</template>

<script>
import SideNav from '../components/SideNav.vue'
export default {
  props: ['Navigation'],
  data () {
    return {
      headerText: ''
    }
  },
  components: {
    SideNav
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang='scss'>
// $primary:#3567A8;
$primary: #506B78;
.subHeader{
    color: white;
    margin-bottom: 0px;
    border-radius: 0 5px 5px 0;
    height: 50px;
    padding: 5px;
}
.subContainer{
  padding-right:30px;
}
</style>
