<template>
    <div class="userNavBtn">
        <b-dropdown id="userLogin" :text="username" class="m-md-2" right>
            <b-dropdown-item @click="viewAnnoucements()">Annoucements</b-dropdown-item>
            <b-dropdown-item @click="viewMyProfile()">My Profile</b-dropdown-item>
            <b-dropdown-item @click="viewReports()">My Reports</b-dropdown-item>
          <!--  <b-dropdown-item>Online Help</b-dropdown-item> -->
            <b-dropdown-item @click.stop="info()">Contact Support</b-dropdown-item>
            <b-dropdown-item @click="logoutModal()">Logout</b-dropdown-item>
        </b-dropdown>
        <b-modal id="modalContact" ref="contactRef" centered hide-footer @hide="resetModal" :title="modalContact.title" no-close-on-backdrop>
            <div class="supportForm textLeft">
              Need Help? Contact {{contactName}} at {{contactPhone}} or email {{contactEmail}}
            </div>
        </b-modal>
        <b-modal id="modalLogout" ref="logoutRef" hide-header @hide="resetModal" :title="modalContact.title" no-close-on-backdrop>
            <div class="supportForm textLeft">
              Are you sure you want to logout?
            </div>
            <div slot="modal-footer">
              <b-btn class="float-right btnGrey btnNo" variant="secondary" @click="hideModal">
                No
              </b-btn>
              <b-btn class="float-right btnGrey" variant="secondary" @click="logout()">
                Yes
              </b-btn>
            </div>
        </b-modal>
    </div>
</template>

<script>
export default {
  data: () => ({
    modalContact: { title: '', content: '' },
    username: '',
    contactUs: '',
    contactName: '',
    contactPhone: '',
    contactEmail: ''
  }),
  methods: {
    logout: function () {
      this.$store.commit('logout')
      this.$refs.logoutRef.hide()
      this.$router.push({path: '/login'})
      sessionStorage.clear()
    },
    logoutModal () {
      this.modalContact.title = 'Logout'
      this.$root.$emit('bv::show::modal', 'modalLogout')
    },
    info (button) {
      var item = JSON.parse(sessionStorage.getItem('contactUs'))
      this.modalContact.title = 'Contact Support'
      this.contactName = item.company.adminContactName
      this.contactEmail = item.company.admintContactEmail
      this.contactPhone = item.company.admintContactPhone
      this.$root.$emit('bv::show::modal', 'modalContact')
    },
    resetModal () {
      this.modalContact.name = ''
      this.modalContact.email = ''
      this.modalContact.phone = ''
    },
    hideModal () {
      this.$refs.contactRef.hide()
      this.$refs.logoutRef.hide()
    },
    viewMyProfile () {
    this.$store.commit('SET_PAYMENT_CARD', null)
    this.$store.commit('SET_CARD_FLAG', '')
    var userSession = sessionStorage.getItem('userSession')
    userSession = JSON.parse(userSession)
    this.$store.dispatch('editUser', this.$store.state.session.user.internalUserID)
    this.$store.commit('getUserIndividualReport', userSession.user.internalUserID)
      var innerUserID = userSession.user.internalUserID
      this.$store.commit('editUser', innerUserID)
      var self = this
      setTimeout(function () {
        self.$router.push({path: '/MyProfile/UserInformation'})
        self.$store.commit('pushChecked', [])
        self.$store.commit('setTempUserToNull')
      }, 500)
    },
    viewReports () {
      this.$router.push({path: '/MyReports'})
    },
    viewAnnoucements () {
      this.$router.push({path: '/Annoucements'})
    },
    setUserNavigationBtn (value) {
      var cssText = 'background-color:' + value + '; border-color:' + value + ';'
      document.getElementById('userLogin__BV_toggle_').style.cssText = cssText
    }
  },
  computed: {
    watchBrandChange () {
      return this.$store.state.company.primary
    },
    watchSessionChange () {
      return this.$store.state.session
    }
  },
  watch: {
    watchBrandChange (value) {
      console.log(`This brand color changed to  ${value}`)
      this.setUserNavigationBtn(value)
    },
    watchSessionChange (value) {
      this.username = value.user.userName
    }
  },
  mounted: function () {
    var self = this
    var session = sessionStorage.getItem('userSession')
    session = JSON.parse(session)
    this.username = session.user.userName
    this.$store.dispatch('getContactSupport')
    setTimeout(function () {
      var cssText = 'background-color:' + self.$store.state.company.primary + '; border-color:' + self.$store.state.company.primary + ';'
      document.getElementById('userLogin__BV_toggle_').style.cssText = cssText
    }, 1000)
  }
}
</script>
<style lang='scss'>
$primary:#3567A8;
$primaryHover: #447AC4;
$secondary: #00ac4e;
// $primary: #506B78;
// $primaryHover: #587685;
$primaryActive: #618292;
$hoverColor: #c9c9c9;
.userNavBtn{
  #userLogin{
    margin:0px !important;
    margin-left: 10px !important;
  }
  #userLogin__BV_toggle_{
    background-color: $primary;
  }
  .dropdown-item.active{
    background-color: $primaryActive;
  }
  .dropdown-item:hover, .dropdown-item:focus{
    background-color: #C9C9C9;
  }
  .boxShadow{
    box-shadow: 0 0 10px #333;
  }
  .dropdown-menu{
    background-color:#f4f4f4;
    @extend .boxShadow;
  }
  .btnNo {
    margin-left: 10px;
  }
}
</style>
