<template>
  <div class='pageContainer'>
    <div class="curriculumsContainer">
      <b-button class="createCurriculum" @click="newCurriculum(null)" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
      New Curriculum
      </b-button>
      <p class="curriculumCount">Curriculums ({{totalRows}}) </p>
      <b-dropdown class="curriculumDropDown" text="Options" :disabled="optionToggle" id="curriculumDropDown" v-if="false">
          <b-dropdown-item>Make Active</b-dropdown-item>
          <b-dropdown-item>Make Inactive</b-dropdown-item>
          <b-dropdown-item  @click.stop="info(checkedItems, $event.target)" >Delete</b-dropdown-item>
      </b-dropdown>
        <!-- User Interface controls -->
        <b-row class="customRowCurriculum">
          <b-col md="6">
            <b-form-group horizontal class="mb-0 customFormGroup">
              <b-input-group>
                <b-form-input v-model="filter" placeholder="Search Curriculums..." class="customInputCurriculum" />
              </b-input-group>
            </b-form-group>
          </b-col>
        </b-row>
        <div class="loadingContainer" :class="animationFlag">
            <div class="loadingAnimation">
                <div class="lds-ring">
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                </div>
            </div>
        </div>
        <!-- Main table element -->
        <div class="table-scroll" :class="curriculumTable">
          <div class="tableCurriculumContainer">
              <b-table show-empty
                      stacked="md"
                      :items="items"
                      :fields="fields"
                      :filter="filter"
                      :sort-by.sync="sortBy"
                      :sort-direction="sortDirection"
                      @filtered="onFiltered"
                      v-model="tableValues"
                      small
                      :current-page="currentPage"
                      :per-page="perPage"
              >
              <template slot="HEAD_actions" slot-scope="head">
                  <!-- A custom formatted header cell for field 'name' -->
                  <b-form-checkbox  @click.native="toggleSelected" v-model="allSelected"></b-form-checkbox>
              </template>
              <template slot="actions" slot-scope="row">
                  <b-form-checkbox :value="row.item" v-model="checkedItems"></b-form-checkbox>
              </template>
              <template slot="courseName" slot-scope="row">
                <a @click="newCurriculum(row.item.courseID)" class="courseLink">{{row.item.courseName}}</a>
              </template>
              <template slot="active" slot-scope="row">
                  <p class="activeStatus" v-if="row.item.active">Active</p>
                  <p class="inactiveStatus" v-else>Inactive</p>
              </template>
              </b-table>
              <div class="tablePagination">
                  <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" @change="switchPage()"/>
              </div>
          </div>
        </div>
        <b-modal id="modalInfo" ref="myModalRef" centered @hide="resetModal" :title="modalInfo.title">
          <p>{{ modalInfo.content }}</p>
          <ul class="checkedList">
            <b><li v-for="list in modalInfo.list" :key="list.no">{{list.courseName}}</li></b>
          </ul>
            <div slot="modal-footer">
              <b-btn class="float-right btnGrey btnCancel" variant="secondary" @click="hideModal">
                Cancel
              </b-btn>
              <b-btn class="float-right btnGrey btnDelete" variant="secondary" @click="hideModal">
                Delete
              </b-btn>
            </div>
        </b-modal>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
export default {
  data () {
    return {
      items: [],
      fields: [
        { key: 'actions', label: '', sortable: false, class: 'text-center' },
        { key: 'courseNumber', label: 'No.', sortable: true, sortDirection: 'desc' },
        { key: 'courseName', label: 'Curriculum Name', sortable: true },
        { key: 'active', label: 'Status', sortable: true }
      ],
      sortBy: 'courseNumber',
      sortDesc: false,
      sortDirection: 'desc',
      filter: null,
      modalInfo: { title: '', content: '' },
      selectAll: 'selected',
      allSelected: false,
      checkedItems: [],
      optionToggle: true,
      tableValues: [],
      currentPage: 1,
      perPage: 15,
      totalRows: 0,
      curriculumTable: 'hidden',
      animationFlag: 'displayElement'
    }
  },
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    },
    getCurriculums () {
      return this.$store.state.curriculums
    }
  },
  methods: {
    info (checked, button) {
      this.modalInfo.title = `Delete ` + checked.length + ` Curriculum(s)`
      this.modalInfo.content = `Are you sure you want to delete the following Curriculum(s)? This action cannot be undone.`
      this.modalInfo.list = checked
      this.$root.$emit('bv::show::modal', 'modalInfo', button)
    },
    resetModal () {
      this.modalInfo.title = ''
      this.modalInfo.content = ''
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    toggleSelected () {
      this.allSelected = !this.allSelected
      this.checkedItems = this.allSelected ? this.tableValues : []
    },
    clearSelected () {
      this.allSelected = false
      this.checkedItems = []
    },
    hideModal () {
      this.$refs.myModalRef.hide()
    },
    newCurriculum (id) {
      this.$store.dispatch('getSingleCurriculum', id)
      this.$store.commit('SET_CURRICULUM_COURSE_HISTORY', [])
      this.$store.commit('SET_CURRICULUM_COURSE', [])
      var self = this
      setTimeout(function () {
        self.$router.push({path: '/NewCurriculum/CurriculumSettings/'})
        self.$store.commit('pushChecked', [])
      }, 500)
    },
    switchPage () {
      var self = this
      Vue.nextTick(function () {
        self.unsetColor()
        var currentNumber = self.currentPage
        var pagination = document.getElementsByClassName('page-link')
        for (var i = 0; i < pagination.length; i++) {
          if (parseInt(pagination[i].innerHTML) === currentNumber) {
            pagination[i].style.backgroundColor = self.$store.state.company.primary
            pagination[i].style.color = 'white'
          }
        }
      })
    },
    unsetColor () {
      var pagination = document.getElementsByClassName('page-link')
      for (var i = 0; i < pagination.length; i++) {
        pagination[i].style.backgroundColor = 'unset'
        pagination[i].style.color = this.$store.state.company.primary
        pagination[i].style.border = '1px solid #dee2e6'
      }
    }
  },
  watch: {
    checkedItems (a, b) {
      this.optionToggle = (!a.length > 0)
      this.allSelected = (this.tableValues.length === a.length)
    },
    getCurriculums: function (val) {
      var tempArray = []
      for (var i = 0; i < val.length; i++) {
        tempArray.push(val[i].course)
      }
      this.items = tempArray
      this.curriculumTable ='displayElement',
      this.animationFlag = 'hidden'
    }
  },
  mounted: function () {
    this.$store.dispatch('getCurriculums')
    document.getElementsByClassName('page-link')[2].style.backgroundColor = this.$store.state.company.primary
    document.getElementsByClassName('page-link')[2].style.borderColor = this.$store.state.company.primary
  }
}
</script>
<style lang='scss'>
    .curriculumsContainer{
      .tableCurriculumContainer{
          margin-top: -1px;
          text-align: left;
        tr{
          background-color:#f4f4f4;
        }
        th{
          background-color:#c9c9c9;
          color:black;
        }
        .table td {
          border-top: 1px solid #c9c9c9;
          color:black;
        }
        .table thead th{
          border-bottom: 0px;
          border-top: 0px;
        }
        p{
          margin-bottom: 0px;
        }
        td:nth-child(1){
          text-align: center;
          padding-left: 15px;
        }
        th:nth-child(1){
          width: 60px;
          padding-left: 15px;
        }
        th:nth-child(2){
          width: 5px;
        }
      }
      .customRowCurriculum{
        float:right;
      }
      .customFormGroup{
        margin-top: -74px !important;
      }
      .customInputCurriculum{
        flex: unset;
        width:180px !important;
        margin-right: 21px;
      }
      .createCurriculum{
        margin-top: -74px;
        float:left;
        margin-left: -265px;
      }
      .curriculumDropDown{
        margin-top: -74px;
        float: left;
      }
      #modalInfo___BV_modal_body_{
        text-align:left;
      }
      .checkedList{
        padding-left:20px !important;
      }
      .btnDelete{
        margin-right: 10px;
      }
      .curriculumCount{
          margin-top: -66px;
          // margin-left: 120px;
          float: left;
          color:white;
      }
      #curriculumDropDown__BV_toggle_{
        background-color: #c9c9c9;
        border-color: #c9c9c9;
        color: black !important;
        filter: unset !important;
      }
      #curriculumDropDown__BV_toggle_:hover{
        background-color: #dfdfdf;
        border-color: #dfdfdf;
        color:black;
      }
      .courseLink{
        text-decoration:none;
        color:black;
      }
      .courseLink:hover{
        text-decoration: underline !important;
        color:black;
        cursor: pointer;
      }
      #curriculumDropDown__BV_toggle_:disabled {
        background-color: #c9c9c9 !important;
        border-color: #c9c9c9 !important;
        color: black !important;
      }
    }
</style>
