<template>
  <div>
    <SubPage :Navigation="Navigation"/>
  </div>
</template>
<script>
import SubPage from '@/components/SubPage.vue'
export default {
  data () {
    return {
      Navigation: [
        {
          name: 'Courses',
          route: '/CourseManagement/ManageCourse'
        },
        {
          name: 'Curriculums',
          route: '/CourseManagement/Curriculums'
        }
      ]
    }
  },
  components: {
    SubPage
  }
}
</script>
