<template>
  <div class="courseManageContainer">
    <b-button class="createCourse" :to="{path: '/NewCourse/CourseSettings/'}" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
      New Course
    </b-button>
      <b-dropdown class="courseDropDown" text="Options" :disabled="optionToggle" id="courseDropDown" v-if="false">
      <b-dropdown-item>Make Active</b-dropdown-item>
      <b-dropdown-item>Make Inactive</b-dropdown-item>
      <b-dropdown-item  @click.stop="info(checkedItems, $event.target)">Delete</b-dropdown-item>
    </b-dropdown>
    <p class="courseCount">Courses ({{totalRows}}) </p>
      <!-- User Interface controls -->
      <b-row class="customRowCourse">
        <b-col md="6">
          <b-form-group horizontal class="mb-0 customFormGroup">
            <b-input-group>
              <b-form-input v-model="filter" placeholder="Search Courses..." class="customInputCourse" />
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
        <div class="loadingContainer" :class="animationFlag">
            <div class="loadingAnimation">
                <div class="lds-ring">
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                </div>
            </div>
        </div>
      <!-- Main table element -->
      <div class="table-scroll" :class="courseManageTable">
        <div class="tableCourseContainer">
            <b-table show-empty
                    stacked="md"
                    :items="items"
                    :fields="fields"
                    :filter="filter"
                    @filtered="onFiltered"
                    :sort-by.sync="sortBy"
                    v-model="tableValues"
                    small
                    :current-page="currentPage"
                    :per-page="perPage"
                    no-sort-reset
            >
            <template slot="HEAD_actions" slot-scope="head">
                <!-- A custom formatted header cell for field 'name' -->
                <b-form-checkbox  @click.native="toggleSelected" v-model="allSelected"></b-form-checkbox>
            </template>
            <template slot="actions" slot-scope="row">
                <b-form-checkbox :value="row.item" v-model="checkedItems"></b-form-checkbox>
            </template>
            <template slot="courseName" slot-scope="row"><a @click="newCourse(row.item.courseID)" class="courseLink">{{row.item.courseName}}</a></template>
            <template slot="preview" slot-scope="row">
                <b-button class="btnGrey" @click="launchCourse(row.item.courseID)">
                    Preview
                </b-button>
            </template>
            <template slot="active" slot-scope="row">
                <p :class="row.item.active === true ? 'activeStatus' : 'inactiveStatus'">{{(row.item.active) ? 'Active' : 'Inactive'}}</p>
            </template>
            </b-table>
            <div class="tablePagination">
              <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" @change="switchPage()"/>
            </div>
        </div>
      </div>
      <b-modal id="modalInfo" ref="myModalRef" centered @hide="resetModal" :title="modalInfo.title">
        <p>{{ modalInfo.content }}</p>
        <ul class="checkedList">
          <b><li v-for="list in modalInfo.list" :key="list.courseNumber">{{list.courseName}}</li></b>
        </ul>
          <div slot="modal-footer">
            <b-btn class="float-right btnGrey btnCancel" variant="secondary" @click="hideModal">
              Cancel
            </b-btn>
            <b-btn class="float-right btnGrey btnDelete" variant="secondary" @click="hideModal">
              Delete
            </b-btn>
          </div>
      </b-modal>
  </div>
</template>

<script>
import Vue from 'vue'
export default {
  data () {
    return {
      fields: [
        { key: 'actions', label: '', class: 'text-center', sortable: false },
        { key: 'courseNumber', label: 'No.', sortable: true, sortDirection: 'desc' },
        { key: 'courseName', label: 'Course Name', sortable: true },
        { key: 'preview', label: 'Preview', sortable: false },
        { key: 'active', label: 'Status', sortable: true }
      ],
      sortBy: 'courseNumber',
      sortDesc: false,
      sortDirection: 'desc',
      filter: null,
      modalInfo: { title: '', content: '' },
      selectAll: 'selected',
      allSelected: false,
      checkedItems: [],
      optionToggle: true,
      tableValues: [],
      currentPage: 1,
      perPage: 10,
      totalRows: 0,
      items: [],
      courseManageTable: 'hidden',
      animationFlag: 'displayElement'
    }
  },
  computed: {
    getCourses () {
      return this.$store.state.courses
    },
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    }
  },
  methods: {
    info (checked, button) {
      this.modalInfo.title = `Delete ` + checked.length + ` Course(s)`
      this.modalInfo.content = `Are you sure you want to delete the following course(s)? This action cancourseNumbert be undone.`
      this.modalInfo.list = checked
      this.$root.$emit('bv::show::modal', 'modalInfo', button)
    },
    resetModal () {
      this.modalInfo.title = ''
      this.modalInfo.content = ''
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    toggleSelected () {
      this.allSelected = !this.allSelected
      this.checkedItems = this.allSelected ? this.tableValues : []
    },
    clearSelected () {
      this.allSelected = false
      this.checkedItems = []
    },
    hideModal () {
      this.$refs.myModalRef.hide()
    },
    newCourse (course) {
      this.$store.commit('editCourse', course)
      var self = this
      setTimeout(function () {
        self.$router.push({path: '/NewCourse/CourseSettings/'})
        self.$store.commit('pushChecked', [])
      }, 500)
    },
    switchPage () {
      var self = this
      Vue.nextTick(function () {
        self.unsetColor()
        var currentNumber = self.currentPage
        var pagination = document.getElementsByClassName('page-link')
        for (var i = 0; i < pagination.length; i++) {
          if (parseInt(pagination[i].innerHTML) === currentNumber) {
            pagination[i].style.backgroundColor = self.$store.state.company.primary
            pagination[i].style.color = 'white'
          }
        }
      })
    },
    unsetColor () {
      var pagination = document.getElementsByClassName('page-link')
      for (var i = 0; i < pagination.length; i++) {
        pagination[i].style.backgroundColor = 'unset'
        pagination[i].style.color = this.$store.state.company.primary
        pagination[i].style.border = '1px solid #dee2e6'
      }
    },
    launchCourse (courseID) {
      this.lastLaunch = window.open('/api/course/aicc/?courseID=' + courseID + '&preview=true', 'Course', 'width=' + (screen.width - 15) + ', height=' + (screen.height - 100) + ', toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=no, resizable=no, copyhistory=no, fullscreen=yes, top=0, left=0')
      this.reloadOnClose()
    },
  },
  watch: {
    checkedItems (a, b) {
      this.optionToggle = (!a.length > 0)
      this.allSelected = (this.tableValues.length === a.length)
    },
    getCourses: function (val) {
      this.items = val
      this.courseManageTable ='displayElement',
      this.animationFlag = 'hidden'
    }
  },
  mounted: function () {
    document.getElementsByClassName('page-link')[2].style.backgroundColor = this.$store.state.company.primary
    document.getElementsByClassName('page-link')[2].style.borderColor = this.$store.state.company.primary
    this.$store.commit('getCourses')
    this.$store.commit('getRoles')
    this.$store.commit('course', null)
  }
}
</script>
<style lang='scss'>
    .tableCourseContainer{
        margin-top: -1px;
        text-align: left;
      tr{
        background-color:#f4f4f4;
      }
      th{
        background-color:#c9c9c9;
        color:black;
      }
      .table td {
        border-top: 1px solid #c9c9c9;
        color:black;
      }
      .table thead th{
        border-bottom: 0px;
        border-top: 0px;
      }
      p{
        margin-bottom: 0px;
      }
      td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(5){
        padding-top: 12px;
      }
      td:nth-child(1){
        text-align: center;
        padding-left: 15px;
      }
      th:nth-child(1){
        width: 60px;
        padding-left: 15px;
      }
      th:nth-child(2){
        width: 5px;
      }
    }
    .customRowCourse{
      float:right;
      margin-top:-1px;
    }
    .customFormGroup{
      margin-top: -73px;
    }
    .customInputCourse{
      flex: unset;
      width:180px !important;
      margin-right: 21px;
    }
    .createCourse{
      margin-top: -74px;
      float:left;
      margin-left: -265px;
    }
    #courseDropDown{
      margin-top: -74px;
      float: left;
    }
    #courseDropDown__BV_toggle_{
      background-color: #c9c9c9 ;
      border-color: #c9c9c9;
      color: black;
      filter: unset !important;
    }
    #courseDropDown__BV_toggle_:hover{
      background-color: #dfdfdf;
      border-color: #dfdfdf;
      color:black;
    }
    #modalInfo___BV_modal_body_{
      text-align:left;
    }
    .checkedList{
      padding-left:20px !important;
    }
    .btnDelete{
      margin-right: 10px;
    }
    .courseDropDown:disabled{
      background-color:white;
    }
    .courseCount{
        margin-top: -66px;
        // margin-left: 120px;
        float: left;
        color:white;
    }
    .courseLink{
       text-decoration:none;
       color:black;
    }
    .courseLink:hover{
      text-decoration: underline !important;
      color:black;
      cursor: pointer;
    }
</style>
