<template>
    <div class="certificateContainer">
        <div class='scroller'>
            <div class="templateContainer">
                <b-row>
                    <b-col cols="6">
                        <label>Template</label>
                        <b-form-select v-model="this.course.certificateGenerator" :options="templates" class="templateSelect" />
                    </b-col>
                </b-row>
                <b-row>
                    <b-col cols="6">
                        <label>Data Format</label>
                        <b-form-select v-model="course.certificateStore" :options="dataFormat" class="templateSelect" />
                    </b-col>
                </b-row>
            </div>
            <div class="certificationContainer" v-if="false">
                <label>Certification</label>
                <div class="certificationBtn">
                    <b-col cols="6">
                        <b-form-select v-model="certSelect" :options="certificationOptions" class="certficationSelect" />
                    </b-col>
                    <b-button class="btnGrey manageCertifcationBtn" :to="{path: '/EditCertificates'}">Manage Certifications</b-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      course: this.$store.state.course,
      templateSelect: 0,
      dataSelect: 0,
      certSelect: 0,
      templates: [],
      dataFormat: [
        {value: false, text: 'Use Dynamic Data'},
        {value: true, text: 'Save to PDF'}
      ],
      certificationOptions: [
        {value: 0, text: '--none selected--'}
      ],
      templateValue: ''
    }
  },
  mounted: function () {
    this.templates = [{ value: 'certificate.jsp', text: 'Default' }]
    var generatorList = Object.keys(this.$store.state.config).filter(obj => obj.split('.').length > 1 && obj.split('.')[0] === 'CertificateGeneratorCourse')
    if (this.course.certificateGenerator === "") {
      this.course.certificateGenerator = 'certificate.jsp'
    }
    for (var g = 0; g < generatorList.length; g++) {
      var generatorVals = this.$store.state.config[generatorList[g]].split('|')
      this.templates[g + 1] = {value: generatorVals[0], text: generatorVals[1]}
    }
  },
  watch: {
    course: function (course, oldCourse) {
      this.$store.commit('course', course)
    }
  },
  beforeDestroy: function () {
    this.$store.commit('course', this.course)
  }
}
</script>

<style lang="scss">
    .templateContainer, .certificationContainer{
        text-align: left;
        background-color: #f4f4f4;
        padding: 30px;
        margin-bottom: 20px;
    }
    .certificateContainer{
        .templateSelect{
            min-width: 250px;
        }
        td:first-child{
            padding-right: 10px;
        }
        .manageCertifcationBtn{
            margin-left: 20px;
            margin-top: 0 !important;
        }
        .row{
            margin-bottom: 20px;
        }
        .certificationBtn{
            display:flex;
            .col-6 {
                padding:0;
            }
        }
        .certficationSelect{
            min-width: 255px;
        }
    }
        @media screen and (max-width: 1024px) , screen and (max-height: 768px){
        .manageCertifcationBtn{
            margin-left: 90px;
        }
    }
</style>
