<template>
    <div class="managerContainer">
        <div class="scroller">
            <div class="managerOptions">
                <b-row>
                    <b-col cols="6">
                        <label>Requires Manager Approval</label>
                        <b-form-select v-model="course.requiresManagerApproval" class="courseFiles" :options="ManagerOption" />
                    </b-col>
                </b-row>
                <b-row>
                    <b-col cols="5">
                        <label>Approval Checklist Filename</label>
                        <p class="textUpload">No File Uploaded</p>
                    </b-col>
                </b-row>
                <b-row style="margin-bottom:0px !important;">
                    <b-col cols="5">
                        <label>Upload Approval Checklist</label>
                        <br>
                        <b-button class="btnGrey">Upload</b-button>
                    </b-col>
                </b-row>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      course: this.$store.state.course,
      ManagerOption: [
        { value: false, text: 'No' },
        { value: true, text: 'Yes' }
      ]
    }
  },
  watch: {
    course: function (course, oldCourse) {
      this.$store.commit('course', course)
    }
  },
  beforeDestroy: function () {
    this.$store.commit('course', this.course)
  }
}
</script>

<style lang="scss">
    .managerOptions{
        text-align: left;
        background-color: #f4f4f4;
        padding:30px;
    }
    .managerContainer{
        td{
            text-align: right;
        }
        .templateSelect{
            min-width: 100px;
        }
        .textUpload{
            color: #c9c9c9;
            margin-bottom:0px;
        }
        .row{
            margin-bottom: 20px;
        }
    }
</style>
