<template>
    <div>
        <div class="courseSettingsContainer">
            <div class='scroller'>
                <div class="settingForm">
                    <b-row>
                        <b-col cols="6">
                            <label>Course Number</label>
                            <b-form-input v-model="course.courseNumber" type="text" placeholder="" :state="validNumber" class="courseNumber"></b-form-input>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="6">
                            <label>Course Name</label>
                            <b-form-input v-model="course.courseName" type="text" placeholder="" :state="validName" class="courseName"></b-form-input>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="6">
                            <label>Course Files</label>
                            <b-form-select class="courseFiles" v-model="course.courseURL" :options="courseFiles" :state="validFile" />
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="12">
                            <label>Description</label>
                            <b-form-textarea v-model="course.description" :rows="5" :max-rows="5" :no-resize="true" :maxlength="500" class="courseText"></b-form-textarea>
                            <p :class="{'displayCounterWarning': (courseDescCounter<=49), 'displayCounter': (courseDescCounter >= 50)}">{{courseDescCounter}} Characters Remaining</p>
                        </b-col>
                    </b-row>
                </div>
                <div class="courseSettings">
                    <b-row>
                        <b-col cols="6">
                            <label>Status</label>
                            <b-form-select :options="status" v-model="course.active" class="courseStatus" />
                        </b-col>
                        <b-col cols="6">
                            <label>Active Date</label>
                            <b-form-input type="date" v-model="course.postDate"></b-form-input>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="6">
                            <label>Minimum Passing Score</label>
                            <b-form-input type="number" class="courseTime" min=0 max=100 v-model="course.passScore"></b-form-input>
                        </b-col>
                        <b-col cols="6">
                            <label>Estimated Completion Time</label>
                                <div class="input-group mb-3">
                                    <b-form-input type="number" class="form-control" v-model="course.seatTime.minutes" min=0></b-form-input>
                                    <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">Minutes</span>
                                </div>
                            </div>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col cols="6">
                            <label>Display In My Courses</label>
                            <b-form-select class="courseDisplay" :options="displayOptions" v-model="course.ipRestrict" />
                        </b-col>
                    </b-row>
                </div>
                <div class="courseSettings">
                    <b-row>
                        <b-col cols="6">
                            <label>Custom Configuration Parameters</label>
                            <b-form-textarea v-model="customParams" :rows="5" :max-rows="5" :no-resize="true"></b-form-textarea>
                        </b-col>
                    </b-row>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Course from '@/store/course.js'
import moment from 'moment'
import axios from 'axios'
export default {
  data () {
    return {
      course: new Course(),
      courseFiles: [],
      status: [
        { value: true, text: 'Active' },
        { value: false, text: 'Inactive' }
      ],
      statusDefault: 0,
      displayOptions: [
        { value: 'F', text: 'To all IP Addresses' },
        { value: 'I', text: 'Only to Restricted IP Addresses' },
        { value: 'N', text: 'Only to Non-Restricted IP Addresses' }
      ],
      displayDefault: 0,
      customParams: ''
    }
  },
  computed: {
    validNumber () {
      return this.course.courseNumber !== ''
    },
    validName () {
      return this.course.courseName.length >= 1
    },
    validFile () {
      return this.course.courseURL !== '' && this.course.courseURL !== undefined && this.course.courseURL != null
    },
    courseDescCounter () {
      return 500 - this.course.description.length
    },
    courseDescDisable () {
      return this.course.description.length >= 500
    },
    setDate () {
      return new Date().toISOString().slice(0, 10)
    }
  },
  methods: {
    getCourseFiles () {
      axios.get('/api/course/files/?format=json')
        .then(result => {
          this.courseFiles = result.data.data.map((obj, index) => {
            return {value: 'courses/' + obj, text: obj}
          })
        }).then(function (error) {
          console.log(error)
        })
    }
  },
  mounted: function () {
    this.course = (this.$store.state.course != null) ? this.$store.state.course : new Course()
    this.course.postDate = moment(this.course.postDate).utc().format('YYYY-MM-DD')

    this.getCourseFiles()
  },
  watch: {
    course: function (course, oldCourse) {
      this.$store.commit('course', course)
    }
  },
  beforeDestroy: function () {
    this.$store.commit('course', this.course)
  }
}
</script>

<style lang='scss'>
    .settingForm, .courseDesc, .courseSettings{
        text-align: left;
        background-color: #f4f4f4;
        padding:30px;
        margin-bottom: 20px;
    }
    .courseSettingsContainer{
        table{
            text-align:right;
        }
        td:first-child, td:nth-child(3){
            padding-right: 15px;
            white-space: nowrap;
        }
        tr{
            line-height: 50px;
        }
        .scroller {
            height: 70vh;
            overflow: auto;
        }
        .row{
            margin-bottom: 20px;
        }
    }
    .courseFiles, .courseDisplay{
        margin-bottom: 0px;
    }
    .courseFiles{
        width:100%;
    }
    .courseText{
        max-width:100%;
    }
    .displayCounter{
        float: right;
        color:#c9c9c9;
        white-space: nowrap;
    }
    .displayCounterWarning{
        color: red;
        float: right;
    }
    .courseSettingTable{
        border-spacing:0; /* Removes the cell spacing via CSS */
        border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
    }
    @media screen and (max-width: 1024px) , screen and (max-height: 768px){
        .courseSettingsContainer{
            height: 510px;
        }
    }
    @media screen and (max-height: 800px){
        .courseSettingsContainer{
            .scroller {
                height: 60vh;
                overflow: auto;
            }
        }
    }
</style>
