<template>
  <div class="assignRoleContainer">
      <!-- Main table element -->
      <div class="table-scroll">
        <div class="tableAssignRoleContainer">
            <b-table show-empty
                    stacked="md"
                    :items="items"
                    :fields="fields"
                    :filter="filter"
                    @filtered="onFiltered"
                    v-model="tableValues"
                    small
                    :current-page="currentPage"
                    :per-page="perPage"
                    :sort-by.sync="sortBy"
                    :sort-desc.sync="sortDesc"
                    :sort-direction="sortDirection"
                    no-sort-reset
            >
            <template slot="HEAD_actions" slot-scope="head">
                <!-- A custom formatted header cell for field 'name' -->
                <b-form-checkbox  @click.native="toggleSelected" v-model="allSelected"></b-form-checkbox>
            </template>
            <template slot="actions" slot-scope="row">
                <b-form-checkbox  :value="row.item" v-model="checkedItems"></b-form-checkbox>
            </template>
            <template slot="name" slot-scope="row">{{row.value}}</template>
            </b-table>
            <div class="tablePagination">
              <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" @change="switchPage()"/>
            </div>
        </div>
      </div>
  </div>
</template>

<script>
import Course from '@/store/course.js'
import Vue from 'vue'
export default {
  data () {
    return {
      fields: [
        {key: 'actions', label: '', class: 'text-center'},
        {key: 'groupName', label: this.$store.state.i18n.tc('role', 1)+' Name', sortable: true},
        {key: 'groupDescription', label: 'Description', sortable: true}
      ],
      filter: null,
      modalInfo: { title: '', content: '' },
      selectAll: 'selected',
      allSelected: false,
      checkedItems: [],
      optionToggle: true,
      tableValues: [],
      currentPage: 1,
      perPage: 15,
      totalRows: 3,
      sortBy: 'role_name',
      sortDesc: false,
      sortDirection: 'asc',
      course: new Course()
    }
  },
  methods: {
    info (checked, button) {
      this.modalInfo.title = `Delete ` + checked.length + ` Role(s)`
      this.modalInfo.content = `Are you sure you want to delete the following role(s)? This action cannot be undone.`
      this.modalInfo.list = checked
      this.$root.$emit('bv::show::modal', 'modalInfo', button)
    },
    resetModal () {
      this.modalInfo.title = ''
      this.modalInfo.content = ''
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    toggleSelected () {
      this.allSelected = !this.allSelected
      this.checkedItems = this.allSelected ? this.tableValues : []
    },
    clearSelected () {
      this.allSelected = false
      this.checkedItems = []
    },
    hideModal () {
      this.$refs.myModalRef.hide()
    },
    switchPage () {
      var self = this
      Vue.nextTick(function () {
        self.unsetColor()
        var currentNumber = self.currentPage
        var pagination = document.getElementsByClassName('page-link')
        for (var i = 0; i < pagination.length; i++) {
          if (parseInt(pagination[i].innerHTML) === currentNumber) {
            pagination[i].style.backgroundColor = self.$store.state.company.primary
            pagination[i].style.color = 'white'
          }
        }
      })
    },
    unsetColor () {
      var pagination = document.getElementsByClassName('page-link')
      for (var i = 0; i < pagination.length; i++) {
        pagination[i].style.backgroundColor = 'unset'
        pagination[i].style.color = this.$store.state.company.primary
        pagination[i].style.border = '1px solid #dee2e6'
      }
    }
  },
  watch: {
    checkedItems (a, b) {
      this.optionToggle = (!a.length > 0)
      this.allSelected = (this.tableValues.length === a.length)
      var roleIdArray = []
      var checkedItems = this.checkedItems
      for (var i = 0; i < checkedItems.length; i++) {
        roleIdArray.push(checkedItems[i].groupID)
      }
      this.$store.commit('getRoleCourse', roleIdArray.join('|'))
      this.$store.commit('pushChecked', this.checkedItems)
    }
  },
  computed: {
    items: {
      get () {
        return this.$store.state.roles
      }
    }
  },
  mounted: function () {
    document.getElementsByClassName('page-link')[2].style.backgroundColor = this.$store.state.company.primary
    document.getElementsByClassName('page-link')[2].style.borderColor = this.$store.state.company.primary
    this.course = (this.$store.state.course != null) ? this.$store.state.course : new Course()
    var checkedHistory = this.$store.state.checkedItems
    if (checkedHistory != null && checkedHistory.length > 0) {
      this.checkedItems = checkedHistory
    } else {
      if (this.$store.state.course.groups.count === 1) {
        this.checkedItems.push(this.$store.state.course.groups.group)
      } else {
        this.checkedItems = this.$store.state.course.groups.group.filter((obj, indx) => {
          return (obj.groupTypeID === 1)
        })
      }
    }
  }
}
</script>
<style lang='scss'>
    .tableAssignRoleContainer{
        text-align: left;
      tr{
        background-color:#f4f4f4;
      }
      th{
        background-color:#c9c9c9;
        color:black;
      }
      .table td {
        border-top: 1px solid #c9c9c9;
        color:black;
      }
      .table thead th{
        border-bottom: 0px;
        border-top: 0px;
      }
      p{
        margin-bottom: 0px;
      }
      td:nth-child(1){
        text-align: center;
        padding-left: 15px;
      }
      th:nth-child(1){
        width: 60px;
        padding-left: 15px;
      }
    }
    .customRowRole{
      float:right;
    }
    #modalInfo___BV_modal_body_{
      text-align:left;
    }
    .checkedList{
      padding-left:20px !important;
    }
</style>
