<template>
  <div>
    <div class="btnSaveCancelContainer btnCustom">
      <b-button class="btnSaveCourse" @click="save" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">Save</b-button>
      <b-button class="btnGrey" @click="cancel" :to="{path: '/CourseManagement/ManageCourse'}">Cancel</b-button>
    </div>
    <SubPage :Navigation="Navigation"/>
  </div>
</template>
<script>
import SubPage from '@/components/SubPage.vue'
export default {
  props: ['checkedRoles'],
  data () {
    return {
      Navigation: [
        {
          name: 'Settings',
          route: '/NewCourse/CourseSettings'
        },
        {
          name: 'Certificates',
          route: '/NewCourse/Certificates'
        },
        {
          name: 'Recurrent Training',
          route: '/NewCourse/RecurrentTraining'
        },
        // {
        //   name: 'Manager Approval',
        //   route: '/NewCourse/CourseManagerApproval'
        // },
        {
          name: 'Assigned to ' + this.$store.state.i18n.tc('role', 2),
          route: '/NewCourse/CourseAssignment'
        }
      ]
    }
  },
  components: {
    SubPage
  },
  methods: {
    save () {
      this.$store.dispatch('course')
    },
    cancel () {
      this.$router.replace({path: '/CourseManagement/ManageCourse'})
    }
  }
}
</script>

<style>
 .btnCustom{
    margin-top: 6px !important;
    margin-right: 37px !important;
  }
</style>
