<template>
    <div class="recurrentContainer">
        <div class="scroller">
        <div class="templateContainer">
            <b-row>
                <b-col cols="6">
                    <label>Courses Expires After</label>
                            <div class="input-group mb-3">
                                <b-form-input type="number" class="form-control" v-model="course.passExpireDays" min=0></b-form-input>
                                <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">Days</span>
                            </div>
                        </div>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="6">
                    <label>Reset Course</label>
                            <div class="input-group mb-3">
                                <b-form-input type="number" class="form-control" v-model="course.reassignBeforeDays" min=0></b-form-input>
                                <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">Days before Expiration</span>
                            </div>
                        </div>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="6">
                    <label>Reset this Course for all applicable users</label>
                    <br>
                    <b-button class="btnGrey">Reset</b-button>
                </b-col>
            </b-row>
        </div>
        </div>
    </div>
</template>

<script>
export default {
  data () {
    return {
      course: this.$store.state.course,
      templateSelect: 0,
      dataSelect: 0,
      certSelect: 0,
      courseResetValue: 0,
      template: [
        { value: 0, text: 'Default' }
      ],
      dataFormat: [
        { value: 0, text: 'Use Dynamic Data' }
      ],
      certificationOptions: [
        { value: 0, text: '--none selected--' }
      ]
    }
  },
  watch: {
    course: function (course, oldCourse) {
      this.$store.commit('course', course)
    }
  },
  beforeDestroy: function () {
    this.$store.commit('course', this.course)
  }
}
</script>

<style lang="scss">
    .templateContainer, .certificationContainer{
        text-align: left;
        background-color: #f4f4f4;
        padding:30px;
    }
</style>
