<template>
  <div>
    <div class="btnSaveCancelContainer btnCustom">
      <b-button class="btnSaveCourse" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}" @click="save()">Save</b-button>
      <b-button class="btnGrey" :to="{name: 'System Management'}">Close</b-button>
    </div>
    <SubPage :Navigation="Navigation"/>
  </div>
</template>
<script>
import SubPage from '@/components/SubPage.vue'
export default {
  data () {
    return {
      Navigation: [
        {
          name: 'Settings',
          route: '/SystemEmails/EmailSettings'
        },
        {
          name: 'User Emails',
          route: '/SystemEmails/UserEmails'
        },
        {
          name: 'Manager Emails',
          route: '/SystemEmails/ManagerEmails'
        }
      ]
    }
  },
  components: {
    SubPage
  },
  methods: {
    save () {
      this.$store.dispatch('pushEmailConfig')
    }
  }
}
</script>

<style>
 .btnCustom{
    margin-top: 6px !important;
    margin-right: 37px !important;
  }
</style>
