<template>
    <div class="userEmailContainer">
        <div class="scroller">
            <div class="userEmailForm">
                <div class="row emailFormRow">
                    <div class="col-sm-6">
                        <label>Manager Pass/Fail Notifications</label>
                        <b-form-select :options="statusOptions" v-model="managerFeedBackValue" class="" />
                    </div>
                    <div class="col-sm-4">
                        <b-button class="btnGrey btnTemplate" @click.stop="info('managePassFailTemp')">Template</b-button>
                    </div>
                </div>
                <div class="row emailFormRow">
                    <div class="col-sm-6">
                        <label>Manager Recurrent Training Report</label>
                        <b-form-select :options="statusOptions" v-model="managerRecurrentValue" class="" />
                    </div>
                    <div class="col-sm-4">
                        <div class="rowButton">
                            <b-button class="btnGrey" @click.stop="info('manageRecurrent')">Template</b-button>
                            <b-button class="btnGrey scheduleBtn" @click.stop="info('recurrent')">Schedule</b-button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Manager Compliance Report</label>
                        <b-form-select :options="statusOptions" v-model="managerComplianceValue" class="" />
                    </div>
                    <div class="col-sm-4">
                        <div class="rowButton">
                            <b-button class="btnGrey" @click.stop="info('manageCompliance')">Template</b-button>
                            <b-button class="btnGrey scheduleBtn" @click.stop="info('compliance')">Schedule</b-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="recurrentModal" ref="recurrentRef" centered :title="recurrentModal.title" no-close-on-backdrop>
            <div class="webForm textLeft">
                <label>Include Upcoming Expirations for the Next</label>
                <div class="input-group mb-3">
                    <b-form-input type="number" class="form-control" min="0" v-model="recurrentExpireValue"></b-form-input>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2" style="margin-right: 10px;">Day(s)</span>
                    </div>
                </div>
                <label>Frequency</label>
                <b-form-select :options="reminderOptions" v-model="reminderValueRecurrent" class="" />
                <p style="margin-top:15px; margin-bottom:10px;" :class="{'disabledTextColor': this.reminderValueRecurrent === 'DAILY'}">Send on</p>
                <div class="weeklyContainer">
                    <b-form-group>
                        <b-form-radio-group id="formCheckboxContainer" v-model="weekdaySelectRecurrent" :disabled="reminderValueRecurrent === 'DAILY' || reminderValueRecurrent === 'MONTHLY'"
                            :class="{'disabledTextColor': this.reminderValueRecurrent === 'DAILY' || reminderValueRecurrent === 'MONTHLY'}">
                            <div class="weekdayContainer">
                                <label>Sun</label>
                                <br>
                                <b-form-radio value="1" class="weekDayRadio"></b-form-radio>
                            </div>
                            <div class="weekdayContainer">
                                <label style="margin-left: -1px;">Mon</label>
                                <br>
                                <b-form-radio value="2" class="weekDayRadio"></b-form-radio>
                            </div>
                            <div class="weekdayContainer">
                                <label style="margin-left:0px;">Tue</label>
                                <br>
                                <b-form-radio value="3" class="weekDayRadio"></b-form-radio>
                            </div>
                            <div class="weekdayContainer">
                                <label style="margin-left:-4px;">Wed</label>
                                <br>
                                <b-form-radio value="4" class="weekDayRadio"></b-form-radio>
                            </div>
                            <div class="weekdayContainer">
                                <label style="margin-left:0px;">Thu</label>
                                <br>
                                <b-form-radio value="5" class="weekDayRadio"></b-form-radio>
                            </div>
                            <div class="weekdayContainer">
                                <label style="margin-left:5px;">Fri</label>
                                <br>
                                <b-form-radio value="6" class="weekDayRadio"></b-form-radio>
                            </div>
                            <div class="weekdayContainer">
                                <label style="margin-left:1px;">Sat</label>
                                <br>
                                <b-form-radio value="7" class="weekDayRadio"></b-form-radio>
                            </div>
                        </b-form-radio-group>
                    </b-form-group>
                </div>
                <div class="input-group mb-3">
                    <b-form-input type="number" class="form-control" min="0" max="31" v-model="recurrentMonth" :disabled="reminderValueRecurrent === 'DAILY' || reminderValueRecurrent === 'WEEKLY'"></b-form-input>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2" :class="{'disabledTextColor': this.reminderValueRecurrent === 'DAILY' || reminderValueRecurrent === 'WEEKLY'}">Day of the Month</span>
                    </div>
                </div>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="save()" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="complianceModal" ref="complianceRef" centered :title="complianceModal.title" no-close-on-backdrop>
            <div class="webForm textLeft">
                <label>Include Upcoming Expirations for the Next</label>
                <div class="input-group mb-3">
                    <b-form-input type="number" class="form-control" min="0" v-model="compliancetExpireValue"></b-form-input>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2" >Day(s)</span>
                    </div>
                </div>
                <b-input-group prepend="if" append="%">
                    <b-form-input v-model="complaiceTestPercentage" type="number" min="0" max="100"></b-form-input>
                </b-input-group>
                <p style="margin-top:15px; margin-bottom:10px;">Of Users in Workgroup have 0 Completed Courses</p>
                <label>Frequency</label>
                <b-form-select :options="reminderOptions" v-model="reminderValueCompliance" class="" />
                <p style="margin-top:15px; margin-bottom:10px;" :class="{'disabledTextColor': this.reminderValueCompliance === 0}">Send on</p>
                <div class="weeklyContainer">
                    <b-form-group>
                        <b-form-radio-group id="formCheckboxContainer" v-model="weekdaySelectCompliance" :disabled="reminderValueCompliance === 'DAILY' || reminderValueCompliance === 'MONTHLY'"
                            :class="{'disabledTextColor': this.reminderValueCompliance === 'DAILY' || reminderValueCompliance === 'MONTHLY'}">
                            <div class="weekdayContainer">
                                <label>Sun</label>
                                <br>
                                <b-form-radio value="1" class="weekDayRadio"></b-form-radio>
                            </div>
                            <div class="weekdayContainer">
                                <label style="margin-left: -1px;">Mon</label>
                                <br>
                                <b-form-radio value="2" class="weekDayRadio"></b-form-radio>
                            </div>
                            <div class="weekdayContainer">
                                <label style="margin-left:0px;">Tue</label>
                                <br>
                                <b-form-radio value="3" class="weekDayRadio"></b-form-radio>
                            </div>
                            <div class="weekdayContainer">
                                <label style="margin-left:-4px;">Wed</label>
                                <br>
                                <b-form-radio value="4" class="weekDayRadio"></b-form-radio>
                            </div>
                            <div class="weekdayContainer">
                                <label style="margin-left:0px;">Thu</label>
                                <br>
                                <b-form-radio value="5" class="weekDayRadio"></b-form-radio>
                            </div>
                            <div class="weekdayContainer">
                                <label style="margin-left:5px;">Fri</label>
                                <br>
                                <b-form-radio value="6" class="weekDayRadio"></b-form-radio>
                            </div>
                            <div class="weekdayContainer">
                                <label style="margin-left:1px;">Sat</label>
                                <br>
                                <b-form-radio value="7" class="weekDayRadio"></b-form-radio>
                            </div>
                        </b-form-radio-group>
                    </b-form-group>
                </div>
                <div class="input-group mb-3">
                    <b-form-input type="number" class="form-control" min="0" max="31" v-model="complianceMonth" :disabled="reminderValueCompliance === 'DAILY' || reminderValueCompliance === 'WEEKLY'"></b-form-input>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2" :class="{'disabledTextColor': this.reminderValueCompliance === 'DAILY' || reminderValueCompliance === 'WEEKLY'}">Day of the Month</span>
                    </div>
                </div>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="save()" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="passFailTemp" ref="passTempRef" centered no-close-on-backdrop>
            <div slot="modal-header" style="text-align: left;">
                <h5>Email Template</h5>
                <p style="margin-bottom:0px;">Manager Pass/Fail Notifications</p>
            </div>
            <div class="webForm textLeft">
                <label>Subject Line</label>
                <b-form-input type="text" class="form-control" min="0" v-model="subjectValuePassFail" style="margin-bottom: 10px;" required></b-form-input>
            </div>
            <div class="webForm textLeft">
                <label>Email Body</label>
                <b-form-textarea
                    v-model="passFailBodyValue"
                    placeholder=""
                    :rows="6"
                    :max-rows="10"
                    :no-resize="true"
                    >
                </b-form-textarea>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="save()" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
                <b-btn class="btnResetDefault btnGrey" variant="secondary" @click="setDefaultPassFail()">
                    Reset to Default
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="managerRecurrentTemp" ref="manageRecurrentRef" centered no-close-on-backdrop>
            <div slot="modal-header" style="text-align: left;">
                <h5>Email Template</h5>
                <p style="margin-bottom:0px;">Manager Recurrent Training Report</p>
            </div>
            <div class="webForm textLeft">
                <label>Subject Line</label>
                <b-form-input type="text" class="form-control" min="0" v-model="subjectValueRecurrent" style="margin-bottom: 10px;" required></b-form-input>
            </div>
            <div class="webForm textLeft">
                <label>Email Body</label>
                <b-form-textarea
                    v-model="recurrentBodyValue"
                    placeholder=""
                    :rows="6"
                    :max-rows="10"
                    :no-resize="true"
                    >
                </b-form-textarea>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="hideModal" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
                <b-btn class="btnResetDefault btnGrey" variant="secondary" @click="setDefaultRecurrent()">
                    Reset to Default
                </b-btn>
            </div>
        </b-modal>
      <b-modal id="managerComplaiceTemp" ref="manageComplianceRef" centered no-close-on-backdrop>
            <div slot="modal-header" style="text-align: left;">
                <h5>Email Template</h5>
                <p style="margin-bottom:0px;">Manager Compliance Report</p>
            </div>
            <div class="webForm textLeft">
                <label>Subject Line</label>
                <b-form-input type="text" class="form-control" min="0" v-model="subjectValueCompliance" style="margin-bottom: 10px;" required></b-form-input>
            </div>
            <div class="webForm textLeft">
                <label>Email Body</label>
                <b-form-textarea
                    v-model="complianceBodyValue"
                    placeholder=""
                    :rows="6"
                    :max-rows="10"
                    :no-resize="true"
                    >
                </b-form-textarea>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="save()" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
                <b-btn class="btnResetDefault btnGrey" variant="secondary" @click="setDefaultCompliance()">
                    Reset to Default
                </b-btn>
            </div>
        </b-modal>
    </div>
</template>
<script>
export default {
  data () {
    return {
      managerFeedBackValue: 1,
      managerRecurrentValue: 1,
      managerComplianceValue: 1,
      complaiceTestPercentage: '',
      recurrentExpireValue: '',
      compliancetExpireValue: '',
      statusOptions: [
        {text: 'Active', value: 'on'},
        {text: 'Inactive', value: 'off'}
      ],
      reminderOptions: [
        {text: 'Daily', value: 'DAILY'},
        {text: 'Weekly', value: 'WEEKLY'},
        {text: 'Monthly', value: 'MONTHLY'}
      ],
      weekdaySelectRecurrent: '',
      weekdaySelectCompliance: '',
      recurrentMonth: '',
      complianceMonth: '',
      reminderValueRecurrent: 0,
      reminderValueCompliance: 0,
      subjectValuePassFail: '',
      passFailBodyValue: '',
      subjectValueRecurrent: '',
      recurrentBodyValue: '',
      subjectValueCompliance: '',
      complianceBodyValue: '',
      pastExpireValue: 1,
      recurrentModal: { title: '', content: '' },
      complianceModal: { title: '', content: '' },
      passFailTemp: { title: '', content: '' },
      managerRecurrentTemp: { title: '', content: '' },
      managerComplaiceTemp: { title: '', content: '' }
    }
  },
  methods: {
    info (button) {
      switch (button) {
        case 'recurrent':
          this.reminderValueRecurrent = this.$store.state.config.RecurReportFreq
          this.recurrentExpireValue = this.$store.state.config.RecurReportNumDays
          this.recurrentMonth = this.$store.state.config.RecurReportDayOfMonth
          this.weekdaySelectRecurrent = this.$store.state.config.RecurReportDay
          this.recurrentModal.title = 'Schedule - Upcoming Expirations'
          this.$root.$emit('bv::show::modal', 'recurrentModal')
          break
        case 'compliance':
          this.compliancetExpireValue = this.$store.state.config.ComplReportNumDays
          this.complaiceTestPercentage = this.$store.state.config.ComplReportThresholdPercent
          this.reminderValueCompliance = this.$store.state.config.ComplReportFreq
          this.weekdaySelectCompliance = this.$store.state.config.ComplReportDay
          this.complianceMonth = this.$store.state.config.ComplReportDayOfMonth
          this.complianceModal.title = 'Schedule - Compliance Report'
          this.$root.$emit('bv::show::modal', 'complianceModal')
          break
        case 'managePassFailTemp':
          this.$root.$emit('bv::show::modal', 'passFailTemp')
          break
        case 'manageRecurrent':
          this.$root.$emit('bv::show::modal', 'managerRecurrentTemp')
          break
        case 'manageCompliance':
          this.$root.$emit('bv::show::modal', 'managerComplaiceTemp')
          break
      }
    },
    hideModal () {
      this.$refs.recurrentRef.hide()
      this.$refs.complianceRef.hide()
      this.$refs.passTempRef.hide()
      this.$refs.manageRecurrentRef.hide()
      this.$refs.manageComplianceRef.hide()
    },
    resetModal () {
    },
    save () {
      this.$store.dispatch('pushEmailConfig')
    },
    setDefaultPassFail () {
      this.subjectValuePassFail = 'Student {PASSEDFAILED}: {USERPRNUM}'
      this.passFailBodyValue = 'A student you manage {PASSEDFAILED} a course.  Details:\r\n\r\nAccount: {USERPRNUM}\r\nUser   : {USERPRFNAME} {USERPRLNAME}\r\nCourse : {COURSNAME}\r\n\r\nEdit'
    },
    setDefaultRecurrent () {
      this.subjectValueRecurrent = `Your Employee's Past Due & Upcoming Training`
      this.recurrentBodyValue = 'The attached Recurrent Training Report includes the Past Due & Upcoming Recurrent Training for your employees at {CONAME}.'
    },
    setDefaultCompliance () {
      this.subjectValueCompliance = `Your Teams' Compliance`
      this.complianceBodyValue = 'The attached Team Compliance Report includes the compliance rates for your employees at {CONAME}.'
    }
  },
  mounted: function () {
    this.managerRecurrentValue = this.$store.state.config.EmailEnableManagerRecurReport
    this.managerFeedBackValue = this.$store.state.config.EmailEnableStudentPassFail
    this.managerComplianceValue = this.$store.state.config.EmailEnableManagerComplReport
    this.subjectValueCompliance = this.$store.state.config.EmailTemplate8Subject
    this.complianceBodyValue = this.$store.state.config.EmailTemplate8Body
    this.subjectValueRecurrent = this.$store.state.config.EmailTemplate7Subject
    this.recurrentBodyValue = this.$store.state.config.EmailTemplate7Body
    this.subjectValuePassFail = this.$store.state.config.EmailTemplate2Subject
    this.passFailBodyValue = this.$store.state.config.EmailTemplate2Body
  },
  watch: {
    reminderValueRecurrent (val) {
      var obj = {
        variable: 'RecurReportFreq',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    recurrentExpireValue (val) {
      var obj = {
        variable: 'RecurReportNumDays',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    recurrentMonth (val) {
      var obj = {
        variable: 'RecurReportDayOfMonth',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    weekdaySelectRecurrent (val) {
      var obj = {
        variable: 'RecurReportDay',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    complianceMonth (val) {
      var obj = {
        variable: 'ComplReportDayOfMonth',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    compliancetExpireValue (val) {
      var obj = {
        variable: 'ComplReportNumDays',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    complaiceTestPercentage (val) {
      var obj = {
        variable: 'ComplReportThresholdPercent',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    reminderValueCompliance (val) {
      var obj = {
        variable: 'ComplReportFreq',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    weekdaySelectCompliance (val) {
      var obj = {
        variable: 'ComplReportDay',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    passFailBodyValue (val) {
      var obj = {
        variable: 'EmailTemplate2Body',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    subjectValuePassFail (val) {
      var obj = {
        variable: 'EmailTemplate2Subject',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    managerRecurrentValue (val) {
      var obj = {
        variable: 'EmailEnableManagerRecurReport',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    managerFeedBackValue (val) {
      var obj = {
        variable: 'EmailEnableStudentPassFail',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    managerComplianceValue (val) {
      var obj = {
        variable: 'EmailEnableManagerComplReport',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    subjectValueCompliance (val) {
      var obj = {
        variable: 'EmailTemplate8Subject',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    complianceBodyValue (val) {
      var obj = {
        variable: 'EmailTemplate8Body',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    subjectValueRecurrent (val) {
      var obj = {
        variable: 'EmailTemplate7Subject',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    recurrentBodyValue (val) {
      var obj = {
        variable: 'EmailTemplate7Body',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    }
  }
}
</script>

<style lang="scss">
    .userEmailContainer{
        .userEmailForm{
            text-align: left;
            background-color: #f4f4f4;
            padding:30px;
            margin-bottom: 20px;
        }
        .scroll{
            height: 700px;
        }
        .btnTemplate{
            position: absolute;
            left: 0;
            bottom: 0;
        }
        .btnSchedule{
            position: absolute;
            right: 180px;
            bottom: 0;
        }
        .emailFormRow{
            padding-bottom:10px;
        }
        .rowButton{
            left: 0;
            position: absolute;
            bottom: 0;
        }
        .scheduleBtn{
            margin-left: 5px;
        }
        .btnResetDefault{
            position: absolute;
            left: 0;
            margin-left: 15px;
        }
        // .weekDayRadio .custom-control-label::before{
        //     border-radius: 3.25rem;
        //     border: 1px solid #c4c4c4;
        //     background-color:white;
        //     transform: scale(1.4);
        // }
        .weeklyContainer .custom-control-inline{
            margin-left: 7px;
            margin-top: -10px;
        }
        .weeklyContainer{
            display:flex;
            flex-direction: row;
        }
        .weekdayContainer{
            width: 40px;
        }
        .weeklyContainer #formCheckboxContainer{
            display:flex;
            flex-direction: row;
        }
        .disabledTextColor{
            color:#c9c9c9;
        }
        @media only screen and (max-width: 936px) {
            .scheduleBtn{
                margin-left: 0px;
            }
        }
    }
</style>
