<template>
    <div class="emailContainer">
        <div class="scroller">
            <div class="emailForm">
                <div class="row">
                    <div class="col-sm-6">
                        <label>Outgoing Mail Server</label>
                        <b-form-input v-model="mailServer" type="text" placeholder=""></b-form-input>
                    </div>
                    <div class="col-sm-6">
                      <label>Outgoing Mail Server Port</label>
                      <b-form-input v-model="port" type="text" placeholder=""></b-form-input>
                    </div>
                </div>
                <div class="row" style="margin-top:10px; margin-bottom: 10px;">
                    <div class="col-sm-6">
                        <label>Email Server Username</label>
                        <b-form-input v-model="emailUser" type="text" placeholder=""></b-form-input>
                    </div>
                    <div class="col-sm-6">
                        <label>Email Server Password</label>
                        <b-form-input v-model="emailPassword" type="password" placeholder=""></b-form-input>
                    </div>
                </div>
                <div class="row" style="margin-bottom:10px;">
                    <div class="col-sm-6">
                        <label>Default "From" Access</label>
                        <b-form-input v-model="defaultAddress" type="text" placeholder=""></b-form-input>
                    </div>
                    <div class="col-sm-6">
                        <label>Site URL</label>
                        <b-form-input v-model="siteUrl" type="text" placeholder=""></b-form-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <label>Default Email Signature</label>
                        <b-form-textarea
                        v-model="emailSignature"
                        placeholder=""
                        :rows="6"
                        :max-rows="10"
                        :no-resize="true"
                        >
                        </b-form-textarea>
                    </div>
                </div>
            </div>
            <div class="emailForm">
                <div class="row">
                    <div class="col-sm-6">
                        <label>User May Edit Thier Own Email Address</label>
                        <b-form-select :options="editEmailOptions" v-model="editEmailValue" class="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
  data () {
    return {
      mailServer: '',
      port: '',
      emailUser: '',
      emailPassword: '',
      defaultAddress: '',
      siteUrl: '',
      emailSignature: '',
      editEmailOptions: [
        {text: 'Yes', value: 'on'},
        {text: 'No', value: 'off'}
      ],
      editEmailValue: 1
    }
  },
  mounted: function () {
    this.mailServer = this.$store.state.config.SendMailServer
    this.port = this.$store.state.config.SendMailPort;
    this.emailUser = this.$store.state.config.SendMailUser
    this.emailPassword = this.$store.state.config.SendMailPasswd
    this.defaultAddress = this.$store.state.config.SendMailFrom
    this.siteUrl = this.$store.state.config.SiteURL
    this.emailSignature = this.$store.state.config.SendMailSig
    this.editEmailValue = this.$store.state.config.EmailEnableUserEdit
  },
  watch: {
    mailServer (val) {
      var obj = {
        variable: 'SendMailServer',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    port (val) {
      var obj = {
        variable: 'SendMailPort',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    emailUser (val) {
      var obj = {
        variable: 'SendMailUser',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    defaultAddress (val) {
      var obj = {
        variable: 'SendMailFrom',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    emailPassword (val) {
      var obj = {
        variable: 'SendMailPasswd',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    siteUrl (val) {
      var obj = {
        variable: 'SiteURL',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    emailSignature (val) {
      var obj = {
        variable: 'SendMailSig',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    editEmailValue (val) {
      var obj = {
        variable: 'EmailEnableUserEdit',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    }
  }
}
</script>

<style lang="scss">
    .emailContainer{
        .emailForm{
            text-align: left;
            background-color: #f4f4f4;
            padding:30px;
            margin-bottom: 20px;
        }
        .scroll{
            height: 700px;
        }
    }
</style>
