<template>
    <div class="userEmailContainer">
        <div class="scroller">
            <div class="userEmailForm">
                <div class="row emailFormRow">
                    <div class="col-sm-6">
                        <label>Welcome Email For New Users</label>
                        <b-form-select :options="statusOptions" v-model="newEmailValue" class="" />
                    </div>
                    <div class="col-sm-6">
                        <b-button class="btnGrey btnTemplate" @click.stop="info('email')">Template</b-button>
                    </div>
                </div>
                <div class="row emailFormRow">
                    <div class="col-sm-6">
                        <label>Recover Password</label>
                        <b-form-select :options="statusOptions" v-model="recoverValue" class="" />
                    </div>
                    <div class="col-sm-6">
                        <b-button class="btnGrey btnTemplate" @click.stop="info('recover')">Template</b-button>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-sm-6">
                        <label>Password Was Changed</label>
                        <b-form-select :options="statusOptions" v-model="passwordChangeValue" class="" />
                    </div>
                    <div class="col-sm-6">
                        <b-button class="btnGrey btnTemplate" @click.stop="info('change')">Template</b-button>
                    </div>
                </div>
            </div>
            <div class="userEmailForm">
                <div class="row emailFormRow">
                    <div class="col-sm-6">
                        <label>Course Was Reset</label>
                        <b-form-select :options="statusOptions" v-model="courseResetValue" class=""/>
                    </div>
                    <div class="col-sm-6">
                        <b-button class="btnGrey btnTemplate"  @click.stop="info('course')">Template</b-button>
                    </div>
                </div>
                <div class="row emailFormRow">
                    <div class="col-sm-6">
                        <label>Upcoming Course Expiration Reminders</label>
                        <b-form-select :options="courseOptions" v-model="courseExpireValue" class="" />
                    </div>
                    <div class="col-sm-6">
                        <div class="rowButton">
                            <b-button class="btnGrey" @click.stop="info('upcomingEmail')">Template</b-button>
                            <b-button class="btnGrey scheduleBtn" @click.stop="info('upcoming')">Schedule</b-button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <label>Past Due Course Expiration Reminders</label>
                        <b-form-select :options="courseOptions" v-model="pastExpireValue" class="" />
                    </div>
                    <div class="col-sm-4">
                        <div class="rowButton">
                            <b-button class="btnGrey" @click.stop="info('pastEmail')">Template</b-button>
                            <b-button class="btnGrey scheduleBtn" @click.stop="info('past')">Schedule</b-button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="upcomingModal" ref="upcomingRef" centered :title="upcomingModal.title" no-close-on-backdrop>
            <div class="webForm textLeft">
                <label>Send Upcoming Course Expiration Reminders</label>
                <div class="input-group mb-3">
                    <b-form-input type="number" class="form-control" min="0" v-model="upcomingDayValue"></b-form-input>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2" style="margin-right: 10px;">Days</span>
                    </div>
                </div>
                <p>And</p>
                <div class="input-group mb-3">
                    <b-form-input type="number" class="form-control" min="0" v-model="upcomingDayPriorValue"></b-form-input>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2" style="margin-right: 10px;">Days(s) Prior to Course Record Expiration</span>
                    </div>
                </div>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="save()" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="pastModal" ref="pastRef" centered :title="pastModal.title" no-close-on-backdrop>
            <div class="webForm textLeft">
                <label>Send Past Due Course Expiration Reminders</label>
                <div class="input-group mb-3">
                    <b-form-input type="number" class="form-control" min="0" v-model="pastDayValue"></b-form-input>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2" style="margin-right: 10px;">Days</span>
                    </div>
                </div>
                <p>And</p>
                <div class="input-group mb-3">
                    <b-form-input type="number" class="form-control" min="0" v-model="pastDayPriorValue"></b-form-input>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2" style="margin-right: 10px;">Days After Course Record Expiration</span>
                    </div>
                </div>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="save()" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="emailModal" ref="emailRef" centered no-close-on-backdrop>
            <div slot="modal-header" style="text-align: left;">
                <h5>Email Template</h5>
                <p style="margin-bottom:0px;">Welcome Email For New Users</p>
            </div>
            <div class="webForm textLeft">
                <label>Subject Line</label>
                <b-form-input type="text" class="form-control" min="0" v-model="subjectValueEmail" style="margin-bottom: 10px;" required></b-form-input>
            </div>
            <div class="webForm textLeft">
                <label>Email Body</label>
                <b-form-textarea
                    v-model="emailBodyValue"
                    placeholder=""
                    :rows="6"
                    :max-rows="10"
                    :no-resize="true"
                    >
                </b-form-textarea>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="save()" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
                <b-btn class="btnResetDefault btnGrey" variant="secondary" @click="setDefaultWelcome()">
                    Reset to Default
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="recoverPasswordModal" ref="recoverRef" centered no-close-on-backdrop>
            <div slot="modal-header" style="text-align: left;">
                <h5>Email Template</h5>
                <p style="margin-bottom:0px;">Recover Password</p>
            </div>
            <div class="webForm textLeft">
                <label>Subject Line</label>
                <b-form-input type="text" class="form-control" min="0" v-model="subjectValueRecover" style="margin-bottom: 10px;" required></b-form-input>
            </div>
            <div class="webForm textLeft">
                <label>Email Body</label>
                <b-form-textarea
                    v-model="recoverBodyValue"
                    placeholder=""
                    :rows="6"
                    :max-rows="10"
                    :no-resize="true"
                    >
                </b-form-textarea>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="save()" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
                <b-btn class="btnResetDefault btnGrey" variant="secondary" @click="setDefaultRecover()">
                    Reset to Default
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="passwordChangeModal" ref="passChangeRef" centered no-close-on-backdrop>
            <div slot="modal-header" style="text-align: left;">
                <h5>Email Template</h5>
                <p style="margin-bottom:0px;">Password Was Changed</p>
            </div>
            <div class="webForm textLeft">
                <label>Subject Line</label>
                <b-form-input type="text" class="form-control" min="0" v-model="subjectValueChange" style="margin-bottom: 10px;" required></b-form-input>
            </div>
            <div class="webForm textLeft">
                <label>Email Body</label>
                <b-form-textarea
                    v-model="changeBodyValue"
                    placeholder=""
                    :rows="6"
                    :max-rows="10"
                    :no-resize="true"
                    >
                </b-form-textarea>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="save()" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
                <b-btn class="btnResetDefault btnGrey" variant="secondary" @click="setDefaultPassword()">
                    Reset to Default
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="courseResetModal" ref="courseRef" centered no-close-on-backdrop>
            <div slot="modal-header" style="text-align: left;">
                <h5>Email Template</h5>
                <p style="margin-bottom:0px;">Course Was Reset</p>
            </div>
            <div class="webForm textLeft">
                <label>Subject Line</label>
                <b-form-input type="text" class="form-control" min="0" v-model="subjectValueCourse" style="margin-bottom: 10px;" required></b-form-input>
            </div>
            <div class="webForm textLeft">
                <label>Email Body</label>
                <b-form-textarea
                    v-model="courseBodyValue"
                    placeholder=""
                    :rows="6"
                    :max-rows="10"
                    :no-resize="true"
                    >
                </b-form-textarea>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="save()" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
                <b-btn class="btnResetDefault btnGrey" variant="secondary" @click="setCourseReset()">
                    Reset to Default
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="upcomingCourseEmail" ref="upcomingEmailRef" centered no-close-on-backdrop>
            <div slot="modal-header" style="text-align: left;">
                <h5>Email Template</h5>
                <p style="margin-bottom:0px;">Upcoming Course Expiration Reminders</p>
            </div>
            <div class="webForm textLeft">
                <label>Subject Line</label>
                <b-form-input type="text" class="form-control" min="0" v-model="subjectValueUpcoming" style="margin-bottom: 10px;" required></b-form-input>
            </div>
            <div class="webForm textLeft">
                <label>Email Body</label>
                <b-form-textarea
                    v-model="upcomingBodyValue"
                    placeholder=""
                    :rows="6"
                    :max-rows="10"
                    :no-resize="true"
                    >
                </b-form-textarea>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="save()" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
                <b-btn class="btnResetDefault btnGrey" variant="secondary" @click="setUpcomingDefault()">
                    Reset to Default
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="pastCourseEmail" ref="pastEmailRef" centered no-close-on-backdrop>
            <div slot="modal-header" style="text-align: left;">
                <h5>Email Template</h5>
                <p style="margin-bottom:0px;">Past Due Course Expiration Reminders</p>
            </div>
            <div class="webForm textLeft">
                <label>Subject Line</label>
                <b-form-input type="text" class="form-control" min="0" v-model="subjectValuePast" style="margin-bottom: 10px;" required></b-form-input>
            </div>
            <div class="webForm textLeft">
                <label>Email Body</label>
                <b-form-textarea
                    v-model="pastBodyValue"
                    placeholder=""
                    :rows="6"
                    :max-rows="10"
                    :no-resize="true"
                    >
                </b-form-textarea>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="save()" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
                <b-btn class="btnResetDefault btnGrey" variant="secondary" @click="setDefaultPast()">
                    Reset to Default
                </b-btn>
            </div>
        </b-modal>
    </div>
</template>
<script>
export default {
  data () {
    return {
      newEmailValue: '',
      recoverValue: '',
      passwordChangeValue: '',
      courseResetValue: '',
      courseExpireValue: '',
      upcomingDayValue: '',
      upcomingDayPriorValue: '',
      emailSignature: '',
      pastDayValue: '',
      pastDayPriorValue: '',
      emailBodyValue: '',
      subjectValueEmail: '',
      subjectValueRecover: '',
      subjectValueChange: '',
      changeBodyValue: '',
      subjectValueCourse: '',
      courseBodyValue: '',
      subjectValueUpcoming: '',
      upcomingBodyValue: '',
      subjectValuePast: '',
      statusOptions: [
        {text: 'Active', value: 'on'},
        {text: 'Inactive', value: 'off'}
      ],
      courseOptions: [
        {text: 'Active', value: 1},
        {text: 'Inactive', value: 0}
      ],
      recoverBodyValue: '',
      pastExpireValue: '',
      upcomingModal: { title: '', content: '' },
      pastModal: { title: '', content: '' },
      emailModal: { title: '', content: '' },
      recoverPasswordModal: { title: '', content: '' },
      passwordChangeModal: { title: '', content: '' },
      courseResetModal: { title: '', content: '' },
      upcomingCourseEmail: { title: '', content: '' },
      pastCourseEmail: { title: '', content: '' },
      pastBodyValue: ''
    }
  },
  methods: {
    info (button) {
      switch (button) {
        case 'upcoming':
          this.upcomingModal.title = 'Schedule - Upcoming Expirations'
          this.$root.$emit('bv::show::modal', 'upcomingModal')
          break
        case 'past':
          this.pastModal.title = 'Schedule - Past Due'
          this.$root.$emit('bv::show::modal', 'pastModal')
          break
        case 'email':
          this.$root.$emit('bv::show::modal', 'emailModal')
          break
        case 'recover':
          this.$root.$emit('bv::show::modal', 'recoverPasswordModal')
          break
        case 'change':
          this.$root.$emit('bv::show::modal', 'passwordChangeModal')
          break
        case 'course':
          this.$root.$emit('bv::show::modal', 'courseResetModal')
          break
        case 'upcomingEmail':
          this.$root.$emit('bv::show::modal', 'upcomingCourseEmail')
          break
        case 'pastEmail':
          this.$root.$emit('bv::show::modal', 'pastCourseEmail')
          break
      }
    },
    hideModal () {
      this.$refs.upcomingRef.hide()
      this.$refs.pastRef.hide()
      this.$refs.emailRef.hide()
      this.$refs.recoverRef.hide()
      this.$refs.passChangeRef.hide()
      this.$refs.courseRef.hide()
      this.$refs.upcomingEmailRef.hide()
      this.$refs.pastEmailRef.hide()
    },
    resetModal () {
    },
    save () {
      this.$store.dispatch('pushEmailConfig')
    },
    setDefaultWelcome () {
      this.subjectValueEmail = 'Welcome to {CONAME}'
      this.emailBodyValue = 'You have a new account at {CONAME}\r\n\r\nWorkgroup: {WORKGROUPNAME}\r\nRole     : {ROLENAME}\r\n\r\nYou can login to  your account at {SITEURL} with the credentials: \r\n\r\nUser ID : {USERPRNUM}\r\nPassword: {PLAINPASSWD}\r\n\r\n'
    },
    setDefaultRecover () {
      this.subjectValueRecover = 'Credentials'
      this.recoverBodyValue = 'Your credentials for your account at {CONAME}\r\nUser ID : {USERPRNUM}\r\nPassword: {USERPRPASSWD}\r\n\r\n'
    },
    setDefaultPassword () {
      this.subjectValueChange = 'Password Changed'
      this.changeBodyValue = 'Your password has just been changed at {SITEURL}.\r\n\r\nLogin Account: {USERPRNUM}\r\n\r\nIf you did not change this password, please contact your administrator {ADMINCONTACTNAME} at {ADMINCONTACTPHONE}.\r\n\r\n'
    },
    setCourseReset () {
      this.subjectValueCourse = 'Assigned Retake Notice'
      this.courseBodyValue = 'You have been reassigned to take {COURSNAME} training.  Please Log on to {SITEURL} to complete your training.\r\n\r\nLogin Account: {USERPRNUM}\r\nCourse Name  : {COURSNAME}\r\n\r\n'
    },
    setUpcomingDefault () {
      this.subjectValueUpcoming = 'Pending Deadline'
      this.upcomingBodyValue = 'You are assigned to take {COURSNAME} training which is due in less than {WARNDAYS}.  Please Log on to {SITEURL} to complete your training.\r\n\r\nLogin Account: {USERPRNUM}\r\nCourse Name  : {COURSNAME}\r\n\r\n'
    },
    setDefaultPast () {
      this.subjectValuePast = 'Past Due'
      this.pastBodyValue = 'You are assigned to take {COURSNAME} training which is more than {WARNDAYS} days past due.  Please Log on to {SITEURL} to complete your training.\r\n\r\nLogin Account: {USERPRNUM}\r\nCourse Name  : {COURSNAME}\r\n\r\n'
    }
  },
  mounted: function () {
    this.newEmailValue = this.$store.state.config.EmailEnableWelcome
    this.passwordChangeValue = this.$store.state.config.EmailEnableChangePassword
    this.recoverValue = this.$store.state.config.EmailEnableRecoverPassUser
    this.courseResetValue = this.$store.state.config.EmailEnableAssignedRetakes
    if (this.$store.state.config.EmailEnableBeforeDue === 'on' ||this.$store.state.config.EmailEnableBeforeDue === '1' || this.$store.state.config.EmailEnableBeforeDue === 1) {
      this.courseExpireValue = 1
    } else {
      this.courseExpireValue = 0
    }
    if (this.$store.state.config.EmailEnablePastDue === 'on' || this.$store.state.config.EmailEnablePastDue === 1 || this.$store.state.config.EmailEnablePastDue === "1") {
      this.pastExpireValue = 1
    } else {
      this.pastExpireValue = 0
    }
    this.emailBodyValue = this.$store.state.config.EmailTemplate6Body
    this.subjectValueEmail = this.$store.state.config.EmailTemplate6Subject
    this.subjectValueRecover = this.$store.state.config.EmailTemplate0Subject
    this.recoverBodyValue = this.$store.state.config.EmailTemplate0Body
    this.subjectValueChange = this.$store.state.config.EmailTemplate1Subject
    this.changeBodyValue = this.$store.state.config.EmailTemplate1Body
    this.subjectValueCourse = this.$store.state.config.EmailTemplate5Subject
    this.courseBodyValue = this.$store.state.config.EmailTemplate5Body
    this.subjectValueUpcoming = this.$store.state.config.EmailTemplate3Subject
    this.upcomingBodyValue = this.$store.state.config.EmailTemplate3Body
    this.subjectValuePast = this.$store.state.config.EmailTemplate4Subject
    this.pastBodyValue = this.$store.state.config.EmailTemplate4Body
    this.upcomingDayValue = this.$store.state.config.EmailBeforeDueDate1
    this.upcomingDayPriorValue = this.$store.state.config.EmailBeforeDueDate2
    this.pastDayValue = this.$store.state.config.EmailPastDueDate1
    this.pastDayPriorValue = this.$store.state.config.EmailPastDueDate2
  },
  watch: {
    pastDayValue (val) {
      var obj = {
        variable: 'EmailPastDueDate1',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    pastDayPriorValue (val) {
      var obj = {
        variable: 'EmailPastDueDate2',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    upcomingDayValue (val) {
      var obj = {
        variable: 'EmailBeforeDueDate1',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    upcomingDayPriorValue (val) {
      var obj = {
        variable: 'EmailBeforeDueDate2',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    newEmailValue (val) {
      var obj = {
        variable: 'EmailEnableWelcome',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    passwordChangeValue (val) {
      var obj = {
        variable: 'EmailEnableChangePassword',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    recoverValue (val) {
      var obj = {
        variable: 'EmailEnableRecoverPassUser',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    courseResetValue (val) {
      var obj = {
        variable: 'EmailEnableAssignedRetakes',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    courseExpireValue (val) {
      var obj = {
        variable: 'EmailEnableBeforeDue',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    pastExpireValue (val) {
      var obj = {
        variable: 'EmailEnablePastDue',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    emailBodyValue (val) {
      var obj = {
        variable: 'EmailTemplate6Body',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    subjectValueEmail (val) {
      var obj = {
        variable: 'EmailTemplate6Subject',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    subjectValueRecover (val) {
      var obj = {
        variable: 'EmailTemplate0Subject',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    recoverBodyValue (val) {
      var obj = {
        variable: 'EmailTemplate0Body',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    subjectValueChange (val) {
      var obj = {
        variable: 'EmailTemplate1Subject',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    changeBodyValue (val) {
      var obj = {
        variable: 'EmailTemplate1Body',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    subjectValueCourse (val) {
      var obj = {
        variable: 'EmailTemplate5Subject',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    courseBodyValue (val) {
      var obj = {
        variable: 'EmailTemplate5Body',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    subjectValueUpcoming (val) {
      var obj = {
        variable: 'EmailTemplate3Subject',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    upcomingBodyValue (val) {
      var obj = {
        variable: 'EmailTemplate3Body',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    subjectValuePast (val) {
      var obj = {
        variable: 'EmailTemplate4Subject',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
    pastBodyValue (val) {
      var obj = {
        variable: 'EmailTemplate4Body',
        value: val
      }
      this.$store.commit('SET_EMAIL_CONFIG', obj)
    },
  }
}
</script>

<style lang="scss">
    .userEmailContainer{
        .userEmailForm{
            text-align: left;
            background-color: #f4f4f4;
            padding:30px;
            margin-bottom: 20px;
        }
        .scroll{
            height: 700px;
        }
        .btnTemplate{
            position: absolute;
            left: 0;
            bottom: 0;
        }
        .btnSchedule{
            position: absolute;
            right: 180px;
            bottom: 0;
        }
        .emailFormRow{
            padding-bottom:10px;
        }
        .rowButton{
            left: 0;
            position: absolute;
            bottom: 0;
        }
        .scheduleBtn{
            margin-left: 5px;
        }
        .btnResetDefault{
            position: absolute;
            left: 0;
            margin-left: 15px;
        }
        @media only screen and (max-width: 936px) {
            .scheduleBtn{
                margin-left: 0px;
            }
        }
    }
</style>
