<template>
    <div class="systemManageContainer">
        <h5 class="titleText">System</h5>
        <div class="settingsRow">
            <div class="SystemBtn" @click.stop="info('settings')" :style="{'background-color': this.$store.state.company.primary}">
                <font-awesome-icon :icon="icon[0]" class="btnIcon firstRowIcon"/>
                <p class="fixPText">Settings</p>
            </div>
            <div class="SystemBtn" @click.stop="info('application')" :style="{'background-color': this.$store.state.company.primary}">
                <p class="btnHeader">Application</p>
                <div class="logsIconContainer"><img src="@/assets/Logs_Icon_White.svg" class="logsIcon"/></div>
                <p class="fixPText" style="margin-top: -60px;">Logs</p>
            </div>
            <div class="SystemBtn" @click.stop="info('branding')" :style="{'background-color': this.$store.state.company.primary}">
                <font-awesome-icon :icon="icon[1]" class="btnIcon firstRowIcon"/>
                <p class="fixPText">Branding</p>
            </div>
            <router-link :to="{path: '/Security/LoginCheck'}" class="SystemBtn" :style="{'background-color': this.$store.state.company.primary}">
            <div>
                <font-awesome-icon :icon="icon[2]" class="btnIcon firstRowIcon"/>
                <p class="fixPText">Security</p>
            </div>
            </router-link>
            <div class="SystemBtn" @click.stop="info('support')" :style="{'background-color': this.$store.state.company.primary}">
                <font-awesome-icon :icon="icon[3]" class="btnIcon firstRowIcon"/>
                <p class="fixPText">Support</p>
            </div>
        </div>
        <h5 class="titleText">Tools</h5>
        <div class="settingsRow secondRow">
            <router-link :to="{path: '/SystemAnnoucements'}" class="SystemBtn" :style="{'background-color': this.$store.state.company.primary}">
                <div>
                    <font-awesome-icon :icon="icon[4]" class="btnIcon"/>
                    <p class="fixPText">Annoucements</p>
                </div>
            </router-link>
            <router-link :to="{path: '/SystemResources'}" class="SystemBtn" :style="{'background-color': this.$store.state.company.primary}">
                <div>
                    <font-awesome-icon :icon="icon[5]" class="btnIcon"/>
                    <p class="fixPText">Resources</p>
                </div>
            </router-link>
            <div class="settingsRow secondRow" style="margin-top:0px;">
                <router-link :to="{path: '/SystemEmails/EmailSettings'}" class="SystemBtn" :style="{'background-color': this.$store.state.company.primary}">
                    <p class="inactiveHeader" v-if="!this.$store.state.emailActive">Inactive</p>
                    <p class="activeHeader" v-else>Active</p>
                    <font-awesome-icon :icon="icon[6]" class="btnIcon"/>
                    <p class="fixPText">Emails</p>
                </router-link>
            </div>
            <div class="SystemBtn" @click.stop="info('register')" :style="{'background-color': this.$store.state.company.primary}">
                <p class="inactiveHeader" v-if="this.$store.state.config.SREnable === 'off'">Inactive</p>
                <p class="activeHeader" v-else>Active</p>
                <div class=""><font-awesome-icon :icon="icon[10]" class="btnIcon selfRegister"/></div>
                <p class="fixPText">Self Registration</p>
            </div>
            <div class="SystemBtn" @click.stop="info('recurrent')" :style="{'background-color': this.$store.state.company.primary}">
                <p class="btnHeader">Recurrent</p>
                <font-awesome-icon :icon="icon[7]" class="btnIcon btnIconFixHeader"/>
                <p class="fixPText">Training</p>
            </div>
            <div class="SystemBtn" @click.stop="info('web')" :style="{'background-color': this.$store.state.company.primary}">
                <p class="btnHeader">Web-Service</p>
                <div class="apiIconContainer"><img src="@/assets/Api_icon_White.svg" class="apiIcon"/></div>
                <p class="fixPText" style="margin-top: -60px;">API</p>
            </div>
            <router-link :to="{path: '/i18n/fields'}" class="SystemBtn" :style="{'background-color': this.$store.state.company.primary}">
                <p class="inactiveHeader" v-if="!i18nFlag">Inactive</p>
                <p class="activeHeader" v-else>Active</p>
                <img src="/globe.svg" class="altGlobe">
                <p class="fixPText globeText">i18n</p>
            </router-link>
            <div @click="routeToShopingCart()" class="SystemBtn" :style="{'background-color': this.$store.state.company.primary}">
                <p class="inactiveHeader" v-if="this.$store.state.config.ShopEnabled === 'false'">Inactive</p>
                <p class="activeHeader" v-else>Active</p>
                <font-awesome-icon :icon="icon[11]" class="btnIcon shoppingCart"/>
                <p class="fixPText globeText">Shopping Cart</p>
            </div>
            <div class="SystemBtn"  @click.stop="info('deleteUser')" :style="{'background-color': this.$store.state.company.primary}">
                <font-awesome-icon :icon="icon[9]" class="btnIcon"/>
                <p class="fixPText">Delete Users</p>
            </div>
        </div>
        <b-modal id="modalSettings" ref="settingsRef" centered @hide="resetModal" :title="modalSettings.title" no-close-on-backdrop>
            <div class="settingHeader">
                <p style="margin-right: 200px;">{{ modalSettings.version }}</p>
                <p>{{ modalSettings.company }}</p>
            </div>
            <div class="settingsForm textLeft">
                <label>Company Name</label>
                <b-form-input type="text" style="margin-bottom: 10px;" v-model="companyName" :state="validCompanyName"></b-form-input>
                <label>Copyright Text</label>
                <b-form-input type="text" v-model="copyright" :state="validCopyright"></b-form-input>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" :disabled="disableCompanySettingBtn" style="margin-right: 10px;" variant="secondary" @click="pushCompanySettings" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="modalApplication" ref="applicationRef" centered @hide="resetModal" :title="modalApplication.title" no-close-on-backdrop>
            <div class="applicationForm textLeft">
                <label>Log Level</label>
                <div class="inputRow">
                    <b-form-select :options="applicationOptions" v-model="applicationValue" class="" />
                    <b-button class="btnGrey" style="margin-left: 10px; width:125px;" :to="{name: 'Application Logs'}" target= '_blank'>View Logs</b-button>
                </div>
                <label>Log Folder</label>
                <div class="inputRow">
                    <b-form-input type="text" v-model="applicationFolder"></b-form-input>
                    <b-button class="btnGrey" style="margin-left: 10px; width:125px;">Default</b-button>
                </div>
                <label>Log File Max Size (In KB)</label>
                <b-form-input type="number" style="margin-bottom: 10px;" value="500" v-model="applicationSize"></b-form-input>
                <label>Log File Max Backups</label>
                <b-form-input type="number" value="5" v-model="applicationBackup"></b-form-input>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="hideModal" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="modalBranding" ref="brandingRef" centered @hide="resetModal" :title="modalBranding.title" no-close-on-backdrop>
            <div class="brandingForm textLeft">
                <label>Primary Color</label>
                <div class="inputRow">
                    <b-form-input type="text" v-model="primeColor"></b-form-input>
                    <div class="colorBox" :style="{'background-color': primeColor}"></div>
                </div>
                <label>Secondary Color</label>
                <div class="inputRow">
                    <b-form-input type="text" v-model="secondColor"></b-form-input>
                    <div class="colorBox" :style="{'background-color': secondColor}"></div>
                </div>
                <div class="logoUpload">
                    <label>Logo</label>
                    <div class="inputRow">
                        <label class="btn btnGrey" for="logoUploader">
                            <b-form-file v-model="file" class="mt-3" plain style="display:none" id="logoUploader"></b-form-file>
                            Choose File
                        </label>
                        <p v-if="file.name !== undefined && file.name !== ''" class="fileText">{{file.name}}</p>
                        <p v-else class="fileText">No File Chosen</p>
                    </div>
                </div>
                <div class="logoPreview" @click="logoUpload()">
                    <label>Logo Preview</label>
                    <br>
                    <img :src="this.$store.state.company.logoURL" v-if="this.$store.state.company.logoURL !== undefined">
                    <p v-else>No logo avaliable</p>
                </div>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="pushBranding" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="modalSupport" ref="supportRef" centered @hide="resetModal" :title="modalSupport.title" no-close-on-backdrop>
            <div class="supportForm textLeft">
                <label>System Administrator Name</label>
                <b-form-input type="text" v-model="adminName" :state="contactName"></b-form-input>
                <label>System Administrator Email</label>
                <b-form-input type="text" v-model="adminEmail" :state="contactEmail"></b-form-input>
                <label>System Administrator Phone</label>
                <b-form-input type="text" v-model="adminPhone" :state="contactPhone"></b-form-input>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="saveContact()" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="modalRegister" ref="registerRef" centered @hide="resetModal" :title="modalRegister.title" no-close-on-backdrop>
            <div class="registerForm textLeft">
                <label>Status</label>
                <b-form-select :options="registerOptions" v-model="registerValue" style="margin-bottom:10px;"/>
                <label>Validation Key(s)</label>
                <p style="font-size:14px;">Workgroups entered during registration must contain one of the following validation keys. Enter one per line.</p>
                <b-form-textarea
                     v-model="registerText"
                     placeholder=""
                     :rows="6"
                     :max-rows="10"
                     :no-resize="true"
                     style="margin-bottom: 10px;"
                     :disabled="this.registerValue === 'off'" :state="validSelfRegistrationKey">
                </b-form-textarea>
                <p style="font-size:14px;">Workgroups entered during registration must contain</p>
                <div class="input-group mb-3">
                        <b-form-input type="number" class="form-control" min="1" max="75" :disabled="this.registerValue === 'off'" v-model="selfRegisterWorkgroup"></b-form-input>
                        <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2" :class="{'disabledTextColor': this.registerValue === 'off'}">Characters</span>
                    </div>
                </div>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="saveSelfRegistraion()" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="modalRecurrent" ref="recurrentRef" centered @hide="resetModal" :title="modalRecurrent.title" no-close-on-backdrop>
            <div class="recurrentForm textLeft">
                <label>Check for and reset eligible training daily</label>
                <b-form-select :options="recurrentOptions" v-model="recurrentValue" style="margin-bottom:10px;"/>
                <label>Reset eligible training immediately</label>
                <br>
                <b-btn class="btnGrey" @click="confirmRecurrentTraining()">
                    Run
                </b-btn>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="saveRecurrentTraining()" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="modalWeb" ref="webRef" centered @hide="resetModal" :title="modalWeb.title" no-close-on-backdrop>
            <div class="webForm textLeft">
                <label>Completed Course Webhook URL</label>
                <b-form-input type="text" v-model="webUrl" style="margin-bottom:10px;"></b-form-input>
                <label>HTTP Content-Type</label>
                <b-form-select :options="webUrlOptions" v-model="webUrlValue" style="margin-bottom:10px;"/>
                <label>Send Sample Webhook Push</label>
                <br>
                <b-btn class="btnGrey" @click="sendSampleWeb()">
                    Send
                </b-btn>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
                <b-btn class="float-right" style="margin-right: 10px;" variant="secondary" @click="saveWebServiceApi()" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                    Save
                </b-btn>
            </div>
        </b-modal>
        <b-modal id="modalDelete" ref="deleteRef" centered @hide="resetModal" :title="modalDelete.title" no-close-on-backdrop>
            <div class="deleteForm textLeft" v-if="!this.deleteUserFlag">
                <label>Delete users who have been inactive for at least</label>
                <br>
                <div class="input-group mb-3 deleteRow">
                    <b-form-input type="number" class="form-control" min="0" v-model="deleteDays"></b-form-input>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2" style="margin-right: 10px;">Days</span>
                    </div>
                    <b-btn class="float-right btnRed" :disabled="deleteDays == 0" @click="deleteUsers(false)">
                        Delete
                    </b-btn>
                </div>
            </div>
            <div class="deleteForm textLeft" v-else>
                <label>{{deleteUserCount}} users will be deleted. This action cannot be undone. If you wish to proceed, enter the word “YES” and press confirm.</label>
                <br>
                <div class="input-group mb-3 deleteUsersConfirm">
                    <b-form-input type="text" class="form-control" min="0" v-model="confirmUserDelete" style="margin-right: 10px;"></b-form-input>
                    <b-btn class="" :disabled="confirmUserDelete !== 'YES'" @click="deleteUsers(true)" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
                        Confirm
                    </b-btn>
                </div>
            </div>
            <div slot="modal-footer">
                <b-btn class="float-right btnGrey" variant="secondary" @click="hideModal">
                    Close
                </b-btn>
            </div>
        </b-modal>
    </div>
</template>
<script>
import Vue from 'vue'
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import {faCog, faPaintBrush, faLock, faPhone, faBullhorn, faFolderOpen, faEnvelope, faCalendarCheck, faGlobe, faTrashAlt, faUserPlus, faShoppingCart} from '@fortawesome/fontawesome-free-solid/'
export default {
  data () {
    return {
      modalSettings: { title: '', content: '' },
      modalApplication: { title: '', content: '' },
      modalBranding: { title: '', content: '' },
      modalSupport: { title: '', content: '' },
      modalRegister: { title: '', content: '' },
      modalRecurrent: {title: '', content: ''},
      modalWeb: {title: '', content: ''},
      modalDelete: {title: '', content: ''},
      applicationValue: 3,
      deleteDays: 0,
      webUrlValue: '1',
      webUrlOptions: [
        {text: 'application/x-www-form-urlencoded', value: '1'},
        {text: 'application/json', value: '2'},
        {text: 'application/xml', value: '3'}
      ],
      registerText: '',
      registerOptions: [
        {text: 'Inactive', value: 'off'},
        {text: 'Active', value: 'on'}
      ],
      recurrentOptions: [
        {text: 'Inactive', value: 'off'},
        {text: 'Active', value: 'on'}
      ],
      registerValue: 0,
      recurrentValue: 0,
      applicationOptions: [
        { value: 0, text: 'FATAL - Show only app fatalities' },
        { value: 1, text: 'Error - Show only errors and worse' },
        { value: 2, text: 'WARN - Show only warnings and worse' },
        { value: 3, text: 'INFO - PRODUCTION LOG LEVEL' },
        { value: 4, text: 'DEBUG - Show debug info' },
        { value: 5, text: 'TRACE - Show execution tracing' }
      ],
      file: '',
      adminPhone: '',
      adminEmail: '',
      adminName: '',
      webUrl: '',
      contactSupport: '',
      primeColor: this.$store.state.company.primary,
      secondColor: this.$store.state.company.secondary,
      logoFlag: true,
      i18nFlag: false,
      shoppingCartFlag: 'false',
      companyName: '',
      copyright: '',
      applicationSize: '',
      applicationBackup: '',
      applicationDefault: '',
      applicationFolder: '',
      selfRegisterWorkgroup: '',
      selfRegistrationActive: false,
      emailActive: false,
      confirmUserDelete: '',
      deleteUserFlag: false,
      deleteUserCount: ''
    }
  },
  watch: {
    primaryColor (value) {
      this.primeColor = value
    },
    secondaryColor (value) {
      this.secondColor = value
    },
    getConfig (val) {
      this.shoppingCartFlag = val.ShopEnabled
      this.checkEmailSettings()
    },
    webUrl (val) {
      console.log(val)
      this.$store.commit('SET_WEB_URL', val)
    },
    webUrlValue (val) {
      this.$store.commit('SET_WEB_CONTENT_TYPE', val)
    },
    getDeleteUserCount (val) {
      if (val !== '') {
        this.deleteUserFlag = true
      }
      this.deleteUserCount = val
    },
    recurrentValue(val) {
      this.$store.commit('SET_RECURRENT_TRAINING', val)
    }
  },
  computed: {
    validSelfRegistrationKey () {
      if (this.registerValue === 'off') {
        return null
      } else if (this.registerValue === 'on' && this.registerText.length !== 0) {
        return true
      } else {
          return false
      }
    },
    getConfig () {
      return this.$store.state.config
    },
    icon () {
      return [faCog, faPaintBrush, faLock, faPhone, faBullhorn, faFolderOpen, faEnvelope, faCalendarCheck, faGlobe, faTrashAlt, faUserPlus, faShoppingCart]
    },
    contactName () {
      return this.adminName.length >= 1
    },
    contactPhone () {
      return this.adminPhone.length >= 1
    },
    contactEmail () {
      return this.adminEmail.length >= 1
    },
    primaryColor () {
      return this.$store.state.company.primary
    },
    secondaryColor () {
      return this.$store.state.company.secondary
    },
    validCompanyName () {
      return this.companyName.length > 0
    },
    validCopyright () {
      return this.copyright.length > 0
    },
    disableCompanySettingBtn () {
      if (this.companyName === 0 || this.copyright.length === 0) {
        return true
      } else {
        return false
      }
    },
    getDeleteUserCount () {
      return this.$store.state.systemDeleteUser
    }
  },
  components: {
    FontAwesomeIcon
  },
  beforeMount: function () {
    this.$store.dispatch('getConfig')
  },
  mounted: function () {
    if (this.$store.state.config.SREnable === 'on') {
      this.selfRegistrationActive = true
    }
    this.webUrlValue = this.$store.state.config.WebhookType
    this.checki18n()
    var self = this
    setTimeout( function() {
        self.checki18n()
    }, 2000)
  },
  methods: {
    saveRecurrentTraining() {
      this.$store.dispatch('saveRecurrentTraining')
    },
    confirmRecurrentTraining () {
      var temp = confirm('Are you sure?')
      if (temp) {
        this.$store.dispatch('deleteExpiredCourse')
      }
    },
    deleteUsers (flag) {
      var params = {}
      params['days'] = this.deleteDays
      if (flag) {
        params['delete'] = true
        this.deleteUserFlag = false,
        this.deleteDays = 0
        this.confirmUserDelete = ''
      }
      this.$store.dispatch('systemDeleteUsers', params)
    },
    pushCompanySettings () {
      var obj = {
        companyName: this.companyName,
        companyCopyright: this.copyright
      }
      this.$store.dispatch('pushCompanySetting', obj)
      if (this.companyName.length > 0 && this.copyright.length > 0) {
          this.hideModal()
      } 
    },
    routeToShopingCart () {
      this.$store.commit('SET_CART_SETTINGS', null)
      var self = this
      setTimeout(function () {
        self.$router.push({path: '/ShoppingCart/Settings'})
      }, 500)
    },
    info (button) {
      switch (button) {
        case 'settings':
          this.modalSettings.title = 'Settings'
          this.modalSettings.version = 'Version: ' + this.$store.state.olpVersion
          this.modalSettings.company = 'Company: 1'
          this.companyName = this.$store.state.company.name
          this.copyright = this.$store.state.company.copyright
          this.$root.$emit('bv::show::modal', 'modalSettings')
          break
        case 'application':
          this.modalApplication.title = 'Application Logs'
          this.applicationSize = this.$store.state.config.LogFileSize
          this.applicationFolder = this.$store.state.config.LogFileName
          this.applicationBackup = this.$store.state.config.LogFileKeep
          this.$root.$emit('bv::show::modal', 'modalApplication')
          break
        case 'recurrent':
          this.recurrentValue = this.$store.state.config.AutoAssignRetakes
          this.modalRecurrent.title = 'Recurrent Training'
          this.$root.$emit('bv::show::modal', 'modalRecurrent')
          break
        case 'register':
          this.registerValue = this.$store.state.config.SREnable
          this.registerText = this.$store.state.config.SRLengthVal
          this.selfRegisterWorkgroup = this.$store.state.config.SRWGVal
          this.modalRegister.title = 'Self Registration'
          this.$root.$emit('bv::show::modal', 'modalRegister')
          break
        case 'support':
          this.modalSupport.title = 'Support'
          if (sessionStorage.getItem('contactUs') !== null) {
            var parseValue = JSON.parse(sessionStorage.getItem('contactUs'))
            this.contactSupport = parseValue
            this.adminName = this.contactSupport.company.adminContactName
            this.adminPhone = this.contactSupport.company.admintContactPhone
            this.adminEmail = this.contactSupport.company.admintContactEmail
          }
          this.$root.$emit('bv::show::modal', 'modalSupport')
          break
        case 'web':
          this.webUrl = this.$store.state.config.APICallbackCourseComplete
          this.modalWeb.title = 'Web-Service API'
          this.$root.$emit('bv::show::modal', 'modalWeb')
          break
        case 'deleteUser':
          this.$store.commit('SET_USER_DELETE_NUMBER', '')
          this.deleteUserFlag = false
          this.modalDelete.title = 'Delete Users'
          this.$root.$emit('bv::show::modal', 'modalDelete')
          break
        case 'branding':
          this.modalBranding.title = 'Branding'
          if (sessionStorage.getItem('brandingColor') !== null) {
            var color = sessionStorage.getItem('brandingColor').split('|')
            this.primaryValue = color[0]
            this.secondaryValue = color[1]
          }
          if (this.$store.state.company.logoUrl !== '' || this.$store.state.company.logoUrl !== null) {
            this.logoUpload = true
          }
          this.$root.$emit('bv::show::modal', 'modalBranding')
          break
      }
    },
    logoUpload () {
      this.logoFlag = false
    },
    checki18n() {
      var i18nRole = this.$store.state.i18nData.role !== "Role|Roles"
      var i18nWorkgroup  = this.$store.state.i18nData.workgroup !== "Workgroup|Workgroups"
      var i18nAddress1 = this.$store.state.i18nData.address1 !== "Address 1"
      var i18nAddress2  = this.$store.state.i18nData.address2 !== "Address 2"
      if (this.$store.state.i18nData.role === '') {
        i18nRole = false
      }
      if (this.$store.state.i18nData.workgroup === '') {
        this.i18nWorkgroup = false
      }
      if (this.$store.state.i18nData.address1 === '') {
        this.i18nAddress1 = false
      }
      if (this.$store.state.i18nData.address2 === '') {
        this.i18nAddress2 = false
      }
      if (i18nRole || i18nWorkgroup || i18nAddress1 || i18nAddress2) {
        this.i18nFlag = true
      } else {
        this.i18nFlag = false
      }
    },
    checkEmailSettings () {
      if (this.$store.state.config.EmailEnableAssignedRetakes === 'on' || this.$store.state.config.EmailEnableBeforeDue === 'on' || this.$store.state.config.EmailEnableBeforeDue === "1"  || this.$store.state.config.EmailEnableBeforeDue === 1  || this.$store.state.config.EmailEnableChangePassword === 'on' 
      || this.$store.state.config.EmailEnableManagerComplReport === 'on' || this.$store.state.config.EmailEnableManagerRecurReport === 'on' || this.$store.state.config.EmailEnablePastDue === 'on' || this.$store.state.config.EmailEnablePastDue === "1" ||
      this.$store.state.config.EmailEnableStudentPassFail === 'on' || this.$store.state.config.EmailEnableUserEdit === 'on' || this.$store.state.config.EmailEnableWelcome === 'on' || this.$store.state.config.EmailEnablePastDue === 1) {
        this.emailActive = true
      }
    },
    saveContact () {
      var params = {
        name: this.adminName,
        email: this.adminEmail,
        phone: this.adminPhone
      }
      this.$store.commit('contact', params)
    },
    resetModal () {
    },
    hideModal () {
      this.$refs.applicationRef.hide()
      this.$refs.registerRef.hide()
      this.$refs.settingsRef.hide()
      this.$refs.brandingRef.hide()
      this.$refs.supportRef.hide()
      this.$refs.recurrentRef.hide()
      this.$refs.webRef.hide()
      this.$refs.deleteRef.hide()
    },
    pushBranding () {
      this.$store.state.company.branding = this.primeColor + '|' + this.secondColor
      sessionStorage.setItem('brandingColor', this.primeColor + '|' + this.secondColor)
      if (typeof(this.file.name) != 'undefined') {
        this.$store.state.company.logoURL = 'uploads/' + this.file.name
        this.$store.dispatch('pushCompanyLogo', this.file)
      }
      this.$store.dispatch('pushCompany')
      document.querySelectorAll('.headerNav .nav-item a').forEach(function (e) {
        e.style.backgroundColor = 'transparent'
      })
      var self = this
      setTimeout(function () {
        document.querySelectorAll('.headerNav .nav-item a').forEach(function (e) {
          e.style.backgroundColor = self.$store.state.company.primary
        })
      }, 600)
      if (this.primeColor !== '' && this.secondColor !== '') {
        this.hideModal()
      }
    },
    saveSelfRegistraion () {
      var temp = {
        status: this.registerValue,
        key: this.registerText,
        workgroupVal: this.selfRegisterWorkgroup
      }
      this.$store.dispatch('pushSelfRegistrationSettings', temp)
    },
    saveWebServiceApi () {
      this.$store.dispatch('pushWebServiceSettings')
    },
    sendSampleWeb () {
      this.$store.dispatch('sendSampleWebHook')
    }
  }
}
</script>

<style lang="scss">
$primary: #3567A8;
// $primaryHover: #447AC4;
//$primary: #506B78;
$primaryHover: #587685;
$activeRed: #ff0000;
$activeGreen: #99cc33;
    .systemManageContainer{
        width: 100%;
        background-color: #f4f4f4;
        height: 100vh;
        .titleText{
            padding:20px;
            padding-left: 25px;
            text-align: left;
        }
        .settingsRow{
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(170px, 1fr));
            margin-top: -30px;
            flex-wrap:wrap;
        }
        .SystemBtn{
            color: white !important;
            text-align: center;
            margin: auto;
            margin-top: 20px;
            margin-left:20px;
            border-radius: 7px;
            font-size: 18px;
            cursor: pointer;
            min-width: 150px;
            max-width: 10%;
            flex: 1 0 100px;
            text-decoration: none;
            background-color: $primary;
        }
        .btnIcon{
            font-size: 60px;
            margin: 40px 0px 45px 0px;
        }
        .selfRegister {
            padding-left:14px;
        }
        .firstRowIcon{
            margin: 20px 0px 55px 0px;
        }
        .emptyPicture{
            height:145px;
        }
        .altGlobe{
            width: 40%;
            height: 100px;
            margin-top: 20px;
        }
        .globeText{
            margin-top: -5px !important;
        }
        .inactiveHeader{
            background-color:$activeRed;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            margin-bottom: -27px;
        }
        .activeHeader {
            background-color:$activeGreen;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            margin-bottom: -27px;
        }
        .btnHeader{
            margin-bottom:0px;
            margin-top: 5px;
        }
        .btnIconFixHeader{
            margin-top:10px !important;
            margin-bottom: 43px !important;
        }
        .fixPText{
            margin-bottom: 5px;
            margin-top: -30px;
        }
        .settingHeader{
            display:flex;
            flex-direction: row;
            justify-content: flex-start;
        }
        .inputRow{
            display:flex;
            flex-direction: row;
            margin-bottom:10px;
        }
        .colorBox{
            width: 40px;
            height: 38px;
            margin-left: 10px;
        }
        .primaryBlue{
            background-color: #3567A8;
        }
        .secondaryGreen{
            background-color: #00AC4E;
        }
        .form-control-file button{
            background-color:yellow;
        }
        .fileText{
            margin-top: 9px;
            margin-left: 10px;
            margin-bottom: 0px;
        }
        .supportForm .form-control{
            margin-bottom: 10px;
        }
        .disabledTextColor{
            color:#c9c9c9;
        }
        .logsIcon{
            width:70px;
            height:70px;
        }
        .logsIconContainer{
            height:133px;
        }
        .apiIcon{
            width:75px;
            height:75px;
        }
        .apiIconContainer{
            height:143px;
        }
        .logoPreview img {
            width: 300px;
        }
    }
    .deleteRow .btn-secondary.disabled{
        background-color: #ff0000 !important;
        border-color: #ff0000 !important;
        opacity: 0.30;
    }
    img[alt]:after {  
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        font-family: 'Helvetica';
        font-weight: 300;
        line-height: 2;  
        text-align: center;
        content: attr(alt);
        padding-right:16px;
    }
    .shoppingCart {
        margin-bottom: 0 !important;
        width: 40% !important;
        height: 100px !important;
        margin-top: 20px !important;
    }
    img {  
    position: relative;
    }
    @media only screen and (max-width: 599px){
        #app .contentContainer{
            overflow-y: scroll;
        }
        .systemManageContainer{
            height:150vh;
        }
    }
</style>
