<template>
    <div>
        <div class="login">
            <b-card class="mx-auto">
                <b-img :src="this.$store.state.company.logoURL" class="loginLogo"></b-img>
                    <p class="logoText">Online Learning portal</p>
                    <span class="loginWarning" :class="loginWarning" v-on:loginError="displayError()">Username and/or password are incorrect</span>
                    <b-form-input v-model="username"
                    type="text"
                    placeholder="Username" class="loginUser" @keyup.enter.native="showPassword()" @click.native="checkUsername()" :class="changeCursor" :state="usernameState" @keydown.native="hideLoginWarning()"></b-form-input>
                    <font-awesome-icon :icon="icon[0]" class="editUsername iconGrey" :class="displayIcon"/>
                    <b-collapse class="mt-2" v-model="showPasswordCollapse" id="collapse4">
                      <b-form-input v-model="password"
                      :type="passwordType"
                      placeholder="Password"
                      class="loginPassword" @keydown.native="hideLoginWarning()" @click.native="checkPassword()" @keyup.enter.native="login()" :state="passwordState" ref="loginPassword"></b-form-input>
                      <font-awesome-icon :icon="icon[1]" class="showPasswordIcon iconGrey" :class="showPasswordToggle" @click="changePasswordType()"/>
                      <font-awesome-icon :icon="icon[2]" class="hidePasswordIcon iconGrey" :class="hidePasswordToggle" @click="changePasswordType()"/>
                    </b-collapse>
                <b-button class="continueLoginBtn" @click="showPassword()" :class="continueToggle"  :style="{ 'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">Continue</b-button>
                <b-button class="verifyLoginBtn" @click="login()" :class="loginToggle" :style="{ 'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">Log in</b-button>
            </b-card>
        </div>
    </div>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import {faPencilAlt, faEye, faEyeSlash} from '@fortawesome/fontawesome-free-solid/'
import Vue from 'vue'
export default {
  data: () => ({
    username: '',
    password: '',
    loginText: 'Continue',
    displayIcon: 'hidden',
    changeCursor: '',
    passwordType: 'password',
    showPasswordToggle: 'hidden',
    hidePasswordToggle: 'hidden',
    usernameState: null,
    continueToggle: '',
    loginToggle: 'hidden',
    showPasswordCollapse: false,
    loginWarning: 'hidden',
    passwordState: null,
    counter: 0
  }),
  methods: {
    checkUsername: function () {
      this.loginText = 'Continue'
      this.displayIcon = 'hidden'
      this.loginToggle = 'hidden'
      this.showPasswordToggle = 'hidden'
      this.hidePasswordToggle = 'hidden'
      this.changeCursor = ''
      this.continueToggle = ''
      this.password = ''
      this.showPasswordCollapse = false
      this.passwordState = null
    },
    checkPassword: function () {
      this.passwordState = null
    },
    callEvent: function () {
      if (this.showPasswordCollapse === false) {
        this.showPassword()
      }
    },
    login: function () {
      if (this.password === '') {
        this.passwordState = false
        return
      }
      var self = this
      self.$store.dispatch('login', {username: this.username, password: this.password}).then((resolve) => {
        if (resolve) {
          self.$router.push({path: '/MyCourses/Courses'})
          this.username = ''
          this.password = ''
        }
      }).catch((e) => {
        if (e.message !== 'Network Error') self.loginWarning = 'displayElement'
      })
    },
    displayError: function () {
      this.loginWarning = 'displayElement'
    },
    showPassword: function () {
      if (this.username !== '') {
        this.loginToggle = 'displayElement'
        this.continueToggle = 'hidden'
        this.displayIcon = ''
        this.loginText = 'Login'
        this.changeCursor = 'pointerCursor blendTextField'
        this.showPasswordCollapse = true
        let self = this
        Vue.nextTick()
          .then(function () {
            console.log(self.$refs.loginPassword.focus())
            self.passwordState = null
          })
        if (this.passwordType === 'text') {
          this.hidePasswordToggle = 'displayElement'
        } else {
          this.showPasswordToggle = 'displayElement'
        }
      } else {
        this.usernameState = false
      }
    },
    changePasswordType: function () {
      if (this.showPasswordToggle === 'displayElement') {
        this.showPasswordToggle = 'hidden'
        this.hidePasswordToggle = 'displayElement'
      } else {
        this.hidePasswordToggle = 'hidden'
        this.showPasswordToggle = 'displayElement'
      }
      if (this.passwordType !== 'password') {
        this.passwordType = 'password'
      } else {
        this.passwordType = 'text'
      }
    },
    hideLoginWarning: function () {
      this.loginWarning = 'hidden'
      this.passwordState = null
      if (this.username !== '') {
        this.usernameState = null
      }
    }
  },
  computed: {
    icon () {
      return [faPencilAlt, faEye, faEyeSlash]
    }
  },
  components: {
    FontAwesomeIcon
  },
  mounted: function () {
  }
}
</script>
<style lang="scss">
    .login{
        .loginLogo{
            display:flex;
            margin: auto;
            height:auto;
            width:100%;
            margin-bottom: 10px;
        }
        .loginUser{
            margin-bottom:10px;
        }
        .editUsername{
            margin-top: -36px;
            float: right;
            margin-right: 10px;
            display: block;
            pointer-events:none;
        }
        .logoText{
            text-align: center;
        }
        .showPasswordIcon, .hidePasswordIcon{
            float: right;
            margin-top: -26px;
            margin-right: 10px;
        }
        .verifyLogin{
            display:none;
        }
        .card-body{
            background-color: #f4f4f4;
            padding: 2rem;
            width:350px;
        }
        .iconGrey{
            color:#c9c9c9;
            position: relative;
            z-index: 2;
        }
        .blendTextField{
          background-color:#f4f4f4;
          border-color: #f4f4f4;
        }
        .loginUser:hover{
          background-color: #fff;
        }
        .btn-secondary:not(:disabled):not(.disabled):active{
          background-color: #009744;
          border-color: #009744;
        }
        .loginUser::placeholder{
          color:#c9c9c9;
        }
        .loginPassword::placeholder{
          color: #c9c9c9;
        }
        .loginWarning{
          color: red;
          font-size: 15px;
          margin-bottom:5px;
        }
        .loginPassword {
          position:relative;
          z-index: 2;
        }
    }
    .forgotPassword{
        text-align: center                                                                                                                  ;
        color:white !important;
        background-color:white;
    }
</style>
