<template>
    <div>
        <div class="forgotPasswordContainer">
            <div class="createTitle">
                <p style="color: white; font-size:24px;">Forgot Password</p>
            </div>
            <b-card class="mx-auto">
                <b-img :src="this.$store.state.company.logoURL" class="createLogo"></b-img>
                    <p class="logoText">Online Learning portal</p>
                    <p class="forgotPasswordText" :class="passwordText">Enter the email address registered with your account.</p>
                    <p class="submittedEmail" :class="passwordConfirmationText">Your password recovery request was submitted. If the email address provided is registered with your account, you will receive a password recovery email shortly.</p>
                    <div class="formHeight" :class="hideEmailTag">
                        <b-form-input v-model="email" type="email" placeholder="Email Address" :state="validEmail" @keydown.native="hideInputTextWarning()"></b-form-input>
                    </div>
                    <a href="" @click.prevent="goBackLogin()" :class="returnToLogin">Back to log in page</a>
                <b-button class="continueLoginBtn" @click="resetPassword()" :style="{ 'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}" :class="submitFlag">Submit</b-button>
            </b-card>
            <a href="" @click.prevent="goBackLogin()" class="loginLink" :class="loginLinkFlag"><p>Cancel</p></a>
        </div>
    </div>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import {faPencilAlt, faEye, faEyeSlash} from '@fortawesome/fontawesome-free-solid/'
export default {
  data: () => ({
    email: '',
    validEmail: null,
    hideEmailTag: 'displayElement',
    submitFlag: 'displayElement',
    passwordText: 'displayElement',
    loginLinkFlag: 'displayElement',
    passwordConfirmationText: 'hidden',
    returnToLogin: 'hidden'
  }),
  methods: {
    resetPassword () {
      if (this.email === '') {
        this.validEmail = false
      } else {
        this.$store.dispatch('resetPassword', {email: this.email, companyID: 1}).then((resolve) => {
          this.submitFlag = 'hidden'
          this.passwordConfirmationText = 'displayElement'
          this.passwordText = 'hidden'
          this.hideEmailTag = 'hidden'
          this.returnToLogin = 'displayElement'
          this.loginLinkFlag = 'hidden'
        })
      }
    },
    hideInputTextWarning () {
      this.validEmail = null
    },
    goBackLogin () {
      this.$store.commit('forgotPasswordToggleFalse')
    }
  },
  computed: {
    icon () {
      return [faPencilAlt, faEye, faEyeSlash]
    }
  },
  components: {
    FontAwesomeIcon
  }
}
</script>
<style lang="scss">
    .forgotPasswordContainer{
        max-width: 350px;
        height: 100%;
        .createLogo{
            display:flex;
            margin: auto;
            height:auto;
            margin-bottom: 10px;
            width:100%;
        }
        .workgroupField{
            margin-bottom:10px;
        }
        .editUsername{
            margin-top: -36px;
            float: right;
            margin-right: 10px;
            display: block;
            pointer-events:none;
        }
        .logoText{
            text-align: center;
        }
        .showPasswordIcon, .hidePasswordIcon{
            float: right;
            margin-top: -26px;
            margin-right: 10px;
        }
        .verifyLogin{
            display:none;
        }
        .card-body{
            background-color: #f4f4f4;
            padding: 2rem;
        }
        .iconGrey{
            color:#c9c9c9;
        }
        .blendTextField{
          background-color:#f4f4f4;
          border-color: #f4f4f4;
        }
        .workgroupField:hover{
          background-color: #fff;
        }
        .btn-secondary:not(:disabled):not(.disabled):active{
          background-color: #009744;
          border-color: #009744;
        }
        .workgroupField::placeholder{
          color:#c9c9c9;
        }
        .loginPassword::placeholder{
          color: #c9c9c9;
        }
        .formHeight input{
            margin-bottom: 10px;
        }
        .loginLink{
            color:white !important;
            margin-top:10px;
            display:block;
        }
        .forgotPasswordText, .submittedEmail{
            text-align: left;
        }
    }
    .forgotPassword{
        text-align: center;
        color:white !important;
        background-color:white;
    }
    .createTitle{
        margin: auto;
        margin-top:-40px;
        position: relative !important;
    }
</style>
