<template>
    <div id="app" :class="[currentPageName, test ? 'hideApp' : '']" v-show="this.showApp">
      <div v-if="resetPassword" class="doubleGridContainer">
         <div class="outerLoginContainer" :style="{ 'background-color': this.$store.state.company.primary, 'width': '100%'}">
          <ResetPassword />
        </div>
      </div>
      <div v-else-if="checkSession" style='height: 100%; display: flex; flex-direction: column;' class="contentContainer">
      <!-- Use :src="imageLogo" later to make logo dynmaic, imageLogo has to be a website link-->
        <div class="mainHeader">
            <img :src="this.$store.state.company.logoURL" class="imgLogo">
            <!-- <img src="./assets/insurelearn_sml_400x400.png" class="imgLogo"> templogo -->
            <p class="headerTitle">Online Learning Portal</p>
            <div class="userNavigationContainer">
              <div class="seatContainer">
                <div class="seatProgression" v-if="userAccessLevel === 2 && shopEnabled">
                  <div class="progressionBar">
                    <p class="seatAvaliableText">Avaliable Seats</p>
                  </div>
                </div>
                <div class="seatInformation">
                  <table class="seatTable">
                    <thead>
                      <tr>
                        <th>Products</th>
                        <th style="text-align:right">Used/Total</th>
                      </tr>
                    </thead>
                    <tr v-for="(item, products) in seatInformation" :key="products">
                      <td>{{item.product.name}}</td>
                      <td>{{item.product.used}}/{{item.product.total}}</td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="userNavButtons">
                <b-button class="btnBuy" v-if="userAccessLevel === 2 && shopEnabled" @click="buyProduct()" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">Buy More</b-button>
                <UserLogout :username="username"></UserLogout>
              </div>
            </div>
              <b-navbar class="headerNav" toggleable="lg" :style="{ 'background-color': this.$store.state.company.primary}">
                <b-navbar-toggle target="nav_dropdown_collapse"></b-navbar-toggle>
                <b-collapse is-nav id="nav_dropdown_collapse">
                  <b-navbar-nav>
                    <b-nav-item v-for="menuItem in nav" :key="menuItem.name" :to="{name: menuItem.route}" :id="menuItem.name" @click="checkGroupClick">
                      {{menuItem.name}}
                    </b-nav-item>
                  </b-navbar-nav>
                </b-collapse>
              </b-navbar>
              <b-breadcrumb :items="this.breadcrumbs" :class="{'hiddenbreadcrumbs':breadcrumbHidden, 'hidebreadcrumbs':breadcrumbHide}"/>
            </div>
            <div class="contentContainer">
              <router-view />
              <footer class="appFooter">{{this.$store.state.company.copyright}} Copyright {{currentYear}}</footer>
            </div>
            <div class="feedbackContainer" :class="{'fadeIn': !feedbackHidden}" id="feedBack">
            </div>
      </div>
      <div v-else-if="tempSession" style='height: 100%; display: flex; flex-direction: column;' class="contentContainer">
      <!-- Use :src="imageLogo" later to make logo dynmaic, imageLogo has to be a website link-->
        <div class="mainHeader">
              <img :src="this.$store.state.company.logoURL" class="imgLogo">
              <p class="headerTitle">Online Learning Portal</p>
              <p class='shopHeader'>Shopping Cart</p>
            </div>
            <div class="contentContainer">
              <router-view/>
              <footer class="appFooter">{{this.$store.state.company.copyright}} Copyright {{currentYear}}</footer>
            </div>
            <div class="feedbackContainer" :class="{'fadeIn': !feedbackHidden}" id="feedBack">
            </div>
      </div>
      <div v-else-if="this.createAccount" class="doubleGridContainer">
        <div class="outerLoginContainer" :style="{ 'background-color': this.$store.state.company.primary}">
          <div class="loginContainer">
            <CreateAccount />
            <a href="" @click.prevent="goBackLogin()" class="loginLink"><p>Cancel</p></a>
          </div>
          <footer class="newAppFooter">{{this.$store.state.company.copyright}} Copyright {{currentYear}}</footer>
        </div>
        <div class="sponsorComponent">
          <Sponsors />
        </div>
      </div>
      <div v-else-if="forgotPassword" class="outerLoginContainer" :style="{ 'background-color': this.$store.state.company.primary}">
        <ForgotPassword />
        <footer class="appFooter">{{this.$store.state.company.copyright}} Copyright {{currentYear}}</footer>
      </div>
      <div v-else-if="returningCustomer" class="outerLoginContainer" :style="{ 'background-color': this.$store.state.company.primary}">
        <div class="loginContainer" :class="loginToggle"  :style="{ 'background-color': this.$store.state.company.primary}">
          <login />
          <a href="" @click.prevent="forgotPasswordToggle()" :style="{ 'background-color': this.$store.state.company.primary}" class="loginLink"><p>Forgot Password?</p></a>
          <a href="" @click.prevent="createAccountToggle()" class="loginLink" v-if="false"><p>Create an Account</p></a>
        </div>
      </div>
      <!-- <b-modal id="passwordModal" ref="myModalRef" centered @hide="showModal" title="Need Help?">
        <p>Contact Monica Elischer at (302) 268-1013 or email <a href='mailto:TUinfo@targetmkts.com'>TUinfo@targetmkts.com</a></p>
        <div slot="modal-footer">
        </div>
      </b-modal> -->
      <footer class="appFooter"  :style="{ 'background-color': this.$store.state.company.primary}">{{this.$store.state.company.copyright}} Copyright {{currentYear}}</footer>
    </div>
</template>

<script>
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
import UserLogout from '@/components/UserLogout.vue'
import Login from '@/components/Login/index.vue'
import ResetPassword from '@/components/ResetPassword/index.vue'
import CreateAccount from '@/components/CreateAccount/index.vue'
import ForgotPassword from '@/components/ForgotPassword/index.vue'
import Sponsors from '@/components/Sponsors/index.vue'
import Vue from 'vue'
import axios from 'axios'

var feedbackTimer
var groupManagementArray = [2, 4]
// {name: 'Manager Authorization', route: 'Manager Authorization', accessLevel: 2},
// {name: 'Group Management', route: 'Group Management', accessLevel: 2, accessMode: [2, 4]},
// {name: 'System Management', route: 'System Management', accessLevel: 2, accessMode: 32},
const staticNav = [
  {name: 'My Courses', route: 'Courses', accessLevel: 1},
  {name: 'Reports', route: 'Student Records', accessLevel: 2, accessMode: 8},
  {name: 'Add/Update Users', route: 'User Profile Management', accessLevel: 2, accessMode: 16},
  {name: 'Add/Update Groups', route: 'Group Management', accessLevel: 2, accessMode: [2, 4]},
  {name: 'Add/Update Courses', route: 'Manage Course', accessLevel: 2, accessMode: 1},
  {name: 'System Management', route: 'System Management', accessLevel: 2, accessMode: 32}
]
function checkWorkRole (accessMode) {
  for (var i = 0; i < groupManagementArray.length; i++) {
    if ((accessMode & groupManagementArray[i]) === groupManagementArray[i]) {
      return true
    }
  }
  return false
}
function closeFeedback (element) {
  var currElement = element
  currElement.style.animationPlayState = 'running'
  currElement.classList.add('hideFeedbackNoDelay')
  currElement.addEventListener('animationend', () => {
    currElement.remove()
  })
}
export default {
  name: 'App',
  data: () => ({
    nav: [],
    userLogin: 'admin',
    username: 'admin',
    userAccess: 3,
    currentYear: (new Date()).getFullYear(),
    companyName: 'Insure Learn, Inc.',
    imageLogo: 'https://pbs.twimg.com/profile_images/1897171773/insurelearn_sml_400x400.jpg',
    breadcrumbs: [],
    breadcrumbHidden: false,
    breadcrumbHide: false,
    currentPageName: null,
    createAccount: false,
    feedbackMessage: '',
    feedbackHidden: true,
    feedbackError: false,
    showModal: false,
    test: false,
    resetPassword: false,
    returningCustomer: false,
    tempSession: false,
    shopEnabled: false,
    userAccessLevel: 0,
    seatInformation: '',
    firstLoad: true
  }),
  methods: {
    buyProduct () {
      var number = Math.round(Math.random() * 1000)
      this.$router.push({path: '/PurchaseProduct', query: {Session: number}})
    },
    resetPasswordToggle () {
      this.$store.dispatch('changePassword', true)
    },
    limitNav: function (nav, userAccess, accessMode) {
      nav = staticNav
      var self = this
      Vue.nextTick(function () {
        self.nav = nav.filter(function (menuItem) {
          // (userAccessMode & menuItem.accessMode) === menuItem.accessMode
          var result = false
          if (menuItem.accessLevel <= userAccess) result = true
          if (userAccess === 2 && menuItem.accessMode != null) {
            result = menuItem.accessMode instanceof Array ? checkWorkRole(accessMode) : (accessMode & menuItem.accessMode) === menuItem.accessMode
          }
          return result
        })
        self.test = false
      })
    },
    routeToBreadcrumb: function (routes) {
      if (this.$route.path === '/ManageUserPermission') {
        var tempBread = sessionStorage.getItem('breadcrumb')
        var convertBread = JSON.parse(tempBread)
        convertBread[2] = {active: false, href: '#/NewUserProfile/UserManager', text: 'Manager Permissions'}
        convertBread.push({active: true, href: '#/NewUserProfile/UserManager', text: 'Manage Presets'})
        this.breadcrumbs = convertBread
        return
      }
      this.breadcrumbHidden = false
      this.breadcrumbHide = false
      this.breadcrumbs = routes[routes.length - 1].meta.breadcrumbs
      var breadcrumbMagic = null
      if (this.breadcrumbs !== null) {
        this.breadcrumbs = routes.map((obj, index) => {
          if (obj.meta.breadcrumbMagic != null && typeof (obj.meta.breadcrumbMagic) !== 'undefined') {
            breadcrumbMagic = obj.meta.breadcrumbMagic
            switch (obj.meta.breadcrumbMagic) {
              case 'course':
                return (this.$store.state.course !== null && this.$store.state.course.courseID !== null) ? this.$store.state.course.courseName : 'New Course'
              case 'curriculum':
                return (this.$store.state.curriculum !== null && this.$store.state.curriculum.courseID !== null) ? this.$store.state.curriculum.courseName : 'New Curriculum'
              case 'none':
                this.breadcrumbHide = true
                return {text: 'hi', href: '#', active: true}
              case 'reports':
                return this.$route.params.userName
              case 'userprofile':
                return (this.$store.state.user !== null && this.$store.state.user.userProfileID !== null) ? this.$store.state.user.loginID : 'New User'
              case 'editWorkgroup':
                return (this.$store.state.workgroup !== null && this.$store.state.workgroup.groupID !== null) ? this.$store.state.workgroup.groupName : 'New ' + this.$store.state.i18n.tc('workgroup', 1)
              case 'editRole':
                return (this.$store.state.role !== null && this.$store.state.role.groupID !== null) ? this.$store.state.role.groupName : 'New ' + this.$store.state.i18n.tc('role', 1)
              case 'hidden':
                this.breadcrumbHidden = true
                return {text: 'hi', href: '#', active: true}
            }
          } else {
            var breadCrumbText = obj.name
            if (breadCrumbText === 'i18n') {
              return {text: breadCrumbText, href: '#' + obj.path, active: true}
            }
            if (breadCrumbText === 'Shopping Cart') {
              return {text: breadCrumbText, href: '#' + obj.path, active: true}
            }
            if (breadCrumbText === 'Manage Course') breadCrumbText = 'Courses'
            return { text: breadCrumbText, href: '#' + obj.path, active: index === (routes.length - 1) }
          }
        })
      }
      if (this.$route.matched[0].path === '/SystemResources') {
        this.breadcrumbs = [{active: false, href: '#/SystemManagement', text: 'System Management'}, {active: true, href: '', text: 'Resources'}]
      }
      if (this.$route.matched[0].path === '/SystemAnnoucements') {
        this.breadcrumbs = [{active: false, href: '#/SystemManagement', text: 'System Management'}, {active: true, href: '', text: 'Annoucements'}]
      }
      if (this.$route.matched[0].path === '/GroupManagement') {
        this.breadcrumbs = [{active: false, href: '#/GroupManagement/Roles', text: 'Add/Update Groups'}, {active: true, href: '', text: ''}]
      }
      if (this.$route.matched.length > 1) {
        if (this.$route.matched[1].name === 'Workgroups Managed') {
          this.breadcrumbs[this.breadcrumbs.length - 1] = this.$store.state.i18n.tc('workgroup', 1) + ' Managed'
        }
        if (this.$route.matched[1].name === 'Roles') {
          this.breadcrumbs[this.breadcrumbs.length - 1] = this.$store.state.i18n.tc('role', 2)
        }
        if (this.$route.matched[1].name === 'Workgroups') {
          this.breadcrumbs[this.breadcrumbs.length - 1] = this.$store.state.i18n.tc('workgroup', 2)
        }
        if (this.$route.matched[0].name === 'i18n') {
          this.breadcrumbs = [{active: false, href: '#/SystemManagement', text: 'System Management'}, ...this.breadcrumbs]
        }
        if (this.$route.matched[0].name === 'Shopping Cart') {
          this.breadcrumbs = [{active: false, href: '#/SystemManagement', text: 'System Management'}, ...this.breadcrumbs]
        }
        if (this.$route.matched[1].name === 'SystemResources') {
          this.breadcrumbs = [{active: false, href: '#/SystemManagement', text: 'System Management'}, ...this.breadcrumbs]
        }
      }
      
      if (breadcrumbMagic !== null && typeof breadcrumbMagic !== 'undefined') {
        switch (breadcrumbMagic) {
          case 'course':
            this.breadcrumbs = [{active: false, href: '#/CourseManagement/ManageCourse', text: 'Add/Update Course'}, ...this.breadcrumbs]
            break
          case 'curriculum':
            this.breadcrumbs = [{active: false, href: '#/CourseManagement/Curriculum', text: 'Add/Update Curriculum'}, ...this.breadcrumbs]
            break
          case 'reports':
            this.breadcrumbs = [{active: false, href: '#/Reports/StudentRecords', text: 'Student Records'}, ...this.breadcrumbs]
            this.breadcrumbs = [{active: false, href: '#/Reports/StudentRecords', text: 'Reports'}, ...this.breadcrumbs]
            break
          case 'userprofile':
            this.breadcrumbs = [{active: false, href: '#/UserProfileManagement', text: 'Add/Update Users'}, ...this.breadcrumbs]
            sessionStorage.setItem('breadcrumb', JSON.stringify(this.breadcrumbs))
            break
          case 'editWorkgroup':
            this.breadcrumbs = [{active: false, href: '#/GroupManagement/WorkGroups', text: 'Add/Update ' + this.$store.state.i18n.tc('workgroup', 2)}, ...this.breadcrumbs]
            break
          case 'editRole':
            this.breadcrumbs = [{active: false, href: '#/GroupManagement/Roles', text: 'Add/Update ' + this.$store.state.i18n.tc('role', 2)}, ...this.breadcrumbs]
            break
        }
      }
      if (this.$route.path === '/NewCourse/CourseAssignment' || this.$route.path === '/NewCurriculum/CurriculumAssignment') {
        this.breadcrumbs[this.breadcrumbs.length - 1] = 'Assigned to ' + this.$store.state.i18n.tc('role', 2)
      }
    },
    showFeedback (flag) {
      const feedbackWrapper = document.querySelector('#feedBack')
      const currentFeedback = feedbackWrapper.childNodes[0]
      const newFeedback = document.createElement('div')
      var s = `<div class="feedBack" id="feedbackBox"> <span class="feedbackMessage">${this.feedbackMessage}</span><span class="feedbackClose" @click="closeFeedback()">x</span></div>`
      newFeedback.innerHTML = s
      if (flag === 'error') {
        var feedbackBox = newFeedback.getElementsByTagName('div')[0]
        feedbackBox.classList.add('feedbackRed')
      }
      newFeedback.classList.add('feedback')
      newFeedback.getElementsByTagName('span')[1].addEventListener('click', function () {
        closeFeedback(newFeedback)
      })
      setTimeout(function () {
        newFeedback.classList.add('hideFeedback')
        newFeedback.style.animationPlayState = 'running'
      }, 4000)
      newFeedback.addEventListener('animationend', () => {
        newFeedback.remove()
      })
      feedbackWrapper.insertBefore(newFeedback, currentFeedback)
      if (currentFeedback) {
        currentFeedback.style.animationPlayState = 'running'
        currentFeedback.addEventListener('animationend', () => {
          currentFeedback.remove()
        })
      }
    },
    // Function cannot be reused in savedNew function, must be an indepedent function
    navFilter: function (routes) {
      var element = document.getElementsByClassName('activeNav')
      // Requires for loop in order to remove activeNav or else classList will be undefined
      for (var i = 0; i < element.length; i++) {
        element[i].classList.remove('activeNav')
      }
      routes.map((obj, index) => {
        if (obj.meta.navItem != null && typeof (obj.meta.navItem) !== 'undefined') {
          Vue.nextTick(function () {document.getElementById(obj.meta.navItem).classList.add('activeNav')}) 
        }
      })
    },
    createAccountToggle: function () {
      this.createAccount = true
    },
    forgotPasswordToggle: function () {
      // this.$root.$emit('bv::show::modal', 'passwordModal')
      this.$store.commit('forgotPasswordToggleTrue')
    },
    goBackLogin: function () {
      this.createAccount = false
      this.$store.commit('forgotPasswordToggleFalse')
    },
    checkGroupClick: function () {
      var accessMode = this.$store.state.session.accessMode
      if (this.$route.name === 'Group Management') {
        if ((accessMode & 4) === 4 || this.$store.state.session.accessLevel === 3) {
          this.$router.push({path: '/GroupManagement/Roles'})
        } else {
          this.$router.push({path: '/GroupManagement/WorkGroups'})
        }
      }
    },
    onLogin: function () {
      var self = this
      this.test = true
      setTimeout(function () {
        var userSession = sessionStorage.getItem('userSession')
        userSession = JSON.parse(userSession)
        self.limitNav(self.nav, self.$store.state.session.accessLevel, self.$store.state.session.accessMode)
        setTimeout( function() {
          document.querySelectorAll('.headerNav .nav-item a').forEach(function (e) {
            e.style.backgroundColor = self.$store.state.company.primary
          })
        }, 400)
      }, 2000)
    },
    unsetActive () {
      document.getElementsByClassName('dropdown-item')[0].removeAttribute('style')
      document.getElementsByClassName('dropdown-item')[1].removeAttribute('style')
    }
  },
  mounted: function () {
    this.$store.dispatch('getCompany', {companyID: 1})
    this.$store.dispatch('loadLanguageAsync', 1)
    this.$store.dispatch('getConfig')
    console.log(this.$route.fullPath)
    var self = this
    axios.get('/api/utils/sysconfig/get/')
      .then(function (result) {
        if (self.checkSession) {
          if (self.$route.fullPath !== '/ApplicationLogs') {
            self.$router.push({path: '/MyCourses/Courses'})
          }
        } else if (result !== null && self.$route.fullPath === '/buy' && !self.checkSession && (result.data.data.ShopEnabled === true || result.data.data.ShopEnabled  === "true")) {
          self.$store.commit('SET_TEMP_SESSION', true)
          self.$store.commit('SET_EXISTING_CUSTOMER', false)
          self.shopEnabled = true
        } else if (self.route.query.s != null) {
          self.$store.commit('SET_TEMP_SESSION', true)
        } else {
          self.$store.commit('SET_TEMP_SESSION', false)
          self.$store.commit('SET_EXISTING_CUSTOMER', true)
          self.$router.push({path: '/login'})
        }
      })
    if (this.$route.path === '/') {
      if (self.checkSession) this.$router.push({path: '/MyCourses/Courses'})
      else this.window.location.replace('/#/login')

      document.getElementById('app').classList.add('hideApp')
    }
    var userSession = sessionStorage.getItem('userSession')
    userSession = JSON.parse(userSession)
    this.userAccessLevel = JSON.parse(userSession.accessLevel)
    this.limitNav(staticNav, this.$store.state.session.accessLevel, this.$store.state.session.accessMode)
    this.routeToBreadcrumb(this.$route.matched)
    this.navFilter(this.$route.matched)
    if (this.userAccessLevel === 2 ) {
      this.$store.dispatch('getManagerSeats')
    }
    this.currentPageName = this.$route.matched[0].name.replace(/\s/g, '')
  },
  watch: {
    getSeatInformation (val) {
      this.seatInformation = val
      var totalSeats = 0
      var totalUsed = 0
      var percentage = 0
      for (var i = 0; i < this.seatInformation.length; i++) {
        totalSeats += this.seatInformation[i].product.total
        totalUsed += this.seatInformation[i].product.used
      }
      percentage = (totalUsed/totalSeats) * 100
      percentage = ""+ percentage +"%"
      document.getElementsByClassName('progressionBar')[0].style.width = percentage
    },
    getUserSession (val) {
      this.userAccessLevel = val.accessLevel
      if (val.accessLevel === 2) {
        this.$store.dispatch('getManagerSeats')
      }
    },
    getShopEnabled (val) {
      if (val.ShopEnabled === "true" || val.ShopEnabled === true) {
        this.shopEnabled = true
      } else {
        this.shopEnabled = false
      }
    },
    getTempSession (val) {
      this.tempSession = val
    },
    getExistCustomer (val) {
      this.returningCustomer = val
    },
    $route (to, from) {
      if (to.path === '/' && !this.checkSession || to.path === '/login' && !this.checkSession) {
        this.$store.commit('SET_EXISTING_CUSTOMER', true)
        this.$store.commit('SET_TEMP_SESSION', false)
        this.$router.push({path: '/login'})
      }
      if (to.name === "Buy" && this.checkSession || to.name === "buy" && this.checkSession) {
        this.buyProduct()
      }
      if (to.name === "Buy" && !this.shopEnabled || to.name === "buy" && !this.shopEnabled) {
        this.$router.push({path: '/login'})
      } else if (to.name === "Buy" && this.shopEnabled || to.name === "buy" && this.shopEnabled) {
        this.$store.commit('SET_TEMP_SESSION', true)
        this.$store.commit('SET_EXISTING_CUSTOMER', false)
      }
      this.routeToBreadcrumb(this.$route.matched)
      this.navFilter(this.$route.matched)
      this.currentPageName = this.$route.matched[0].name.replace(/\s/g, '')
    },
    feedbackFlag (value) {
      var element = document.getElementById('feedBack')
      element.classList.remove('hideFeedback')
      clearTimeout(feedbackTimer)
      this.feedbackError = false
      if (value[1] === 'error') {
        this.feedbackError = true
        this.feedbackMessage = value[0]
        this.showFeedback('error')
      } else if (value[1]) {
        this.feedbackMessage = value[0]
        this.showFeedback('pass')
      } else {
      }
    },
    getResetPassword: function (val) {
      this.resetPassword = val
    }
  },
  updated: function () {
    if (this.$route.fullPath === '/buy' && !this.checkSession) {
      this.$store.commit('SET_EXISTING_CUSTOMER', false)
    } else if (!this.checkSession) {
      this.$store.commit('SET_EXISTING_CUSTOMER', true)
    }
  },
  components: {
    UserLogout,
    Login,
    CreateAccount,
    ForgotPassword,
    Sponsors,
    ResetPassword
  },
  computed: {
    getSeatInformation () {
      return this.$store.state.seatInformation
    },
    getUserSession () {
      return this.$store.state.session
    },
    getShopEnabled () {
      return this.$store.state.config
    },
    getTempSession () {
      return this.$store.state.tempSession
    },
    getExistCustomer () {
      return this.$store.state.existCustomer
    },
    getResetPassword () {
      return this.$store.state.resetPassword
    },
    feedbackFlag () {
      return this.$store.state.feedback
    },
    showApp () {
      var show = (this.$store.state.company.name != null) ? true : false
      var primaryColor = this.$store.state.company.primary
      if (show) {
        let navItems = document.querySelectorAll('.headerNav .nav-item a')
        navItems = [].slice.call(navItems)
        navItems.forEach(function (e) {
          e.style.backgroundColor = primaryColor
        })
      } 
      return show
    },
    checkSession () {
      if (this.$store.state.session !== 'undefined' && this.$store.state.session !== null) {
        this.onLogin()
        return true
      } else {
        if (this.$route.query.s != null) this.resetPassword = true;
        else if (this.$store.state.loggingout != true && this.$store.state.firstLoad != true) window.alert("Your login has expired");
        return false
      }
    },
    forgotPassword: {
      get () {
        return this.$store.state.forgotPasswordFlag
      }
    }
  }
}
</script>

<style lang='scss'>
@import 'src/assets/css/style.scss';
$primary:#3567A8;
$primaryActive: #6492CE;
$secondary: #00ac4e;
$primaryHover: #447AC4;
// Target Uni
// $primary:#506B78;
// $primaryActive: #618292;
// $primaryHover: #587685;
// $secondary: #587685;
html, .doubleGridContainer {
  height: 100%;
}

body {
  height: 100vh;
}

.boxShadow {
  box-shadow: 0 0 10px #333;
}
.resetLink {
  color: white !important;
}
.resetLink p:hover{
  text-decoration: underline;
  color: white;
  cursor: pointer;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  height: 100%;
  .doubleGridContainer{
    display: flex;
    flex-grow: 1;
    min-height: 800px;
  }
  .outerLoginContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #3567A8;
  }
  .loginContainer{
  }
  .sponsorComponent{
    display:flex;
    flex: 1;
    padding: 1rem;
    flex-direction: column;
    height:100%;
    justify-items: center;
    align-items: center;
  }
  .imgLogo {
    position:absolute;
    left:15px;
    top:0;
    margin-top: 10px;
    width:150px;
    height:auto;
  }

  #passwordModal {
    .modal-footer {
      border: none !important
    }
  }

  .headerNav {
    background-color: $primary;
    padding: 0px;

    a {
      color:white;
      text-decoration: none;
      padding: 20px;
    }

    a.nav-link.active {
      height:100%;
    }
  }

  .navbar-light .navbar-nav .nav-link {
    color:white ;
  }

  .nav-item:hover {
  }

  .appFooter {
    position:absolute;
    bottom:0;
    width:100%;
    color:white;
    background-color:$primary;
    font-size: 12px;
    padding: 1px;
    flex-shrink: 0;
  }
  .newAppFooter{
    width:100%;
    color:white;
    background-color:$primary;
    font-size: 12px;
    padding: 1px;
    flex-shrink: 0;
  }
  .headerTitle {
    margin-top: 25px;
    text-align: left;
    margin-left:175px;
    width:160px;
    white-space: nowrap;
  }

  .breadcrumb {
    margin-bottom: 0px;
    background-color:white;
    color:white;
    font-size:12px;
    padding: 0.25rem 1rem;
    a {
      color:black;
    }
  }
  .hidebreadcrumbs{
    display:none;
  }
  .hiddenbreadcrumbs{
    visibility: hidden;
  }

  .breadcrumb-item.active {
    color:black;
  }

  .contentContainer {
    overflow: hidden;
    flex: 1;
  }
}
.createAccount, .forgotPassword {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.activeNav{
  height: 100%;
}
.loginLink{
  color:white !important;
  margin-top:10px;
  display:block;
}
 .feedBack {
    width:100%;
    background-color:#99CC33;
    max-height:50px;
    height:50px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
    line-height: 50px;
    color:white;
 }
 .feedbackContainer{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    left: 0;
    right: 0;
    bottom: 40px;
    padding-left:30px;
    padding-right:30px;
    z-index: 1080;
 }
 .feedbackMessage{
   float:left;
   padding-left:15px;
 }
  .fadeIn{
    visibility:visible !important;
  }
  .shopHeader {
    float: right;
    font-size: 1.5em;
    margin-right: 20px;
    margin-top: -45px;
  }
  .hideFeedback{
     animation:signup-response 0.5s 1;
    -webkit-animation:signup-response 0.5s 1;
    animation-fill-mode: forwards;
    animation-delay:2s;
    -webkit-animation-delay:1s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
  }
  .hideFeedbackNoDelay {
     animation:signup-response 0.5s 1;
    -webkit-animation:signup-response 0.5s 1;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
  }
  @-webkit-keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
  }
  @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
  }
  @keyframes signup-response{
      from {opacity :1;}
      to {opacity :0;}
  }

  @-webkit-keyframes signup-response{
      from {opacity :1;}
      to {opacity :0;}
  }
  .feedbackClose{
    color:white;
    float:right;
    padding-right:15px;
  }
  .feedbackClose:hover{
    cursor: pointer;
  }
  .feedbackRed {
    background-color: #FF0000 !important;
  }
  .hideApp{
    display: none !important;
  }
      .feedback {
        width:100%;
        max-height:50px;
        height:50px;
        border-radius: 5px;
        line-height: 50px;
        color:white;
        animation-name: hide;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-play-state: paused;
      }
      @keyframes hide {
        0% {
          opacity: 1;
          height: 100%;
          margin-top: 1rem;
          line-height: 100%;
        }
        90% {
          opacity: 0;
          height: 100%;
          margin-top: 1rem;
          line-height: 100%;
        }
        100% {
          opacity: 0;
          height: 0px;
          margin-top: 0px;
          line-height: 0px;
        }
    }
.userNavButtons{
  display:flex;
}
.seatProgression{
    width: 200px;
    border: 1px solid #f4f4f4;
    border-radius: 5px;
    height: 38px;
    text-align:left;
    background-color:#f4f4f4;
}
.progressionBar {
  background-color: #c9c9c9;
  width: 0px;
  height: 100%;
  border-radius: 5px;
}
.seatInformation {
  position: absolute;
  border: solid 1px #c4c4c4;
  z-index: 100;
  top: 65px;
  border-radius: 5px;
  background-color: #f4f4f4;
  padding: 10px;
  display: none;
  box-shadow: 0 0 10px #333;
}
.seatTable{
  width: 100%;
  text-align: left;
  tr td {
    padding-top: 5px;
    padding-bottom: 5px;
  }
   tr:nth-child(2) {
     td {
      border-top: 1px solid #c4c4c4;
     }
   }
   tr td:nth-child(even) {
    text-align: right;
   }
}
.seatProgression:hover + .seatInformation {
  display:block;
}
.seatContainer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    flex: 1 0 auto;
    margin-right: 10px;
}
.seatAvaliableText{
  line-height: 35px;
  margin-left: 10px;
  white-space: nowrap;
}
.userNavigationContainer{
    flex-direction: row;
    margin-top: -50px;
    margin-bottom: 17px;
    display:flex;
    margin-right: 22px;
}
</style>
