<template>
    <div>
        <div class="createAccountContainer">
            <div class="createTitle">
                <p style="color: white; font-size:24px;">Create an Account</p>
            </div>
            <b-card class="mx-auto">
                <b-img src="/Insure_learn_highres.png" class="createLogo"></b-img>
                    <p class="logoText">Online Learning portal</p>
                    <div :class="workgroupForm">
                        <b-form-input v-model="Workgroup"
                        type="text"
                        placeholder="Workgroup" class="workgroupField" @click.native="checkWorkgroup()" :class="changeCursor" :state="workgroupState"></b-form-input>
                        <font-awesome-icon :icon="icon[0]" class="editUsername iconGrey" :class="displayIcon"/>
                        <b-collapse class="mt-2" v-model="showRoleCollapse" id="collapse4">
                            <b-form-select v-model="roleValue" :options="roleOptions" class="mb-3" />
                        </b-collapse>
                    </div>
                    <div :class="createAccountForm" class="formHeight">
                        <b-form-input v-model="firstName" type="text" placeholder="First Name"></b-form-input>
                        <b-form-input v-model="lastName" type="text" placeholder="Last Name"></b-form-input>
                        <b-form-input v-model="username" type="text" placeholder="Username"></b-form-input>
                        <b-form-input v-model="password1" type="password" placeholder="Password"></b-form-input>
                        <b-form-input v-model="password2" type="password" placeholder="Confirm Password"></b-form-input>
                    </div>
                <b-button class="continueLoginBtn" @click="showPassword()" :class="continueToggle">Continue</b-button>
                <b-button class="continueLoginBtn" @click="displayCreateAccount()" :class="continueCreate">Continue</b-button>
                <b-button class="verifyLoginBtn" @click="createAccount()" :class="createAccount">Create</b-button>
            </b-card>
        </div>
    </div>
</template>

<script>
import FontAwesomeIcon from '@fortawesome/vue-fontawesome'
import {faPencilAlt, faEye, faEyeSlash} from '@fortawesome/fontawesome-free-solid/'
export default {
  data: () => ({
    username: '',
    password1: '',
    password2: '',
    firstName: '',
    lastName: '',
    Workgroup: '',
    loginText: 'Continue',
    displayIcon: 'hidden',
    changeCursor: '',
    workgroupState: null,
    continueToggle: '',
    createAccount: 'hidden',
    showRoleCollapse: false,
    workgroupForm: '',
    createAccountForm: 'hidden',
    continueCreate: 'hidden',
    roleValue: 0,
    roleOptions: [
      { text: 'Select Role', value: 0 },
      { text: 'Insure Learn', value: 1 },
      { text: 'RMGI', value: 2 }
    ]
  }),
  methods: {
    checkWorkgroup: function () {
      this.displayIcon = 'hidden'
      this.createAccount = 'hidden'
      this.showPasswordToggle = 'hidden'
      this.hidePasswordToggle = 'hidden'
      this.changeCursor = ''
      this.continueToggle = ''
      this.continueCreate = 'hidden'
      this.showRoleCollapse = false
    },
    createAccount: function () {
    },
    showPassword: function () {
      if (this.Workgroup !== '') {
        this.continueCreate = 'displayElement'
        this.continueToggle = 'hidden'
        this.displayIcon = ''
        this.changeCursor = 'pointerCursor blendTextField'
        this.showRoleCollapse = true
      } else {
        this.workgroupState = false
      }
    },
    displayCreateAccount: function () {
      if (this.Workgroup !== '' && this.roleValue !== 0) {
        this.workgroupForm = 'hidden'
        this.createAccountForm = ''
        this.continueCreate = 'hidden'
        this.createAccount = ''
      }
    }
  },
  computed: {
    icon () {
      return [faPencilAlt, faEye, faEyeSlash]
    }
  },
  components: {
    FontAwesomeIcon
  }
}
</script>
<style lang="scss">
    .createAccountContainer{
        max-width: 350px;
        margin: auto;
        margin-top: 250px;
        float: none;
        margin-bottom: 10px;
        .createLogo{
            display:flex;
            margin: auto;
            height:auto;
            width:100%;
        }
        .workgroupField{
            margin-bottom:10px;
        }
        .editUsername{
            margin-top: -36px;
            float: right;
            margin-right: 10px;
            display: block;
            pointer-events:none;
        }
        .logoText{
            text-align: center;
        }
        .showPasswordIcon, .hidePasswordIcon{
            float: right;
            margin-top: -26px;
            margin-right: 10px;
        }
        .verifyLogin{
            display:none;
        }
        .card-body{
            background-color: #f4f4f4;
            padding: 2rem;
        }
        .iconGrey{
            color:#c9c9c9;
        }
        .blendTextField{
          background-color:#f4f4f4;
          border-color: #f4f4f4;
        }
        .workgroupField:hover{
          background-color: #fff;
        }
        .btn-secondary:not(:disabled):not(.disabled):active{
          background-color: #009744;
          border-color: #009744;
        }
        .workgroupField::placeholder{
          color:#c9c9c9;
        }
        .loginPassword::placeholder{
          color: #c9c9c9;
        }
        .formHeight input{
            margin-bottom: 10px;
        }
    }
    .forgotPassword{
        text-align: center;
        color:white !important;
        background-color:white;
    }
    .createTitle{
        position:absolute;
        margin-left:75px;
        margin-top:-40px;
    }
</style>
