<template>
    <div class="editRoleContainer">
        <div class="roleForm">
            <b-row>
                <b-col cols="6">
                    <label>Role</label>
                    <b-form-input type="text" class="inputTextBox" v-model="role"></b-form-input>
                </b-col>
                <b-col cols="6">
                    <label>Role - Plural Version</label>
                    <b-form-input type="text" class="inputTextBox" v-model="rolePlural"></b-form-input>
                </b-col>
            </b-row>
            <b-row>
                <b-col cols="6">
                    <label>Workgroup</label>
                    <b-form-input type="text" class="inputTextBox" v-model="workgroup"></b-form-input>
                </b-col>
                <b-col cols="6">
                    <label>Workgroup - Plural Version</label>
                    <b-form-input type="text" class="inputTextBox" v-model="workgroupPlural"></b-form-input>
                </b-col>
            </b-row>
        </div>
        <div class="roleForm">
            <b-row>
                <b-col cols="6">
                    <label>Address 1</label>
                    <b-form-input type="text" v-model="address1">
                    ></b-form-input>
                </b-col>
                <b-col cols="6">
                    <label>Address 2</label>
                    <b-form-input type="text" v-model="address2"></b-form-input>
                </b-col>
            </b-row>
        </div>
    </div>
</template>

<script>
export default {
  data: () => ({
    role: "Role",
    workgroup: "Workgroup",
    address1: "Address 1",
    address2: "Address 2",
    workgroupPlural: 'Workgroups',
    rolePlural: 'Roles',
    temp: ''
  }),
  mounted: function () {
    var i18n = this.$store.state.i18nData
    this.$store.commit('SET_TEMP_i18n', '')
    this.temp = {
      role: i18n.role.split('|')[0],
      workgroup: i18n.workgroup.split('|')[0],
      address1: i18n.address1,
      address2: i18n.address2,
      rolePlural: i18n.role.split('|')[1],
      workgroupPlural: i18n.workgroup.split('|')[1]
    }
    if (i18n != null) {
      this.role = i18n.role.split('|')[0]
      this.workgroup = i18n.workgroup.split('|')[0]
      this.address1 = i18n.address1
      this.address2 = i18n.address2
      this.rolePlural = i18n.role.split('|')[1]
      this.workgroupPlural = i18n.workgroup.split('|')[1]
    }
  },
  watch: {
    workgroupPlural (value) {
      this.temp.workgroupPlural = value
      this.$store.commit('SET_TEMP_i18n', this.temp)
    },
    rolePlural (value) {
      this.temp.rolePlural = value
      this.$store.commit('SET_TEMP_i18n', this.temp)
    },
    role (value) {
      this.temp.role = value
      this.$store.commit('SET_TEMP_i18n', this.temp)
    },
    workgroup (value) {
      this.temp.workgroup = value
      this.$store.commit('SET_TEMP_i18n', this.temp)
    },
    address1 (value) {
      this.temp.address1 = value
      this.$store.commit('SET_TEMP_i18n', this.temp)
    },
    address2 (value) {
      this.temp.address2 = value
      this.$store.commit('SET_TEMP_i18n', this.temp)
    }
  }
}
</script>
<style lang="scss">
    .editRoleContainer{
        .row{
            text-align: left;
            margin-bottom: 15px;
        }
        .roleForm{
            text-align: left;
            background-color: #f4f4f4;
            padding: 30px;
            margin-bottom:20px;
        }
        .flexDisplay{
            display: flex;
            width:100%;
            align-items: center;
            p {
                margin-bottom: 0px;
            }
            .inputTextBox{
                margin-right:30px;
                width:100%;
            }
        }
    }
</style>
