<template>
  <div class="sponsorContainer">
      <div class="imgSponsorContainer">
        <div class="mainSponsorText">
          <span>Main Sponsor</span>
        </div>
        <img src="@/assets/Sponsors/zurich-logo-big.png" class="zurichLogo"/>
        <div class="courseSponsorText">
          <span>Course Sponsors</span>
        </div>
        <div class="gridContainer">
          <div class="logoRow">
            <img src="@/assets/Sponsors/Glatfelter_Insurance_Group_Logo.png" class="glatfelterLogo" />
          </div>
          <div class="logoRow">
            <img src="@/assets/Sponsors/logo-gaig.png" class="greatamericaLogo"/>
          </div>
          <div class="logoRow">
            <img src="@/assets/Sponsors/AmeriTrust-logo.png" class="ameritrustLogo" />
          </div>
          <div class="logoRow">
            <img src="@/assets/Sponsors/Milliman_logo.png" class="millLogo" />
          </div>
          <div class="logoRow">
            <img src="@/assets/Sponsors/mystic-capital-logo.png" class="mysticLogo"/>
          </div>
          <div class="logoRow">
            <img src="@/assets/Sponsors/qbe-logo.png" class="qbeLogo" />
          </div>
          <div class="logoRow">
            <img src="@/assets/Sponsors/resrouce-pro-logo.png" class="resourceLogo"/>
          </div>
          <div class="logoRow">
            <img src="@/assets/Sponsors/markel-logo.png" class="markelLogo"/>
          </div>
          <div class="logoRow">
            <img src="@/assets/Sponsors/western-world-logo.png" class="westernLogo"/>
          </div>
          <div class="logoRow">
            <img src="@/assets/Sponsors/bg_logo_wilson.png" class="wilsonLogo"/>
          </div>
          <div class="logoRow">
            <img src="@/assets/Sponsors/axa-logo.png" class="axaLogo"/>
          </div>
          <div class="logoRow">
            <img src="@/assets/Sponsors/York-logo.png" class="yorkLogo" />
          </div>
      </div>
    </div>
    <div class="targetFooter">
      <div class="targetText">
        <span>Target University Supporters</span>
      </div>
      <div>
        <span>QBE | Tysers | Brekenridge IS | Munich Re | Lexington Insurance</span>
      <div>
        <a href="https://targetuniversity.com/targetu/purchase/index.html">
          <b-button class="purchaseBtn btnGreenSecondary">Purchase Courses</b-button>
        </a>
      </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  .sponsorContainer{
    height:100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    .gridContainer{
      display: grid;
      grid-template-columns: auto auto auto;
    }
    .mainSponsorText, .firstLogo, .courseLogo, .courseSponsorText{
      display:flex !important;
      justify-content: center;
      text-align: center;
      margin-bottom:10px;
    }
    .courseSponsorText{
      margin-top:15px;
    }
    .firstLogo{
      margin-top: 10px;
    }
    .courseLogo{
      margin-top:10px;
    }
    .logoRow{
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        height:100%;
        width: 60%;
      }
      .greatamericaLogo{
        width:60%
      }
      .glatfelterLogo{
        width: 80%;
      }
      .millLogo{
        height: 50%;
        width: 80%;
      }
      .mysticLogo{
        height: 85%;
        width: 100%;
      }
      .qbeLogo{
        height: 10%;
        width: 25%;
      }
      .ameritrustLogo{
        width:100%;
        height:80%;
      }
      .resourceLogo{
        height: 40%;
        width: 100%;
      }
      .markelLogo{
        width: 50%;
      }
      .westernLogo{
        width:100%;
        height: 40%;
      }
      .wilsonLogo{
        width: 100%;
        height: 40%;
      }
      .axaLogo{
        height: 80%;
        width:30%;
      }
      .yorkLogo{
        height: 50%;
        width:50%;
      }
    }
    .zurichLogo{
      width:15%;
    }
    .purchaseBtn{
      width: 200px;
      font-size:16px;
      height: 50px;
      margin-top:20px;
    }
    .targetText{
      margin-bottom:10px;
    }
  }
</style>
