<template>
  <div>
    <SubPage :Navigation="Navigation"/>
  </div>
</template>
<script>
import SubPage from '@/components/SubPage.vue'
export default {
  data () {
    return {
      Navigation: []
    }
  },
  mounted: function () {
    if (this.$store.state.session.accessLevel === 3 || (this.$store.state.session.accessMode & 4) === 4) {
      this.Navigation.push({name: this.$store.state.i18n.tc('role', 2), route: '/GroupManagement/Roles'})
    }
    if (this.$store.state.session.accessLevel === 3 || (this.$store.state.session.accessMode & 2) === 2) {
      this.Navigation.push({name: this.$store.state.i18n.tc('workgroup', 2), route: '/GroupManagement/WorkGroups'})
    }
  },
  components: {
    SubPage
  }
}
</script>
