<template>
  <div>
    <div class="roleContainer">
      <b-button class="createRole" @click="newRole(null)" :style="{'background-color': this.$store.state.company.secondary, 'border-color': this.$store.state.company.secondary}">
        New {{this.$store.state.i18n.tc('role', 1)}}
      </b-button>
      <b-dropdown class="roleDropDown" text="Options" :disabled="optionToggle" id="roleDropDown" v-if="false">
        <b-dropdown-item  @click.stop="info(checkedItems, $event.target)" >Delete</b-dropdown-item>
      </b-dropdown>
      <p class="roleCount">{{this.$store.state.i18n.tc('role', 2)}} ({{totalRows}}) </p>
        <!-- User Interface controls -->
        <b-row class="customRowRole">
          <b-col md="6">
            <b-form-group horizontal class="mb-0 customFormGroup">
              <b-input-group>
                <b-form-input v-model="filter" :placeholder="'Search ' + this.$store.state.i18n.tc('role', 2) + '...'" class="customInputRole" />
              </b-input-group>
            </b-form-group>
          </b-col>
        </b-row>
        <div class="loadingContainer" :class="animationFlag">
            <div class="loadingAnimation">
                <div class="lds-ring">
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                    <div :style="{'border-color': this.$store.state.company.primary + ' transparent transparent transparent'}"></div>
                </div>
            </div>
        </div>
        <!-- Main table element -->
        <div class="table-scroll" :class="roleTable">
          <div class="tableRoleContainer">
              <b-table show-empty
                      stacked="md"
                      :items="items"
                      :fields="fields"
                      :filter="filter"
                      @filtered="onFiltered"
                      v-model="tableValues"
                      :current-page="currentPage"
                      :per-page="perPage"
                      small
                      :sort-by.sync="sortBy"
                      :sort-desc.sync="sortDesc"
                      :sort-direction="sortDirection"
                      no-sort-reset
              >
              <template slot="HEAD_actions" slot-scope="head">
                  <!-- A custom formatted header cell for field 'name' -->
                  <b-form-checkbox @click.native="toggleSelected" v-model="allSelected"></b-form-checkbox>
              </template>
              <template slot="actions" slot-scope="row">
                  <b-form-checkbox :value="row.item" v-model="checkedItems"></b-form-checkbox>
              </template>
              <template slot="groupName" slot-scope="row"><a @click="newRole(row.item.groupID)" class="roleLink">{{row.item.groupName}}</a></template>
              </b-table>
            <div class="tablePagination">
                <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" @change="switchPage()" />
            </div>
          </div>
        </div>
        <b-modal id="modalInfo" ref="myModalRef" centered @hide="resetModal" :title="modalInfo.title">
          <p>{{ modalInfo.content }}</p>
          <ul class="checkedList">
            <b><li v-for="list in modalInfo.list" :key="list.no">{{list.groupName}}</li></b>
          </ul>
            <div slot="modal-footer">
              <b-btn class="float-right btnGrey btnCancel" variant="secondary" @click="hideModal">
                Cancel
              </b-btn>
              <b-btn class="float-right btnGrey btnDelete" variant="secondary" @click="hideModal">
                Delete
              </b-btn>
            </div>
        </b-modal>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
export default {
  data () {
    return {
      fields: [
        {key: 'actions', label: '', class: 'text-center'},
        {key: 'groupName', label: this.$store.state.i18n.tc('role', 1) + ' Name', sortable: true},
        {key: 'groupDescription', label: 'Description', sortable: true}
      ],
      filter: null,
      modalInfo: { title: '', content: '' },
      selectAll: 'selected',
      allSelected: false,
      checkedItems: [],
      optionToggle: true,
      tableValues: [],
      currentPage: 1,
      perPage: 15,
      totalRows: 0,
      sortBy: 'groupName',
      sortDesc: false,
      sortDirection: 'asc',
      items: [],
      roleTable: 'hidden',
      animationFlag: 'displayElement'
    }
  },
  methods: {
    info (checked, button) {
      this.modalInfo.title = `Delete ` + checked.length + ` Role(s)`
      this.modalInfo.content = `Are you sure you want to delete the following role(s)? This action cannot be undone.`
      this.modalInfo.list = checked
      this.$root.$emit('bv::show::modal', 'modalInfo', button)
    },
    resetModal () {
      this.modalInfo.title = ''
      this.modalInfo.content = ''
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    toggleSelected () {
      this.allSelected = !this.allSelected
      this.checkedItems = this.allSelected ? this.tableValues : []
    },
    clearSelected () {
      this.allSelected = false
      this.checkedItems = []
    },
    hideModal () {
      this.$refs.myModalRef.hide()
    },
    newRole (groupID) {
      this.$store.commit('editRole', groupID)
      var self = this
      setTimeout(function () {
        self.$router.push({path: '/NewRole/RoleSettings'})
        self.$store.commit('pushChecked', [])
      }, 1000)
    },
    switchPage () {
      var self = this
      Vue.nextTick(function () {
        self.unsetColor()
        var currentNumber = self.currentPage
        var pagination = document.getElementsByClassName('page-link')
        for (var i = 0; i < pagination.length; i++) {
          if (parseInt(pagination[i].innerHTML) === currentNumber) {
            pagination[i].style.backgroundColor = self.$store.state.company.primary
            pagination[i].style.color = 'white'
          }
        }
      })
    },
    unsetColor () {
      var pagination = document.getElementsByClassName('page-link')
      console.log('i went here')
      for (var i = 0; i < pagination.length; i++) {
        pagination[i].style.backgroundColor = 'unset'
        pagination[i].style.color = this.$store.state.company.primary
        pagination[i].style.border = '1px solid #dee2e6'
      }
    }
  },
  watch: {
    checkedItems (a, b) {
      this.optionToggle = (!a.length > 0)
      this.allSelected = (this.tableValues.length === a.length)
    },
    getRoleData: function (val) {
      this.items = val
      this.roleTable ='displayElement',
      this.animationFlag = 'hidden'
    }
  },
  mounted: function () {
    this.$store.commit('role', null)
    this.$store.commit('getRoles')
    document.getElementsByClassName('page-link')[2].style.backgroundColor = this.$store.state.company.primary
    document.getElementsByClassName('page-link')[2].style.borderColor = this.$store.state.company.primary
  },
  computed: {
    getRoleData () {
      return this.$store.state.roles
    }
  }
}
</script>
<style lang='scss'>
.roleContainer{

    .tableRoleContainer{
        margin-top:-1px;
        text-align: left;
      tr{
        background-color:#f4f4f4;
      }
      th{
        background-color:#c9c9c9;
        color:black;
      }
      .table td {
        border-top: 1px solid #c9c9c9;
        color:black;
      }
      .table thead th{
        border-bottom: 0px;
        border-top: 0px;
      }
      p{
        margin-bottom: 0px;
      }
      td:nth-child(1){
        text-align: center;
        padding-left: 15px;
      }
      th:nth-child(1){
        width: 60px;
        padding-left: 15px;
      }
    }
    .customRowRole{
      float:right;
    }
    .customFormGroup{
      margin-top: -74px;
    }
    .customInputRole{
      flex: unset;
      width:180px !important;
      margin-right: 21px;
    }
    .createRole{
      margin-top: -74px;
      float:left;
      margin-left: -265px;
    }
    #roleDropDown{
      margin-top: -74px;
      float: left;
    }
    #roleDropDown__BV_toggle_{
      background-color: #c9c9c9 ;
      border-color: #c9c9c9;
      color: black;
    }
    #roleDropDown__BV_toggle_:hover{
      background-color: #f4f4f4;
      border-color: #f4f4f4;
      color:black;
    }
    #modalInfo___BV_modal_body_{
      text-align:left;
    }
    .checkedList{
      padding-left:20px !important;
    }
    .btnDelete{
      margin-right: 10px;
    }
    .roleDropDown:disabled{
      background-color:white;
    }
    .roleCount{
        margin-top: -66px;
        // margin-left: 120px;
        float: left;
        color:white;
    }
    .roleLink{
       text-decoration:none;
       color:black;
    }
    .roleLink:hover{
      text-decoration: underline !important;
      color:black;
      cursor: pointer;
    }
}
</style>
